<% form_for @unidade do |f| %>
 <%= f.error_messages %>
  <font  size="2">
    <fieldset><legend><font  size=3> Unidade</font></legend>
      <table width="100%" align="center"  bgcolor="#F5F5F5">

        <tr>
         <td width="50%">
           <b>Nome:</b><%= f.text_field :nome, :size =>45 %>
              <%= observe_field :unidade_nome,
               :with => :unidade_nome,
               :url => { :action => 'mesmo_nome' } %>
         </td>
         <td>
            <%= f.label :tipo, 'Tipo' %>
            <select id="_unidade_tipo" name="unidade[tipo]">
              <option value="0"> ---Selecione---</option>
              <option value="CRECHE">CRECHE</option>
              <option value="EMEI">EMEI</option>
              <option value="CASA DA CRIANÇA">CASA DA CRIANCA</option>
              <option value="EMEF">EMEF</option>
              <option value="CIEP">CIEP</option>
              <option value="EDUCAÇÃO ESPECIAL">EDUCAÇÃO ESPECIAL</option>
            </select>

         </td>
        </tr>
        <tr>
          <td colspan="2">
            <font size="4" color="red"><div id='nome_aviso'></div></font>
         </td>
       </tr>
      <tr>
        <td>
        <table>
          <tr>
            <td width="4%"> <%= f.submit "Salvar" %></td>
     <% end %>
            <td ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>
        </td>
      </tr>
  </table>
  </font>
