<div id="interno2">
<% title "SAUDES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CADASTRO DE UNIDADE</strong></font><br/>
 </div>
      <div class="tabs">

        <% form_for @unidade do |f| %>
         <%= f.error_messages %>
          <font  size="2">
            <fieldset><legend><font  size=3> Unidade</font></legend>
              <table width="100%" bgcolor="#F5F5F5">
                <tr>
                    <td width ="15%"><b>Nome:</b></td>
                    <td colspan="3"> <%= f.text_field :nome, :size =>"38" %></td>
                </tr>
                <tr>
                   <td><b>Endereço: </b></td>
                   <td><%= f.text_field :endereco, :size=>"40" %></td>
                   <td>&nbsp <b>Nº &nbsp&nbsp</b><%= f.text_field :num, :size =>"2" %></td>
                   <td><b>Bairro: </b>&nbsp&nbsp&nbsp&nbsp<%= f.text_field :bairro, :size =>"30" %></td>
                </tr>
                <tr>
                    <td><b>CEP: </b></td>
                    <td><%= f.text_field :CEP, :size =>"8" %>&nbsp&nbsp&nbsp&nbsp
                         <b>&nbsp Fones: &nbsp&nbsp</b><%= f.text_field :fone, :size =>"19" %></td>
                   <td><b>&nbsp E_mail: </b></td>
                   <td><%= f.text_field :email, :size=>"38" %></td>
                </tr>
                <tr>
                    <td><b>Diretor: </b></td>
                    <td> <%= f.text_field :diretor, :size =>"39" %></td>
                    <td><b>Vice-diretor:</b></td>
                    <td> <%= f.text_field :vice, :size =>"38" %></td>
                </tr>
                <tr>
                    <td><b>Coordenador:</b></td>
                    <td> <%= f.text_field :coordenador, :size =>"38" %></td>
                    <td><b>Superisão: </b></td>
                    <td> <%= f.text_field :supervisao, :size =>"39" %></td>
                
                </tr>
                 <tr >
                    <td valign="top"><b>Observações:</b></td>
                    <td colspan="3"valign="top"><%= f.text_area(:obs, :cols =>"96", :rows => "5") %></td>
                 </tr>

             </table>
           </fieldset>
            <table>
              <tr>
                 <td width="4%"> <%= f.submit "Salvar" %></td>
             <% end %>
                  <td ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                  </tr>
              </table>




    </div>
</div>
<br/>
</div>
