<h1>Listing unidades</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Regiao</th>
    <th>Nome</th>
    <th>Endereco</th>
    <th>Num</th>
    <th>Cep</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Fone</th>
    <th>Email</th>
    <th>Diretor</th>
    <th>Coordenador</th>
    <th>Obs</th>
    <th>Estagiariom</th>
    <th>Estagiariov</th>
    <th>Estagiarion</th>
    <th>Estagiarioe</th>
    <th>Ip</th>
    <th>Biblioteca</th>
    <th>Status</th>
  </tr>

<% @unidades.each do |unidade| %>
  <tr>
    <td><%=h unidade.tipo_id %></td>
    <td><%=h unidade.regiao_id %></td>
    <td><%=h unidade.nome %></td>
    <td><%=h unidade.endereco %></td>
    <td><%=h unidade.num %></td>
    <td><%=h unidade.CEP %></td>
    <td><%=h unidade.bairro %></td>
    <td><%=h unidade.cidade %></td>
    <td><%=h unidade.fone %></td>
    <td><%=h unidade.email %></td>
    <td><%=h unidade.diretor %></td>
    <td><%=h unidade.coordenador %></td>
    <td><%=h unidade.obs %></td>
    <td><%=h unidade.estagiarioM %></td>
    <td><%=h unidade.estagiarioV %></td>
    <td><%=h unidade.estagiarioN %></td>
    <td><%=h unidade.estagiarioE %></td>
    <td><%=h unidade.ip %></td>
    <td><%=h unidade.biblioteca %></td>
    <td><%=h unidade.status %></td>
    <td><%= link_to 'Show', unidade %></td>
    <td><%= link_to 'Edit', edit_unidade_path(unidade) %></td>
    <td><%= link_to 'Destroy', unidade, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New unidade', new_unidade_path %>