           <table width="100%">
            <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width="4%"><b>Nº Ordem:</b></td>
              <td colspan="3"align="left"><%=h  @financeiro.id %></td>
           </tr>
           <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width="4%"><b>Unidade:</b></td>
              <td align="left" width="40%"><%=h  @financeiro.unidade.nome %></td>
              <td align="left" width="4%"><b>Obreiro:</b></td>
              <td align="left"><%=h  @financeiro.unidade.obreiro.nome %></td>
           </tr>
           <tr bgcolor="#F5F5F5" >
              <td align="left"><b>Horário:</b></td>
              <td align="left"><%=h  @financeiro.horario %></td>
              <td align="left"><b>Descrição:</b></td>
              <td align="left"><%=h  @financeiro.descricao %></td>
           </tr>
           <tr bgcolor="#F5F5F5" >
              <td align="left"><b>Data:</b></td>
              <td align="left"><%=h  @financeiro.data.strftime("%d de %B de %Y") %></td>
              <td align="left"><b>Valor:</b></td>
              <td align="left">R$ <%=h  @financeiro. credito %></td>
           </tr>
           <tr bgcolor="#F5F5F5" >
              <td align="left"><b>Km:</b></td>
              <td align="left"><%=h  @financeiro.km %></td>
              <td align="left"><b>Horas:</b></td>
              <td align="left"><%=h  @financeiro.horas %></td>
           </tr>
           <tr  bgcolor="#F5F5F5">
               <td align="left" ><b>$ por Hora:</b> </td>
                <td align="left">R$ <%=h  @financeiro.vhora %></td>
                <td align="left" ><b>$ por Km: </b> </td>
                <td align="left">R$ <%=h  @financeiro.vkm %> </td>
            </tr>
            <tr bgcolor="#F5F5F5">
              <td align="left"><b> Observações:</b></td>
              <td colspan="3"align="left"><%=h   @financeiro.obs%></td>
            </tr>
         </table>
<br/>



