<div id="interno2">
<% title "RELATORIOS", :id =>"relatorios" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>RELATÓRIOS FINANCEIROS</strong></font><br/>
   </div>
  <div class="tabs">
    <% form_remote_tag :url => consultafinanceiro_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
     <table width="100%" align="center"bgcolor="#DCDCDC">
      <tr>
       <td colspan="2"align="right"><font size="2"> <b class="label_busca2">Empresa:</b></font>
        <%= collection_select  :financeiro, :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca2"  %>
        <font size="2"> <b class="label_busca2">Mês:</b></font>
        <%= select_tag :mes_e ,options_for_select(%w(--Selecionar-- JANEIRO FEVEREIRO MARÇO ABRIL MAIO JUNHO JULHO AGOSTO SETEMBRO OUTUBRO NOVEMBRO DEZEMBRO), params[:mes_e]), :include_blank => true%></b></font>
        <font size="2"><b class="label_busca2">Ano:</b></font>
        <%= select_tag :ano_e, options_for_select(@rel_ano.collect { |ff| [ff.ano, ff.ano] }.insert(0, '--Selecionar--')) %>
        <%= submit_tag "Visualizar", :class => "btn_filtrar" %>
     </td>
    </tr>
  </table>
    <% end %>
    <br/>
    <hr/>
    <div id="financeiro"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
    <br/>


  <table>
    <tr>
     <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
     <td align="left" > <%= link_to image_tag("/stylesheets/images/consulta.png", :size => "40x40"), consulta_financeiro_path, :title => "Nova Consulta" %></td>







    </tr>
  </table>
 </div>
 </div>
  <br/>
</div>

