<div id="interno2">
<% title "FINANCEIROS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ALTERAÇÃO DE LANÇAMENTO DO RELATÓRIO FINANCEIRO</strong></font><br/>
 </div>
   <div class="tabs">
      <%= render :partial => 'show' %>
   </div>
   <div class="tabs">
<div id="interno2">
<% title "LANÇAMENTO" %>
 <table bgcolor="#DCDCDC" width="100%">
   <tr  width="80%">
     <td>

     <% form_for @financeiro do |f| %>
       <%= f.error_messages %>
        <font  size="2">
          <fieldset><legend><font  size=3> <b>Alteração de Lançamento</b></font></legend>
            <table width="100%" align="center"  bgcolor="#F5F5F5">
           <tr>
             <td colspan="4"align="left" width="4%"><b>Nº Ordem: </b><%=h  @financeiro.id %></td>
           </tr>
            <tr>
              <td  colspan="3" align="left"><font size="2"> <b class="label_busca2">Empresa:</b></font>
                <%= collection_select :financeiro, :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca2"  %>
                  <%= observe_field 'financeiro_unidade_id',
                       :update => "obreiro",
                       :url    => { :action => 'nome_obreiro' },
                       :with   => 'financeiro_unidade_id' %>
               </td>
               <td> <div id='obreiro' </div></td>
             </tr>
             <tr>
                <td colspan="4"><b>Data:</b> <%= f.date_select(:data, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year)) %></td>
             </tr>
       <tr>
          <td colspan="4"><font color="red"> <b>====================================================================================================</b></td>
       </tr>
       <tr>
         <td align="left" valign="top"><font color="red"> <b><i> <u>ATENÇÃO:</u> </i></b></font></td>
         <td align="left"><font color="red"> 1)<b><i> Para lançar VALORES MONETÁRIOS (Valor)  utilizar VÍRGULA para indicar centavos ex. 23,50 </b>
         <br/> <b>  <i>2) Para lançar VALORES DECIMAIS (Km) utilizar PONTO para indicar cada decimal ex. 23.50 </i></b></font></td>
       </tr>
        <tr>
          <td colspan="4"><font color="red"> <b>====================================================================================================</b></td>
       </tr>
      <tr>
        <td colspan="2"<b> Valor por Hora:</b> <%= f.text_field :vhora, :size => "10" %>
          <b>Valor por Km:</b><%= f.text_field :vkm, :size => "10" %>
          <font color="red"> <b><i> <u>ATENÇÃO:</u> SELECIONAR NOVAMENTE OS HORÁRIOS ABAIXO </i></b></font>
        </td>
         
       </tr>
      <tr>
          <td colspan="4">
            <table bgcolor="#DCDCDC" width="100%">
              <tr bgcolor="#DCDCDC" >
                <td width="180"><b>Descrição</b></td>
                <td width="80"  align="center"><b>Valor</b></td>
                <td width="40" align="center"><b>Km</b></td>
                <td width="100"><b>Inicio</b></td>
                <td width="100"><b>Encerramento</b></td>
               </tr>
              <tr bgcolor="#F5F5F5">
                <td><%= f.text_field :descricao, :size => "50 " %> </td>
                <td>R$ <%= f.text_field :credito, :size => "5" %></td>
                <td><%= f.text_field :km, :size => "5" %></td>
                 <% if (@financeiro.credito  == 0.00 and @financeiro.km==0.00) %>
                   <td><%= f.time_select(:horarioe, :order => [:hour, :min],:size => "50")%></td>
                   <td><%= f.time_select(:horarios, :order => [:hour, :min],:size => "50")%></td>
               <%else if (@financeiro.credito == 0.00 and @financeiro.km == 0.00) %>
                   <td>xxxxx%></td>
                   <td>xxxxx%></td>
                     <%else%>
                        <td align="center"width="100"><b>-----</b></td>
                        <td align="center" width="100"><b>-----</b></td>
                     <%end%>
             <%end%>

              </tr>
           </table>
         </td>
      </tr>
        <tr >
          <td colspan="4"><b>Observações:</b><br/>
             <%= f.text_area(:obs, :cols =>"97", :rows => "2") %>
          </td>
       </tr>
           </table>
            <fieldset>
             <table width="80%" >
               <tr>
                  <td width="4%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), home_path, :title => "Voltar" %></td>
                  <td width="4%"><input type="image" src="/stylesheets/images/salvar.PNG" title="Gravar"></td>
                  <td width="5%"><%= link_to image_tag("/stylesheets/images/consulta.png", :size =>"35x35"), consulta_financeiro_path,  :title => "Consultar" %></td>
                  <td></td>
               </tr>
             </table>
            </fieldset>
          </fieldset>
        </font>
      <%end%>
    </td>
   </tr>
  </table>
   <br/>
 </div>
</div>
<br/>
</div>
  <br/>
</div>