<h1>Listing financeiros</h1>

<table>
  <tr>
    <th>Unidade</th>
    <th>Data</th>
    <th>Credito</th>
    <th>Debito</th>
    <th>Obs</th>
  </tr>

<% @financeiros.each do |financeiro| %>
  <tr>
    <td><%=h financeiro.unidade %></td>
    <td><%=h financeiro.data %></td>
    <td><%=h financeiro.credito %></td>
    <td><%=h financeiro.debito %></td>
    <td><%=h financeiro.obs %></td>
    <td><%= link_to 'Show', financeiro %></td>
    <td><%= link_to 'Edit', edit_financeiro_path(financeiro) %></td>
    <td><%= link_to 'Destroy', financeiro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New financeiro', new_financeiro_path %>