<div id="interno2">
<% title "LANÇAMENTO" %>
 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b> Lançamento</b></font></legend>
         <table width="100%">
            <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width="4%"><b>Nº Ordem:</b></td>
              <td align="left"><%=h  @financeiro.id %></td>
           </tr>
           <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width="4%"><b>Unidade:</b></td>
              <td align="left"><%=h  @financeiro.unidade.nome %></td>
           </tr>
           <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width="4%"><b>Obreiro:</b></td>
              <td align="left"><%=h  @financeiro.unidade.obreiro.nome %></td>
           </tr>
           <tr bgcolor="#F5F5F5" >
              <td align="left"><b>Horário:</b></td>
              <td align="left"><%=h  @financeiro.horario %></td>
           </tr>
           <tr bgcolor="#F5F5F5" >
              <td align="left"><b>Descrição:</b></td>
              <td align="left"><%=h  @financeiro.descricao %></td>
           </tr>
           <tr bgcolor="#F5F5F5" >
              <td align="left"><b>Valor:</b></td>
              <td align="left">R$ <%=h  @financeiro. credito %></td>
           </tr>
           <tr bgcolor="#F5F5F5" >
              <td align="left"><b>Km:</b></td>
              <td align="left"><%=h  @financeiro.km %></td>
           </tr>
           <tr bgcolor="#F5F5F5" >
              <td align="left"><b>Horas:</b></td>
              <td align="left"><%=h  @financeiro.horas %></td>
           </tr>

           <tr bgcolor="#F5F5F5" >
              <td align="left"><b>Data:</b></td>
              <td align="left"><%=h  @financeiro.data.strftime("%d de %B de %Y") %></td>
           </tr>
           <tr  bgcolor="#F5F5F5">
               <td align="left" ><b>$ por Hora:</b> </td>
                <td align="left">R$ <%=h  @financeiro.vhora %></font> </td>
              </font>
           </tr>
           <tr  bgcolor="#F5F5F5">
                <td align="left" ><b>$ por Km: </b> </td>
                <td align="left">R$ <%=h  @financeiro.vkm %></font> </td>
              </font>
            </tr>
            <tr bgcolor="#F5F5F5">
              <td align="left"><b> Observações:</b></td>
              <td align="left"><%=h   @financeiro.obs%></td>
            </tr>
         </table>
     </fieldset>
   </td>
  </tr>
 </table>
         <table  bgcolor="#DCDCDC" width="100%">
          <tr>
            <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
            <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/consulta.png", :size => "35x35"), consulta_financeiro_path, :title => "Consultar" %></td>
            <% if current_user.has_role?('admin') or current_user.has_role?('escola') or current_user.has_role?('responsavel')%>
                <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_financeiro_path(@financeiro), :title => "Editar Familiar" %></td>
                <td><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "25x25"), @financeiro, :confirm => 'Confirma Exclusão?', :method => :delete, :title => "Excluir Familiar" %></td>
              <%else%>
                <td align="center"> </td>
                <td align="center"> </td>

            <%end%>
          </tr>
        </table>

</div>
<br/>



