
<% $subtot_perm = 0 %>
<% $subtot_um = 0 %>

<% $subtotal_titulos = 0 %>

<table width="100%" frame="box" rules="all">

<tr><th width="100%" colspan="6" align="center"><hr/><font size=4>Títulos Permanentes</font><hr/></th></tr>

     <tr style="font-size:12px">
       <th>
        Título
       </th>
       <th>
        Ano
       </th>
       <th>
        Quantidade
       </th>
       <th>
        Valor Título
       </th>
       <th colspan="2">
        Pontuação Obtida
       </th>
     </tr>
     <% if !((@tp.nil?) or (@tp.empty?)) %>
     <%for tp in @tp%>
     <tr style="font-size:12px">
      <td align="left">
        <font size="2"><%= Titulacao.find_by_id(tp.titulo_id).descricao %></font>
      </td>
      <td align="center">
        <font size="2"><%= tp.ano_letivo %></font>
      </td>
      <td align="center">
        <font size="2"><%= tp.quantidade %></font>
      </td>
      <td align="center">
        <font size="2"><%= tp.valor %></font>
      </td>
      <td align="center" colspan="2">
        <font size="2"><%= tp.pontuacao_titulo %></font>
        <% $subtot_perm = $subtot_perm + (tp.pontuacao_titulo) %>
       

      </td>
   </tr>

  <%end%>
  <%end%>
<tr>
  <th width="80%" colspan="4" align="right">SUB-TOTAL </th>
  <th align="center">
    <%= $subtot_perm %>

  </th>
</tr>


</table>


<table width="100%" frame="box" rules="all">

<tr style="font-size:10px"><th width="100%" colspan="6" align="center"><hr/><font size=4>Títulos de Contagem Anual</font><hr/></th></tr>
     <tr style="font-size:10px">
       <th align="left"><font size="2">Título</font></th>
       <th align="center"><font size="2">Ano</font></th>
       <th align="center"><font size="2">Tipo</font></th>
       <th align="center"><font size="2">Quantidade</font></th>
       <th align="center"><font size="2">Valor Título</font></th>
       <th align="center"><font size="2">Pontuação</font></th>

    </tr>

<%for tp1 in @tp1%>
  <%teste = Time.current.strftime("%Y")%>
<% if (tp1.ano_letivo).to_s == Time.current.strftime("%Y") %>
     <tr style="font-size:10px">
      <td  align="left">
        <font size="2"><%= Titulacao.find_by_id(tp1.titulo_id).descricao %></font>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.ano_letivo %></font>
      </td>
      <td align="center">
        <% if tp1.tipo_curso == true%>
          <font size="2"><%= "PRESENCIAL" %></font>
      <%else%>
          <%  if (tp1.quantidade<30) %>
            <font size="2"> <%= "À DISTÂNCIA" %></br>
            <font color ="red" size="2"><%= "NÃO VALIDO"%></font></font>
        <% else %>
            <font size="2"><%= "À DISTÂNCIA" %></font>
        <%end%>
      <%end%>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.quantidade %></font>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.valor %></font>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.pontuacao_titulo %></font>
        <% $subtot_um = $subtot_um + (tp1.pontuacao_titulo) %>
      </td>
      <!--true = a distancia e false = presencial!-->


   </tr>
  <%  tituloprof= tp1.professor_id  %>
  <% $ano = tp1.ano_letivo %>
  <% anual = tp1.totaliza_anual(tp1.professor_id) %>
   <% permanente = tp.totaliza_permamente(tp.professor_id) %>
  <%end%>
<% end %>
<tr style="font-size:10px">
  <th width="80%" colspan="5" align="right"><font size="2">SUB-TOTAL </font></th>
  <th  align="center">
    <font size="2"><%= anual %></font>
  </th>
</tr>
<tr>
 <% $subtotal_titulos = $subtot_um + $subtot_perm %>

  <th width="80%" colspan="5" align="right">TOTAL TÍTULOS</th>
  <th align="center">
    <%= "#{$subtotal_titulos}" %> 
</tr>
<tr>
   <td widht="8%" colspan="5"><%= link_to image_tag("/stylesheets/images/alterar.png"),titulo_professors_path(:professor => session[:teacher], :type => 1)%>
                   <b><%= link_to image_tag("/stylesheets/images/imprimir12.png"), onclick="javascript:MM_openBrWindow('#{impressao_titulo_professors_path(:professor => $teacher)}','impressao', 'scrollbars=yes');", :title => "Imprimir" %></b></td>
</tr>
</table>



