<br/><br/>
<div id="conteudo">
<table width="70%" border="1" align="center" class="login">
  <tr>
    <td colspan="2" align="center">
<!--      <font color="red" size="4">< %= link_to "Área de Consultas", visaos_path %></font>-->

<table>
                               <tr>
                                 <td  align="center"colspan="2" > <font size ="5" color="red"  id="pisca1"> <b><u>ATENÇÃO</b></u></font><br/>
                                   </td>
                               </tr>
                               <tr>
                                   <td>

                                        <font size ="4" >
                                          <b> Utilize <u>obrigatoriamente</u> o navegador</b>
                                         <a href="http://br.mozdev.org/" target="_blank"><img id="pisca1" src="http://www.mozilla.org/contribute/buttons/110x32bubble_r_pt.png" alt="Firefox" width="110" height="32" style="border-style:none;" title="Mozilla Firefox" /></a> (clique para baixar),<br/>
                                         Outros navegadores presentam inconsistências e incompatibilidade.

                                        </font>






                                    <!-- <b>Em virtude <%= link_to("Decreto Municipal2.410, de 18/03/2020", "http://www.americana.sp.gov.br/download/diarioOficial/9x36p9jylq.pdf")%>,
                                                        A Secretaria de Educação passará a atender das 12:00 as 17:00 horas, pelo telefone 3475-9700 ou mediante agendamento individual realizado através do e-mail:
                                                        atendimento@seducpma.com . <br/>
                                                        Os portões parmanecerão fechados e serão liberados somente à pessoa no horário agendado, NÃO SERÃO ATENDIDAS PESSOA SEM AGENDAMENTO SOLICITADO.<br/>

                                                        <center><%#= link_to image_tag("/stylesheets/images/diario.png", :size => "50x50"), "http://www.americana.sp.gov.br/download/diarioOficial/qojgqkjcop.pdf", :title => "Diário Oficial"%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                <%#= link_to image_tag("/stylesheets/images/agenda.png", :size => "50x50"), "https://docs.google.com/spreadsheets/d/1yUfkdxLCNbogrhYc9sSenVb2LRNFmtJ2t8-LZKbsVmI/edit#gid=0", :title => "Agenda Atendimento"%></center>-->
                                                        </td>
                              </tr>
</table>
    </td>
  </tr>
  <tr>
     <td rowspan="2">
       <center><div id="img"></div></center>
     </td>
     <td width="40%">
       <p align="center"><font color="blue" size="3">SISGERED</font></p>

<!--

       <font size="3" color =" red"><center><b>
            SISTEMA EM MANUTENÇÃO <br/>
            PARA ADEQUAÇÃO DO<br/>
           NOVO ANO LETIVO<br/><br/>
           


           </b></center></font>

-->


         <% form_tag session_path do -%>
            <p align="center"><b><label for="login">Login</label></b>
           &nbsp<%= text_field_tag 'login','',:size => 10 %><br/>
          <b><label for="password">Senha</label></b>
          <%= password_field_tag 'password','',:size => 10 %><br/><br/>
          <%= submit_tag 'Entrar' %></p>
         <% end -%>

  <br/>
  <br/>
      <!-- < %= link_to 'Esqueci a Senha', new_password_path%>-->
     </td>
  </tr>
  <tr>
   <td colspan="2" align="center">
        <font size="2"><b>ATENÇÃO</b></font><br/>
        <%= link_to 'Esqueceu a senha?', new_password_path%><br/>
        <%= link_to 'Não possui senha?', signup_path %><br/>
        <%= link_to 'Manual on-line', href= "https://docs.google.com/document/d/1KORwNkxV7ogNpc7EUyMxQHA4MMSSju_eOouI5cNABFE/edit?usp=sharing", :target => '_blank' %>
   </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <!-- Inicio do botao do Firefox -->

      Utilize obrigatoriamente o navegador
      <a href="http://br.mozdev.org/" target="_blank"><img id="pisca1" src="http://www.mozilla.org/contribute/buttons/110x32bubble_r_pt.png" alt="Firefox" width="110" height="32" style="border-style:none;" title="Mozilla Firefox" /></a>
      <!-- Fim do botao do Firefox -->
    </td>
  </tr>

 </table>
</div>
<br/>