<br/><br/>
<div id="conteudo">
<table width="70%" border="1" align="center" class="login">
  <tr>
    <td colspan="2" align="center">
<!--      <font color="red" size="4">< %= link_to "Área de Consultas", visaos_path %></font>-->
    </td>
  </tr>
  <tr>
     <td rowspan="2">
       <center><div id="img"></div></center>
     </td>
     <td width="40%">
       <p align="center"><font color="blue" size="3">SISGERED</font></p>



       <font size="3" color =" red"><center><b>
            SISTEMA EM MANUTENÇÂO <br/>
            PARA ADEQUAÇÃO DO<br/>
           NOVO ANO LETIVO<br/><br/>
           


           </b></center></font>


<!--

         <% form_tag session_path do -%>
            <p align="center"><b><label for="login">Login</label></b>
           &nbsp'<%= text_field_tag 'login','',:size => 10 %><br/>
          <b><label for="password">Senha</label></b>
          <%= password_field_tag 'password','',:size => 10 %><br/><br/>
          <%= submit_tag 'Entrar' %></p>
         <% end -%>
-->
  <br/>
  <br/>
      <!-- < %= link_to 'Esqueci a Senha', new_password_path%>-->
     </td>
  </tr>
  <tr>
   <td colspan="2" align="center">
        <font size="2"><b>Problemas com a senha?</b></font><br/>
        <%= link_to 'Não possui senha', signup_path %>  <br/>
       <!-- <%= link_to 'Esqueci a senha', new_password_path%>-->
   </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <!-- Inicio do botao do Firefox -->

      Utilize obrigatoriamente o navegador
      <a href="http://br.mozdev.org/" target="_blank"><img src="http://www.mozilla.org/contribute/buttons/110x32bubble_r_pt.png" alt="Firefox" width="110" height="32" style="border-style:none;" title="Mozilla Firefox" /></a>
      <!-- Fim do botao do Firefox -->
    </td>
  </tr>

 </table>
</div>
<br/>