<h1>Listing classes_alunos</h1>

<table>
  <tr>
    <th>Classe</th>
    <th>Aluno</th>
  </tr>

<% @classes_alunos.each do |classes_aluno| %>
  <tr>
    <td><%=h classes_aluno.classe_id %></td>
    <td><%=h classes_aluno.aluno_id %></td>
    <td><%= link_to 'Show', classes_aluno %></td>
    <td><%= link_to 'Edit', edit_classes_aluno_path(classes_aluno) %></td>
    <td><%= link_to 'Destroy', classes_aluno, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New classes_aluno', new_classes_aluno_path %>