<table width="100% ">
           <tr>

               <td align="left" width ="10%"><b>Professor/Responsável(Falta): </b></td>
               <td align="left">     <%= collection_select :aulas_eventual, :faltante, @prof_falta, :nome, :nome, :include_blank => ' -- Selecionar -- ' %></td>
                  <%= observe_field 'aulas_eventual_faltante',
                     :with   => :aulas_eventual_faltante,
                      :url  => { :action => 'aulas_faltas_faltente_classe' },
                      :update => "classe" %>
               <td align="left"> <div id ="classe"></div>
          </tr>
           <tr>

                  
             <td align="left"><b> Professor/Responsável(Subst.): </b></td>
             <td align="left"><%= collection_select :aulas_eventual, :eventual_id, @professores, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
                 <%= observe_field 'aulas_eventual_eventual_id',
                     :with   => :aulas_eventual_eventual_id,
                      :url  => { :action => 'observacao_prof_eventual' },
                      :update => "observacao" %>

             <td><b>Classe: </b></td>
                   <td><%= collection_select :aulas_eventual, :classe_id, @classes, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %> </td>

          </tr>

</table>




