<table frame="box" rules="all" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td rowspan="4" style="border-color: white"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white"><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
        <center><font size="1">Unidade Escolar:      </font></center>

    </td>
  </tr>
</table>

<table border="1" cellspacing="0" cellpadding="1" width="100%"  >
   <tr  class ="invisible_to_print ">
     <td colspan="4"align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>


  <tr>
    <td><br/>
            <% if @aulas_eventual.present? %>
              <div id="calendar">
                  <%if !@aulas_eventual[0].present? %>
                       <h2><center> <b>NÃO existe nada cadastado para esta unidade</b></center> </h2>
                  <%else%>
                        <h2><center> <b>AGENDA - <%=  @aulas_eventual[0].unidade.tipo.nome%> <%=  @aulas_eventual[0].unidade.nome%> </b></center> </h>
                  <%end%>
                <h2 id="month">
                  <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d"), :search => params[:search] %>
                  <%=h @date.strftime("%B %Y") %>
                  <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d"), :search => params[:search] %>
                </h2>
                <% calendar_for @aulas_eventual, :year => @date.year, :month => @date.month, :search => params[:search] do |calendar| %>
               <%= calendar.head('Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado') %>
                  <% calendar.day(:day_method => :data) do |date, articles| %>
                    <%= date.day %>
                    <ul>
                      <% for data in articles %>
                        <li><b><font color ="blue"> <%= link_to h(truncate(data.eventual.professor.nome, :length => 18,:omission => "...")), data%></font></b><br/>
                            Classe: <%= link_to h(data.classe.classe_classe), data%>
                            <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') )%>
                                &nbsp <%= link_to image_tag("/stylesheets/images/ponto.png", :size => "7x7"), {:action => "destroy", :id =>data}, :confirm => 'Confirma exclusão?', :method => "delete",:title => "Excluir" %>
                            <%end%>
                            <br/>
                            <b>----------------------------</b>
                        </li>

                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              </div>
            <%end%>
            <br/>


       </td>
     </tr>

  </table>


