

    <div id="interno2">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo"  class ="invisible_to_print ">
     <font size="3"><strong>AGENDA DE SUBTITUIÇÕES - POR RESPONSÁVEL</strong></font><br/>
 </div>
    <table width="100%"  bgcolor="#DCDCDC"  style= "border-color: white" >
      <tr  class ="invisible_to_print ">
          <th colspan="2" width="95%" align="right ">

               <% form_for @search ,:url => { :action => 'index2' } do |f|%>


                 <font size="3"> Responsável:</font>
                 <%= f.collection_select :eventual_id_equals, @professores_eventual, :id, :nome, :include_blank => true%>
                 <%= f.submit "Visualizar", :class => "btn_filtrar" %>
              <% end %>

         </th>
       </tr>
       <tr bgcolor="#F5F5F5">
           <th colspan="2" align="right">
                <%= render :partial => "calendar2" %>
               <%t=0%>
                <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('direcao_infantil'))%>
                   <%if !@aulas_eventual.present? %>
                     <%if (params[:search]).present? %>
                          <%= button_to'Cadastrar Aula Substituição',:action => "new", :unidade_id => params[:search][:unidade_id_equals] %>
                      <%end%>
                   <%end%>
                 <%end%>
          </th>
       </tr>
       <div class ="invisible_to_print ">
              <tr class ="invisible_to_print ">
                <td width="90%" align="right" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                <td width="2%" align="right" ><%= button_to("Imprimir", onclick="javascript:window.print()", :title => "Imprimir") %></td>

               </tr>
       </div>
    </table>

</div>
<br/>
</div>