

    <div id="interno2">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>AULAS EVENTUAIS - AGENDA POR PROFESSOR</strong></font><br/>
 </div>
    <table  width="100%"  bgcolor="#DCDCDC">
      <tr >
          <%if @reservar_salas.present? %>
          <td>
              
          </td>
          <%end%>
          <td colspan="2" width="95%" align="right ">

               <% form_for @search ,:url => { :action => 'index2' } do |f|%>


                 <font size="3"> Professor:</font>
                 <%= f.collection_select :eventual_id_equals, @professores_eventual_infantil, :id, :nome, :include_blank => true%>
                 <%= f.submit "Visualizar", :class => "btn_filtrar" %>
              <% end %>

         </td>
       </tr>
       <tr bgcolor="#F5F5F5">
           <td colspan="2" align="right">
                <%= render :partial => "calendar2" %>
               <%t=0%>
                <%if !@aulas_eventual.present? %>
               <%t=0%>
                     <%if (params[:search]).present? %>
                          <%= button_to'Cadastrar Aula Eventual',:action => "new", :unidade_id => params[:search][:unidade_id_equals] %>
                      <%end%>
                 <%end%>

          </td>
       </tr>
              <tr>
                <td align="right" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                <td width="2%" align="right" ><%= button_to("Imprimir", onclick="javascript:window.print()", :title => "Imprimir") %></td>

               </tr>
            </table>

</div>
<br/>
</div>