<div id="interno1">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ATA DE REUNIÃO</strong></font><br/>
 </div>
      <div class="tabs">

          <% form_for (@ata) do |f| %>
           <%= f.error_messages %>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

            <fieldset>
             <legend><font size=4></font></legend>
             <table width="100%">

                 <tr bgcolor="#F5F5F5">
                   <td width ="8%" valign="top"><b>Reunião:</b></td>
                   <td colspan="3">   <a href="#" ><%= radio_button_tag(:tipo_reuniao, "ATRIBUIÇÃO DE PROFESSORES") %></a>Atribuição dos Professores &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      <a href="#" ><%= radio_button_tag(:tipo_reuniao, "CONSELHO DE ALIMENTAÇÃO ESCOLAR") %></a>Conselho de Alimentação Escolar (CAE) <br/>

                                      <a href="#" ><%= radio_button_tag(:tipo_reuniao, "CONSELHO MUNICIPAL DE EDUCAÇÃO") %></a>Conselho Municipal de Educação (CME) &nbsp&nbsp&nbsp&nbsp
                                      <a href="#" ><%= radio_button_tag(:tipo_reuniao, "CONSELHO ESCOLA COMUNIDADE") %></a>Conselho Escola Comunidade (CEC) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <br/>
                                      
                                      <a href="#" ><%= radio_button_tag(:tipo_reuniao, "CONSELHO DO FUNDEB") %></a> FUNDEB &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      <a href="#" ><%= radio_button_tag(:tipo_reuniao, "DIRETORES / GESTORES") %> </a> Diretores & Gestores &nbsp&nbsp&nbsp
                                      <a href="#" ><%= radio_button_tag(:tipo_reuniao, "SUPERVISÃO") %></a>Supervisão &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      <a href="#" ><%= radio_button_tag(:tipo_reuniao, "PEDAGÓGICA") %></a>Pedagógica &nbsp&nbsp&nbsp <br/>

                                      <a href="#" ><%= radio_button_tag(:tipo_reuniao, "PROFESSORES") %></a> Professores &nbsp&nbsp&nbsp

                                      <a href="#" ><%= radio_button_tag(:tipo_reuniao, "outros") %></a>Outros <%= f.text_field :titulo, :size=>"50"%>
  
  
  
  
  
  <%#= f.text_field :titulo, :size=>"87", :value =>'Descreva o tipo de reunião como por exemplo: Reunião de Pais ou Reunião Conselho de Classe , etc...' %></td>
                 </tr>

        <tr bgcolor="#F5F5F5">
             <td ><b>Data: </b> </td>
                 <td><%= f.date_select(:data, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year)-1)%></td>
                 <td align="right" valign="top"><b>Presentes:</b></td>
                 <td ><%= f.text_field :quant, :size=>"1"%> pessoas presentes <br/> <font size="2" color="red"><b><u>ATENÇÃO</u> - Número de pessoas presentes.</b></td>
                 



        </tr>
                <tr bgcolor="#F5F5F5">
                   <td width =" 5%"><b>Unidade:</b></td>
                   <td colspan="3"><%= f.collection_select  :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecione -- ' %>
                   </td>

                </tr>
                <tr bgcolor="#F5F5F5">
                   <td width =" 5%"><b>Moderador:</b></td>
                   <td ><%= f.text_field :moderador, :size=>"35"%></td>
                   <td ><b>Secretário:</b></td>
                   <td ><%= f.text_field :secretario, :size=>"35"%></td>                </tr>

                 <tr bgcolor="#F5F5F5">
                   <td valign="top"><b>Ata:</b></td>
                  <td colspan="3">
                       <%= f.text_area(:ata, :cols=> "86", :rows=>"20", :id=>"contador") %><br/>
<script>
        $(document).on("keydown", "#contador", function () {
            var caracteresRestantes = 10000  ;
            var caracteresDigitados = parseInt($(this).val().length);
            var caracteresRestantes = caracteresRestantes - caracteresDigitados;

            $(".caracteres").text(caracteresRestantes);

        });

</script>
  <b><span class="caracteres">10000</span> Caracteres Restantes </b>
                  </td>
                </tr>
                <tr bgcolor="#F5F5F5">
                   <td valign="top"><b>Observações:</b></td>
                   <td colspan="3"><%= f.text_field :obs, :size=>"87" %></td>
                 </tr>
                <tr>
                  <td colspan="4"><font color="red" size=""><b><u> ATENÇÃO: </u> Ao digitar a ata utilize SOMENTE texto sem qualquer tipo formação.
                      &nbsp&nbsp&nbsp&nbsp >>  UTILIZE SOMENTE TEXTO  <<  <br/> 
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      Se desejar aumentar o tamanho da tela  (zoom) clicar as teclas CLRT +  ou  CLRT - para diminuir </b>

                  </td>
                </tr>


              </table>
            </fieldset>
           <br/>
                 <table width="100%" >
                  <tr>
                    <td colspan="2 align="left">
                       <font size="4" color="red"><b><u>ATENÇÃO</u> - Leia antes de clicar no botão SALVAR, pois após salvar NÃO poderão ser feitas alterações nem edições na ATA e no arquivo, pois trata-se de documento e arquivo oficial.</b>
                       </td>
                 </tr>
                   <tr>
                     <td width="4%"align="left">

                       <b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>
          <%end%>
                       <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   </tr>
                 </table>
            </font>
<% session[:impressao]=1%>
    </div>
</div>
<br/>
</div>




