<div id="interno1">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ATA DE REUNIÃO</strong></font><br/>
 </div>
      <div class="tabs">

          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

            <fieldset>
             <legend><font size=4></font></legend>

<table class ="invisible_to_print ">
  <tr>
    <td width ="2%" align="left" class ="invisible_to_print "><%= button_to 'Imprimir', {:controller =>"atas", :action => "impressao", :id =>@ata}, :title => "Imprimir"%></b></td>
  </tr>
</table>

              <table cellspacing="0" cellpadding="4" width="100%" style="border-color: white">
                <tr  style="border-color: white"  bgcolor=white>
                  <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
                  <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                      <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
                      <center><font size="2"> Unidade Escolar: <%= @ata.unidade.tipo.nome %> <%=h @ata.unidade.nome %> </i></b><br/></center>
                      <center><font size="2"><b><u>ATA DA REUNIÃO DE <%= @ata.titulo%> DE <%= @ata.data.strftime("%d de %B de %Y")%></u></b></font></center>

                  </td>
                </tr>
               </table>
                <table cellspacing="0" cellpadding="0" width="100%" style="border-color: white">
                 <tr   style="border-color: white"  bgcolor=white>
                   <td colspan="4"  style="border-color: white"><%= @ata.ata.gsub("\n","<br/>\n") %>

                   </td>

                 </tr>
                <tr  style="border-color: white" bgcolor=white>
                   <td colspan="5" style="border-color: white">
                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b><br/><br/>
                       <b>Nome </b>: <u><%= @ata.moderador%> - Moderador(a) </u> &nbsp - (assinatura)<br/><br/>

                       <b>Nome </b>: <u> <%= @ata.secretario%> - Secretário(a) </u> &nbsp - (assinatura)


                  </td>
                </tr>

                <tr  style="border-color: white" bgcolor=white>
                   <td colspan="5" style="border-color: white">
                    <br/><br/><b><u>Presentes:</u></b>  &nbsp - (assinaturas)<br/><br/>


                  </td>
                </tr>
              </table>
             
                <table class ="invisible_to_print ">
                  <tr>
                    <% if session[:impressao]==0 %>
                        <td width ="2%" align="left" class ="invisible_to_print "><%= button_to 'Imprimir', {:controller =>"atas", :action => "impressao", :id =>@ata}, :title => "Imprimir"%></b></td>
                        <%session[:impressao]=0%>
                    <%else%>
                        <td width ="2%" align="left" class ="invisible_to_print "><%= button_to 'Imprimir', {:controller =>"atas", :action => "impressao", :id =>@ata}, :title => "Imprimir"%></b></td>
                        <td align="left" ><%= button_to 'Editar', {:action => "edit", :id =>@ata}, :method => "get", :title => "Editar"%></td>

                    <%end%>
                  </tr>
                  
                </table>
             

<div style="page-break-after: always"></div>


   </div>
</div>
<br/>
</div>


