<h1>New disciplina</h1>

<% form_for(@disciplina) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :disciplina %><br />
    <%= f.text_field :disciplina %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', disciplinas_path %>