</div><div id="interno6">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LANÇAMENTOS DISCIPLINAS E NOTAS HISTÓRICO</strong></font><br/>
 </div>
      <div class="tabs">
          <table>
              <tr bgcolor="#F5F5F5">
                 <td width =" 12%"><b>Aluno:</b></td>
                 <td><%= session[:aluno_nome]%>  </td>
             </tr>
          </table>
        <% form_for @disciplina, :html => { :multipart => true } do |f| %>
            <fieldset><legend><font size=4>Disciplina</font></legend>
                <table width="100%" align="center" >
                    <tr bgcolor="#F5F5F5">
                        <td colspan="2"><font color="red"><b><u> ATENÇÃO:</u> Preencher TODOS os campos </b> </td>
                    </tr>
                    <tr bgcolor="#F5F5F5">
                        <td align="left" width ="10%" ><font size="2"> <b>Disciplina:</b></font></td>
                        <td><%= text_field_tag :NovaDisciplina, params[:NovaDisciplina],  :size => '40' %>
                        
                        <%= observe_field :NovaDisciplina,
                                 :with => :NovaDisciplina,
                                  :url => { :action => 'jaexiste' } %></td>
                    </tr>

                    <tr bgcolor="#F5F5F5">
                        <td align="left"><font size="2"> <b>Tipo Curriculo:</b></font>
                        <td><%= select_tag :NovoCurriculo,options_for_select([ "Selecionar", "BÁSICO", "DIVERSIFICADO" ], :include_blank => "--Selecionar--"  ) %>&nbsp&nbsp&nbsp&nbsp
                            <b>Ano Letivo:</b>
                            <%=  select_tag :NovoAnoLetivo, options_for_select(@ano_letivo.insert(0, '---')) %>
                    </tr>
                </table>
           </fieldset>
          <%session[:salvar]=1%>
          <table>
                   <tr>
                       <td><div id='jaexiste'><%= submit_tag "SALVAR", :class => "btn_filtrar" %> </div> </td>
            <%end%>
                   <%if  session[:notadisciplina]== 1   %>
                       <% session[:notadisciplina]= 0 %>
                       <td> <%= button_to 'Fechar', new_nota_path, {:method => "get"}  %></td>
                   <%else%>
                       <% session[:notadisciplina]= 0 %>
                       <td> <%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   <%end%>
                   </tr>
                 </table>
            </font>
    </div>
</div>
<br/>