<div id="interno3">
<% title "ATRIBUICAO" %>
  <div class ="tabs">


  <fieldset><legend><font  size=3>DISCIPLINA HISTÓRICO</font></legend>
    <table width="100%">
       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>RA:</b></td>
         <td ><%= @nota[0].aluno.aluno_ra  %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               <b>Aluno:</b> <%= @nota[0].aluno.aluno_nome%></td>
      </tr>

       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>Unidade:</b></td>
         <td ><%= @nota[0].aluno.unidade.nome %></td>
       </tr>
       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>Disciplina:</b></td>
         <td> <%= @nota[0].disciplina.disciplina %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               <b>Tipo Curriculo:</b></font>
                     <%if  @nota[0].disciplina.curriculo == 'B'%>
                            BÁSICO
                     <%else%>
                         DIVERSIFICADO
                     <%end%>
         </td>


       </tr>
       
       <tr bgcolor="#F5F5F5">

           <td width =" 12%"><b>Lançamentos:</b></td>
           <td colspan="3"><b>Nota:</b>&nbsp&nbsp<%= @nota[0].nota5%>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
             <b>Série:</b>&nbsp<%= @nota[0].classe %> º Ano &nbsp&nbsp&nbsp&nbsp
             <b>Ano Letivo:</b> <%= @nota[0].disciplina.ano_letivo %>
<%= session[:classe] = @nota[0].classe %> %>
         </td>
      </tr>
    </table>
  </fieldset>
    <table width="100%" >
         <tr>

            <td width ="6%"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
            <td align="left"><%= button_to 'Historico',historicoContinua_path, :title => "Histórico", session[:aluno_id] => @nota[0].aluno_id %></td>

         </tr>
       </table>

</div>
<br/><br/>



