<% form_for (@transferencia) do |f| %>
 <%= f.error_messages %>
  <font  size="2">
    <br/>
     <table width="100%" bgcolor="#F5F5F5"align="center" >
        <tr> <td></td> </tr>
        <tr>
          <td><b>Procedência: </b></td><td><%= f.collection_select :de, @unidade_de, :nome, :nome, :include_blank => ' -- Selecione -- ' %>
                     <%= observe_field :transferencia_de,
                          :with => :transferencia_de,
                          :url => { :action => 'unidade_transferencia' } %>

          </td>
        </tr>
        <tr>
          <td><b>Aluno: </b><div di="alunos>"</td><td><%= f.text_field :aluno, :size=> '30' %></div></td>
        </tr>

        <tr> <td> </td> </tr>
      </table>
       <table width="100%" >
         <tr> <td><br/></td> </tr>
         <tr>
            <td width="4%"align="left"><%= f.submit 'Salvar' %></td>
   <%end%>
            <td width="4%"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
    <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
            <td align="left" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_ficha_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
    <%end%>
         </tr>
       </table>

  </font>