<div id="interno3">
<% title "TRANSFERENCIA" %>
<div class ="tabs">


 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b>TRANSFERÊNCIA</b></font></legend>
         <table width="100%">
           <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width ="15%"><b> Procedência:</b></td>
              <td align="left"> <%=h @transferencia.de%></td>
           </tr>
           <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width ="15%"><b> Aluno:</b></td>
              <td align="left"> <%=h @transferencia.aluno.aluno_nome%></td>
           </tr>
           <% if !@transferencia.classe_id.nil?%>
             <tr bgcolor="#F5F5F5"  width="100%">
                <td align="left" width ="15%"><b> Destino:</b></td>
                <td align="left"> <%=h @transferencia.unidade.nome%></td>
                <% t=0 %>
             </tr>
           <%else%>
             <tr bgcolor="#F5F5F5"  width="100%">
                <td align="left" width ="15%"><b> Destino:</b></td>
                <td align="left"> <%=h @transferencia.para%></td>
                                <% t=0 %>
             </tr>
           <%end%>
           <% if !@transferencia.classe_id.nil? %>
               <tr bgcolor="#F5F5F5"  width="100%">
                  <td align="left" width ="15%"><b> Classe:</b></td>
                  <td align="left"> <%=h @transferencia.classe.classe_classe%></td>
               </tr>
           <%end%>
           <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width ="15%"><b> Data:</b></td>
              <td align="left"> <%=h @transferencia.data_transferencia.strftime("%d/%m/%Y ") %> </td>
           </tr>
      </table>

     </fieldset>
   </td>
  </tr>
 </table>

    <table>
         <tr>

            <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('direcao') or current_user.has_role?('supervisao')%>
                <td width="6%"align="left" ><%= button_to 'Editar', {:action => "edit", :id =>@transferencia}, :method => "get", :title => "Editar"%></td>
                 <td width="6%"align="left" ><%= button_to 'Excluir' , {:action => "destroy", :id =>@transferencia}, :confirm => 'Tem certeza?',:method => "delete", :title => "Deletar"%></td>

            <%else%>
                <td align="center"></td>
             <%end%>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
    </table>


</div>
<br/>
</div>



