  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
            <th width="5%">Inscrição</th>
            <th width="20%">Nome</th>
            <th width="10%">Mãe</th>
            <th width="10%">Local de <br/>Inscrição</th>
            <th width="10%">Classe</th>
            <th width="10%">1ªOpção</th>
            <th width="10%">2ªOpção</th>
            <th width="10%">3ªOpção</th>
            <th width="10%">Status</th>
            
        </tr>
           <%$t=0%>
           <% @criancas.each do |crianca| %>
           <%$t = $t+1%>
        <tr bgcolor="#F5F5F5">
                <td align="center"><%=h crianca.id%></td>
                <td align="left"><%=h crianca.nome%></td>
                <td align="left"><%=h crianca.mae%></td>
                <td align="left"><%=h crianca.unidade.nome%></td>
                <td align="center">
                          <%if crianca.grupo.id == 1%>
                             BERÇARIO I
                        <% else if crianca.grupo.id == 2 %>
                                    BERÇARIO II
                               <% else if crianca.grupo.id == 4 %>
                                          MATERNAL I
                                      <% else if crianca.grupo.id == 5 %>
                                               MATERNAL II
                                              <% else if crianca.grupo.id == 6 %>
                                                     NIVEL I
                                                      <% else if crianca.grupo.id == 7 %>
                                                             NIVEL II
                                                              <%end%>
                                                       <%end%>
                                              <%end%>
                                      <%end%>
                              <%end%>
                        <%end%>
                <td align="left"><%=h crianca.opcao1%></td>
                <td align="left"><%=h crianca.opcao2%></td>
                <td align="left"><%=h crianca.opcao3%></td>
                <td align="left"><%=h crianca.status%></td>
          </tr>
          <tr>
                <td align="center"><%= button_to('Visualizar', {:action => "show", :id =>crianca},:method => "get", :title => "Visualizar") %></td>
                
                    <td align="left"><%= button_to 'Editar', {:action => "edit", :id =>crianca}, :method => "get", :title => "Editar"%></td>
                
              </tr>

            <% end %>



     </table>
     <table bgcolor="#DCDCDC" width="100%">
      <tr >
        <td colspan="3" align="right"><b>TOTAL INSCRIÇÕES: </b>
            <font color ="red "size="2"><b><%=$t %></b></font> 
          </td>
      </tr>
    </table>

  </div>

