  <div class="tabs">
       <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
            <th width="1%">Nº</th>
            <th width="1%">Nº_Ins- <br/>crição</th>
            <th width="10%">Data/Hora <br/>Inscrição</th>
            <th width="30%">Nome</th>
            <th width="5%">Mãe <br/>Trabalha</th>
            <th width="5%">Mãe <br/>Servidora</th>
            <th width="5%">Irmão <br/>Matriculado</th>
            <th width="5%">Transfe- rência</th>
            <th width="10%">1ªOpção</th>
            <th width="10%">2ªOpção</th>
            <th width="10%">3ªOpção</th>
        </tr>
           <%$t=0%>
           <% @criancas.each do |crianca| %>
           <%$t = $t+1%>
        <tr bgcolor="#F5F5F5">
                <th align="center"><%= $t%>º </th>
                <th align="center"><%=h crianca.id%></th>
                <td align="center"><%=h crianca.created_at.strftime("%d/%m/%Y %H:%M")%></td>
                <td align="left"><%=h crianca.nome%></td>
                                   <% if crianca.trabalho == 0 %>
                                      <td align="center">NÂO</td>
                                  <%else%>
                                       <td align="center">SIM</td>
                                  <%end%>
                                  <% if crianca.servidor_publico == 0 %>
                                      <td align="center">NÂO</td>
                                  <%else%>
                                       <td align="center">SIM</td>
                                  <%end%>
                                  <% if crianca.irmao == 0 %>
                                      <td align="center">NÂO</td>
                                  <%else%>
                                      <td align="center">SIM</td>
                                  <%end%>
                                  <% if crianca.transferencia == 0 %>
                                      <td align="center">NÂO</td>
                                   <%else%>
                                       <td align="center">SIM </td>
                                   <%end%>
                <td align="center"><% if  crianca.opcao1 == session[:opcao]%>
                                          <b><font color ="blue"><%=h crianca.opcao1%></font></b>
                                    <%else%>
                                          <%=h crianca.opcao1%>
                                    <%end%>
                </td>
                <td align="center"><% if  crianca.opcao2 == session[:opcao]%>
                                          <b><font color ="blue"><%=h crianca.opcao2%></font></b>
                                    <%else%>
                                          <%=h crianca.opcao2%>
                                    <%end%>
                </td>
                <td align="center"><% if  crianca.opcao3 == session[:opcao]%>
                                          <b><font color ="blue"><%=h crianca.opcao3%></font></b>
                                    <%else%>
                                          <%=h crianca.opcao3%>
                                    <%end%>
                </td>

              <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('direcao') or current_user.has_role?('supervisao')%>
              </tr>
               <tr>
                <td align="center"><%= button_to('Visualizar', {:action => "show", :id =>crianca},:method => "get", :title => "Visualizar") %></td>
                <td align="center"><%= button_to 'Editar', {:action => "edit", :id =>crianca.id}, :method => "get", :title => "Editar"%></td>
              </tr>
                <%else%>
                      <td align="center"><%= button_to('Visualizar', {:action => "show", :id =>crianca},:method => "get", :title => "Visualizar") %></td>
              </tr>
                <%end%>


              <% session[:child] = crianca.id %>
            <% end %>



     </table>

     <table bgcolor="#DCDCDC" width="100%">
      <tr >
        <td colspan="3" align="right"><b>TOTAL INSCRIÇÕES: </b>
            <font color ="red "size="2"><b><%=$t %></b></font>
          </td>
      </tr>
    </table>

    <tr>

    </tr>
  </div>

