  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
            <th width="40">Inscrição</th>
            <th width="40">Nome</th>
            <th width="40">Mãe</th>
            <th width="40">Local</th>
            <th width="100">1ªOpção</th>
            <th width="100">2ªOpção</th>
            <th width="100">3ªOpção</th>
            <th colspan="3">Administração</th>
        </tr>
           <%$t=0%>
           <% @criancas.each do |crianca| %>
           <%$t = $t+1%>
        <tr bgcolor="#F5F5F5">
                <td align="left"><%=h crianca.id%></td>
                <td align="left"><%=h crianca.nome%></td>
                <td align="left"><%=h crianca.mae%></td>
                <td align="left"><%=h crianca.unidade.nome%></td>
                <td align="left"><%=h crianca.opcao1%></td>
                <td align="left"><%=h crianca.opcao2%></td>
                <td align="left"><%=h crianca.opcao3%></td>
                <td align="center"><%= button_to('Visualizar', {:action => "show", :id =>crianca},:method => "get", :title => "Visualizar") %></td>
                <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('direcao') or current_user.has_role?('supervisao')%>
                    <td align="center"><%= button_to 'Editar', {:action => "edit", :id =>crianca}, :method => "get", :title => "Editar"%></td>
                <%else%>
                    <td align="center"></td>
                <%end%>
              </tr>
            <% end %>



     </table>
     <table bgcolor="#DCDCDC" width="100%">
      <tr >
        <td colspan="3" align="right"><b>TOTAL INSCRIÇÕES: </b>
            <font color ="red "size="2"><b><%=$t %></b></font> 
          </td>
      </tr>
    </table>
  </div>

