
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <img src="/stylesheets/images/logo.png"   alt=""  class="float-left"  />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="3"><i><b><u>SISTEMA DE CONTROLE DE DEMANANDA</u></b><br/>
&nbsp&nbsp&nbsp
     <font size="1"><i><b>Prefeitua Municipal de  Americana </b></i>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp
<font size="3"><b><u> TITULAÇÂO PROFESSORES</u></b></i><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <font size="1"><b><i> Secretaria da Educação</i></b>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="2">Ano letivo: <%=  $ano%></font><br/>

<hr/>

<font size ="10"> <b>COMPROVANTE DE INSCRIÇÂO</b></font>
<hr/>

<div class="tabs">
  <br/>
   <%for crianca in @crianca%>
    <table>
      <tr>
        <td>
          <fieldset><legend><font  size=3><b> Dados da inscrição</b></font></legend>
            <table width="100%" frame="box" rules="all" >

               <tr style="font-size:10px">
                  <td align="left" width="18%"><b>Local Inscrição:</b></td>
                  <td align="left" ><%= crianca.unidade.nome%></td>
                  <td width="18%" ><b>Responsável p/ criança </b> </td>
                      <% if crianca.responsavel == 0 %>
                          <td>NÂO</td>
                      <%else%>
                          <td>SIM - <%=  crianca.responsavel_n%> - (<%=  crianca.parentesco%>)</td>
                      <%end%>
                </tr>
                <tr style="font-size:10px">
                    <td> <b>Filho Servidor Público:</b></td>
                       <% if crianca.servidor_publico == 0 %>
                          <td align="left">NÂO</td>
                        <%else%>
                           <td align="left">SIM - <%=  crianca.servidor_local%></td>
                        <%end%>
                           <td><b>Mãe trabalha: </b></td>
                        <% if crianca.trabalho == 0 %>
                           <td>NÂO</td>
                        <%else%>
                           <td>SIM - <%=  crianca.local_trabalho%> (<%=  crianca.fone_trabalho%>)</td>
                        <%end%>
                 </tr>
                 <tr style="font-size:10px">

              <td><b>Irmão(s) matriculado(s): </b></td>
                  <% if crianca.irmao == 0 %>
                      <td align="left">NÂO</td>
                  <%else%>
                      <td align="left">SIM - <%=  crianca.unidade_i%></td>
                  <%end%>
                      <td><b>Transferência: </b> </td>
                   <% if crianca.transferencia == 0 %>
                      <td align="left">NÂO</td>
                   <%else%>
                       <td align="left">SIM - <%=  crianca.unidade_t%></td>
                   <%end%>
                 </tr>
                 <tr style="font-size:10px">
                    <td valign="top" align="left" width="10%"><b>Região:</b></td>
                    <td valign="top"align="left" ><%=  crianca.regiao.nome%></td>
                    <td valign="top"><b>Opções: </b></td>
                    <td valign="top">- <%= crianca.opcao1%> <br/>
                                     - <%= crianca.opcao2%> <br/>
                                     - <%= crianca.opcao3%> <br/></td>
                </tr>
                 <tr bgcolor="#F5F5F5"  width="100%">
                   <td align="left" width="18%"><b>Dia/Hora Matricula:</b></td>
                   <td colspan="3" align="left" ><%=  crianca.created_at.strftime("%e/%m/%Y - %H:%M horas")%></td>
                 </tr>
             </table>
          </fieldset>
          <fieldset><legend><font  size=3><b> Dados da criança</b></font></legend>
            <table>
                <tr style="font-size:10px" >
                   <td align="left" width="4%"><b>Nome:</b></td>
                   <td colspan="3" align="left"><%=  crianca.nome %></td>
                   <td align="left" width="4%"><b>Mãe:</b></td>
                   <td colspan="3" align="left"><%=  crianca.mae %></td>
                </tr>
                <tr style="font-size:10px" >
                  <td align="left"><b>Nascimento:</b></td>
                   <td align="left">  <%=  crianca.nascimento.strftime("%d/%m/%Y")%></td>
                   <td align="left" width="4%"><b>Endereço:</b></td>
                   <td colspan="3" align="left"><%=  crianca.endereco %> - <%=  crianca.numero %></td>
                </tr>
                <tr style="font-size:10px">
                    <td align="left"><b>Telefone:</b></td>
                    <td align="left">  <%=  crianca.tel1%>&nbsp&nbsp&nbsp&nbsp
                                       <b>Celular:</b> <%=  crianca.celular%>  </td>
                    <td align="left" width="4%"><b>Bairro:</b></td>
                    <td colspan="3" align="left"><%=  crianca.bairro%></td>
                 </tr>
                 <tr style="font-size:10px">
                    <td align="left"><b>Fone (recado):</b></td>
                    <td align="left">  <%=  crianca.tel2%>
                                    <b>Nome:</b> <%=crianca.nomerecado%>  </td>
                    <td align="left" width="4%"><b>cComplemento:</b></td>
                    <td colspan="3" align="left"><%=crianca.complemento%></td>
                 </tr>
             </table>
          </fieldset>
        </td>
      </tr>
    </table>
   <%end%>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<font size ="1" ><b>Americana, <%= Time.now.strftime("%d/%m/%Y") %></b></font>
  </div>

<table width="100%" ->
   <tr>
     <td widht="8%"><b><%= link_to image_tag("/stylesheets/images/imprimir12.png"), onclick="javascript:MM_openBrWindow('#{impressao_criancas_path(:crianca => session[:child])}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
   </tr>
</table>




