
<div id="interno2">
<% title "CRIANCAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong> ALTERAÇÂO DE CADASTRO</strong></font><br/>
 </div>

     <div class="tabs">
<% form_for(@crianca) do |f| %>
 <%= f.error_messages %>
  <fieldset>
   <legend><font size=4>Dados da Criança</font></legend>
   <table width="100%">
       <tr>
         <td><b>Nome </b></td>
         <td><%=h @crianca.nome %></td>
         <td width =""><b><%= f.label :nascimento, 'Nascimento' %></b></td>
         <td> <%=h @crianca.nascimento.strftime("%d/%m/%Y")%></td>
                               
       </tr>
       <tr>
         <td><b>Mãe</b></td>
         <td><%=h @crianca.mae %></td>
         <td><b>Pai </b></td>
         <td><%=h @crianca.pai %></td>

       </tr>
      <tr>
        <td> <b>Responsável </b></td>
        <td>  <%=h @crianca.responsavel_n %></td>
        <td >
          <b>Parentesco</b><%=h @crianca.parentesco %>
          </td>

      </tr>
       <tr>
         <td><b>Endereço  </b></td>
         <td><%=h @crianca.endereco %> - <%=h @crianca.numero %></td>
         <td><b>Bairro</b></td>
         <td><%=h @crianca.bairro %></td>
       </tr>
       <tr>
          <td><b>Complemento</b></td>
          <td><%=h @crianca.complemento %></td>
          <td><b>Fone</b></td>
          <td><%=h @crianca.tel1 %>&nbsp&nbsp
              <b>Celular</b>&nbsp&nbsp<%=h @crianca.celular %>
          </td>
       </tr>
        <tr>
        </tr>
        <tr>
          <td><b>Fone(s) Recado</b></td>
         <td><%=h @crianca.tel2 %></td>
         <td><b>Nome</b></td>
         <td> <%=h @crianca.nomerecado %></td>
       </tr>
       <tr>
          <td><b>Classificação </b></td>
          <td><%=h @crianca.grupo.nome%></td>
          <td><b>Necessidade(s) Especial(s)?</b></td>
          <td><%=h @crianca.necessidade %></td>
      </tr>
      </table>
  </fieldset>

 <fieldset>
  <legend><font size=4>Dados da Inscrição</font></legend>
  <table width="100%"  >
      <tr >
         <td width ="20%"><b> <%= f.label :unidade, 'Unidade da Inscrição' %></b></td>
         <td><%=h @crianca.unidade.nome %></td>
      </tr>
       <tr>
        <td> <font size ="3" color ="'blue"><b> Status da Inscrição:</b>  </font></td>
        <td> <font size ="3"><b><%= f.select :status, options_for_select(Crianca::Status) %></b> </font></td>
        <td> <font size ="3"color ="'blue"><b>&nbsp &nbsp &nbsp&nbsp&nbsp&nbsp Unidade Matricula:</b> <%= f.collection_select  :matriculado  , @unidades, :nome, :nome, :include_blank => ' --- Selecione opção ---'  %> </font></td>
      </tr>
      <tr>
        <td colspan="3">
          <fieldset> <legend><font size=4>Prioridade</font></legend>
            <table width="100%" >
              <tr>
                <td width ="33%"><b>1) Mãe trabalha: </b></td>
                  <% if @crianca.trabalho == 0 %>
                     <td width ="20%">NÃO</td>
                  <%else%>
                     <td>SIM &nbsp&nbsp - &nbsp&nbsp <b>Local </b> <%=h @crianca.local_trabalho%> &nbsp&nbsp&nbsp&nbsp <b>Fone </b>(<%=h @crianca.local_trabalho%>)</td>
                  <%end%>
              </tr>
              <tr>
                <td width ="33%"><b>2) Filho(a) de Servidora Pública: </b></td>
                  <% if @crianca.servidor_publico == 0 %>
                     <td width ="20%">NÃO</td>
                  <%else%>
                     <td>SIM &nbsp&nbsp - &nbsp&nbsp <b>Local </b> <%=h @crianca.servidor_local%> </td>
                  <%end%>
              </tr>

              <tr>
                <td><b>3) Possui irmão(s) matriculado(s)?</b></td>
                <% if @crianca.irmao == 0 %>
                     <td width ="20%">NÃO</td>
                  <%else%>
                     <td>SIM &nbsp&nbsp - &nbsp&nbsp <b>Unidade </b> <%=h @crianca.unidade_i%> </td>
                  <%end%>
              </tr>

              <tr>
                <td><b>4) Transferência?</b></td>
                <% if @crianca.transferencia == 0 %>
                     <td width ="20%">NÃO</td>
                  <%else%>
                     <td>SIM </td>
                  <%end%>

              </tr>
            </table>
          </fieldset>
        </td>
      </tr>


      <tr>
         <td><b><%= f.label :regiao, 'Região de Preferência  ' %> </b></td>
         <td><%=h @crianca.regiao.nome %></td>
      </tr>
       <tr>
         <td><b><%= f.label :opcao1, 'Opção 1 ' %></b></td>
         <td><%=h @crianca.opcao1 %></td>
       </tr>
       <tr>
         <td><b><%= f.label :opcao2, 'Opção 2' %></b></td>
         <td><%=h @crianca.opcao2 %></td>
       </tr>
       <tr>
         <td><b><%= f.label :opcao3, 'Opção 3' %></b></td>
        <td><%=h @crianca.opcao3 %></td>
       </tr>
      <tr>
         <td><b>Data Inscrição:</b></td>
         <td><%=h @crianca.created_at.strftime("%d/%m/%Y")%></td>
      </tr>
      <tr>
        <td valign="top"><b>Observações:</b></td>
        <td colspan="2"align="left" ><%= f.text_area(:obs, :cols=> "75", :rows=>"3") %></td>
      </tr>
     </table>

  </fieldset>
 <br/>
 <br/>



      <fieldset>
       <table width="100%" >
         <tr>
           <td width="4%"align="left"><b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>

<%end%>

             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>



         </tr>
       </table>
      </fieldset>
    </fieldset>
  </font>
  </div>







</div>
<br/>
</div>
