<div id="interno2">
<% title "CRIANÇAS", :id =>"crianças" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>INSCRIÇÃO</strong></font><br/>
   </div>
  <div class="tabs">
    <% form_remote_tag :url => consultacrianca_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>        <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td>
              <a href="#" class="filtro"><%= radio_button_tag(:type_of, "1") %></a>Nome
              <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "2") %></a>Na Unidade
              <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "6") %></a>Na SEDUC
            </td>
         </tr>
         <tr>
           <td><div class="consulta" style="display:none"> <%= render "consulta" %> </div></td>
               
        </tr>
        </table>
    <% end %>
    <br/>
    <hr/>
    <div id="criancas"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
    <br/>

  <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td align="left"><%= button_to 'Consultar', consulta_professor_nome_path, :title => "Consultar" %></td>
    </tr>
  </table>
 </div>
 </div>
  <br/>
</div>

