
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <img src="/stylesheets/images/logo.png"   alt=""  class="float-left"  />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="2"><i><b><u>DEMANANDA ESCOLAR</u></b><br/>
&nbsp&nbsp&nbsp
     <font size="1"><i><b>Prefeitua Municipal de  Americana </b></i>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp
<font size="1"><b><u></u> DEMANDA GERAL      </b></i><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <font size="1"><b><i> Secretaria da Educação</i></b>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp

 <table  class ="invisible_to_print " >
   <tr  class ="invisible_to_print ">
     <td align="right" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
 </table>
 <fieldset>
   <legend><font size=2><b>DEMANDA POR REGIÃO</b></font></legend>
       <table frame="box" rules="all" width = "70%" align="center">
        <tr style="font-size:8px" >
            <th width="25%">Região</th>
            <th width="2%">Total</th>
            <th width="1%" ></th>
            <th width="25%">Região</th>
            <th width="2%">Total</th>
            <th width="1%"></th>
            <th width="25%">Região</th>
            <th width="2%">Total</th>

        </tr>
        <% totalregiao = 0 %>
        <tr style="font-size:8px">
             <th align="center"> São Jerônimo</th>
             <th align="center"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 1"]).count %></th>
             <% totalregiao = totalregiao + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 1"]).count %>
             <th> </th>
             <th align="center"> Cidade Jardim</th>
             <th align="center"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 2"]).count %></th>
             <% totalregiao = totalregiao + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 2"]).count %>
             <th></th>
             <th align="center"> São Vito / Jaguari</th>
             <th align="center"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 3"]).count %></th>
             <% totalregiao = totalregiao + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 3"]).count %>
        </tr>
        <tr style="font-size:8px">
             <th align="center"> Zanaga</th>
             <th align="center"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 4"]).count %></th>
             <% totalregiao = totalregiao + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 4"]).count %>
              <th></th>
             <th align="center"> Jardim Ipiranga</th>
             <th align="center"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 5"]).count %></th>
             <% totalregiao = totalregiao + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 5"]).count %>
             <th></th>
             <th align="center"> Centro</th>
             <th align="center"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 6"]).count %></th>
             <% totalregiao = totalregiao + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 6"]).count %>
        </tr>
        <tr style="font-size:8px">
             <th align="center"> Praia Azul</th>
             <th align="center"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 7"]).count %></th>
             <% totalregiao = totalregiao + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 7"]).count %>
             <th></th>
             <th align="center"> Parque da Nações</th>
             <th align="center"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 8"]).count %></th>
             <% totalregiao = totalregiao + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 8"]).count %>
             <th></th>
             <th align="center"> Alvorada</th>
             <th align="center"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 9"]).count %></th>
             <% totalregiao = totalregiao + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and regiao_id = 9"]).count %>
       </tr>
     </table>
        <table frame="box" rules="all" width = "70%" align="center">
        <tr style="font-size:8px" >
           <th align="right"><b>TOTAL INSCRIÇÕES: </b>
            <font color ="red "><b><%=totalregiao %>&nbsp&nbsp&nbsp</b></font>
          </th>
      </tr>
    </table>
  </fieldset>
 <fieldset>
   <legend><font size=2><b>DEMANDA GERAL POR UNIDADE</b></font></legend>
       <table frame="box" rules="all" width = "100%" align="center">
        <tr style="font-size:8px" >
          <th>
            <table frame="box" rules="all">
                <tr style="font-size:8px" >
                    <th width="30%">Unidade</th>
                    <th width="2%">Total</th>
                </tr>
                 <%cont1=0%>
                 <% @unidades11.each do |unidade| %>
                 <% num =  Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count%>
                 <% cont1 = cont1+num%>
                 <tr bgcolor="#C6BBBB">
                   <th width="30%" align="left"><%=h unidade.nome%></th>
                   <th width="2%"></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr>
                   <th align="right">Total</th>
                   <th width="2%">  <%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                <%end%>
                <tr style="font-size:8px" >
                   <th colspan="2" align="right"><b>Total Inscrições: </b>
                            <font color ="red "><b><%= cont1 %></b></font></th>
                 </tr>
            </table>
           </th>
           <th valign="top">
            <table frame="box" rules="all">
                 <tr style="font-size:8px" >
                    <th width="30%">Unidade</th>
                    <th width="2%">Total</th>
                </tr>
                 <%cont2=0%>
                 <% @unidades12.each do |unidade| %>
                 <% num =  Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %>
                 <%cont2 = cont2+num%>
                 <tr bgcolor="#C6BBBB">
                   <th width="30%" align="left"><%=h unidade.nome%></th>
                   <th width="2%"></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr>
                   <th align="right">Total</th>
                   <th width="2%">  <%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                <%end%>
                <tr style="font-size:8px" >
                   <th colspan="2" align="right"><b>Total Inscrições: </b>
                            <font color ="red "><b><%= cont2 %></b></font></th>
                 </tr>

            </table>
           </th>
           <th valign="top">
            <table frame="box" rules="all">
               <tr style="font-size:8px" >
                    <th width="30%">Unidade</th>
                    <th width="2%">Total</th>
                </tr>
                 <%cont3=0%>
                 <% @unidades13.each do |unidade| %>
                 <% num =  Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %>
                 <%cont3 = cont3+num%>
                 <tr bgcolor="#C6BBBB">
                   <th width="30%" align="left"><%=h unidade.nome%></th>
                   <th width="2%"></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr>
                   <th align="right">Total</th>
                   <th width="2%">  <%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                <%end%>
                 <tr style="font-size:8px" >
                   <th colspan="2" align="right"><b>Total Inscrições: </b>
                            <font color ="red "><b><%= cont3 %></b></font></th>
                 </tr>
            </table>
           </th>
           <th valign="top">
            <table frame="box" rules="all">
                <tr style="font-size:8px" >
                    <th width="30%">Unidade</th>
                    <th width="2%">Total</th>
                </tr>
                 <%cont4=0%>
                 <% @unidades14.each do |unidade| %>
                 <% num =  Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %>
                 <%cont4 = cont4+num%>
                 <tr bgcolor="#C6BBBB">
                   <th width="30%" align="left"><%=h unidade.nome%></th>
                   <th width="2%"></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel I</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel II</th>
                   <th width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                 <tr>
                   <th align="right">Total</th>
                   <th width="2%">  <%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                <%end%>
                 <tr style="font-size:8px" >
                   <th colspan="2" align="right"><b>Total Inscrições: </b>
                            <font color ="red "><b><%= cont4 %></b></font></th>
                 </tr>
            </table>
           </th>
      <tr style="font-size:8px" >
        
          <% tt= 0 %>
          <% tt= cont1+ cont2+ cont3+ cont4 %>
          <th colspan="4" align="right"><b>TOTAL INSCRIÇÕES: </b>
            <font color ="red "><b><%=  tt %></b></font>
          </th>
      </tr>
 </fieldset>
<table>
  <tr style="font-size:8px" >
    <th>
      <font size="2"><b>Lista  sujeita a alterações a qualquer momento</b><font>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <font size ="1" ><b>Americana, <%= Time.now.strftime("%d/%m/%Y") %></b></font>
    </th>
  </tr>
</table>
  </div>

<br/>
<font size="1">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
p/  Unidade Escolar
         
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Assinatura do Responsável<br/>

</font>
&nbsp&nbsp

