
<%if current_user.has_role?('supervisao') or current_user.has_role?('SEDUC') or current_user.has_role?('admin')%>
<%@classe_ano = Classe.find(:all, :joins => "INNER JOIN  unidades  ON  unidades.id = classes.unidade_id",:select => "classes.id, CONCAT(classes.classe_classe, ' - ',unidades.nome) AS classe_unidade", :conditions => ['classes.classe_ano_letivo = ?' , Time.now.year ], :order => 'classes.classe_classe ASC')%>

<%end%>


<table width="100%"  >
   <tr>
         <td align= "right"><font size="2"><b class="label_busca3">Datas:  Inicial:</b></font>&nbsp
                <%= datepicker_tag(:faltasaluno, :inicioC,{:size => 10},{ :dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>

               &nbsp&nbsp
               <font size="2"><b class="label_busca3">Final:</b></font>&nbsp
                <%= datepicker_tag(:faltasaluno, :fimC,{:size => 10},{ :dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
           </td>

             <td  align="right"><font size="2"><b>Classe:</b></font>
                  <%= select_tag :classe_id, options_for_select(@classe_ano.collect { |ff| [ff.classe_unidade, ff.id] }.insert(0, '--Selecionar--')) %>
                                    <%= observe_field 'classe_id',
                                  :with => :classe_id,
                                  :url => { :action => 'classe_disciplina' },
                                  :update => "classe_disciplina" %>
            </td>
             <td align="right"><div id="classe_disciplina"> <b>Disciplina:</b><font color="red"><b></u>&nbsp Selecionar  primeiro a classe </b></font> </div></td>

                  <td > <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

             </td>

<%  session[:tela_faltas_aluno]=0 %>

   </tr>
  </table>

