

<%cont=0%>
 <table border="1" cellspacing="0" cellpadding="1" width="100%" >
        <tr bgcolor="#DCDCDC" >
            <td width =" 5%"> <b>&nbsp&nbsp&nbsp Dia</b></td>
            <td width =" 5%"> <b>&nbsp&nbsp&nbsp Classe</b></td>
            <td width =" 15%"><b>&nbsp&nbsp&nbsp Disciplina</b></td>
            <td width =" 30%"><b>&nbsp&nbsp&nbsp Professor</b></td>
            <td width =" 54%"><b>&nbsp&nbsp&nbsp Aluno</b></td>

        </tr>
         <% for faltas in  @faltasalunos%>
         <tr bgcolor="#F5F5F5" >
            <td align="center"> <%= faltas.data.strftime("%d/%m/%Y") %> </td>
            <td align="center"> <%= faltas.classe.classe_classe%></td>
            <td align="center"> <%= faltas.disciplina.disciplina%></td>
            <td align="left"> <%= truncate(faltas.professor.nome,:length => 50,:omission => "...")%> </td>
            <td align="left"> <%= faltas.aluno.aluno_nome%> </td>
         </tr>
         <%cont=cont+1%>
         <%end%>
         <tr>
           <td colspan="5" align="right"> <b>Total: <%= cont %>   </b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
         </tr>
    </table>
