




<%@classes = Classe.find(:all, :conditions => ['unidade_id = ? and classe_ano_letivo = ? ', current_user.unidade_id, Time.now.year  ], :order => 'classe_classe ASC')%>
<%if current_user.has_role?('direcao_fundamental') or current_user.has_role?('professor_fundamental')%>
   <%@disciplinas = Disciplina.find(:all, :select => 'DISTINCT (disciplinas.disciplina), disciplinas.id', :joins => "INNER JOIN atribuicaos ON disciplinas.id = atribuicaos.disciplina_id INNER JOIN classes ON classes.id = atribuicaos.classe_id INNER JOIN unidades ON unidades.id = classes.unidade_id ", :conditions => ['classes.unidade_id =? and atribuicaos.ano_letivo=?', current_user.unidade_id, Time.now.year]) %>
<%end%>
<div id="interno6">
<% title "CONSULTA_CLASSE".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>FREQUÊNCIA - LANÇAMENTOS AUSÊNCIA</strong></font><br/>

 </div>
    <div class="tabs">
  <%if @faltasaluno.present?%>
      <fieldset>
        <table width="100%" align="center" bgcolor="#DCDCDC" >

          <tr>
              <td><b>Data:</b> </td>
              <td><%= @faltasaluno.data.strftime("%d/%m/%Y")   %> </td>
          </tr>
         <tr>
           <td> <b>Professor(a): </td>
           <td> <%=  @faltasaluno.professor.nome %></b>
             </td>
          </tr>
           <tr>
              <td width =" 5%" valign="top"><b><b>Quantidade:</b> </b></td>
               <td> <%=  @faltasaluno.faltas%> aulas</td>
            </tr>
             <tr>
                 <td align="left"><font size="2"> <b>Disciplina:</b></font></td>
                 <td><%=  @faltasaluno.disciplina.disciplina%> </td>
                </tr>

                <tr>
                    <td align="left"><font size="2"> <b>Classe:</b></font></td>
                    <td> <%=  @faltasaluno.classe.classe_classe %> <% if session[:AEE]==0%> - <%=@faltasaluno.unidade.nome %> <%end%></td>
                </tr>
                <tr>
                    <td align="left"><font size="2"> <b>Observações:</b></font></td>
                    <td> <%= session[:obser]%></td>
                </tr>
                <tr>
                    <td></td><td> <%#=@existe[0].id%>|<%#=@existe[0].id%>pr.id: <%=session[:professor_id]%> | ano let: <%=Time.now.year%> | cl.id: <%=session[:classe_id]%> | disc.id: <%=session[:disciplina_id]%> | dia: <%=session[:dia]%> | atrib.id: <%=@atribuicao[0].id%>
                    
                    <!-- | existe1: <%#if @existe1[0].empty?%> vazio <%#else%> <%#=@existe1[0].id%> <%#end%> | existe2: <%#if @existe2[0].empty?%> vazio <%#else%> <%#=@existe2[0].id%> <%#end%> -->
                    </td>
                </tr>

       </table>
       </fieldset>
      
      <fieldset>
        <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5" >
          <tr>
            <td>
              <div id="alunos"><b><u> Alunos ausentes:</u></b><br/><br/>
                 <%if !@alunos_faltaram.nil? %>
                    <% for aluno in @alunos_faltaram %>
                      &nbsp&nbsp&nbsp&nbsp - &nbsp<%= aluno.aluno_nome %> <br/>
                    <%end%>
                 <%else%>
                    &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  <b> NÃO há aluno ausente neste dia </b>
                 <%end%>
                </div>
              <br/>
            </td>
          </tr>
       </table>


      </fieldset>
    <%else%>
            <fieldset>
        <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5" >
          <tr>
            <td><br/>  <font size="3" color ="red"> <b>&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp   LANÇAMENTO NÃO SALVO <br/>
                &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp   JÀ EXISTE LANÇAMENTO REALIZADO PARA ESTE DIA </b></font>
                <br/>
                <br/>
            </td>
          </tr>
       </table>


      </fieldset>

    <%end%>


       <br/>


       
   <table>
    <tr>
     <td ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>


    </tr>
  </table>
 </div>
</div>
<br/>
</div>


