<div id="interno111">
<% title "FAPEA", :id =>"FAPEA" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>EXCLUSÃO FREQUÊNCIA CONSULTA AUSÊNCIAS </strong></font>
  
   </div>
  <div class="tabs">
    <% form_remote_tag :url => excluir_faltas_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
      <table width="100%" align="center" bgcolor="#DCDCDC" >
         <tr>
         <td align= "right"><font size="2"><b class="label_busca3">Data:</b></font>&nbsp <%= datepicker_tag(:faltasaluno, :inicioE,{:size => 10},{ :dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
           </td>

             <td  align="right"><font size="2"><b>Classe:</b></font>
                  <%= select_tag :classe_id, options_for_select(@classe_ano.collect { |ff| [ff.classe_unidade, ff.id] }.insert(0, '--Selecionar--')) %>
 
            </td>
             <td align="right">
              <%@disciplinas1 = Disciplina.find(:all, :select => "disciplinas.id as disc_id, atribuicaos.id as atri_id, CONCAT(disciplinas.disciplina, ' - ',classes.classe_classe,' - ',unidades.nome) AS disciplina_classe", :joins => "INNER JOIN atribuicaos on disciplinas.id = atribuicaos.disciplina_id INNER JOIN classes on classes.id = atribuicaos.classe_id INNER JOIN unidades ON unidades.id = classes.unidade_id" ,:conditions => ['disciplinas.nao_disciplina = 0 AND atribuicaos.professor_id = ? AND atribuicaos.ano_letivo =?',current_user.professor_id, Time.now.year ],:order => 'disciplina ASC' )    %>

               <b>Disciplina:</b> <%= select_tag :disciplina_id, options_for_select(@disciplinas1.collect { |ff| [ff.disciplina_classe, ff.disc_id] }.insert(0, '--Selecionar--')) %></td></td>

                  <td > <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

             </td>

<%  session[:tela_faltas_aluno]=0 %>


         </tr>
        </table>
    <% end %>
<br/>
    <hr/>
    <div id="relatorio"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
    <br/>





  <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td width="6%" align="left"><%= button_to 'Nova Consulta', consultas_faltasalunos_path, :title => "Nova Consulta" %></td>
      <td align="left"><%#= button_to 'Totalizar', totalizacao_path, :title => "Totalizar" %></td    </tr>
  </table>
 </div>
 </div>
  <br/>
</div>


