<div id="interno3">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LANÇAMENTOS DE ATIVIDADES PEDAGÓGICAS</strong></font><br/>
 </div>
      <div class="tabs">

          <% form_for (@faltasaluno) do |f| %>
           <%= f.error_messages %>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

            <fieldset>
             <legend><font size=4></font></legend>
             <table width="100%">
                  <tr bgcolor="#F5F5F5">
                    <td colspan="4"><b>DIÁRIO DE CLASSE - LANÇAMENTO FALTAS </b></td>
                  </tr>

        <tr bgcolor="#F5F5F5">
             <td colspan="4"><b>Data da atividade:  &nbsp&nbsp&nbsp </b>   <%= f.date_select(:data, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year))%>
               
             </td>

        </tr>
                <tr bgcolor="#F5F5F5">
                  <td width =" 5%" valign="top"><b>Professor(a):</b></td>
                   <td><%= f.collection_select  :professor_id, @professor_unidade, :id, :nome, :include_blank => ' -- Selecione -- ' %> <br/>


                </td>
                      <%= observe_field 'atividade_professor_id',
                         :update => "dados_classe",
                         :url    => { :action => 'classe' },
                         :with   => 'atividade_professor_id' %>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td colspan="4"><div id="disciplina"> </div></td>
                </tr
                <tr bgcolor="#F5F5F5">
                  <td colspan="4"><div id="dados_classe"><font color="red"><font size="4"id="pisca1" > <b><u> ATENÇÃO</u> após selecionar nome do professor aguarde para selecionar a disciplina e a classe.</font><br/></div></td>
                </tr >
                <tr >
                  <td colspan="4"><div id="dados_classe1"></div></td>
                </tr >
                <tr>
                  <td colspan="4">
                    <table width=" 100%" border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                      <tr bgcolor="#F5F5F5">
                          <td colspan="2">
                          <font color="green"><b><u>ATENÇÃO:</u> Faça o registro das atividades desenvolvidas de forma sucinta que contemple os seguintes elementos:</br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1. Título da atividade. <br/>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2. Componente curricular da atividade. <br/>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3. Rescrição resumida da atividade. <br/>

                            </b>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

<!--
                <tr bgcolor="#F5F5F5">
                  <td colspan="2"><font color="red" size=""><b><u> ATENÇÃO: </u> 1) Para digitar SOMENTE texto sem qualquer tipo formatação.<br/>
                              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2) Após SALVAR este registro somente poderá ser editado ou alterado pelo pedagogo ou gestor da unidade.<br/>

                        </td>
                </tr>
-->
              </table>
            </fieldset>
           <br/>
                 <table width="100%" >
                   <tr>
                     <td width="4%"align="left"><b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>
          <%end%>
                       <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   </tr>
                 </table>
            </font>

    </div>
</div>
<br/>
<%session[:new_mqa]=0%>
</div>
<h1>New faltasaluno</h1>

<% form_for(@faltasaluno) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :aluno_id %><br />
    <%= f.text_field :aluno_id %>
  </p>
  <p>
    <%= f.label :matricula_id %><br />
    <%= f.text_field :matricula_id %>
  </p>
  <p>
    <%= f.label :atribuicao_id %><br />
    <%= f.text_field :atribuicao_id %>
  </p>
  <p>
    <%= f.label :professor_id %><br />
    <%= f.text_field :professor_id %>
  </p>
  <p>
    <%= f.label :unidade_id %><br />
    <%= f.text_field :unidade_id %>
  </p>
  <p>
    <%= f.label :disciplina_id %><br />
    <%= f.text_field :disciplina_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :classe %><br />
    <%= f.text_field :classe %>
  </p>
  <p>
    <%= f.label :ano_letivo %><br />
    <%= f.text_field :ano_letivo %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </p>
  <p>
    <%= f.label :falta %><br />
    <%= f.text_field :falta %>
  </p>
  <p>
    <%= f.label :conteudo %><br />
    <%= f.text_field :conteudo %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.label :ativo %><br />
    <%= f.text_field :ativo %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', faltasalunos_path %>