<p>
  <b>Aluno:</b>
  <%=h @faltasaluno.aluno_id %>
</p>

<p>
  <b>Matricula:</b>
  <%=h @faltasaluno.matricula_id %>
</p>

<p>
  <b>Atribuicao:</b>
  <%=h @faltasaluno.atribuicao_id %>
</p>

<p>
  <b>Professor:</b>
  <%=h @faltasaluno.professor_id %>
</p>

<p>
  <b>Unidade:</b>
  <%=h @faltasaluno.unidade_id %>
</p>

<p>
  <b>Disciplina:</b>
  <%=h @faltasaluno.disciplina_id %>
</p>

<p>
  <b>User:</b>
  <%=h @faltasaluno.user_id %>
</p>

<p>
  <b>Classe:</b>
  <%=h @faltasaluno.classe %>
</p>

<p>
  <b>Ano letivo:</b>
  <%=h @faltasaluno.ano_letivo %>
</p>

<p>
  <b>Dia:</b>
  <%=h @faltasaluno.dia %>
</p>

<p>
  <b>Falta:</b>
  <%=h @faltasaluno.falta %>
</p>

<p>
  <b>Conteudo:</b>
  <%=h @faltasaluno.conteudo %>
</p>

<p>
  <b>Obs:</b>
  <%=h @faltasaluno.obs %>
</p>

<p>
  <b>Ativo:</b>
  <%=h @faltasaluno.ativo %>
</p>


<%= link_to 'Edit', edit_faltasaluno_path(@faltasaluno) %> |
<%= link_to 'Back', faltasalunos_path %>