 

<% if !@conteudos.empty? %>
 <table border="1" cellspacing="0" cellpadding="1" width="100%" >
        <tr bgcolor="#DCDCDC" >
            <td width =" 8%"> <b>&nbsp&nbsp&nbsp Classe</b></td>
            <td width =" 10%"><b>&nbsp&nbsp&nbsp Disciplina</b></td>
            <td><b>&nbsp&nbsp&nbsp Professor</b></td>
            <td width =" 22%"> <b>&nbsp&nbsp&nbsp Período </b></td>
            <!--<td align="center"width =" 5%"> <b>Validação</b></td>-->
           <td width =" 5%"> </td>
        </tr>
         <% for conteudo in @conteudos %>
         <tr bgcolor="#F5F5F5" >
            <td align="left">&nbsp <%if !conteudo.classe_id.nil? %>
                                      <%= conteudo.classe.classe_classe%>
                                    <%else%>
                                        MQA
                                    <%end%>
              </td>
            <td align="left">&nbsp <%if !conteudo.atribuicao_id.nil? %>
                                       <%if !conteudo.disciplina_id.nil?%>
                                          <%= conteudo.atribuicao.disciplina.disciplina%>
                                       <%end%>
                                    <%else%>
                                        <%= conteudo.professor.obs_interno %>
                                    <%end%>
            </td>
            <td align="left">&nbsp <%= conteudo.professor.nome%> </td>
            <td align="left"> De <%= conteudo.inicio.strftime("%d/%m/%Y") %>  à <%= conteudo.fim.strftime("%d/%m/%Y")%></td>
            <!--<td align="center">&nbsp <%#if conteudo.validacao == 1%> <font color="blue"> VALIDADO </font> <%#else%> <font color="red"> AGUARDANDO </font><%#end%> </td>
           <td align="center"> <%= button_to('Visualizar', {:action => "show", :id =>conteudo},:method => "get", :title => "Visualizar") %>
<%#= link_to  image_tag('/stylesheets/images/editar1.png', :title => 'Editar'), {:action => "show", :id => edicao}, :method => "get", :title => "Selecionar"%></td>


         </tr>
         <%end%>
    </table>
<%else%>
<table border="1" cellspacing="0" cellpadding="1" width="100%" >
        <tr bgcolor="#DCDCDC" >
            <td ><br/><font size="4" color="red"> NÃO EXISTE LANÇAMENTOS PARA ESTA CLASSE <br/></td>

        </tr>
    </table>

 <%end%>