<div id="interno1">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LANÇAMENTOSDE ATENDIMENTO & VIVÊNCIA - MÃOS QUE ACOLHEM</strong></font><br/>
 </div>
      <div class="tabs">

          <% form_for (@conteudo) do |f| %>
           <%= f.error_messages %>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

            <fieldset>
             <legend><font size=4></font></legend>
             <table width="100%">
                  <tr bgcolor="#F5F5F5">
                    <td colspan="4"><b>LANÇAMENTO DE ATENDIMENTO & VIVÊNCIA - MÃOS QUE ACOLHEM </b></td>
                  </tr>

        <tr bgcolor="#F5F5F5">
             <td colspan="4"><b>Período referente  &nbsp&nbsp&nbsp De: </b>   <%= f.date_select(:inicio, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year))%>
               &nbsp&nbsp&nbsp <b> à </b> &nbsp&nbsp&nbsp <%= f.date_select(:fim, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year)-100)%>
             </td>

        </tr>
          <%if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao')or current_user.has_role?('pedagogo')%> 
               <%  @professor_mqa = Professor.find(:all, :conditions => ['unidade_id = 60  AND desligado = 0 AND dt_atual = ?' ,Time.now.year],:order => 'nome ASC')%>
        <%else%>
             <%  @professor_mqa = Professor.find(:all, :conditions => ['id = ?  AND unidade_id = 60 AND desligado = 0 and dt_atual=?', current_user.professor_id, Time.now.year],:order => 'nome ASC')%>
        <%end%>
                <tr bgcolor="#F5F5F5">
                   <td width =" 5%"><b>Nome(a):<%=current_user.professor_id%> </b></td>
                   <td><%= f.collection_select  :professor_id, @professor_mqa, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
                      <%= observe_field 'conteudo_professor_id',
                         :update => "dados_classe",
                         :url    => { :action => 'mqa' },
                         :with   => 'conteudo_professor_id' %>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td colspan="4"><div id="disciplina"> </div></td>
                </tr
                <tr bgcolor="#F5F5F5">
                  <td colspan="4"><div id="dados_classe"></div></td>
                </tr >
                <tr>
                  <td colspan="4">
                    <table width=" 100%" border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                        <tr bgcolor="#F5F5F5">
                        <td>
                          <font color="green"><b><u>ATENÇÃO:</u> Faça o registro do atendimento realizado que contemple os seguintes elementos:<br/>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1. Área de atuação profissional. <i>ex. Atendimento psicologico</i> <br/>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2. Objetivo do atendimento. <br/>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3. Descrição do atendimento. <br/>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 4. Recursos utilizados e tempo estimado do atendimento.<br/>

                            </b>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td valign="top"><b>Atendimento:<br/>
                                       Vivência  </b></td>
                  <td colspan="5">



  <%= f.text_area(:conteudo, :cols=> "82", :rows=>"20", :id=>"contador") %><br/>
<script>
        $(document).on("keydown", "#contador", function () {
            var caracteresRestantes = 5000  ;
            var caracteresDigitados = parseInt($(this).val().length);
            var caracteresRestantes = caracteresRestantes - caracteresDigitados;

            $(".caracteres").text(caracteresRestantes);

        });

</script>
  <b><span class="caracteres">5000</span> Caracteres Restantes </b>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"><font color="red" size=""><b><u> ATENÇÃO: </u> Para digitar SOMENTE texto sem qualquer tipo formação ou imagens.</td>
                </tr>
              </table>
            </fieldset>
           <br/>
                 <table width="100%" >
                   <tr>
                     <td width="4%"align="left"><b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>
          <%end%>
                       <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   </tr>
                 </table>
            </font>

    </div>
</div>
<br/>
</div>


