<div id="interno3">
<% title "RELATORIO" %>
<div class ="tabs">
   <fieldset><legend><font  size=3><b> CONTEÚDO LANÇADO</b></font></legend>
    <table width="100%">
       <tr bgcolor="#F5F5F5">
         <td width=5%" align="left" valign="top"><b>Professor(a):</b></td>
         <td colspan="3"><%=h @conteudo.professor.nome %></td>

       </tr>
       <tr bgcolor="#F5F5F5">
         <%if !@conteudo.classe_id.nil? %>
                  <td align="left"><b>Classe:</b></td>
                  <td><%=h @conteudo.classe.classe_classe %></td>
            <%else%>
                  <td align="left" colspan="2"><b>Mão Que Acolhem</b></td>
            <%end%>
         <% if !@conteudo.disciplina.nil? %>
            <td width ="5%"><b>Disciplina:</b></td>
             <td> <%=h @conteudo.disciplina.disciplina%>  </td>
         <%else%>
             <td><b>Atuação:</b></td>
             <td><%=h @conteudo.professor.obs_interno%></td>
         <%end%>
      </tr>
       <tr bgcolor="#F5F5F5">
         <td  align="left"><b>Unidade:</b></td>
         <td><%=h @conteudo.professor.unidade.tipo.nome %> <%if !@conteudo.classe_id.nil? %> <%=h @conteudo.classe.unidade.nome %> <%end%></td>
         <td width ="16%"> <b>Ano Letivo:</b></td>
         <td width ="16%"><%=h @conteudo.ano_letivo %></td>
      </tr>
       <tr bgcolor="#F5F5F5">
         <td ><b>Período</b> </td>
         <td colspan="3">  De <%=h @conteudo.inicio.strftime("%d/%m/%Y")%> à  <%=h @conteudo.fim.strftime("%d/%m/%Y")%>  </td>
      </tr>
       <tr bgcolor="#F5F5F5">
         <td  valign="top" align="left"><b>Conteúdo:</b></td>
         <td colspan="3"><%= @conteudo.conteudo.gsub("\n","<br/>\n") %></td>
      </tr>
       <tr bgcolor="#F5F5F5">
         <td  valign="top" align="left"><b>Obs:</b></td>
         <td colspan="3"><%= @conteudo.obs %></td>
      </tr>

  </table>
</fieldset>
  <table width="100%" >
         <tr>
            <td width="8%"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
             <td colspan="10"align="left" ><%#= button_to 'Imprimir', {:controller =>"relatorios", :action => "impressao_fapea", :id =>@relatorio}, :title => "Imprimir esta FAPEA"%></b></td>
               </tr>


         <br/>
  </table>



</div>
<br/>
</div>

