<div id="interno3">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CADASTRO DE PROFESSOR/RESPONSÁVEL PARA AULAS EVENTUAIS (SUBSTITUIÇÃO)</strong></font><br/>
 </div>
      <div class="tabs">
             <% form_for(@eventual) do |f| %>
              <%= f.error_messages %>
                     <br/>
                     <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
                        <tr>
                          <td colspan="8"><b><font size="3"> &nbsp CADASTRAR PROFESSOR/RESPONSÁVEL  &nbsp - </b></td>
                        </tr>
                        <tr>
                          <td colspan="8"><hr></td>
                        </tr>
                       <tr>
                         <td align="left" width="10%">  <b>Professor: </b></td>
                         <td align="left" colspan="3"><%=h @eventual.professor.nome %></td>
                       </tr>
                        <tr>
                            <td align="left" width="10%"><b>Unidade: </b></td>
                            <td align="left"  ><%= collection_select :eventual, :unidade_id, @unidades_infantil, :id, :nome, :include_blank => ' -- Selecionar -- ' %></td>
                            <td align="left" width="10%"><b>Categoria: </b> </td>
                            <td align="left"><%= f.select :categoria, (CATEGORIA).sort, :include_blank => ' -- Selecionar -- ' %></td>
                       </tr>
                        <tr>
                          <td align="left" width="10%">  <b>Disponibilidade: </b></td>
                          <td align="left"><%= f.text_field :disponibilidade, :size => "23" %></td>
                          <td align="left" width="10%">  <b>Período: </b></td>
                          <td align="left"><%= f.select :periodo, (PERIODO).sort, :include_blank => ' -- Selecionar -- ' %></td>

                        </tr>
                        <tr>
                           <td align="left" valign="top"><b>Contato:</b></td>
                           <td align="left" colspan="5"><%= f.text_field :contato,:size => "58"  %></td>

                       </tr>
                        <tr>
                           <td align="left" valign="top"><b>Observação:</b></td>
                           <td align="left" colspan="5"><%= f.text_area(:obs,:cols => 58, :rows => "3") %></td>

                       </tr>
                   </table>

                     <table width="100%"  align="center">
                            <tr>
                               <td width="5px%"align="left"><%= f.submit 'Salvar' %></td>
              <% end %>
                               <td align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                           </tr>
                        </table>





    </div>
</div>
<br/>
</div>

