<div id="interno3">
<% title "RESPONSÁVEL" %>
<div class ="tabs">


 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b> RESPONSÁVEL</b></font></legend>
             <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
               <tr>
                 <td align="left" width="10%">  <b>Responsável: </b></td>
                 <td align="left" colspan="3"><%=h @eventual.professor.nome %></td>
               </tr>
               <tr>
                 <td align="left" width="10%">  <b>Fone: </b></td>
                 <td align="left" colspan="3"><%=h @eventual.professor.telefone %> - <%=h @eventual.professor.cel%> </td>
               </tr>
                <tr>
                  <td align="left" width="10%"><b>Unidade: </b></td>
                  <td align="left" colspan="3"><%=h @eventual.unidade.nome %></td>
               </tr>
                <tr>
                  <td align="left" width="10%">  <b>Disponibilidade: </b></td>
                  <td align="left" colspan="3"><%=h @eventual.disponibilidade %></td>
                  <td align="left" width="10%">  <b>Período: </b></td>
                  <td align="left"><%=h @eventual.periodo %></td>
                </tr>
                <tr>
                  <td align="left" width="10%"><b>Contato: </b></td>
                  <td align="left" colspan="3"><%=h @eventual.contato %></td>
               </tr>

                <tr>
                   <td align="left" valign="top"><b>Observação:</b></td>
                   <td align="left" colspan="5"><%=h @eventual.obs %></td>

               </tr>
           </table>
     </fieldset>
   </td>
  </tr>
 </table>

    <table>
         <tr>

            <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') %>
                <td width="6%"align="left" ><%= button_to 'Editar', {:action => "edit", :id =>@eventual}, :method => "get", :title => "Editar"%></td>
                <% if current_user.has_role?('admin')  %>
                      <td width="6%"align="left" ><%= button_to 'Excluir', {:action => "destroy", :id =>@eventual}, :confirm => 'Tem certeza?',:method => "delete", :title => "Deletar"%></td>
                <%end%>
            <%else%>
                <td align="center"></td>
             <%end%>
           <td width="4%"align="left"><%= button_to 'Cadastrar' ,new_eventual_path, :title => "Cadastar  " %></td>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
    </table>


</div>
<br/>
</div>



