<p>
  <b>Professor:</b>
  <%=h @eventual.professor %>
</p>

<p>
  <b>Disponibilidade:</b>
  <%=h @eventual.disponibilidade %>
</p>

<p>
  <b>Horario:</b>
  <%=h @eventual.horario %>
</p>

<p>
  <b>Ano letivo:</b>
  <%=h @eventual.ano_letivo %>
</p>

<p>
  <b>Obs:</b>
  <%=h @eventual.obs %>
</p>


<%= link_to 'Edit', edit_eventual_path(@eventual) %> |
<%= link_to 'Back', eventuals_path %>