<table width="100%">
     <% for classe in @classe %>
        <tr bgcolor="#F5F5F5" >
           <td align="left" width="10%"><b>Unidade:</b></td>
           <td align="left">  <%=h classe.unidade.nome%></td>
           <td align="left" width="10%"><b> Ano Letivo:</b></td>
           <td align="left"> <%=h classe.classe_ano_letivo %>     <%  session[:classe]=  classe.id%></td>
       </tr>

       <tr bgcolor="#F5F5F5">
           <td align="left"><b>Classe:</b></td>
           <td align="left">  <%=h classe.classe_classe%></td>
           <td align="left"><b>Horário:</b></td>
           <td align="left">  <%=h classe.horario %></td>
      </tr>
        <tr bgcolor="#F5F5F5" >
          <td align="left"><b>Descrição:</b></td>
          <td align="left" colspan="3"> <%=h classe.classe_descricao %></td>
       </tr>
      <tr bgcolor="#F5F5F5">
        <td valign="top"> <b> Professor(es) ou Responsável(s):</b> </td>
         <% cont=1 %>
         <% cont1=1 %>
         <td colspan="4">  <% for atrib in @atribuicao_classe %>
                           <table width="100%">
                              <tr bgcolor="#F5F5F5" >
                                 <td align="left" width="50%"> <%=h atrib.professor.nome%></td>
                                 <td align="left" width="30%"> <%=h atrib.disciplina.disciplina %></td>
                                 <% session[:disciplina] = atrib.disciplina.disciplina %>
                                 <% session[:professor] = atrib.professor.nome %>
                                 <% session[:professor_id] = atrib.professor.id %>
                                 <% session[:classe] = atrib.classe.classe_classe %>
                                 <% session[:ano] = atrib.ano_letivo %>
                                 <% session[:periodo] = atrib.classe.horario %>
                                 <% session[:id] = atrib.id %>
                                 <%  session[:flag_edit_atribuicao] = 1 %>
                                 <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') )%>
                                           <td align="left"> <%= link_to  image_tag('/stylesheets/images/editar1.png', :title => 'Editar'), {:controller =>"atribuicaos", :action => "edit", :id =>atrib}, :method => "get", :title => "Editar"%></td>
                                           <% if (current_user.has_role?('admin') or current_user.has_role?('secretaria_fundamental'))%>
                                                <td  align="left" ><%= link_to  image_tag('/stylesheets/images/excluir.png', :title => 'Excluir'),  { :action => "destroy_professor", :id =>atrib}, :confirm => 'Confirma exclusão?', :method => "delete", :title => "Deletar"%></td>
                                           <%end%>
                                 <%end%>

                             </tr>
                             </tr>
                           </table>
                          <% cont= cont+1 %>
                         <%end%>
         </td>
      </tr>
   </table>
  <%end%>
