<div style='display:none'>
  <div id='inline_notas' style='padding:10px; background:#EEE9E9;'>
    <% form_remote_for(:nota,:url => { :action => 'create_notas' }, :success => "$.fn.colorbox.close();$('select').multiselect('refresh')") do |f|%>
  
    <b><u>Lançamentos / Alunos</u></b> <br/>
      <hr>
       <%= error_messages_for 'contact' %>
       <table  width="100%" bgcolor="#F5F5F5">
         <tr>
           <td width="10%" valign="top"><b><font size="2">Aluno:</font></b></td>
           <td colspan="3"><%= f.collection_select :aluno_id, @alunos1, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %></td>
         </tr>
        <tr>
            <td width="10%" valign="top"><b><font size="2">Nota</font></b></td>
            <td><%= f.text_field :nota1, :size=>'3' %></td>
            <td align="left"><font size="2"><b>Faltas:</b></font></td>
           <td align="left" ><font size="2"> <%=  f.text_field :faltas1, :size => '3',  :value => 0 %></font></td>
        </tr>

        <tr>
          <td valign="top"><font size="2"><b>Observação:</font></b></td>
          <td colspan="3"> <%= f.text_field :obs1, :cols=>'45', :rows=> '3' %></td>
        </tr>

        <tr>
          <td colspan="4" align="right"><%= f.submit "Salvar" %></td>
        </tr>
       </table>
      <%end%>
  </div>
</div>
