<% form_for (@atribuicao) do |f| %>
 <%= f.error_messages %>
     <% if current_user.professor_id.nil?  %>
         <% if (current_user.unidade_id < 42 or current_user.unidade_id > 53) and current_user.unidade_id != 62 %>
           <%   @disciplinas = Disciplina.find(:all, :conditions => ["curriculo = 'I' AND nao_disciplina = 0"]) %>
         <% else %>
           <%   @disciplinas = Disciplina.find(:all, :conditions =>  ["curriculo != 'I'AND id !=2 AND nao_disciplina = 0"],:order => 'ordem ASC') %>
         <% end %>

     <% else %>
         <% if (current_user.unidade_id < 42 or current_user.unidade_id > 53) and current_user.unidade_id != 62 %>
            <%  @disciplinas = Disciplina.find(:all, :conditions => ["curriculo = 'I'AND nao_disciplina = 0"]) %>
         <%  else %>
             <%  @disciplinas = Disciplina.find(:all, :conditions =>  ["curriculo != 'I' AND id !=2 AND nao_disciplina = 0"],:order => 'ordem ASC') %>
         <%  end %>
     <%  end %>

  <fieldset><legend><font size=4>Atribuição</font></legend>
           <% if current_user.unidade_id == 53 or current_user.unidade_id == 52 %>
               <% @professor_unidade = Professor.find(:all, :conditions => 'desligado = 0',:order => 'nome ASC') %>
          <%  else %>
               <%  @professor_unidade = Professor.find(:all, :conditions => ['(unidade_id = ? or unidade_id = 52 or unidade_id = 54 or diversas_unidades = 1) AND desligado = 0   ', (current_user.unidade_id)],:order => 'nome ASC')%>
         <%  end %>


    <table width="100%">
       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>Classe:</b></td>
         <td><%= f.collection_select :classe_id, @classes, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %></td>
         <td width =" 12%"><b>Professor:</b></td>
         <td><%= f.collection_select  :professor_id, @professor_unidade, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
      </tr>
      <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>Disciplina:</b></td>
         <td colspan="3"><%= f.collection_select :disciplina_id, @disciplinas, :id, :disciplina, :include_blank => ' -- Selecione -- ' %></td>

      </tr>
      <% if session[:flag_edit_atribuicao] != 1 %>
        <tr>
          <td colspan="4">
             <font color="gray"> <u><b>Obs:</u> Se o nome do rrofessor NÃO constar na lista, favor entrar em contato com a Informática/SEDUC

             </font> </b>
           </td>
        </tr>
      <%end%>
   </table>
  </fieldset>
 <br/>
 
       <table width="100%" >
         <tr bgcolor="#F5F5F5">
           <td width="4%"align="left"><b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>
            
<%end%>
         <td align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>

         
    
  

         </tr>
       </table>
  

  </font>









