<div style='display:none'>
  <div id='inline_notas' style='padding:10px; background:#EEE9E9;'>
    <% form_remote_for(:nota,:url => { :action => 'edit_notas', :id =>:nota }, :success => "$.fn.colorbox.close();$('select').multiselect('refresh')") do |f|%>
  
    <b><u>LANÇAMENTOS/ Alunos</u></b> <br/>
      <hr>
       <%= error_messages_for 'contact' %>
            <table width="100%">
               <tr bgcolor="#F5F5F5">
                 <td width =" 12%"><b>RA:</b></td>
                 <td><%= @nota.aluno.aluno_ra  %></td>
                 <td width =" 12%"><b>Aluno:</b></td>
                 <td><%= @nota.aluno.aluno_nome %></td>
              </tr>

               <tr bgcolor="#F5F5F5">
                 <td width =" 12%"><b>Unidade:</b></td>
                 <td colspan="3" ><%= session[:unidade] %></td>
               </tr>
               <tr bgcolor="#F5F5F5">
                 <td width =" 12%"><b>Classe:</b></td>
                 <td><%= session[:classe]%></td>
                 <td width =" 12%"><b>Periodo:</b></td>
                 <td><%= session[:periodo]%> - <%= session[:ano]%></td>
               </tr>
               <tr bgcolor="#F5F5F5">
                 <td width =" 12%"><b>Disciplina:</b></td>
                 <td> <%= session[:disciplina]%></td>
                 <td width =" 12%"><b>Professor:</b></td>
                 <td> <%= session[:professor]%></td>
              </tr>
               <tr bgcolor="#F5F5F5">
                 <td width =" 12%"><b>Bimestre:</b></td>
                 <td colspan="3"><%= @nota.bimestre%>º
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                     <b>Nota</b>&nbsp&nbsp<%= f.text_field :nota1 , :size => '4'%>
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                     <b>Faltas:</b>&nbsp&nbsp<%= f.text_field :faltas1 , :size => '3'%>
                 </td>
              </tr>
               <tr bgcolor="#F5F5F5">
                 <td width =" 12%" valign="top"><b>Observação:</b></td>
                 <td colspan="4"><%= f.text_area :obs1, :cols=>'50', :rows=> '3' %>
                 </td>
              </tr>

        <tr>
          <td colspan="4" align="left"><%= f.submit "Salvar" %></td>
        </tr>
       </table>
      <%end%>
  </div>
</div>
