<style type="text/css">
    .textovertical {
        -webkit-transform:rotate(270deg);
        -moz-transform:rotate(270deg);
        -o-transform: rotate(270deg);
    }
</style>

<!--         0             1             2               3            4             5        -->
<%status = ["MATRICULADO","TRANSFERIDO","TRANSFERENCIA","REMANEJADO","*REMANEJADO","ABANDONO"]%>
<%st =     ["MAT",        "TR",         "TR",           "RM",        "*RM",        "ABN"]%>

<!-- INICIO 1o. BIMESTRE -->
<%@classe.each do |classe| %>
    <table width="100%">
        <tr>
            <td rowspan="2"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
            <td><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
                <center><font size="1">Unidade Escolar:  <%=h classe.unidade.nome %>  </font></center>
                <center><font size="1"><%=h classe.unidade.endereco%>, <%=h classe.unidade.num%> - Americana - SP  </font>
                    <font size="1"><%=h classe.unidade.CEP%> - <%=h classe.unidade.fone%>  </font></center>
                <%  session[:classe]=  classe.id%>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right"><font size="2"><b>REGISTRO E CONTROLE DE FREQUÊNCIA E RENDIMENTO ESCOLAR &nbsp&nbsp&nbsp&nbsp</b></font> </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
    </table>
    <table border="1" cellspacing="0" cellpadding="1" width="100%">
        <tr  style="font-size: 9px">
            <td colspan="2" align="CENTER"><font size ="2"><center><b>NOTAS 1º BIMESTRE</b></center></font>
                <font size =2"><b> Classe:</b> <%=h classe.classe_classe%></font> <br/>
                <font size ="2"><b> Período:</b> <%=h classe.horario %> </font> <br/>
                <font size ="2"><b> Ano Letivo:</b> <%=h classe.classe_ano_letivo%></font>
            </td>
            <%@atribuicao_classe.each do |atrib| %>
                <td align="center" colspan="2"><div class="textovertical"><b> <%=atrib.disciplina.disciplina %></b></div></td>
            <%end%>  <!-- 42 -->
        </tr>
        <tr style="font-size: 10px">
            <td align="center" width="2%"><b>Nº: </b> </td>
            <td align="center" width="20%"><b> Nome: </b> </td>
            <%qtde_disc=0%>
            <%@atribuicao_classe.each do |atrib|%>
                <td align="center" width="2%"><b>Nota</b></td>
                <td align="center" width="2%"><b>Falta</b></td>
                <%qtde_disc=qtde_disc+1%>
            <%end%> <!-- 50 -->
        </tr>
        <%@matriculas_classe.each do |matriculas_classe|%>
            <tr style="font-size: 10px">
                <%if matriculas_classe.status == "MATRICULADO"%>
                    <%status_aluno=0%>
                <%else%>
                    <%if matriculas_classe.status == "TRANSFERIDO"%>
                        <%status_aluno=1%>
                    <%else%>
                        <%if matriculas_classe.status == "TRANSFERENCIA"%>
                            <%status_aluno=2%>
                        <%else%>
                            <%if matriculas_classe.status == "REMANEJADO"%>
                                <%status_aluno=3%>
                            <%else%>
                                <%if matriculas_classe.status == "*REMANEJADO"%>
                                    <%status_aluno=4%>
                                <%else%>
                                    <%if matriculas_classe.status == "ABANDONO"%>
                                        <%status_aluno=5%>
                                    <%else%>
                                        <%status_aluno=-1%>
                                    <%end%> <!-- 73 -->
                                <%end%> <!-- 70 -->
                            <%end%> <!-- 67 -->
                        <%end%> <!-- 64 -->
                    <%end%> <!-- 61 -->
                <%end%> <!-- 58 -->
                <td align="center"><b><%= matriculas_classe.classe_num %></b></td>
                <%if qtde_disc<10 %>
                    <td align="left" width="10%"><b><%= truncate(matriculas_classe.aluno.aluno_nome,:length => 40,:omission => "...") %></b>
                        <%if matriculas_classe.status == "MATRICULADO"%>
                            <!-- No caso de matriculado, não imprime o status, pois é o status padrão -->
                        <%else%>
                            <%if matriculas_classe.status=="TRANSFERENCIA"%>
                                <font color="blue"> (<%=  matriculas_classe.status %>)</font>
                            <%else%>
                                <%if matriculas_classe.status=="REMANEJADO" or matriculas_classe.status=="*REMANEJADO"%>
                                    <font color="green"> (<%=  matriculas_classe.status %>)</font>
                                <%else%>
                                    <font color="red"> (<%=  matriculas_classe.status %>)</font>
                                <%end%> <!-- 92 -->
                            <%end%> <!-- 89 -->
                        <%end%> <!-- 86 -->
                    </td>
                <%else%>
                    <td align="left" width="5%"><b><%= truncate(matriculas_classe.aluno.aluno_nome,:length => 20,:omission => "...") %></b></td>
                <%end%> <!-- 84 -->
                <%@notas_alu=Nota.find(:all, :joins => "INNER JOIN atribuicaos ON atribuicaos.id = notas.atribuicao_id INNER JOIN disciplinas ON disciplinas.id = atribuicaos.disciplina_id   INNER JOIN alunos ON alunos.id = notas.aluno_id ", :conditions => ["atribuicaos.classe_id =? AND notas.matricula_id =?", session[:classe_id],matriculas_classe.id],:order =>'disciplinas.ordem ASC')%>
                <%cont_dis=0%>
                <%nota_port=""%>
                <%@atribuicao_classe.each do |atrib| %>
                    <%if @notas_alu.empty? %>
                        <%if status_aluno!=0%>
                            <td align="center"><font color="green">[1a]</font></td>
                            <td align="center"><font color="green">[1b]</font></td>
                        <%else%>
                            <td align="center"><font color="red">SN</font></td>
                            <td align="center"> --A </td>
                        <%end%> <!-- 108 -->
                    <%else%>
                        <%if (cont_dis+1)<=@notas_alu.size%>
                            <%if @notas_alu[cont_dis].atribuicao.disciplina.disciplina=="PORTUGUÊS"%>
                                <%nota_port=@notas_alu[cont_dis].nota1%>
                            <%end%> <!-- 116 -->
                        <%end%>
                        <%if matriculas_classe.status!="MATRICULADO" and matriculas_classe.status!="TRANSFERENCIA" and matriculas_classe.status!="*REMANEJADO"%>
                            <%if cont_dis!=0 and ((cont_dis+1)!=@atribuicao_classe.count)%>
                                <td align="center"><font color="red">---</font></td>
                                <td align="center"><font color="red">---</font></td>
                            <%else%>
                                <%if cont_dis==0%>
                                    <td align="center"><font color="red"><%=st[status_aluno]%></font></td>
                                    <td align="center"><font color="red">---</font></td>
                                <%else%>
                                    <td align="center"><font color="red">---</font></td>
                                    <td align="center"><font color="red"><%=st[status_aluno]%></font></td>
                                <%end%> <!-- 124 -->
                            <%end%> <!-- 120 -->
                        <%else%>
                            <%if (cont_dis+1)<=@notas_alu.size%>
                                <% if @notas_alu[cont_dis].disciplina.curriculo=='D'%>
                                    <%session[:nota_disciplina]=''%>
                                <%else%>
                                    <%session[:nota_disciplina]=@notas_alu[cont_dis].nota1 %>
                                <%end%> <!-- 133 -->
                            <%end%>
                            <%if (cont_dis+1)<=@notas_alu.size%>
                                <%if (@notas_alu[cont_dis].aluno_id==matriculas_classe.aluno.id) and (@notas_alu[cont_dis].atribuicao_id==atrib.id)%>
                                    <td align="center">
                                        <% if @notas_alu[cont_dis].nota1.nil? %> <!-- Notas que não foram lançadas -->
                                            <%if (@notas_alu[cont_dis].atribuicao.disciplina.nucleo_comum==1 and session[:num_classe]<6 and nota_port!=nil)%>
                                                --- <!-- Notas das outras disciplinas do Nucleo Comum fora Português -->
                                            <%else%>
                                                <!-- Outras disciplinas inclusive Português mas sem nota lançada -->
                                            <%end%> <!-- 141 -->
                                        <%else%>
                                            <%if (@notas_alu[cont_dis].nota1.to_i < 5.0) and (@notas_alu[cont_dis].nota1!="F") and (@notas_alu[cont_dis].nota1!="SN")%>
                                                <font color ="red">  <%=session[:nota_disciplina]%> </font>
                                            <%else%>
                                                <%=session[:nota_disciplina]%>
                                            <%end%> <!-- 147 -->
                                        <%end%> <!-- 140 -->
                                    </td>
                                    <% if (@notas_alu[cont_dis].atribuicao.disciplina.nucleo_comum==1 and session[:num_classe]<6)%>
                                        <td><font color="green"></font></td> <!-- Deixa em branco Faltas das outras disciplinas do Nucleo Comum fora PortuguÊs -->
                                    <%else%>
                                        <%if (@notas_alu[cont_dis].nota1!=nil or @notas_alu[cont_dis].faltas1!=0) and nota_port!=nil%>
                                            <td align="center" ><%= @notas_alu[cont_dis].faltas1%> </td>
                                        <%else%>
                                            <td align="center" ></td>
                                        <%end%> <!-- 157 -->
                                    <%end%> <!-- 154 -->
                                <%else%>
                                    <td align="center"><font color="green">[4]</font></td>
                                <%end%> <!-- 138 -->
                            <%end%>
                        <%end%> <!-- 119 -->
                    <%end%> <!-- 107 -->
                    <%cont_dis=cont_dis+1%>
                <%end%> <!-- 106 -->
            </tr>
        <%end%> <!-- 56 -->
        <tr style="font-size: 8px">
            <td  colspan="2" align="right" valign="top"><font size ="1"><b>Professor: </b></font> </td>
            <%@atribuicao_classe.each do |atrib| %>
                <td colspan="2" align="center"valign="top"><%= truncate(atrib.professor.nome,:length => 17,:omission => "...") %></td>
            <%end%> <!-- 174 -->
        </tr>
        <tr style="font-size:10px">
            <td> <b>Legenda Notas</b></td>
            <td colspan="30"> <b>SN</b>= Sem Nota &nbsp&nbsp <b>TR</b> = TRansferido &nbsp&nbsp <b>RM</b>= ReManejado (saida) &nbsp&nbsp <b>*RM</b>= ReManejado (entrada) <b>F</b>= Frequentou &nbsp&nbsp <b>NF</b>= Não Frequentou &nbsp&nbsp <b>ABN</b>= ABaNdono &nbsp&nbsp
            </td>
        </tr>
        <tr style="font-size:10px">
            <td></td>
            <td colspan="30">
                <%if  session[:num_classe]<6%>
                    * As disciplinas de núcleo comum NÃO possuem lançamentos de faltas (dias), somente a disciplina de PORTUGUÊS. <br/>
                    * As disciplinas que NÃO pertencem ao núcleo comum as faltas (aulas) devem possuir lançamentos.
                <%else%>
                    <%  %>
                <%end%> <!-- 186 -->
            </td>
        </tr>
    </table>
    <table  width="100%">
        <tr>
            <td width="6%"align="left"   style="border-color: white"'"><br/><%= button_to '', home_path, {:method => "get"}  %></td>
                <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental'))%>
                <td colspan="10"align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_relatorio_mapa1_path}','impressao', 'scrollbars=yes , toolbar=yes, status=yes');", :title => "Imprimir" %> </b></td>
            <%end%> <!-- 198 -->
        </tr>
        <tr>
            <td>
            </td>
        </tr>
    </table>
    <table width="100%" align="center" bgcolor="#DCDCDC" >
        <tr><td> <br/><hr><br/><br/></td>
        </tr>
    </table>
<%end%> <!-- 14 -->
<!-- FIM    1o. BIMESTRE -->
