
<table border="1" frame="box" rules="all" width="100%">
    <%@notas.each do |nota|%>
    <tr>
      <td><%= nota.aluno.aluno_ra  %></td>
      <td><%= nota.aluno.aluno_nome %></td>
      <td><%= nota.faltas1 %></td>
      <td><%= nota.obs1 %></td>
      <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), nota, :title => "Exibir Familiar" %></td>
      <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "15x15"), nota, :confirm => 'Confirma?', :method => :delete, :title => "Excluir Familiar" %></td>
   </tr>

  <%end%>
</table>
