<table width="100%">
  <tr>
    <td rowspan="2"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
        <% @aluno.each do |aluno| %>
             <center><font size="1">Unidade Escolar:  <%=h aluno.unidade.nome %>  </font></center> 
             <center><font size="1"><%=h aluno.unidade.endereco%><%=h aluno.unidade.num%> - Americana - SP  </font>
             <font size="1"><%=h aluno.unidade.CEP%> - <%=h aluno.unidade.fone%>  </font></center> 
        <%end%>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td colspan="22" align="right"><font size="2"><b>BOLETIM DE FREQUÊNCIA E RENDIMENTO ESCOLAR &nbsp&nbsp&nbsp&nbsp</b></font>
    </td>
  </tr>
</table>
<table frame="box" rules="all" width="100%">
  <tr>
    <% @aluno.each do |aluno| %>
      <td><b>Nome:</b>&nbsp&nbsp <%=h aluno.aluno_nome %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <b>RA:</b>&nbsp&nbsp <%=h aluno.aluno_ra %></td>
      <% session[:aluno] = aluno.id %>
    <%end%>
  </tr>
  <tr bgcolor="#F5F5F5">
  <% for classe in @classe %>

         <td ><b>Classe:</b>&nbsp&nbsp <%=h classe.classe_classe%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         <b>Período:</b>&nbsp&nbsp <%=h classe.horario %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         <b>Ano Letivo:</b> &nbsp&nbsp<%=h classe.classe_ano_letivo %></td>
             <%  session[:classe]=  classe.id%>
      </tr>
  <%end%>
<% @aluno.each do |aluno| %>
  <table frame="box" rules="all" width="100%">
    <tr>
      <td width=" 25%" rowspan="2" align="center"><b>Disciplina</b></td>
      <td width=" 15%" colspan="3" align="center"><b>1º Bimestre</b></td>
      <td width=" 15%"colspan="3" align="center"><b>2º Bimestre</b></td>
      <td width=" 15%" colspan="3" align="center"><b>3º Bimestre</b></td>
      <td width=" 15%" colspan="3" align="center"><b>4º Bimestre</b></td>
      <td width=" 15%" colspan="3" align="center"><b>FINAL</b></td>
   </tr>
   <tr>
     <td width ="5%" align="center" ><b>Nota</b></td>
     <td width ="5%" align="center" ><b>Falta</b></td>
     <td width ="5%" align="center"></td>
     <td width ="5%" align="center" ><b>Nota</b></td>
     <td width ="5%" align="center" ><b>Falta</b></td>
     <td width ="5%" align="center"></td>
     <td width ="5%" align="center" ><b>Nota</b></td>
     <td width ="5%" align="center" ><b>Falta</b></td>
     <td width ="5%" align="center"></td>
     <td width ="5%" align="center" ><b>Nota</b></td>
     <td width ="5%" align="center"><b>Falta</b></td>
     <td width ="5%" align="center"></td>
     <td width ="5%" align="center" ><b>Nota</b></td>
     <td width ="5%" align="center" ><b>Falta</b></td>
     <td width ="5%" align="center"></td>
   </tr>
   <tr>
     <%@notas.each do |nota|%>

      <td width=" 20%"><%= nota.atribuicao.disciplina.disciplina %></td>
      <%if nota.nota1.present?%>
           <td align="center"><%= nota.nota1 %></td>
           <td align="center"><%= nota.faltas1 %></td>
           <td></td>
      <%else%>
           <td align="center"></td>
           <td align="center"></td>
           <td></td>
      <%end%>
      <%if nota.nota2.present?%>
           <td align="center"><%= nota.nota2 %></td>
           <td align="center"><%= nota.faltas2 %></td>
           <td></td>
      <%else%>
           <td align="center"></td>
           <td align="center"></td>
           <td></td>
      <%end%>
      <%if nota.nota3.present?%>
           <td align="center"><%= nota.nota3 %></td>
           <td align="center"><%= nota.faltas3 %></td>
           <td></td>
      <%else%>
           <td align="center"></td>
           <td align="center"></td>
           <td></td>
      <%end%>
      <%if nota.nota4.present?%>
           <td align="center"><%= nota.nota4 %></td>
           <td align="center"><%= nota.faltas4 %></td>
           <td></td>
      <%else%>
           <td align="center"></td>
           <td align="center"></td>
           <td></td>
      <%end%>
      <%if nota.nota5.present?%>
           <td align="center"><%= nota.nota5 %></td>
           <td align="center"><%= nota.faltas5 %></td>
           <td></td>
      <%else%>
           <td align="center"></td>
           <td align="center"></td>
           <td></td>
      <%end%>
   </tr>
    <%end%>
   <tr>
     <td colspan="23"><hr></td>
   </tr>

   <tr>
     <td colspan="23"><b>Observações:</b></td>
   </tr>
    <%@notas.each do |nota|%>
     <tr>
        <td align="right"><%= nota.atribuicao.disciplina.disciplina %>&nbsp&nbsp</td>
        <td colspan="15"><%= nota.obs1%> </td>
    </tr>
   <%end%>
 </table>

      <table  width="100% ">
          <tr>
           <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>

          <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
                  <td align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_relatorio_aluno_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
          <%end%>
          </tr>
        </table>
<%end%>
</table>

