<table  width="100% "bgcolor="#DCDCDC" >
   <tr>
      <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>
        <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
             <td align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_relatorio_classe_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
          <%end%>
   </tr>
   <tr>
     <td colspan="2"><hr><br/></td>
  </tr>
</table>

<% @classe.each do |classe| %>
   <table width="100%">
       <tr>
          <td rowspan="2"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
          <td><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
              <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>

                   <center><font size="1">Unidade Escolar:  <%=h classe.unidade.nome %>  </font></center>
                   <center><font size="1"><%=h classe.unidade.endereco%><%=h classe.unidade.num%> - Americana - SP  </font>
                   <font size="1"><%=h classe.unidade.CEP%> - <%=h classe.unidade.fone%>  </font></center>

         </td>
      </tr>
      <tr>
         <td></td>
      </tr>
      <tr>
          <td colspan="22" align="right"><font size="2"><b>BOLETIM DE FREQUÊNCIA E RENDIMENTO ESCOLAR &nbsp&nbsp&nbsp&nbsp</b></font></td>
      </tr>
   </table>
   <% @professor.each do |professor| %>
       <table>
           <tr >
             <td><b>Nome:</b></td>
              <td  width="50%"> <%=h professor.nome %> <%session[:prof]= professor.id%></td>
              <td><b>Sede:</b></td>
              <td  width="40%"> <%=h professor.unidade.nome %></td>
           </tr>
           <tr >
               <td><b>Endereço:</b></td>
               <td  width="50%"> <%=h professor.endres%>, nº <%=h professor.num%></td>
               <td><b>Cidade:</b></td>
               <td  width="40%"> <%=h professor.cidade%> &nbsp&nbsp&nbsp&nbsp <b>Fone:</b> <%=h professor.telefone%> / <%=h professor.cel%></td>
           </tr>
      </table>
   <%end%>
      <% for classe in @classe %>
        <table border="1" cellspacing="0" cellpadding="1" width="100%">
           <tr bgcolor="#F5F5F5">
              <td ><b>Classe:</b>&nbsp&nbsp <%=h classe.classe_classe%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                               <b>Período:</b>&nbsp&nbsp <%=h classe.horario %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                               <b>Ano Letivo:</b> &nbsp&nbsp<%=h classe.classe_ano_letivo %></td>
                   <%  session[:classe]=  classe.id%>
           </tr>

           <% @alunos.each do |aluno| %>
                
                    <tr>
                      <td colspan="10"><b>Nome:</b>&nbsp&nbsp <%=h aluno.aluno_nome %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b>RA:</b>&nbsp&nbsp <%=h aluno.aluno_ra %></td>
                        <% session[:aluno] = aluno.id %>
                   </tr>
                    <tr>
                        <td width=" 25%" rowspan="2" align="center"><b>Disciplina</b></td>
                        <td width=" 15%" colspan="3" align="center"><b>1º Bimestre</b></td>
                        <td width=" 15%"colspan="3" align="center"><b>2º Bimestre</b></td>
                        <td width=" 15%" colspan="3" align="center"><b>3º Bimestre</b></td>
                        <td width=" 15%" colspan="3" align="center"><b>4º Bimestre</b></td>
                        <td width=" 15%" colspan="3" align="center"><b>FINAL</b></td>
                    </tr>
                    <tr>
                        <td width ="3%" align="center" ><b>Nota</b></td>
                        <td width ="3%" align="center" ><b>Falta</b></td>
                        <td width ="3%" align="center" ><b>Freq.</b></td>
                        <td width ="3%" align="center" ><b>Nota</b></td>
                        <td width ="3%" align="center" ><b>Falta</b></td>
                        <td width ="3%" align="center" ><b>Freq.</b></td>
                        <td width ="3%" align="center" ><b>Nota</b></td>
                        <td width ="3%" align="center" ><b>Falta</b></td>
                        <td width ="3%" align="center" ><b>Freq.</b></td>
                        <td width ="3%" align="center" ><b>Nota</b></td>
                        <td width ="3%" align="center"><b>Falta</b></td>
                        <td width ="3%" align="center" ><b>Freq.</b></td>
                        <td width ="3%" align="center" ><b>Nota</b></td>
                        <td width ="3%" align="center" ><b>Falta</b></td>
                        <td width ="3%" align="center" ><b>Freq.</b></td>
                   </tr>
                    <%@notas.each do |nota|%>
                       <%if nota.aluno_id == session[:aluno]%>
                         <tr>
                           <td width=" 20%"><%= nota.atribuicao.disciplina.disciplina %></td>
                                <%if nota.bimestre == 1 %>
                                     <td align="center"><%= nota.nota1 %> </td>
                                     <td align="center"><%= nota.faltas1%></td>
                                     <td align="center"></td>
                                <%else%>
                                     <td align="center"></td>
                                     <td align="center"></td>
                                     <td align="center"></td>
                                <%end%>
                                <%if nota.bimestre == 2%>
                                     <td align="center"><%= nota.nota2 %></td>
                                     <td align="center"><%= nota.faltas2 %></td>
                                     <td align="center"></td>
                                <%else%>
                                     <td align="center"></td>
                                     <td align="center"></td>
                                     <td align="center"></td>
                                <%end%>

                                <%if nota.bimestre == 3%>
                                     <td align="center"><%= nota.nota3 %></td>
                                     <td align="center"><%= nota.faltas3 %></td>
                                     <td align="center"></td>
                                <%else%>
                                     <td align="center"></td>
                                     <td align="center"></td>
                                     <td align="center"></td>
                                <%end%>
                                <%if nota.bimestre == 4%>
                                     <td align="center"><%= nota.nota4 %></td>
                                     <td align="center"><%= nota.faltas4 %></td>
                                     <td align="center"></td>
                                <%else%>
                                     <td align="center"></td>
                                     <td align="center"></td>
                                     <td align="center"></td>
                                <%end%>
                                <%if nota.bimestre == 5 %>
                                     <td align="center"><%= nota.nota5 %></td>
                                     <td align="center"><%= nota.faltas5 %></td>
                                     <td align="center"></td>
                                <%else%>
                                     <td align="center"></td>
                                     <td align="center"></td>
                                     <td align="center"></td>
                                <%end%>
                         </tr>
                      <%end%>
                    <%end%>
                  <tr>
                      <td colspan="23"><hr></td>
                  </tr>
                   <tr>
                      <td colspan="23"><b>Observações:</b></td>
                   </tr>
                   <%@notas.each do |nota|%>
                       <%if nota.aluno_id == session[:aluno]%>
                           <tr>
                              <td align="right"><%= nota.atribuicao.disciplina.disciplina %>&nbsp&nbsp</td>
                              <td colspan="15"><%= nota.obs1%> </td>
                          </tr>
                        <%end%>
                    <%end%>

          <%end%>
        </table>
     <%end%>
    


<table width="100%" align="center" bgcolor="#DCDCDC" >
  <tr><td> <br/><hr><br/><br/></td>
  </tr>
</table>
<%end%>
<table  width="100% "bgcolor="#DCDCDC" >
   <tr>
        <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>
        <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
             <td align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_relatorio_classe_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
          <%end%>
   </tr>

</table>



