<table  width="100% "bgcolor="#DCDCDC" >
   <tr>
      <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>
        <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
             <td align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_relatorio_classe_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
          <%end%>
   </tr>
   <tr>
     <td colspan="3"><hr><br/></td>
  </tr>
</table>
<% cont=1 %>
<% @alunos.each do |aluno| %>
<fieldset>
      <table width="100%">
        <tr>
          <td rowspan="2"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
          <td><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
              <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
              <% @classe.each do |classe| %>
                   <center><font size="1">Unidade Escolar:  <%=h classe.unidade.nome %>  </font></center>
                   <center><font size="1"><%=h classe.unidade.endereco%><%=h classe.unidade.num%> - Americana - SP  </font>
                   <font size="1"><%=h classe.unidade.CEP%> - <%=h classe.unidade.fone%>  </font></center>
              <%end%>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td colspan="22" align="right"><font size="2"><b>BOLETIM DE FREQUÊNCIA E RENDIMENTO ESCOLAR &nbsp&nbsp&nbsp&nbsp</b></font>
          </td>
        </tr>
      </table>
     <table border="1" cellspacing="0" cellpadding="1" width="100%">
        <tr>
            <td><b>Nº</b> <%= cont %> &nbsp&nbsp&nbsp<b>Nome:</b>&nbsp&nbsp <%=h aluno.aluno_nome %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <b>RA:</b>&nbsp&nbsp <%=h aluno.aluno_ra %></td>
            <% session[:aluno] = aluno.id %>
        </tr>
        <% cont= cont+1 %>
        <tr bgcolor="#F5F5F5">
        <% for classe in @classe %>

               <td ><b>Classe:</b>&nbsp&nbsp <%=h classe.classe_classe%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                               <b>Período:</b>&nbsp&nbsp <%=h classe.horario %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                               <b>Ano Letivo:</b> &nbsp&nbsp<%=h classe.classe_ano_letivo %></td>
                   <%  session[:classe]=  classe.id%>
            </tr>
        <%end%>  
            <table border="1" cellspacing="0" cellpadding="1" width="100%">
              <tr>
                <td width=" 25%" rowspan="2" align="center"><b>Disciplina</b></td>
                <td width=" 15%" colspan="3" align="center"><b>1º Bimestre</b></td>
                <td width=" 15%"colspan="3" align="center"><b>2º Bimestre</b></td>
                <td width=" 15%" colspan="3" align="center"><b>3º Bimestre</b></td>
                <td width=" 15%" colspan="3" align="center"><b>4º Bimestre</b></td>
                <td width=" 15%" colspan="3" align="center"><b>FINAL</b></td>
             </tr>
             <tr>
               <td width ="3%" align="center" ><b>Nota</b></td>
               <td width ="3%" align="center" ><b>Falta</b></td>
               <td width ="3%" align="center" ><b>Freq.</b></td>
               <td width ="3%" align="center" ><b>Nota</b></td>
               <td width ="3%" align="center" ><b>Falta</b></td>
               <td width ="3%" align="center" ><b>Freq.</b></td>
               <td width ="3%" align="center" ><b>Nota</b></td>
               <td width ="3%" align="center" ><b>Falta</b></td>
               <td width ="3%" align="center" ><b>Freq.</b></td>
               <td width ="3%" align="center" ><b>Nota</b></td>
               <td width ="3%" align="center"><b>Falta</b></td>
               <td width ="3%" align="center" ><b>Freq.</b></td>
               <td width ="3%" align="center" ><b>Nota</b></td>
               <td width ="3%" align="center" ><b>Falta</b></td>
               <td width ="3%" align="center" ><b>Freq.</b></td>
             </tr>
             <tr>
               <td bgcolor="#DCDCDC"> <b><center>CURRÍCULO BÁSICO   </center> </b></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
             </tr>

             <tr>
               <%@notasB.each do |nota|%>
                  <%if nota.aluno_id == session[:aluno]%>
                    <td width=" 20%"><%= nota.atribuicao.disciplina.disciplina %></td>
                    <%if nota.nota1.present? %>
                         <td align="center"><%= nota.nota1 %> </td>
                         <td align="center"><%= nota.faltas1%></td>
                         <td align="center"></td>
                    <%else%>
                         <td align="center"></td>
                         <td align="center"></td>
                         <td align="center"></td>
                    <%end%>
                    <%if nota.nota2.present?%>
                         <td align="center"><%= nota.nota2 %></td>
                         <td align="center"><%= nota.faltas2 %></td>
                         <td align="center"></td>
                    <%else%>
                         <td align="center"></td>
                         <td align="center"></td>
                         <td align="center"></td>
                    <%end%>

                    <%if nota.nota3.present?%>
                         <td align="center"><%= nota.nota3 %></td>
                         <td align="center"><%= nota.faltas3 %></td>
                         <td align="center"></td>
                    <%else%>
                         <td align="center"></td>
                         <td align="center"></td>
                         <td align="center"></td>
                    <%end%>
                    <%if nota.nota4.present?%>
                         <td align="center"><%= nota.nota4 %></td>
                         <td align="center"><%= nota.faltas4 %></td>
                         <td align="center"></td>
                    <%else%>
                         <td align="center"></td>
                         <td align="center"></td>
                         <td align="center"></td>
                    <%end%>
                    <%if nota.nota5.present? %>
                         <td align="center"><%= nota.nota5 %></td>
                         <td align="center"><%= nota.faltas5 %></td>
                         <td align="center"></td>
                    <%else%>
                         <td align="center"></td>
                         <td align="center"></td>
                         <td align="center"></td>
                    <%end%>
             </tr>
              <%end%>
          <%end%>
             <tr>
               <td bgcolor="#DCDCDC"> <b><center>CURRÍCULO DIVERSIFICADO   </center> </b></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
             </tr>
             <tr>
               <%@notasD.each do |nota|%>
                  <%if nota.aluno_id == session[:aluno]%>
                    <td width=" 20%"><%= nota.atribuicao.disciplina.disciplina %></td>
                    <%if nota.nota1.present? %>
                         <td align="center"><%= nota.nota1 %> </td>
                         <td align="center"><%= nota.faltas1%></td>
                         <td align="center"></td>
                    <%else%>
                         <td align="center"></td>
                         <td align="center"></td>
                         <td align="center"></td>
                    <%end%>
                    <%if nota.nota2.present?%>
                         <td align="center"><%= nota.nota2 %></td>
                         <td align="center"><%= nota.faltas2 %></td>
                         <td align="center"></td>
                    <%else%>
                         <td align="center"></td>
                         <td align="center"></td>
                         <td align="center"></td>
                    <%end%>

                    <%if nota.nota3.present?%>
                         <td align="center"><%= nota.nota3 %></td>
                         <td align="center"><%= nota.faltas3 %></td>
                         <td align="center"></td>
                    <%else%>
                         <td align="center"></td>
                         <td align="center"></td>
                         <td align="center"></td>
                    <%end%>
                    <%if nota.nota4.present?%>
                         <td align="center"><%= nota.nota4 %></td>
                         <td align="center"><%= nota.faltas4 %></td>
                         <td align="center"></td>
                    <%else%>
                         <td align="center"></td>
                         <td align="center"></td>
                         <td align="center"></td>
                    <%end%>
                    <%if nota.nota5.present? %>
                         <td align="center"><%= nota.nota5 %></td>
                         <td align="center"><%= nota.faltas5 %></td>
                         <td align="center"></td>
                    <%else%>
                         <td align="center"></td>
                         <td align="center"></td>
                         <td align="center"></td>
                    <%end%>
             </tr>
              <%end%>
          <%end%>


             <tr>
               <td colspan="23"><hr></td>
             </tr>
             <tr>
               <td colspan="23"><b>Observações:</b></td>
             </tr>
              <%@notas.each do |nota|%>
               <% if nota.observacao_notas.present? %>
               <tr>
                 <td align="right" valign="top"><%= nota.disciplina.disciplina %>&nbsp&nbsp</td>
                  <td colspan="15">  <% c=0 %>

                                           <% @obs= ObservacaoNota.find(:all, :conditions =>["nota_id=?",nota])%>
                                               <% @obs.each do |obs|%>
                                                     <b><%= c=c+1%>.</b><%=obs.observacao %>  -
                                                         <b>Data: </b> <%  if !obs.data.nil?  %>
                                                              <%=  obs.data.strftime("%d/%m/%Y")%><br/>
                                                   <%end%>
                                               <%end%>
                    </td>
               </tr>
            <%end%>
           <%end%>
          </table>
      </table>
</fieldset>
<table  width="100% "bgcolor="#DCDCDC" >
  <tr>
    <td><br/>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br/><br/></td>
  </tr>
</table>
<br/>
  <%end%>


<table  width="100% "bgcolor="#DCDCDC" >
   <tr>
      <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>
        <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
             <td align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_relatorio_classe_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
          <%end%>
   </tr>

</table>

   