<table  width="100% " bgcolor="#DCDCDC" >
   <tr>
      <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>
        <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
      <td align="left" ><font size ="3"><b><u>OBSERVAÇÕES:</u> Fotos, Observações feitas pelo professor e as observações que estão em vermelho NÃO aparecem na impressão do boletim.</b></font></td>
             <td><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_relatorio_classe_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
          <%end%>
   </tr>
   <tr>
     <td colspan="3"><hr><br/></td>
  </tr>
</table>
<% cont=1 %>
<% @matriculas.each do |matricula| %>
    <table width="100%">
        <tr>
          <td rowspan="2"><br/><center> <%= image_tag matricula.aluno.photo.url(:original) %>   </center></td>
          <td><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
              <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
              <% @classe.each do |classe| %>
                   <center><font size="1">Unidade Escolar:  <%=h classe.unidade.nome %>  </font></center>
                   <center><font size="1"><%=h classe.unidade.endereco%><%=h classe.unidade.num%> - Americana - SP  </font>
                   <font size="1"><%=h classe.unidade.CEP%> - <%=h classe.unidade.fone%>  </font></center>
              <%end%>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td colspan="22" align="right"><font size="2"><b>BOLETIM DE FREQUÊNCIA E RENDIMENTO ESCOLAR &nbsp&nbsp&nbsp&nbsp</b></font>
          </td>
        </tr>
      </table>
     <table border="1" cellspacing="0" cellpadding="1" width="100%">
        <tr>
            <td><b>Nº</b> <%= matricula.classe_num %> &nbsp&nbsp&nbsp<b>Nome:</b>&nbsp&nbsp <%=h matricula.aluno.aluno_nome %> &nbsp&nbsp
                        <%  if matricula.status =="TRANSFERIDO"%>
                              <font color ="red"> (Transferido) </font>
                         <%else if matricula.status =="REMANEJADO"%>
                             <font color ="red"> (Remanejado) </font>
                               <%else if  matricula.status =="ABANDONO"%>
                                      <font color ="red"> (Abandono)</font>
                                     <%else if  matricula.status =="TRANSFERENCIA"%>
                                             <font color ="blue"> (Transferência)</font>
                                            <%else  if  matricula.status =="*REMANEJADO"%>
                                                   <font color ="blue"> (*Remanejado)</font>
                                                 <%end%>
                                           <%end%>
                                    <%end%>
                              <%end%>
                         <%end%>



              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <b>RA:</b>&nbsp&nbsp <%=h matricula.aluno.aluno_ra %></td>
            <% session[:aluno] = matricula.aluno.id %>
        </tr>

        <tr bgcolor="#F5F5F5">
        <% for classe in @classe %>

               <td ><b>Classe:</b>&nbsp&nbsp <%=h classe.classe_classe%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                               <b>Período:</b>&nbsp&nbsp <%=h classe.horario %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                               <b>Ano Letivo:</b> &nbsp&nbsp<%=h classe.classe_ano_letivo %></td>
                   <%  session[:classe]=  classe.id%>
            </tr>
        <%end%>
            <table border="1" cellspacing="0" cellpadding="1" width="100%">
              <tr>
                <td width=" 20%" rowspan="2" align="center"><b>Disciplina</b></td>
                <td width=" 15%" colspan="3" align="center"><b>1º Bimestre</b></td>
                <td width=" 15%"colspan="3" align="center"><b>2º Bimestre</b></td>
                <td width=" 15%" colspan="3" align="center"><b>3º Bimestre</b></td>
                <td width=" 15%" colspan="3" align="center"><b>4º Bimestre</b></td>
                <td width=" 15%" colspan="3" align="center"><b>FINAL</b></td>
             </tr>
             <tr>
               <td width ="3%" align="center" ><b>Nota</b></td>
               <td width ="3%" align="center" ><b>Falta</b></td>
               <td width ="3%" align="center" ><b>Freq.</b></td>
               <td width ="3%" align="center" ><b>Nota</b></td>
               <td width ="3%" align="center" ><b>Falta</b></td>
               <td width ="3%" align="center" ><b>Freq.</b></td>
               <td width ="3%" align="center" ><b>Nota</b></td>
               <td width ="3%" align="center" ><b>Falta</b></td>
               <td width ="3%" align="center" ><b>Freq.</b></td>
               <td width ="3%" align="center" ><b>Nota</b></td>
               <td width ="3%" align="center"><b>Falta</b></td>
               <td width ="3%" align="center" ><b>Freq.</b></td>
               <td width ="3%" align="center" ><b>Nota</b></td>
               <td width ="3%" align="center" ><b>Falta</b></td>
               <td width ="3%" align="center" ><b>Freq.</b></td>
             </tr>
             <tr>
               <td bgcolor="#DCDCDC"> <b><center>CURRÍCULO BÁSICO   </center> </b></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><% obs=0 %>
             </tr>
             <tr>
               <%@notasB.each do |nota|%>
                  <%if nota.aluno_id == session[:aluno]%>
                    <td><%= nota.atribuicao.disciplina.disciplina %></td>
                      <%if nota.nota1.present? or nota.faltas1 != 0%>
                           <td align="center"><%= nota.nota1 %></td>
                           <td align="center"><%= nota.faltas1 %></td>
                           <td align="center">
                                <%if nota.aulas1 !=0 %>
                                  <%if nota.faltas1 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia1 =  (100-(nota.faltas1.to_f / nota.aulas1.to_f)*100).to_i %>
                                      <%if frequencia1 < 75 %>
                                           <font color ="red"> <%= frequencia1%> % </font>
                                      <%else%>
                                           <%= frequencia1%> %
                                      <%end%>
                                   <%end%>
                                <%else%>
                                   <font color ="red"> ERRO* </font><% obs=1 %>
                                 <%end%>

                           </td>
                      <%else%>
                           <td align="center">--</td>
                           <td align="center">--</td>
                           <td align="center">--</td>
                      <%end%>
                      <%if nota.nota2.present? or nota.faltas2 != 0%>
                           <td align="center"><%= nota.nota2 %></td>
                           <td align="center"><%= nota.faltas2 %></td>
                          <td align="center">
                              <%if nota.aulas2 !=0 %>
                                  <%if nota.faltas2 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia2 =  (100-(nota.faltas2.to_f / nota.aulas2.to_f)*100).to_i %>
                                      <%if frequencia2 < 75 %>
                                           <font color ="red"> <%= frequencia2%> % </font>
                                      <%else%>
                                           <%= frequencia2%> %
                                      <%end%>
                                   <%end%>
                                <%else%>
                                   <font color ="red"> ERRO* </font><% obs=1 %>
                                <%end%>

                           </td>
                      <%else%>
                           <td align="center">--</td>
                           <td align="center">--</td>
                           <td align="center">--</td>
                      <%end%>
                      <%if nota.nota3.present?  or nota.faltas3 != 0%>
                           <td align="center"><%= nota.nota3 %></td>
                           <td align="center"><%= nota.faltas3 %></td>
                           <td align="center">
                               <%if nota.aulas3 !=0 %>
                                  <%if nota.faltas3 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia3 =  (100-(nota.faltas3.to_f / nota.aulas3.to_f)*100).to_i %>
                                      <%if frequencia3 < 75 %>
                                           <font color ="red"> <%= frequencia3%> % </font>
                                      <%else%>
                                           <%= frequencia3%> %
                                      <%end%>
                                   <%end%>

                                <%else%>
                                   <font color ="red"> ERRO* </font><% obs=1 %>
                             <%end%>
                           </td>
                      <%else%>
                           <td align="center">--</td>
                           <td align="center">--</td>
                           <td align="center">--</td>
                      <%end%>
                      <%if nota.nota4.present?  or nota.faltas4 != 0%>
                           <td align="center"><%= nota.nota4 %></td>
                           <td align="center"><%= nota.faltas4 %></td>
                           <td align="center">
                                <%if nota.aulas4 !=0 %>
                                  <%if nota.faltas4 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia4 =  (100-(nota.faltas4.to_f / nota.aulas4.to_f)*100).to_i %>
                                      <%if frequencia4 < 75 %>
                                           <font color ="red"> <%= frequencia5%> % </font>
                                      <%else%>
                                           <%= frequencia4%> %
                                      <%end%>
                                   <%end%>
                                <%else%>
                                   <font color ="red"> ERRO* </font><% obs=1 %>
                                 <%end%>

                           </td>

                      <%else%>
                           <td align="center">--</td>
                           <td align="center">--</td>
                           <td align="center">--</td>
                      <%end%>
                          <%if nota.nota5.present? %>
                              <td align="center"><%= nota.nota5 %> </td>
                          <%else%>
                               <td align="center">--</td>
                          <%end%>
                            <td align="center"><%= nota.faltas5 %></td>
                            <td align="center">
                                <%if nota.aulas5 !=0 %>
                                  <%if (nota.faltas5 == 0) or (nota.faltas5 == 0)%>
                                      100 %
                                  <%else%>
                                      <% frequencia5 =  (100-(nota.faltas5.to_f / nota.aulas5.to_f)*100).to_i %>
                                      <%if frequencia5 < 75 %>
                                           <font color ="red"> <%= frequencia5%> % </font>
                                      <%else%>
                                           <%= frequencia5%> %
                                      <%end%>
                                   <%end%>

                              <%end%>
                           </td>

             </tr>
              <%end%>
          <%end%>
     <% if obs==1 %>
        <tr>
            <td colspan="20">
              <center><font color ="red"><b>  *PROFESSORES QUE NÃO LANÇARAM AS AULAS DADAS NO BIMESTRE, O SISTEMA NÂO CALCULA A FREQUÊNCIA,  <br/>
                    PARA QUE O BOLETIM FIQUE CORRETO, FAVOR SOLICITAR QUE O PROFESSOR LANCE A QUANTIDADE DE AULAS DADAS E AS FALTAS.</b> </center>
            </td>
          </tr>
   <%end%>
             <tr>
               <td bgcolor="#DCDCDC"> <b><center>CURRÍCULO DIVERSIFICADO   </center> </b></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
               <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
             </tr>
             <tr>
               <%@notasD.each do |nota|%>
                  <%if nota.aluno_id == session[:aluno]%>
                    <td><%= nota.atribuicao.disciplina.disciplina %></td>
                      <%if nota.nota1.present?  or nota.faltas1 != 0%>
                           <td align="center"><%= nota.nota1 %></td>
                           <td align="center"><%= nota.faltas1 %></td>
                           <td align="center">
                                <%if nota.aulas1 !=0 %>
                                  <%if nota.faltas1 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia1 =  (100-(nota.faltas1.to_f / nota.aulas1.to_f)*100).to_i %>
                                      <%if frequencia1 < 75 %>
                                           <font color ="red"> <%= frequencia1%> % </font>
                                      <%else%>
                                           <%= frequencia1%> %
                                      <%end%>
                                   <%end%>
                                <%else%>
                                   <font color ="red"> ERRO* </font>
                                <%end%>
                              
                           </td>
                        <%else%>
                           <td align="center">--</td>
                           <td align="center">--</td>
                           <td align="center">--</td>
                      <%end%>
                      <%if nota.nota2.present? or nota.faltas2 != 0%>
                           <td align="center"><%= nota.nota2 %></td>
                           <td align="center"><%= nota.faltas2 %></td>
                           <td align="center">
                                <%if nota.aulas2 !=0 %>
                                  <%if nota.faltas2 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia2 =  (100-(nota.faltas2.to_f / nota.aulas2.to_f)*100).to_i %>
                                      <%if frequencia2 < 75 %>
                                           <font color ="red"> <%= frequencia2%> % </font>
                                      <%else%>
                                           <%= frequencia2%> %
                                      <%end%>
                                   <%end%>
                                <%else%>
                                   <font color ="red"> ERRO* </font>
                                <%end%>

                           </td>
                      <%else%>
                           <td align="center">--</td>
                           <td align="center">--</td>
                           <td align="center">--</td>
                      <%end%>
                      <%if nota.nota3.present?  or nota.faltas3 != 0%>

                           <td align="center"><%= nota.nota3 %></td>
                           <td align="center"><%= nota.faltas3 %></td>
                           <td align="center">
                                <%if nota.aulas3 !=0 %>
                                  <%if nota.faltas3 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia3 =  (100-(nota.faltas3.to_f / nota.aulas3.to_f)*100).to_i %>
                                      <%if frequencia3 < 75 %>
                                           <font color ="red"> <%= frequencia3%> % </font>
                                      <%else%>
                                           <%= frequencia3%> %
                                      <%end%>
                                   <%end%>
                                <%else%>
                                   <font color ="red"> ERRO* </font>
                                <%end%>

                           </td>
                      <%else%>
                           <td align="center">--</td>
                           <td align="center">--</td>
                           <td align="center">--</td>
                      <%end%>
                      <%if nota.nota4.present?  or nota.faltas4 != 0%>
                           <td align="center"><%= nota.nota4 %></td>
                           <td align="center"><%= nota.faltas4 %></td>
                           <td align="center">
                                <%if nota.aulas4 !=0 %>
                                  <%if nota.faltas4 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia4 =  (100-(nota.faltas4.to_f / nota.aulas4.to_f)*100).to_i %>
                                      <%if frequencia4 < 75 %>
                                           <font color ="red"> <%= frequencia4%> % </font>
                                      <%else%>
                                           <%= frequencia4%> %
                                      <%end%>
                                   <%end%>
                                <%else%>
                                   <font color ="red"> ERRO* </font>
                                <%end%>

                           </td>
                      <%else%>
                           <td align="center">--</td>
                           <td align="center">--</td>
                           <td align="center">--</td>
                      <%end%>
                          <%if nota.nota5.present? %>
                              <td align="center"><%= nota.nota5 %> </td>
                          <%else%>
                               <td align="center">--</td>
                          <%end%>
                            <td align="center"><%= nota.faltas5 %></td>
                           <td align="center">
                                <%if nota.aulas5 !=0 %>
                                  <%if nota.faltas5 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia5 =  (100-(nota.faltas5.to_f / nota.aulas5.to_f)*100).to_i %>
                                      <%if frequencia5 < 75 %>
                                           <font color ="red"> <%= frequencia5%> % </font>
                                      <%else%>
                                           <%= frequencia5%> %
                                      <%end%>
                                   <%end%>

                              <%end%>
                           </td>
             </tr>
              <%end%>
          <%end%>
             <tr>
               <td colspan="23"><hr></td>
             </tr>
             <tr>
               <td colspan="23"><b>Observações:</b></td>
             </tr>
              <%@notas.each do |nota|%>
              <%if nota.aluno_id == session[:aluno]%>
               <% if nota.observacao_notas.present? %>
               <tr>
                 <td align="right" valign="top"><%= nota.disciplina.disciplina %>&nbsp&nbsp</td>
                  <td colspan="15">  <% c=0 %>

                                           <% @obs= ObservacaoNota.find(:all, :conditions =>["nota_id=? and ano_letivo=?",nota, Time.now.year])%>
                                               <% @obs.each do |obs|%>
                                                     <b><%= c=c+1%>.</b><%=obs.observacao %>  -
                                                         <b>Data: </b> <%  if !obs.data.nil?  %>
                                                              <%=  obs.data.strftime("%d/%m/%Y")%><br/>
                                                   <%end%>
                                               <%end%>
                    </td>
               </tr>
             <%end%>
            <%end%>
           <%end%>

         </table>
      </table>

<table  width="100% "bgcolor="#DCDCDC" >
  <tr>
    <td><br/><br/><hr><br/><br/></td>
  </tr>
</table>
<br/>
  <%end%>


<table  width="100% "bgcolor="#DCDCDC" >
   <tr>
      <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>
        <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
             <td align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_relatorio_classe_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
          <%end%>
   </tr>

</table>

   