<table  width="100% " bgcolor="#DCDCDC" >
    <tr>
        <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>
        <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo')or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
            <td align="left" ><font size ="3"><b><u>OBSERVAÇÕES:</u> Fotos, Observações feitas pelo Professor e as Observações que estão em vermelho NÃO aparecem na impressão do boletim.</b></font></td>
            <td><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_relatorio_classe_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
        <%end%>
    </tr>
    <tr>
        <td colspan="3"><hr><br/></td>
    </tr>

</table>
<% cont=1 %>

     <% session[:Nmedia1]=0 %>
     <% session[:Nmedia2]=0 %>
     <% session[:Nmedia3]=0 %>
     <% session[:Nmedia4]=0 %>
     <% session[:NmediaF]=0 %>
     <% session[:Fmedia1]=0 %>
     <% session[:Fmedia2]=0 %>
     <% session[:Fmedia3]=0 %>
     <% session[:Fmedia4]=0 %>
     <% session[:FmediaF]=0 %>
<% @matriculas.each do |matricula| %>
    <% session[:matricula_id]=matricula.id %>
    <%if  current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('admin')%>
       <% @notasB = Nota.find(:all, :joins => "INNER JOIN atribuicaos ON atribuicaos.id = notas.atribuicao_id INNER JOIN disciplinas ON disciplinas.id = atribuicaos.disciplina_id", :conditions => ["atribuicaos.classe_id =?   AND disciplinas.curriculo = 'B' AND notas.ano_letivo =? AND matricula_id=?",  session[:classe_id], session[:ano_nota], session[:matricula_id]],:order =>'disciplinas.ordem ASC ')%>
       <% @notasD = Nota.find(:all, :joins => "INNER JOIN atribuicaos ON atribuicaos.id = notas.atribuicao_id INNER JOIN disciplinas ON disciplinas.id = atribuicaos.disciplina_id", :conditions => ["atribuicaos.classe_id =?   AND disciplinas.curriculo = 'D' AND notas.ano_letivo =? AND matricula_id=?",  session[:classe_id], session[:ano_nota], session[:matricula_id]],:order =>'disciplinas.ordem ASC ')%>

    <%else%>
       <% @notasB = Nota.find(:all, :joins => "INNER JOIN atribuicaos ON atribuicaos.id = notas.atribuicao_id INNER JOIN disciplinas ON disciplinas.id = atribuicaos.disciplina_id", :conditions => ["atribuicaos.classe_id =?   AND disciplinas.curriculo = 'B' and unidade_id =? AND notas.ano_letivo =? AND matricula_id=?",  session[:classe_id], current_user.unidade_id, session[:ano_nota], session[:matricula_id]],:order =>'disciplinas.ordem ASC ')%>
       <% @notasD = Nota.find(:all, :joins => "INNER JOIN atribuicaos ON atribuicaos.id = notas.atribuicao_id INNER JOIN disciplinas ON disciplinas.id = atribuicaos.disciplina_id", :conditions => ["atribuicaos.classe_id =?   AND disciplinas.curriculo = 'D' and unidade_id =? AND notas.ano_letivo =? AND matricula_id=?",  session[:classe_id], current_user.unidade_id, session[:ano_nota], session[:matricula_id]],:order =>'disciplinas.ordem ASC ')%>
   <%end%>



    <%  @notas = @notasB+@notasD %>
    <table width="100%">
        <tr>
            <td rowspan="2"><br/>
                <% if !matricula.aluno.photo_file_name.nil? %>
                    <center> <%= image_tag matricula.aluno.photo.url(:original) %> </center>
                <%end%>
            </td>
            <td><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
                <% @classe.each do |classe| %>
                    <center><font size="1">Unidade Escolar:  <%=h classe.unidade.nome %>  </font></center>
                    <center><font size="1"><%=h classe.unidade.endereco%>, <%=h classe.unidade.num%> - Americana - SP  </font>
                        <font size="1"><%=h classe.unidade.CEP%> - <%=h classe.unidade.fone%>  </font></center>
                <%end%>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td colspan="22" align="right"><font size="2"><b>BOLETIM DE FREQUÊNCIA E RENDIMENTO ESCOLAR&nbsp&nbsp&nbsp&nbsp</b></font>
            </td>
        </tr>
    </table>
    <table border="1" cellspacing="0" cellpadding="1" width="100%">
        <tr>
            <td><b>Nº</b> <%= matricula.classe_num %> &nbsp&nbsp&nbsp<b>Nome:</b>&nbsp&nbsp <%=h matricula.aluno.aluno_nome %> &nbsp&nbsp(<%=h matricula.aluno.id %>)
                <%session[:aluno_id] = matricula.aluno_id%>
                <%  if matricula.status =="TRANSFERIDO"%>
                    <font color ="red"> (Transferido) </font>
                <%else if matricula.status =="REMANEJADO"%>
                        <font color ="red"> (Remanejado) </font>
                    <%else if  matricula.status =="ABANDONO"%>
                            <font color ="red"> (Abandono)</font>
                        <%else if  matricula.status =="TRANSFERENCIA"%>
                                <font color ="blue"> (Transferência)</font>
                            <%else  if  matricula.status =="*REMANEJADO"%>
                                    <font color ="blue"> (*Remanejado)</font>
                                <%end%>
                            <%end%>
                        <%end%>
                    <%end%>
                <%end%>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <b>RA:</b>&nbsp&nbsp <%=h matricula.aluno.aluno_ra %></td>
            <% session[:aluno] = matricula.aluno.id %>
        </tr>

        <tr bgcolor="#F5F5F5">
            <% for classe in @classe %>
                <td ><b>Classe:</b>&nbsp&nbsp <%=h classe.classe_classe%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <b>Período:</b>&nbsp&nbsp <%=h classe.horario %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <b>Ano Letivo:</b> &nbsp&nbsp<%=h classe.classe_ano_letivo %></td>
                <%  session[:classe]=  classe.id%>
            </tr>
            <%end%>
        <table border="1" cellspacing="0" cellpadding="1" width="100%">
            <tr cellspacing="2" cellpadding="2" >
                <td width=" 20" rowspan="2" align="center"><b>Disciplina</b></td>
                <td width=" 15%" colspan="4" align="center"><b>1º Bimestre</b></td>
                <td width=" 15%"colspan="4" align="center" bgcolor="#E7E7E7"><b>2º Bimestre</b></td>
                <td width=" 15%" colspan="4" align="center"><b>3º Bimestre</b></td>
                <td width=" 15%" colspan="4" align="center" bgcolor="#E7E7E7"><b>4º Bimestre</b></td>
                <td width=" 15%" colspan="4" align="center"><b>FINAL</b></td>
            </tr>
            <tr>
                <td width = px align="center" ><font size="1"><b>Nota</b></font></td>
                <td width ="5%" align="center" ><font size="1"><b>Faltas*</b></font></td>
                <td width ="5%" align="center"><font size="1"><b>Freq.</b></font></td>
                <td width ="5%" align="center"><font size="1"><b>Comp.*</b></font></td>
                <td width ="5%" align="center" bgcolor="#E7E7E7"><font size="1" ><b>Nota</b></font></td>
                <td width ="5%" align="center" bgcolor="#E7E7E7"><font size="1"><b>Faltas*</b></font></td>
                <td width ="5%" align="center" bgcolor="#E7E7E7"><font size="1"><b>Freq.</b></font></td>
                <td width ="5%" align="center" bgcolor="#E7E7E7"><font size="1"><b>Comp.*</b></font></td>
                <td width ="5%" align="center" ><font size="1"><b>Nota</b></font></td>
                <td width ="5%" align="center" ><font size="1"><b>Faltas*</font></b></td>
                <td width ="5%" align="center"><font size="1"><b>Freq.</b></font></td>
                <td width ="5%" align="center"><font size="1"><b>Comp.*</b></font></td>
                <td width ="5%" align="center" bgcolor="#E7E7E7"><font size="1"><b>Nota</b></font></td>
                <td width ="5%" align="center" bgcolor="#E7E7E7"><font size="1"><b>Faltas*</b></font></td>
                <td width ="5%" align="center" bgcolor="#E7E7E7"><font size="1"><b>Freq.</b></font></td>
                <td width ="5%" align="center" bgcolor="#E7E7E7"><font size="1"><b>Comp.*</b></font></td>
                <td width ="5%" align="center" ><font size="1"><b>Nota</b></font></td>
                <td width ="5%" align="center" ><font size="1"><b>Faltas*</b></font></td>
                <td width ="6%" align="center"><font size="1"><b>Freq.</b></font></td>
                <td width ="5%" align="center"><font size="1"><b>Comp.*</b></font></td>
            </tr>
            <tr>
                <td bgcolor="#DCDCDC"> <b><center>CURRÍCULO BÁSICO </center> </b></td>
                <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                  <% session[:obs] = 0 %>

            </tr>
            <tr>
                <% session[:Nmedia1]=0 %>
                <% session[:Nmedia2]=0 %>
                <% session[:Nmedia3]=0 %>
                <% session[:Nmedia4]=0 %>
                <% session[:NmediaF]=0 %>
                <% session[:Fmedia1]=0 %>
                <% session[:Fmedia2]=0 %>
                <% session[:Fmedia3]=0 %>
                <% session[:Fmedia4]=0 %>
                <% session[:FmediaF]=0 %>

                <%@notasB.each do |nota|%>
                    <%compensacao=0%>
                    <%if nota.aluno_id == session[:aluno]%>
                        <td><%= nota.atribuicao.disciplina.disciplina %></td>
                        <%if nota.nota1.present? or nota.faltas1 != 0%>
                            <td align="center"> <%if nota.nota1.to_i < 5.0 %>
                                    <font color ="red"> <%= nota.nota1 %> </font> <% session[:Nmedia1]=  session[:Nmedia1] + nota.nota1.to_i %>
                                <%else%>
                                    <%= nota.nota1 %><% session[:Nmedia1]=  session[:Nmedia1] + nota.nota1.to_i %>
                                <%end%>
                            </td>
                            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                                <td align="center"></td>
                                <td align="center"></td>
                                <td align="center"></td>
                            <%else%>
                                <td align="center"><%= nota.faltas1 %><% session[:Fmedia1]=  session[:Fmedia1] + nota.faltas1.to_i %></td>
                                <td align="center">
                                    <%if nota.aulas1 !=0 %>
                                        <%if nota.faltas1 == 0 %>
                                           <font size="1">  100 % </font>
                                        <%else%>
                                            <% frequencia1 =  (100-(nota.faltas1.to_f / nota.aulas1.to_f)*100).to_i %>
                                            <%if frequencia1 < 75 %>
                                                <font color ="red"size="1">  <%= frequencia1%> % </font>
                                            <%else%>
                                                <font size="1"> <%= frequencia1%> % </font>
                                            <%end%>
                                        <%end%>
                                    <%else%>
                                        <font color ="red" size="1">  ERRO* </font><% session[:obs]=1 %>
                                    <%end%>
                                </td>
                                 <%if nota.comp1 == 0 %>
                                         <td align="center"> 0</td>
                                <%else%>
                                     <td align="center"><%compensacao = compensacao+ nota.comp1 %><%= nota.comp1 %></td>
                                <%end%>
                            <%end%>
                        <%else%>
                            <td align="center">---</td>
                            <td align="center">---</td>
                            <td align="center">---</td>
                            <td align="center">---</td>
                        <%end%>
                        <%if nota.nota2.present? or nota.faltas2 != 0%>
                            <td align="center" bgcolor="#E7E7E7"> <%if nota.nota2.to_i < 5.0 %>
                                    <font color ="red"> <%= nota.nota2 %> </font><% session[:Nmedia2]=  session[:Nmedia2] + nota.nota2.to_i %>
                                <%else%>
                                    <%= nota.nota2 %><% session[:Nmedia2]=  session[:Nmedia2] + nota.nota2.to_i %>
                                <%end%>
                            </td>
                            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                                <td align="center" bgcolor="#E7E7E7"></td>
                                <td align="center" bgcolor="#E7E7E7"></td>
                                <td align="center" bgcolor="#E7E7E7"></td>
                            <%else%>
                                <td align="center" bgcolor="#E7E7E7"><%= nota.faltas2 %><% session[:Fmedia2]=  session[:Fmedia2] + nota.faltas2.to_i %></td>
                                <td align="center" bgcolor="#E7E7E7">
                                    <%if nota.aulas2 !=0 %>
                                        <%if nota.faltas2 == 0 %>
                                            <font size="1"> 100 % </font>
                                        <%else%>
                                            <% frequencia2 =  (100-(nota.faltas2.to_f / nota.aulas2.to_f)*100).to_i %>
                                            <%if frequencia2< 75 %>
                                                <font color ="red" size="1">  <%= frequencia2%> % </font>
                                            <%else%>
                                                <font size="1"> <%= frequencia2%> % </font>

                                            <%end%>
                                        <%end%>
                                    <%else%>
                                        <font color ="red"size="1"> ERRO* </font><% session[:obs]=1 %>
                                    <%end%>
                                </td>
                                 <%if nota.comp2 == 0 %>
                                         <td align="center" bgcolor="#E7E7E7"> 0</td>
                                <%else%>
                                     <td align="center" bgcolor="#E7E7E7"><%compensacao = compensacao+ nota.comp2 %><%= nota.comp2 %></td>
                                <%end%>

                            <%end%>
                        <%else%>
                            <td align="center" bgcolor="#E7E7E7">---</td>
                            <td align="center" bgcolor="#E7E7E7">---</td>
                            <td align="center" bgcolor="#E7E7E7">---</td>
                            <td align="center" bgcolor="#E7E7E7"    >---</td>

                        <%end%>
                        <%if nota.nota3.present? or nota.faltas3 != 0%>
                            <td align="center"> <%if nota.nota3.to_i < 5.0 %>
                                    <font color ="red"> <%= nota.nota3 %> </font><% session[:Nmedia3]=  session[:Nmedia3] + nota.nota3.to_i %>
                                <%else%>
                                    <%= nota.nota3 %><% session[:Nmedia3]=  session[:Nmedia3] + nota.nota3.to_i %>
                                <%end%>
                            </td>
                            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                                <td align="center"></td>
                                <td align="center"></td>
                                <td align="center"></td>
                            <%else%>
                                <td align="center"><%= nota.faltas3 %><% session[:Fmedia3]=  session[:Fmedia3] + nota.faltas3.to_i %></td>
                                <td align="center">
                                    <%if nota.aulas3 !=0 %>
                                        <%if nota.faltas3 == 0 %>
                                            <font size="1">  100 % </font>
                                        <%else%>
                                            <% frequencia3 =  (100-(nota.faltas3.to_f / nota.aulas3.to_f)*100).to_i %>
                                            <%if frequencia3 < 75 %>
                                                <font color ="red" size="1">  <%= frequencia3%> % </font>
                                            <%else%>
                                                <font size="1">  <%= frequencia3%> % </font>

                                            <%end%>
                                        <%end%>
                                    <%else%>
                                        <font color ="red"size="1">  ERRO* </font><% session[:obs]=1 %>
                                    <%end%>
                                </td>
                                 <%if nota.comp3 == 0 %>
                                         <td align="center"> 0</td>
                                <%else%>
                                     <td align="center"><%compensacao = compensacao+ nota.comp3 %><%= nota.comp3 %></td>
                                <%end%>

                            <%end%>
                        <%else%>
                            <td align="center">---</td>
                            <td align="center">---</td>
                            <td align="center">---</td>
                             <td align="center">---</td>

                        <%end%>
                        <%if nota.nota4.present? or nota.faltas4 != 0%>
                            <td align="center" bgcolor="#E7E7E7"> <%if nota.nota4.to_i < 5.0 %>
                                    <font color ="red"> <%= nota.nota4 %> </font><% session[:Nmedia4]=  session[:Nmedia4] + nota.nota4.to_i %>
                                <%else%>
                                    <%= nota.nota4 %><% session[:Nmedia4]=  session[:Nmedia4] + nota.nota4.to_i %>
                                <%end%>
                            </td>
                            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                                <td align="center" bgcolor="#E7E7E7"></td>
                                <td align="center" bgcolor="#E7E7E7"></td>
                                <td align="center" bgcolor="#E7E7E7"></td>
                            <%else%>
                                <td align="center" bgcolor="#E7E7E7"><%= nota.faltas4 %><% session[:Fmedia4]=  session[:Fmedia4] + nota.faltas4.to_i %></td>
                                <td align="center" bgcolor="#E7E7E7">
                                    <%if nota.aulas4 !=0 %>
                                        <%if nota.faltas4 == 0 %>
                                            <font size="1">  100 % </font>
                                        <%else%>
                                            <% if nota.aulas4.to_f > 0 %>
                                                <% frequencia4 =  (100-(nota.faltas4.to_f / nota.aulas4.to_f)*100).to_i %>
                                                <%if frequencia4 < 75 %>
                                                    <font color ="red"  size="1"> <%= frequencia4%> % </font>
                                                <%else%>
                                                    <font size="1"> <%= frequencia4%> % </font>
                                                <%end%>
                                            <%end%>
                                        <%end%>
                                    <%else%>
                                        <font color ="red" size="1">  ERRO* </font><% session[:obs]=1 %>
                                    <%end%>
                                </td>
                                <%if nota.comp4 == 0 %>
                                    <td align="center" bgcolor="#E7E7E7"> 0</td>
                                <%else%>
                                     <td align="center" bgcolor="#E7E7E7"><%compensacao = compensacao+ nota.comp4 %><%= nota.comp4 %></td>
                                <%end%>

                            <%end%>
                        <%else%>
                            <td align="center" bgcolor="#E7E7E7">---</td>
                            <td align="center" bgcolor="#E7E7E7">---</td>
                            <td align="center" bgcolor="#E7E7E7">---</td>
                            <td align="center" bgcolor="#E7E7E7">---</td>

                        <%end%>
                        <%if nota.nota5.present? %>
                            <td align="center">  <%if nota.nota5.to_i < 5.0 %>
                                    <%if nota.nota5.nil? or nota.nota5 == ''%>
                                        ---
                                    <%else%>
                                        <font color ="red"> <%= nota.nota5 %> </font><% session[:NmediaF]=  session[:NmediaF] + nota.nota5.to_i %>
                                    <%end%>
                                <%else%>
                                    <%if nota.nota5.nil? or nota.nota5 == ''%>
                                        ---
                                    <%else%>
                                        <%= nota.nota5 %><% session[:NmediaF]=  session[:NmediaF] + nota.nota5.to_i %>
                                    <%end%>
                                <%end%>
                            </td>
                        <%else%>
                            <td align="center">---</td>
                        <%end%>
                        <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="center"></td>
                        <%else%>
                            <% nota.faltas5  =(nota.faltas1) + (nota.faltas2) + (nota.faltas3) + (nota.faltas4) %>
                            <%if nota.aulas5 != 0%>
                                <td align="center"><%= nota.faltas5 %><% session[:FmediaF]=  session[:FmediaF] + nota.faltas5.to_i %></td>
                            <%else%>
                                <td align="center"> ---</td>
                            <%end%>

                            <td align="center">
                                <%  nota.aulas5 = nota.aulas1 + nota.aulas2 + nota.aulas3  + nota.aulas4  %>

                                <%if nota.aulas5 !=0 %>
                                    <%if nota.faltas5 == 0 %>
                                        <font size="1"> 100 % </font>
                                    <%else%>
                                           <% frequencia5 =  (100-(((nota.faltas5.to_f - compensacao.to_f) / nota.aulas5.to_f)*100)).to_i %>
                                        <%if frequencia5 < 75 %>
                                            <font color ="red"<font size="1">  <%= frequencia5%> % </font>
                                        <%else%>
                                            <font size="1"> <%= frequencia5%> % </font>
                                        <%end%>
                                    <%end%>
                                <%else%>
                                    <%if nota.aulas5 != 0%>
                                        <font color ="red" size="1"> ERRO* </font> <% session[:obs]=1 %>
                                    <%else%>
                                        ---
                                    <%end%>

                                <%end%>
                            </td>
                             <td align="center"><%= compensacao %></td>
                        <%end%>

                    </tr>

                <%end%>
          <%end%>

            <% if session[:obs]==1 %>
                <tr>
                    <td colspan="20">
                        <center><font color ="red"><b>  ERRO* = QUANDO O PROFESSOR NÃO LANÇA AS AULAS DADAS NO BIMESTRE, O SISTEMA NÃO CALCULA A FREQUÊNCIA,  <br/>
                                    PARA QUE O BOLETIM FIQUE CORRETO, FAVOR SOLICITAR QUE O PROFESSOR LANCE A QUANTIDADE DE AULAS DADAS E AS FALTAS.</b> </center>
                    </td>
                </tr>
            <%end%>
            <%if @notasD.present?%>

                <tr>
                    <td bgcolor="#DCDCDC"> <b><center>CURRÍCULO DIVERSIFICADO </center> </b></td>
                    <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                    <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                    <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                    <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                    <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                    <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                    <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
                </tr>
            <%end%>
            <tr>
                <% total_aulas =0 %>
                <%@notasD.each do |nota|%>
                    <%compensacao = 0 %>
                    <% if nota.aulas1.nil? %>
                        <%  nota.aulas1= 0 %>
                    <%end%>
                    <% if nota.aulas2.nil? %>
                        <%  nota.aulas2= 0 %>
                    <%end%>
                    <% if nota.aulas3.nil? %>
                        <%  nota.aulas3= 0 %>
                    <%end%>
                    <% if nota.aulas4.nil? %>
                        <%  nota.aulas4= 0 %>
                    <%end%>
                    <% if nota.faltas1.nil? %>
                        <%nota.faltas1= 0%>
                    <%end%>
                    <% if nota.faltas2.nil? %>
                        <%nota.faltas2= 0%>
                    <%end%>
                    <% if nota.faltas3.nil? %>
                        <%nota.faltas3= 0%>
                    <%end%>
                    <% if nota.faltas4.nil? %>
                        <%nota.faltas4= 0%>
                    <%end%>
                    <td width=" 20%"><%= nota.atribuicao.disciplina.disciplina %></td>
                    <%if nota.aulas1!=0 %>
                        <%if (nota.disciplina_id==65 or nota.disciplina_id==8 or nota.disciplina_id=33) and nota.atribuicao.classe.classe_classe.slice(0..0).to_i >= 6 %>
                            <td align="center"><%=nota.nota1%></td>
                        <%else%>
                            <td align="center"></td>
                        <%end%>
                        <td align="center"> <%if nota.aulas1 == 0 %>

                            <%else%>
                                <%= nota.faltas1 %> <% session[:Fmedia1]=  session[:Fmedia1] + nota.faltas1.to_i %>
                            <%end%>
                        </td>
                        <td align="center"> <%if nota.aulas1 == 0 %>

                            <%else%>
                                <%if nota.faltas1 == 0 %>
                                   <font size="1"> 100 % <font>
                                <%else%>
                                    <% frequencia1 =  (100-(nota.faltas1.to_f / nota.aulas1.to_f)*100).to_i %>
                                    <%if frequencia1 < 75 %>
                                       <font color ="red" font size="1"><%= frequencia1%> % </font>
                                    <%else%>
                                        <font size="1"> <%= frequencia1%> % </font>
                                    <%end%>
                                <%end%>
                            <%end%>
                        </td>
                        <%if nota.comp1 == 0 %>
                           <td align="center">  </td>
                        <%else%>
                           <td align="center"><%compensacao = compensacao+ nota.comp1 %><%= nota.comp1 %></td>
                        <%end%>
                    <%else%>
                        <td align="center">---</td>
                        <td align="center">---</td>
                        <td align="center">---</td>
                        <td align="center">---</td>
                    <%end%>
                    <%if nota.aulas2!=0 %>
                        <%if (nota.disciplina_id==65 or nota.disciplina_id==8  or nota.disciplina_id=33)  and nota.atribuicao.classe.classe_classe.slice(0..0).to_i >= 6%>
                            <td align="center" bgcolor="#E7E7E7"><%=nota.nota2%></td>
                        <%else%>
                            <td align="center" bgcolor="#E7E7E7">---</td>
                        <%end%>
                        <td align="center" bgcolor="#E7E7E7">
                             <%if nota.aulas2 == 0 %>

                            <%else%>
                                <%= nota.faltas2 %><% session[:Fmedia2]=  session[:Fmedia2] + nota.faltas2.to_i %>
                            <%end%>
                        </td>
                        <td align="center" bgcolor="#E7E7E7">
                              <%if nota.aulas2 == 0 %>

                            <%else%>
                                <%if nota.faltas2 == 0 %>
                                    <font size="1">100 % </font>
                                <%else%>
                                    <% frequencia2 =  (100-(nota.faltas2.to_f / nota.aulas2.to_f)*100).to_i %>
                                    <%if frequencia2 < 75 %>
                                        <font color ="red"font size="1"> <%= frequencia2%> % </font>
                                    <%else%>
                                        <font size="1"><%= frequencia2%> %</font>
                                    <%end%>
                                <%end%>
                            <%end%>
                        </td>
                        <%if nota.comp2 == 0 %>
                           <td align="center"  bgcolor="#E7E7E7">  </td>
                        <%else%>
                           <td align="center" bgcolor="#E7E7E7"><%compensacao = compensacao+ nota.comp2 %><%= nota.comp2 %></td>
                        <%end%>
                    <%else%>
                        <td align="center" bgcolor="#E7E7E7">---</td>
                        <td align="center" bgcolor="#E7E7E7">---</td>
                        <td align="center" bgcolor="#E7E7E7">---</td>
                        <td align="center" bgcolor="#E7E7E7">---</td>
                    <%end%>
                    <%if nota.aulas3!=0 %>
                        <%if (nota.disciplina_id==65 or nota.disciplina_id==8 or nota.disciplina_id=33)  and nota.atribuicao.classe.classe_classe.slice(0..0).to_i >= 6%>
                            <td align="center"><%=nota.nota3%></td>
                        <%else%>
                            <td align="center">---</td>
                        <%end%>
                        <td align="center"> <%if nota.aulas3 == 0 %>
                                ---
                            <%else%>
                                <%= nota.faltas3 %><% session[:Fmedia3]=  session[:Fmedia3] + nota.faltas3.to_i %>
                            <%end%>
                        </td>
                        <td align="center"> <%if nota.aulas3 == 0 %>
                                ---
                            <%else%>
                                <%if nota.faltas3 == 0 %>
                                    <font size="1">100 % </font>
                                <%else%>
                                    <% frequencia3 =  (100-(nota.faltas3.to_f / nota.aulas3.to_f)*100).to_i %>
                                    <%if frequencia3 < 75 %>
                                        <font color ="red" font size="1">> <%= frequencia3%> % </font>
                                    <%else%>
                                        <font size="1"><%= frequencia3%> %</font>
                                    <%end%>
                                <%end%>
                            <%end%>
                        </td>
                        <%if nota.comp3 == 0 %>
                           <td align="center">  </td>
                        <%else%>
                           <td align="center"><%compensacao = compensacao+ nota.comp3 %><%= nota.comp3 %></td>
                        <%end%>
                    <%else%>
                        <td align="center">---</td>
                        <td align="center">---</td>
                        <td align="center">---</td>
                        <td align="center">---</td>
                    <%end%>
                    <%if nota.aulas4!=0 %>
                        <%if (nota.disciplina_id==65 or nota.disciplina_id==8 or nota.disciplina_id=33)  and nota.atribuicao.classe.classe_classe.slice(0..0).to_i >= 6%>
                            <td align="center" bgcolor="#E7E7E7"><%=nota.nota4%></td>
                        <%else%>
                            <td align="center" bgcolor="#E7E7E7">---</td>
                        <%end%>
                        <td align="center" bgcolor="#E7E7E7"> <%if nota.aulas4 == 0 %>
                                ---
                            <%else%>
                                <%= nota.faltas4 %><% session[:Fmedia4]=  session[:Fmedia4] + nota.faltas4.to_i %>
                            <%end%>
                        </td>
                        <td align="center" bgcolor="#E7E7E7"> <%if nota.aulas4 == 0 %>
                                ---
                            <%else%>
                                <%if nota.faltas4 == 0 %>
                                    <font size="1">100 % </font>
                                <%else%>
                                    <% frequencia4 =  (100-(nota.faltas4.to_f / nota.aulas4.to_f)*100).to_i %>
                                    <%if frequencia4 < 75 %>
                                        <font color ="red" font size="1"> <%= frequencia4%> % </font>
                                    <%else%>
                                        <font size="1"><%= frequencia4%> %</font>
                                    <%end%>
                                <%end%>
                            <%end%>
                        </td>
                        <%if nota.comp4 == 0 %>
                           <td align="center" bgcolor="#E7E7E7">  </td>
                        <%else%>
                           <td align="center" bgcolor="#E7E7E7"><%compensacao = compensacao+ nota.comp4%><%= nota.comp4 %></td>
                        <%end%>
                    <%else%>
                        <td align="center" bgcolor="#E7E7E7">---</td>
                        <td align="center" bgcolor="#E7E7E7">---</td>
                        <td align="center" bgcolor="#E7E7E7">---</td>
                        <td align="center" bgcolor="#E7E7E7">---</td>
                    <%end%>



                    <%if nota.aulas5 !=0 %>
                        <%if (nota.disciplina_id==65 or nota.disciplina_id==8 or nota.disciplina_id=33)  and nota.atribuicao.classe.classe_classe.slice(0..0).to_i >= 6%>
                            <td align="center"><%=nota.nota5%></td>
                        <%else%>
                            <td align="center">---</td>
                        <%end%>
                        <td align="center">
                            <% nota.faltas5  =(nota.faltas1) + (nota.faltas2) + (nota.faltas3) + (nota.faltas4) %>
                            <% if nota.aulas5 == 0 %>
                                ---
                            <%else%>
                                <%= nota.faltas5 %><% session[:FmediaF]=  session[:FmediaF] + nota.faltas5.to_i %>
                            <%end%>
                        </td>
                        <td align="center">
                            <%if nota.aulas5 == 0 %>
                                ---
                            <%else%>
                                <%if nota.faltas5 == 0 %>
                                <font size="1"> 100 % </font>
                                <%else%>
                                    <%  nota.aulas5 = nota.aulas1 + nota.aulas2 + nota.aulas3  + nota.aulas4  %>
                                    <% frequencia5 =  (100-(((nota.faltas5.to_f - compensacao.to_f) / nota.aulas5.to_f)*100)).to_i %>
                                    <%if frequencia5 < 75 %>
                                        <font color ="red" font size="1"> <%= frequencia5%> % </font>
                                    <%else%>
                                        <font size="1"><%= frequencia5%> % </font>
                                    <%end%>
                                <%end%>
                            <%end%>
                        </td>
                        <td align="center"><%= nota.comp5 %></td>
                    <%else%>
                        <td align="center">---</td>
                        <td align="center">---</td>
                        <td align="center">---</td>
                        <td align="center">---</td>
                    <%end%>

                </tr>

            <%end%>
            <tr >
                <td></td>
                <td colspan="23">
                    <% if  session[:num_classe]< 6   %>
                        * As disciplinas de núcleo comum NÃO possuem lançamentos de faltas (dias), somente a disciplina de PORTUGUÊS. <br/>
                        * As disciplinas que NÃO pertencem ao núcleo comum as faltas (aulas) devem possuir lançamentos.<br/>
                        * COMP. = ausências compensadas.<font color ="red">  <b>A freqüência bimestral NÂO computa, em seu cálculo, as faltas compensadas.</b><br/>
                          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>A freqüência FINAL computa, em seus cálculos, as faltas compensadas.</b></font>
                    <%else%>
                        <%  %>
                    <%end%>
                </td>
            </tr>
            <tr>
                <td colspan="23"><b>Observações:</b></td>
            </tr>
            <%@notas.each do |nota|%>
                <%if nota.aluno_id == session[:aluno]%>
                    <% if nota.observacao_notas.present? %>
                        <tr>
                            <td align="right" valign="top"><%= nota.disciplina.disciplina %>&nbsp&nbsp</td>
                            <td colspan="20">  <% c=0 %>

                                <% @obs= ObservacaoNota.find(:all, :conditions =>["nota_id=? and ano_letivo=?",nota, session[:ano_nota]])%>
                                <% @obs.each do |obs|%>
                                    <b><%= c=c+1%>.</b><%=obs.observacao %>  -
                                    <b>Data: </b> <%  if !obs.data.nil?  %>
                                        <%=  obs.data.strftime("%d/%m/%Y")%><br/>
                                    <%end%>
                                <%end%>
                            </td>
                        </tr>
                    <%end%>
                <%end%>
            <%end%>
            <%  @observacao2 = ObservacaoNota.find(:all, :conditions =>['aluno_id =? AND ano_letivo =? AND nota_id is ?', session[:aluno_id], session[:ano_nota],nil ] )%>
            <% t=0  %>
            <%@observacao2.each do |observacao| %>
                <tr>
                    <td align="right" valign="top"><%= observacao.quem %>&nbsp&nbsp</td>
                    <td colspan="20"><%= observacao.observacao %> -
                        <b>Data: </b> <%  if !observacao.data.nil?  %>
                            <%=  observacao.data.strftime("%d/%m/%Y")%>
                        <%end%>
                    </td>
                </tr>
            <%end%>

<!--
            <tr cellspacing="2" cellpadding="2" >
                <td  rowspan="1" align="center"><b><font size="1">Estatíticas / Médias</font></b></td>
                <td  colspan="4" align="center"><b><font size="1"> 1º Bimestre</font></b></td>
                <td  colspan="4" align="center"bgcolor="#E7E7E7"><b><font size="1"> 2º Bimestre</font></b></td>
                <td  colspan="4" align="center"><b><font size="1"> 3º Bimestre</font></b></td>
                <td  colspan="4" align="center"bgcolor="#E7E7E7"><b><font size="1"> 4º Bimestre</font></b></td>
                <td  colspan="4" align="center"><b><font size="1"> FINAL</font></b></td>
            </tr>
          <tr>
               <td align="right"><font size="1"> Aluno&nbsp&nbsp&nbsp </font></td>
               <td align="left" colspan="2"><font size="1"><b> Nota:   <%#= session[:Nmedia1] = ((session[:Nmedia1].to_f/@notasB.count).to_f).round(1) %></b></font></td>
               <td align="left" colspan="2"><font size="1"><b> Faltas: <%#= session[:Fmedia1]= ((session[:Fmedia1].to_f/@notasB.count).to_f).round(1) %></b></font></td>
               <td align="left" colspan="2"bgcolor="#E7E7E7"><font size="1"><b> Nota:   <%#= session[:Nmedia2]= ((session[:Nmedia2].to_f/@notasB.count).to_f).round(1) %></b></font></td>
               <td align="left" colspan="2"bgcolor="#E7E7E7"><font size="1"><b> Faltas: <%#= session[:Fmedia2]= ((session[:Fmedia2].to_f/@notasB.count).to_f).round(1) %></b></font></td>
               <td align="left" colspan="2"><font size="1"><b> Nota:   <%#= session[:Nmedia3]= ((session[:Nmedia3].to_f/@notasB.count).to_f).round(1)%></b></font></td>
               <td align="left" colspan="2"><font size="1"><b> Faltas: <%#= session[:Fmedia3]=((session[:Fmedia3].to_f/@notasB.count).to_f).round(1) %></b></font></td>
               <td align="left" colspan="2"bgcolor="#E7E7E7"><font size="1" ><b> Nota:   <%#= session[:Nmedia4]= ((session[:Nmedia4].to_f/@notasB.count).to_f).round(1) %></b></font></td>
               <td align="left" colspan="2"bgcolor="#E7E7E7"><font size="1"><b> Faltas: <%#= session[:Fmedia4]= ((session[:Fmedia4].to_f/@notasB.count).to_f).round(1) %></b></font></td>
               <td align="left" colspan="2"><font size="1"><b>Nota:   <%#= session[:NmediaF]=((session[:NmediaF].to_f/@notasB.count).to_f).round(1) %></b></font></td>
               <td align="left" colspan="2"><font size="1"><b> Faltas: <%#= session[:FmediaF]=((session[:FmediaF].to_f/@notasB.count).to_f).round(1) %></b></font></td>
           </tr>

           <tr>
               <td align="right"><font size="1"> Média Classe&nbsp&nbsp&nbsp </font></td>
               <td align="left" colspan="2"><font size="1"><b> Nota: <%#=session[:total_notas1]%> </b>  </font> </td>
               <td align="left" colspan="2"><font size="1"><b> Falta: <%#=session[:total_faltas1]%></b>  </font> </td>
               <td align="left" colspan="2"bgcolor="#E7E7E7"><font size="1" ><b> Nota: <%#=session[:total_notas2]%></b>  </font> </td>
               <td align="left" colspan="2"bgcolor="#E7E7E7"><font size="1" ><b> Faltas: <%#=session[:total_faltas2]%></b></font></td>
               <td align="left" colspan="2"><font size="1"><b> Nota: <%#=session[:total_notas3]%></b> </font> </td>
               <td align="left" colspan="2"><font size="1"><b> Faltas: <%#=session[:total_faltas3]%></b> </font></td>
               <td align="left" colspan="2" bgcolor="#E7E7E7"><font size="1"><b> Nota: <%#=session[:total_notas4]%></b> </font> </td>
               <td align="left" colspan="2" bgcolor="#E7E7E7"><font size="1"><b> Faltas: <%#=session[:total_faltas4]%></b></font></td>
               <td align="left" colspan="2"><font size="1"><b> Nota: <%#=session[:total_notas5]%></b> </font> </td>
               <td align="left" colspan="2"><font size="1"><b> Faltas: <%#=session[:total_faltas5]%></b></font></td>

           </tr>
-->
        </table>
    </table>

    <table  width="100% "bgcolor="#DCDCDC" >
        <tr>
            <td><br/><br/><hr><br/><br/></td>
        </tr>
    </table>
    <br/>
<%end%>
