
<table width="100%">
  <tr>
    <td rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
        <center><font size="2"> Unidade de Ensino Fundamental</i></b><br/></center><br/>
        <center><font size="2"><b><u>TRANSFERÊNCIA</u> &nbsp&nbsp&nbsp&nbsp</b></font></center>

    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
 </table>
<table cellspacing="0" cellpadding="1" width="100%">
   <% @aluno.each do |aluno| %>
     <tr>
        <td width =" 15%"><b>Unidade de Ensino:</b></td>
        <td><b><%=h aluno.unidade.nome%></b></td>
     </tr>
     <tr>
         <td><b>Endereço:</b></td>
         <td><%=h aluno.unidade.endereco %> - <%=h aluno.unidade.num %> - <%=h aluno.unidade.bairro %> CEP <%=h aluno.unidade.CEP%> FONE: (19)<%=h aluno.unidade.fone%></td>
     </tr>
     <tr>
        <td><b>Autorização:</b></td>
        <td><%=h aluno.unidade.autorizacao%></td>
     </tr>
  <%end%>
</table>
 <br/>
<table cellspacing="0" cellpadding="1" width="100%">
  <% @aluno.each do |aluno| %>
     <tr>
       <td colspan="3" align="justify">
               <b>DECLARO</b>, para fins de transferência, que o(a)  aluno(a)<b> <%=h aluno.aluno_nome %></b>  R.A.: <b><%=h aluno.aluno_ra %></b>,
               <% if (aluno.aluno_RG.present?)  %>
                  e RG: <b><%=h aluno.aluno_RG %></b> emitido em <b><%=h aluno.aluno_emissaoRG %></b> ,
               <%end%>
               nascido(a) em <b><%=h aluno.aluno_nascimento.strftime("%d/%m/%Y") %></b> na cidade de
               <%=h aluno.aluno_naturalidade %>, encontra-se devidamente matriculado nesta unidade escolar na
               <% for nota in @notas_ano  %>
                  <b> classe  <%=nota.atribuicao.classe.classe_classe %> </b>
                    <% if nota.atribuicao.classe.classe_classe == 'EJA' %>
                       <%if (nota.nota1.present?) and (!nota.nota2.present?)%>
                          <b> (1º Ano) </b>
                       <%else if (nota.nota2.present?) and (!nota.nota3.present?)%>
                             <b> (2º Ano) </b>
                            <%else if (nota.nota3.present?) and (!nota.nota4.present?)%>
                                  <b> (3º Ano) </b>
                                  <%else if (nota.nota4.present?) and (!nota.nota5.present?)%>
                                        <b> (4º Ano) </b>
                                        <%else if (nota.nota5.present?) and (!nota.nota6.present?)%>
                                              <b> (5º Ano) </b>
                                              <%else if (nota.nota6.present?) and (!nota.nota7.present?)%>
                                                    <b> (6º Ano) </b>
                                                    <%else if (nota.nota7.present?) and (!nota.nota8.present?)%>
                                                          <b> (7º Ano) </b>
                                                          <%else if (nota.nota8.present?) and (!nota.nota9.present?)%>
                                                              <b> (8º Ano) </b>
                                                              <%else if (nota.nota9.present?) %>
                                                                 <b> (9º Ano) </b>
                                                                    <%else if (!nota.nota1.present?)and (!nota.nota2.present?) %>
                                                                           <b> --- </b>
                                                                          <%end%>
                                                                    <%end%>
                                                              <%end%>
                                                          <%end%>
                                                    <%end%>
                                              <%end%>
                                        <%end%>
                                  <%end%>
                            <%end%>
                       <%end%>
                    <%end%>

                  ,e nesta data deu entrada com o pedido de transferência
                  nesta data, estando apto(a) a frequentar
                     <%if (nota.nota1.present?) and (!nota.nota2.present?)%>
                          <b> 2º Ano </b> do Ensino fundamental de 9 anos
                     <%else if (nota.nota2.present?) and (!nota.nota3.present?)%>
                            <b> 3º Ano </b> Ensino fundamental de 9 anos
                          <%else if (nota.nota3.present?) and (!nota.nota4.present?)%>
                                 <b> 4º Ano </b> Ensino fundamental de 9 anos
                                <%else if (nota.nota4.present?) and (!nota.nota5.present?)%>
                                       <b> 5º Ano </b> Ensino fundamental de 9 anos
                                      <%else if (nota.nota5.present?) and (!nota.nota6.present?)%>
                                             <b> 6º Ano </b> Ensino fundamental de 9 anos
                                            <%else if (nota.nota6.present?) and (!nota.nota7.present?)%>
                                                   <b> 7º Ano </b> Ensino fundamental de 9 anos
                                                  <%else if (nota.nota7.present?) and (!nota.nota8.present?)%>
                                                         <b> 8º Ano </b> Ensino fundamental de 9 anos
                                                        <%else if (nota.nota8.present?) and (!nota.nota9.present?)%>
                                                             <b> 9º Ano </b> Ensino fundamental de 9 anos
                                                            <%else if (nota.nota9.present?) %>
                                                               Ensino Médio
                                                                    <%else if (!nota.nota1.present?)and (!nota.nota2.present?) %>
                                                                         <b> 1º Ano </b> do Ensino fundamental de 9 anos
                                                                        <%end%>
                                                                  <%end%>
                                                            <%end%>
                                                        <%end%>
                                                  <%end%>
                                            <%end%>
                                      <%end%>
                                <%end%>
                          <%end%>
                     <%end%>
                  <%end%>

          ano do Ensino Fundamental de 9 anos.
       </td>
     </tr>
  <%end%>
</table>

<table border="1" cellspacing="0" cellpadding="1" width="100%">
<% @aluno.each do |aluno| %>
<br/>
 <font size="3"><center><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp HISTÓRICO ESCOLAR  &nbsp&nbsp&nbsp&nbsp - &nbsp&nbsp&nbsp&nbsp  Ano letivo <%= Time.now.year %></b></center></font>
  <table border="1" cellspacing="0" cellpadding="1" width="100%">
 <tr >
     <td width ="30%"rowspan="2"> <b><center>CURRÍCULO BÁSICO   </center> </b></td>
     <td width ="5%" align="center" ><b>1º</b></td>
     <td width ="5%" align="center" ><b>2º</b></td>
     <td width ="5%" align="center" ><b>3º</b></td>
     <td width ="5%" align="center" ><b>4º</b></td>
     <td width ="5%" align="center" ><b>5º</b></td>
     <td width ="5%" align="center" ><b>6º</b></td>
     <td width ="5%" align="center" ><b>7º</b></td>
     <td width ="5%" align="center" ><b>8º</b></td>
     <td width ="5%" align="center" ><b>9º</b></td>
   </tr>
   <tr>

  <% ano = @ano_inicial.ano_letivo %>
  <%for i in 0..8 %>
     <%if ano < Time.now.year %>
        <td width ="5%" align="center" ><b><%= ano%></b></td>
     <%else%>
        <td align="center" ><b></b></td>
     <%end%>

     <% ano = ano + 1 %>
  <%end%>

   <%@disciplinas.each do |disciplina|%>
      <%if disciplina.curriculo == 'B'%>
           <tr>
              <td align="left"><%= disciplina.disciplina %></td>
              <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=?', disciplina, session[:aluno_id]], :order => 'ano_letivo ASC') %>
              <% ano = 0 %>
              <%  while ano < 9 %>
                         <%fl1=1%>
                         <% for nota in @notas %>
                                <%if (nota.nota5.present?) and (nota.ano_letivo== (@ano_inicial.ano_letivo + ano))%>
                                  <%if fl1==1 %>
                                     <td align="center"><%= nota.nota5%></td>
                                     <%fl1=0%>
                                  <%end%>
                                <%end%>
                         <%end%>
                         <%if fl1==1 %>
                            <td align="center">---</td>
                            <%fl1=0%>
                         <%end%>
                         <% ano = ano +1 %>
              <%end%>
           </tr>
      <%end%>
   <%end%>
 </tr>
  <tr bgcolor =" #DCDCDC">
     <td><b> Carga Horária</b></td>
      <% ano = @ano_inicial.ano_letivo %>
      <%for i in 0..8 %>
         <%if ano < Time.now.year %>
            <td width ="5%" align="center" ><b>1000</b></td>
         <%else%>
            <td align="center" ><b></b></td>
         <%end%>

         <% ano = ano + 1 %>
      <%end%>
 </tr>
 <tr >
     <td width ="30%"rowspan="2"> <b><center>OFICINAS DIVERSITICADAS   </center> </b></td>
     <td width ="5%" align="center" ><b>1º</b></td>
     <td width ="5%" align="center" ><b>2º</b></td>
     <td width ="5%" align="center" ><b>3º</b></td>
     <td width ="5%" align="center" ><b>4º</b></td>
     <td width ="5%" align="center" ><b>5º</b></td>
     <td width ="5%" align="center" ><b>6º</b></td>
     <td width ="5%" align="center" ><b>7º</b></td>
     <td width ="5%" align="center" ><b>8º</b></td>
     <td width ="5%" align="center" ><b>9º</b></td>
   </tr>
   <tr>
        <% ano = @ano_inicial.ano_letivo %>
        <%for i in 0..8 %>
           <%if ano < Time.now.year %>
              <td width ="5%" align="center" ><b><%= ano%></b></td>
           <%else%>
              <td align="center" ><b></b></td>
           <%end%>
           <% ano = ano + 1 %>
        <%end%>

         <%@disciplinas.each do |disciplina|%>
            <%if disciplina.curriculo == 'D'%>
                 <tr>
                    <td align="left"><%= disciplina.disciplina %></td>
                    <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=?', disciplina, session[:aluno_id]], :order => 'ano_letivo ASC') %>
                    <% ano = 0 %>
                    <%  while ano < 9 %>
                               <%fl1=1%>
                               <% for nota in @notas %>
                                      <%if (nota.nota5.present?) and (nota.ano_letivo== (@ano_inicial.ano_letivo + ano))%>
                                        <%if fl1==1 %>
                                           <td align="center"><%= nota.nota5%></td>
                                           <%fl1=0%>
                                        <%end%>
                                      <%end%>
                               <%end%>
                               <%if fl1==1 %>
                                  <td align="center">---</td>
                                  <%fl1=0%>
                               <%end%>
                               <% ano = ano +1 %>
                    <%end%>
                 </tr>
            <%end%>
         <%end%>
  </tr>
  <tr bgcolor =" #DCDCDC">
     <td><b> Carga Horária</b></td>
      <% ano = @ano_inicial.ano_letivo %>
      <%for i in 0..8 %>
         <%if ano < Time.now.year %>
            <td width ="5%" align="center" ><b>480</b></td>
         <%else%>
            <td align="center" ><b></b></td>
         <%end%>

         <% ano = ano + 1 %>
      <%end%>
 </tr>
   <tr bgcolor =" #DCDCDC">
     <td><b> Carga Horária Total do Curso </b></td>
      <% ano = @ano_inicial.ano_letivo %>
      <%for i in 0..8 %>
         <%if ano < Time.now.year %>
            <td width ="5%" align="center" ><b>1480</b></td>
         <%else%>
            <td align="center" ><b></b></td>
         <%end%>

         <% ano = ano + 1 %>
      <%end%>
 </tr>
</table>
<hr/>
  <br/>

 <font size="3"><center><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp BOLETIM ESCOLAR  &nbsp&nbsp&nbsp&nbsp - &nbsp&nbsp&nbsp&nbsp  Ano letivo <%= Time.now.year %></b></center></font>
 <font size="2"><b><center> &nbsp&nbsp&nbsp <U>TRANSFERÊNCIA DURANTE O PERÍODO LETIVO</cente></u></b></font><br/>

         <table border="1" cellspacing="0" cellpadding="1" width="100%">
          <tr cellspacing="2" cellpadding="2" >
            <td width=" 25%" rowspan="2" align="center"><b>Disciplina</b></td>
            <td width=" 15%" colspan="3" align="center"><b>1º Bimestre</b></td>
            <td width=" 15%"colspan="3" align="center"><b>2º Bimestre</b></td>
            <td width=" 15%" colspan="3" align="center"><b>3º Bimestre</b></td>
            <td width=" 15%" colspan="3" align="center"><b>4º Bimestre</b></td>

         </tr>
         <tr>
           <td width = px align="center" ><b>Nota</b></td>
           <td width ="5%" align="center" ><b>Falta</b></td>
           <td width ="5%" align="center"><b>Freq.</b></td>
           <td width ="5%" align="center" ><b>Nota</b></td>
           <td width ="5%" align="center" ><b>Falta</b></td>
           <td width ="5%" align="center"><b>Freq.</b></td>
           <td width ="5%" align="center" ><b>Nota</b></td>
           <td width ="5%" align="center" ><b>Falta</b></td>
           <td width ="5%" align="center"><b>Freq.</b></td>
           <td width ="5%" align="center" ><b>Nota</b></td>
           <td width ="5%" align="center"><b>Falta</b></td>
           <td width ="5%" align="center"><b>Freq.</b></td>

         </tr>
         <tr>
           <td bgcolor="#DCDCDC"> <b><center>CURRÍCULO BÁSICO   </center> </b></td>
           <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
           <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
           <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
           <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>

         </tr>
         <tr>
           <%@notasB.each do |nota|%>

            <td width=" 20%"><%= nota.atribuicao.disciplina.disciplina %></td>
              <%if nota.nota1.present?%>
                   <td align="center"><%= nota.nota1 %></td>
                   <td align="center"><%= nota.faltas1 %></td>
                   <td align="center"><%if nota.freq1 < 75 %>
                                           <font color ="red"> <%= nota.freq1 %>% </font>
                                      <%else%>
                                           <%= nota.freq1 %>%
                                      <%end%>
                   </td>
              <%else%>
                   <td align="center">--</td>
                   <td align="center">--</td>
                   <td></td>
              <%end%>
              <%if nota.nota2.present?%>
                   <td align="center"><%= nota.nota2 %></td>
                   <td align="center"><%= nota.faltas2 %></td>
                  <td align="center"><%if nota.freq2 < 75 %>
                                           <font color ="red"> <%= nota.freq2 %>% </font>
                                      <%else%>
                                           <%= nota.freq2 %>%
                                      <%end%>
                   </td>
              <%else%>
                   <td align="center">--</td>
                   <td align="center">--</td>
                   <td align="center">--</td>
              <%end%>
              <%if nota.nota3.present?%>
                   <td align="center"><%= nota.nota3 %></td>
                   <td align="center"><%= nota.faltas3 %></td>
                   <td align="center"><%if nota.freq3 < 75 %>
                                           <font color ="red"> <%= nota.freq3 %>% </font>
                                      <%else%>
                                           <%= nota.freq3 %>%
                                      <%end%>
                   </td>
              <%else%>
                   <td align="center">--</td>
                   <td align="center">--</td>
                   <td align="center">--</td>
              <%end%>
              <%if nota.nota4.present?%>
                   <td align="center"><%= nota.nota4 %></td>
                   <td align="center"><%= nota.faltas4 %></td>
                   <td align="center"><%if nota.freq4 < 75 %>
                                           <font color ="red"> <%= nota.freq4 %>% </font>
                                      <%else%>
                                           <%= nota.freq4 %>%
                                      <%end%>
                   </td>

              <%else%>
                   <td align="center">--</td>
                   <td align="center">--</td>
                   <td align="center">--</td>
              <%end%>
         </tr>
          <%end%>
         <tr>
           <td bgcolor="#DCDCDC"> <b><center>CURRÍCULO DIVERSIFICADO   </center> </b></td>
           <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
           <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
           <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
           <td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>

         </tr>
         <tr>
           <%@notasD.each do |nota|%>

            <td width=" 20%"><%= nota.atribuicao.disciplina.disciplina %></td>
            <%if nota.nota1.present?%>
                 <td align="center"><%= nota.nota1 %></td>
                 <td align="center"><%= nota.faltas1 %></td>
                 <td></td>
            <%else%>
                 <td align="center">---</td>
                 <td align="center">---</td>
                 <td></td>
            <%end%>
            <%if nota.nota2.present?%>
                 <td align="center"><%= nota.nota2 %></td>
                 <td align="center"><%= nota.faltas2 %></td>
                 <td></td>
            <%else%>
                 <td align="center">---</td>
                 <td align="center">---</td>
                 <td></td>
            <%end%>
            <%if nota.nota3.present?%>
                 <td align="center"><%= nota.nota3 %></td>
                 <td align="center"><%= nota.faltas3 %></td>
                 <td></td>
            <%else%>
                 <td align="center">---</td>
                 <td align="center">---</td>
                 <td></td>
            <%end%>
            <%if nota.nota4.present?%>
                 <td align="center"><%= nota.nota4 %></td>
                 <td align="center"><%= nota.faltas4 %></td>
                 <td></td>
            <%else%>
                 <td align="center">---</td>
                 <td align="center">---</td>
                 <td></td>
            <%end%>
         </tr>
          <%end%>
         <tr>
           <td colspan="12"><b>Observações:</b >&nbsp&nbsp 1) <b>F</b> = Frequentou &nbsp&nbsp <b>NF</b> = NÃO Frequentou <br/>
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  2) <b>E</b> = Excelente &nbsp&nbsp&nbsp&nbsp <b>B</b> = Bom &nbsp&nbsp&nbsp&nbsp <b>S</b> = Suficiente &nbsp&nbsp&nbsp&nbsp <b>I</b> = Insulficiente <br/>
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                  3) <b>O</b> = Ótimo &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>B</b> = Bom &nbsp&nbsp&nbsp&nbsp <b>R</b> = Regular &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>F</b> = Fraco  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>I</b> = Insulficiente <br/>
           </td>
         </tr>
      </table>


 <br/>

 <br/>
 <center><font size="3"><b>C E R T I F I C A D O</b></font><br/><br/></center>
    <% for nota in @notas_ano  %>

     O sr(a) diretor(a) <b><%=h nota.matricula.unidade.nome%></b> de acordo com o art. 24 VII da Lei Federal nº 394/96,
     certfica que o aluno(a) <%=h nota.matricula.aluno.aluno_nome %> </b> conclui</b> o

             <% if nota.atribuicao.classe.classe_classe == 'EJA' %>
                 <b>EJA - </b>
              <%end%>
             <%if (nota.nota1.present?) and (!nota.nota2.present?)%>
                <b>  1º Ano </b>
             <%else if (nota.nota2.present?) and (!nota.nota3.present?)%>
                   <b> 2º Ano </b>
                  <%else if (nota.nota3.present?) and (!nota.nota4.present?)%>
                        <b> 3º Ano </b>
                        <%else if (nota.nota4.present?) and (!nota.nota5.present?)%>
                              <b> 4º Ano </b>
                              <%else if (nota.nota5.present?) and (!nota.nota6.present?)%>
                                    <b> 5º Ano </b>
                                    <%else if (nota.nota6.present?) and (!nota.nota7.present?)%>
                                          <b> 6º Ano </b>
                                          <%else if (nota.nota7.present?) and (!nota.nota8.present?)%>
                                                <b> 7º Ano </b>
                                                <%else if (nota.nota8.present?) and (!nota.nota9.present?)%>
                                                    <b> 8º Ano </b>
                                                    <%else if (nota.nota9.present?) %>
                                                       <b> 9º Ano </b>
                                                          <%else if (!nota.nota1.present?)and (!nota.nota2.present?) %>
                                                                 <b> --- </b>
                                                                <%end%>
                                                          <%end%>
                                                    <%end%>
                                                <%end%>
                                          <%end%>
                                    <%end%>
                              <%end%>
                        <%end%>
                  <%end%>
             <%end%>

         do Ensino Fundamental de 9 anos, no <b> ano letivo de <%= nota.matricula.ano_letivo%></b>, estando apto(a) ao proseguimento dos estudos no
         <% for nota in @notas_ano  %>
             <%if (nota.nota1.present?) and (!nota.nota2.present?)%>
                  <b> 2º Ano </b> do Ensino fundamental de 9 anos
             <%else if (nota.nota2.present?) and (!nota.nota3.present?)%>
                    <b> 3º Ano </b> Ensino fundamental de 9 anos
                  <%else if (nota.nota3.present?) and (!nota.nota4.present?)%>
                         <b> 4º Ano </b> Ensino fundamental de 9 anos
                        <%else if (nota.nota4.present?) and (!nota.nota5.present?)%>
                               <b> 5º Ano </b> Ensino fundamental de 9 anos
                              <%else if (nota.nota5.present?) and (!nota.nota6.present?)%>
                                     <b> 6º Ano </b> Ensino fundamental de 9 anos
                                    <%else if (nota.nota6.present?) and (!nota.nota7.present?)%>
                                           <b> 7º Ano </b> Ensino fundamental de 9 anos
                                          <%else if (nota.nota7.present?) and (!nota.nota8.present?)%>
                                                 <b> 8º Ano </b> Ensino fundamental de 9 anos
                                                <%else if (nota.nota8.present?) and (!nota.nota9.present?)%>
                                                     <b> 9º Ano </b> Ensino fundamental de 9 anos
                                                    <%else if (nota.nota9.present?) %>
                                                       Ensino Médio
                                                            <%else if (!nota.nota1.present?)and (!nota.nota2.present?) %>
                                                                 <b> 1º Ano </b> do Ensino fundamental de 9 anos
                                                                <%end%>
                                                          <%end%>
                                                    <%end%>
                                                <%end%>
                                          <%end%>
                                    <%end%>
                              <%end%>
                        <%end%>
                  <%end%>
             <%end%>
          <%end%>

   <%end%>

      <table  width="100% ">
          <tr>
           <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>

          <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
                  <td align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_transferencia_aluno_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
          <%end%>
          </tr>
        </table>
<%end%>
</table>

