

<div id="interno2">
<% title "CONSULTA_CLASSE".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LANÇAMENTOS</strong></font><br/>
 </div>
    <div class="tabs">
    <% form_remote_tag :url => consulta_classe_nota_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
      <fieldset>
       <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td colspan="2"align="right"><font size="2"> <b class="label_busca3">Classe:</b></font>
               &nbsp&nbsp&nbsp<%= collection_select :classe, :id, @classes, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %></td>
            <td colspan="2"align="right"><font size="2"> <b class="label_busca3">disicplina:</b></font>
              &nbsp&nbsp&nbsp<%= select_tag :disciplina, options_for_select(@disciplinas1.collect { |ff| [ff.disciplina, ff.disciplina] }.insert(0, '--Selecionar--')) %></td>

            <td colspan="2"align="right"><font size="2"> <b class="label_busca3">Professor:</b></font>
               &nbsp&nbsp&nbsp<%= collection_select :professor, :id, @professors1, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
           <td> <%= submit_tag "Visualizar", :class => "btn_filtrar" %></td>

        </tr>
       </table>
       </fieldset>
      <fieldset>
        <table width="100%"frame="box" rules="all">
          <tr>
            <td>
                <div id="classe_alunos"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
              <br/>
            </td>
          </tr>
       </table>
        </fieldset>
          <% end %>
      <fieldset>
        <table>
          <tr bgcolor="#F5F5F5">
            <td colspan="8"><b> Alunos: </b></td>
          </tr>
          <tr bgcolor="#F5F5F5">
              <td width ="10%"><b>RA</b></td>
             <td width ="50%"><b>NOME</b></td>
             <td width ="5%"><b>Nota</b></td>
             <td width ="30%"><b>Observações</b></td>
             <td width ="5%"><b>Final</b></td>
         </tr>
          <tr bgcolor="#F5F5F5">
            <td colspan="8"> <div id="notas_aluno"></div></td>
          </tr>
          <tr bgcolor="#F5F5F5">
            <td colspan="8"></td>
          </tr>
          <tr>
            <td colspan="8" align="right"><%= link_to image_tag('/stylesheets/images/editar1.png', :title => 'Cadastrar Familiar'), '#inline_notas', :class => 'inline'%></td>
          </tr>
       </table>
        </fieldset>
     


      

       <br/>
       <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td width="6%"align="left"><%= button_to 'Consultar', consulta_classe_path, :title => "Consultar" %></td>
     <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
          <td align="left" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_classe_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
     <%end%>
    </tr>
  </table>
 </div>



</div>

<br/>
</div>

    <%= render "form_notas" %>







