<%  if session[:flag_edit_atribuicao] == 1 %>

      <div id="interno2">
      <% title "ATRIBUICAOS".singularize %>
      <div class="tabs">
       <div id="caixa_titulo">
           <font size="3"><strong>EDITAR ATRIBUIÇÃO AULAS</strong></font><br/>
       </div>
            <div class="tabs">
            <%= render :partial => 'form' %>
          </div>
      </div>
      <br/>
      </div>

  <br/>
<% else %>

        <div id="interno4">
        <% title "ATRIBUICAOS".singularize %>
        <div class="tabs">
         <div id="caixa_titulo">
             <font size="3"><strong>LANÇAMENTO DE AULAS</strong></font><br/>
         </div>
              <div class="tabs">
                    <% form_for (@atribuicao) do |f| %>
                     <%= f.error_messages %>
                      <fieldset><legend><font size=4>Atribuição</font></legend>
                        <table width="100%">
                           <tr bgcolor="#F5F5F5">
                             <td width ="1%"> <b>Classe:</b></td>
                             <td><%=h @atribuicao.classe.classe_classe%></td>
                             <td><b>Professor:</b></td>
                             <td colspan="2"><%=h @atribuicao.professor.nome%></td>
                          </tr>
                          <tr bgcolor="#F5F5F5">
                            <td> <b>Disciplina:</b></td>
                             <td colspan=5"><%=h @atribuicao.disciplina.disciplina%></td>

                          </tr>
                              <tr bgcolor="#F5F5F5">
                                <td align="center"><b><font color="red"> Lançar aulas dadas </font></b></td>
                                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo'))%>
                                     <td width ="3%" align="center"> <b>1º Bimestre <br/>Nº Aulas:</b><%= f.text_field :aulas1 , :size => '2'%></td>
                                  <%else%>
                                    <td  width ="20%" align="center"> <b>1º Bimestre <br/>Nº Aulas:</b>   <%if (@atribuicao.aulas1 != 0)%>
<!--# and (@atribuicao.disciplina.id != 32 and @atribuicao.disciplina.id != 2 and @atribuicao.disciplina.id != 3 and @atribuicao.disciplina.id != 4 and @atribuicao.disciplina.id != 21 and @atribuicao.disciplina.id != 34)-->
                                                                              <!--&nbsp&nbsp&nbsp<%= @atribuicao.aulas1%>--><%= f.text_field :aulas1 , :size => '3'%>
                                                                            <%else%>
                                                                               <%= f.text_field :aulas1 , :size => '3'%>
                                                                            <%end%>
                                   </td>
                                 <%end%>
                                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo'))%>
                                     <td width ="3%" align="center"> <b>2º Bimestre <br/>Nº Aulas:</b><%= f.text_field :aulas2 , :size => '2'%></td>
                                  <%else%>
                                    <td  width ="20%" align="center"><b>2º Bimestre <br/>Nº Aulas:</b> <%if (@atribuicao.aulas2 != 0)%>
                                                                            <!--&nbsp&nbsp&nbsp<%= @atribuicao.aulas2%> -->   <%= f.text_field :aulas2 , :size => '3'%>
                                                                        <%else%>
                                                                            <%= f.text_field :aulas2 , :size => '3'%> 
                                                                        <%end%>
                                    </td>
                                  <%end%>
                                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo'))%>
                                     <td width ="3%" align="center"> <b>3º Bimestre <br/>Nº Aulas:</b><%= f.text_field :aulas3 , :size => '2'%></td>
                                     <%t=0%>
                                  <%else%>
                                      <td width ="20%" align="center"><b>3º Bimestre <br/>Nº Aulas:</b><%if (@atribuicao.aulas3 != 0)%>
                                                                            <!--&nbsp&nbsp&nbsp<%= @atribuicao.aulas3%>    <%= f.text_field :aulas3 , :size => '3'%>-->

                                                                        <%else%>
                                                                            <!--<%= f.text_field :aulas3 , :size => '3'%>  -->

                                                                        <%end%>
                                     </td>

                                 <%end%>
                                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo'))%>
                                     <td width ="3%" align="center"> <b>4º Bimestre <br/>Nº Aulas:</b><%= f.text_field :aulas4 , :size => '2'%></td>
                                  <%else%>
                                      <td width ="20%" align="center"><b>4º Bimestre <br/>Nº Aulas:</b><%if (@atribuicao.aulas4 != 0)%>
                                                                            <!--&nbsp&nbsp&nbsp<%= @atribuicao.aulas4%>--><%= f.text_field :aulas4 , :size => '3'%>
                                                                        <%else%>
                                                                           <!-- <%= f.text_field :aulas4 , :size => '3'%> -->
                                                                        <%end%>
                                     </td>
                                 <%end%>

                              </tr>

                       </table>
                      </fieldset>
                <fieldset><legend><font size=4>IMPORTANTE</font></legend>
                  <font color ="red"><b>1) Professores PB-I devem lançar dias de aulas ministradas</b></font><br/>
                            <font color ="red">2) <b>Professores PB-II devem lançar aulas dadas por aula ministrada</b></font><br/>
                            <font color ="red">3)  <b>APÓS CLICAR NO BOTÃO "SALVAR" - AGUARDE (Este processo pode demorar um pouco).</font></b>

                </fieldset>
                     <br/>

                           <table width="100%" >
                             <tr bgcolor="#F5F5F5">
                               <td width="4%"align="left"><b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>

                    <%end%>


                             <%if current_user.has_role?('professor_fundamental') or current_user.has_role?('admin') %>
                               <%if current_user.has_role?('admin') %>
                                 <td><%= button_to 'Lançar Notas', {:controller => "notas", :action => "voltar_lancamento_notas", :method => "get"}  %></td>
                               <%else%>
                                 <td width="2%"><%= button_to 'Voltar',lancar_notas_notas_path, :method => :get %></td>
                                 <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                                <%end%>

                             <%else%>
                                 <td><%= button_to 'Voltar',lancamentos_notas_notas_path, :method => :get %>  </td>
                             <%end%>
                             </tr>
                           </table>
                      </font>
              </div>
          </div>
        <br/>
        </div>
<%end%>