<style type="text/css">
    .textovertical {
        -webkit-transform:rotate(270deg);
        -moz-transform:rotate(270deg);
        -o-transform: rotate(270deg);
    }
</style>

<!--         0             1             2               3            4             5        -->
<%status = ["MATRICULADO","TRANSFERIDO","TRANSFERENCIA","REMANEJADO","*REMANEJADO","ABANDONO"]%>
<%st =     ["MAT",        "TR",         "TR",           "RM",        "*RM",        "ABN"]%>

<!-- INICIO 3o. BIMESTRE -->
<%@classe.each do |classe|%>
    <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
        <tr style="border-color: white" style="height: 8px" >
            <td style="border-color: white" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
            <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
                <center><font size="1">Unidade Escolar:  <%=h classe.unidade.nome %>  </font></center>
                <center><font size="1"><%=h classe.unidade.endereco%>, <%=h classe.unidade.num%> - Americana - SP  </font>
                    <font size="1"><%=h classe.unidade.CEP%> - <%=h classe.unidade.fone%>  </font></center>
                <%  session[:classe]=  classe.id%>
            </td>
        </tr>
        <tr  style="height: 6px">
            <td style="border-color: white" width ="2%" align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %>
            </td>
            <td style="border-color: white"style="font-size: 6px" colspan="2" align="center"><font size="2"><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        REGISTRO E CONTROLE DE FREQUÊNCIA E RENDIMENTO ESCOLAR &nbsp&nbsp&nbsp&nbsp</b></font></td>
        </tr>
        <%session[:mostra_nome]=1%>
        <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
            <tr  style="font-size: 6px">
                <th colspan="2" align="CENTER"><font size ="2"><center><b>NOTAS 3º BIMESTRE</b></center></font>
                    <font size =1"><b> Classe:</b> <%=h classe.classe_classe%></font> <br/>
                    <font size ="1"><b> Período:</b> <%=h classe.horario %> </font> <br/>
                    <font size ="1"><b> Ano Letivo:</b> <%=h classe.classe_ano_letivo%></font><br/>
                </th>
                <% @atribuicao_classe.each do |atrib| %>
                    <th align="center"width ="5%" colspan="2"><div class="textovertical"><b> <%= atrib.disciplina.disciplina %></b></div></th>
                <%end%> <!-- 39 -->
            </tr>
            <tr style="font-size: 7px">
                <th  align="center" width="3%"><b>Nº: </b> </th>
                <th align="center"><b> Nome: </b> </th>
                <%qtde_disc=0%>
                <% @atribuicao_classe.each do |atrib| %>
                    <th align="center" width="1%"><b>Nota</b></th>
                    <th align="center" width="1%"><b>Falta</b></th>
                    <%qtde_disc=qtde_disc+1%>
                <%end%> <!-- 48 -->
            </tr>
            <%@matriculas_classe.each do |matriculas_classe| %>
                <%if matriculas_classe.status == "MATRICULADO"%>
                    <%status_aluno=0%>
                <%else%>
                    <%if matriculas_classe.status == "TRANSFERIDO"%>
                        <%status_aluno=1%>
                    <%else%>
                        <%if matriculas_classe.status == "TRANSFERENCIA"%>
                            <%status_aluno=2%>
                        <%else%>
                            <%if matriculas_classe.status == "REMANEJADO"%>
                                <%status_aluno=3%>
                            <%else%>
                                <%if matriculas_classe.status == "*REMANEJADO"%>
                                    <%status_aluno=4%>
                                <%else%>
                                    <%if matriculas_classe.status == "ABANDONO"%>
                                        <%status_aluno=5%>
                                    <%else%>
                                        <%status_aluno=-1%>
                                    <%end%> <!-- 71 -->
                                <%end%> <!-- 68 -->
                            <%end%> <!-- 65 -->
                        <%end%> <!-- 62 -->
                    <%end%> <!-- 59 -->
                <%end%> <!-- 56 -->
                <tr style="font-size: 7px">
                    <th align="center"><b><%= matriculas_classe.classe_num %></b></th>
                    <%if qtde_disc<10%>
                        <th align="left"><b><%= truncate(matriculas_classe.aluno.aluno_nome,:length => 40,:omission => "...") %></b>
                            <% if  matriculas_classe.status == "MATRICULADO"%>
                                <!-- No caso de matriculado, não imprime o status, pois é o status padrão -->
                            <%else%>
                                <%if matriculas_classe.status=="TRANSFERENCIA"%>
                                    <font color="blue"> (<%=  matriculas_classe.status %>)</font>
                                <%else%>
                                    <%if matriculas_classe.status=="REMANEJADO" or matriculas_classe.status=="*REMANEJADO"%>
                                        <font color="green"> (<%=  matriculas_classe.status %>)</font>
                                    <%else%>
                                        <font color="red"> (<%=  matriculas_classe.status %>)</font>
                                    <%end%> <!-- 90 -->
                                <%end%> <!-- 87 -->
                            <%end%> <!-- 84 -->
                            </font> </th>
                    <%else%>
                        <th align="left"><b><%= truncate(matriculas_classe.aluno.aluno_nome,:length => 20,:omission => "...") %></b></font> </th>
                    <%end%> <!-- 82 -->
                    <%@notas_alu=Nota.find(:all, :joins => "INNER JOIN atribuicaos ON atribuicaos.id = notas.atribuicao_id INNER JOIN disciplinas ON disciplinas.id = atribuicaos.disciplina_id   INNER JOIN alunos ON alunos.id = notas.aluno_id ", :conditions => ["atribuicaos.classe_id =? AND notas.matricula_id =? ", session[:classe_id],matriculas_classe.id],:order =>'disciplinas.ordem ASC')%>
                    <%cont_dis=0%>
                    <%nota_port=""%>
                    <%@atribuicao_classe.each do |atrib| %>
                        <%if @notas_alu.empty?%>
                            <%if status_aluno!=0%>
                                <th align="center"><font color="green">[1a]</font></th>
                                <th align="center"><font color="green">[1b]</font></th>
                            <%else%>
                                <th align="center"><font color="red">SN</font></th>
                                <th align="center"> --A </th>
                            <%end%> <!-- 105 -->
                        <%else%>
                            <%if (cont_dis+1)<=@notas_alu.size%>
                                <%if @notas_alu[cont_dis].atribuicao.disciplina.disciplina=="PORTUGUÊS"%>
                                    <%nota_port=@notas_alu[cont_dis].nota3%>
                                <%end%> <!-- 114 -->
                            <%end%>
                            <%if matriculas_classe.status!="MATRICULADO" and matriculas_classe.status!="TRANSFERENCIA" and matriculas_classe.status!="*REMANEJADO"%>
                                <%if cont_dis!=0 and ((cont_dis+1)!=@atribuicao_classe.count)%>
                                    <th align="center"><font color="red">---</font></th>
                                    <th align="center"><font color="red">---</font></th>
                                <%else%>
                                    <%if cont_dis==0%>
                                        <th align="center"><font color="red"><%=st[status_aluno]%></font></th>
                                        <th align="center"><font color="red">---</font></th>
                                    <%else%>
                                        <th align="center"><font color="red">---</font></th>
                                        <th align="center"><font color="red"><%=st[status_aluno]%></font></th>
                                    <%end%> <!-- 122 -->
                                <%end%> <!-- 118 -->
                            <%else%>
                                <%if (cont_dis+1)<=@notas_alu.size%>
                                    <% if @notas_alu[cont_dis].disciplina.curriculo=='D'%>
                                        <%session[:nota_disciplina]=''%>
                                    <%else%>
                                        <%session[:nota_disciplina]=@notas_alu[cont_dis].nota3 %>
                                    <%end%> <!-- 131 -->
                                <%end%>
                                <%if (cont_dis+1)<=@notas_alu.size%>
                                    <%if (@notas_alu[cont_dis].aluno_id==matriculas_classe.aluno.id) and (@notas_alu[cont_dis].atribuicao_id==atrib.id)%>
                                        <th align="center">
                                            <% if @notas_alu[cont_dis].nota3.nil? %> <!-- Notas que não foram lançadas -->
                                                <%if (@notas_alu[cont_dis].atribuicao.disciplina.nucleo_comum==1 and session[:num_classe]<6 and nota_port!=nil)%>
                                                    --- <!-- Notas das outras disciplinas do Nucleo Comum fora Português -->
                                                <%else%>
                                                    <!-- Outras disciplinas inclusive Português mas sem nota lançada -->
                                                <%end%> <!-- 139 -->
                                            <%else%>
                                                <%if (@notas_alu[cont_dis].nota3.to_i < 5.0) and (@notas_alu[cont_dis].nota3!="F") and (@notas_alu[cont_dis].nota3!="SN")%>
                                                    <font color ="red">  <%=session[:nota_disciplina]%> </font>
                                                <%else%>
                                                    <%=session[:nota_disciplina]%>
                                                <%end%> <!-- 145 -->
                                            <%end%> <!-- 138 -->
                                        </th>
                                        <% if (@notas_alu[cont_dis].atribuicao.disciplina.nucleo_comum==1 and session[:num_classe]<6)%>
                                            <th></th> <!-- Deixa em branco Faltas das outras disciplinas do Nucleo Comum fora PortuguÊs -->
                                        <%else%>
                                            <%if (@notas_alu[cont_dis].nota3!=nil or @notas_alu[cont_dis].faltas3!=0) and nota_port!=nil%>
                                                <th align="center"><%=@notas_alu[cont_dis].faltas3%></th>
                                            <%else%>
                                                <th align="center"></th>
                                            <%end%> <!-- 155 -->
                                        <%end%> <!-- 152 -->
                                    <%else%>
                                        <th align="center"><font color="green">[4]</font></th>
                                    <%end%> <!-- 136 -->
                                <%end%> <!-- 117 -->
                            <%end%>
                        <%end%> <!-- 105 -->
                        <%cont_dis=cont_dis+1%>
                    <%end%> <!-- 104 -->
                </tr>
            <%end%> <!-- 54 -->
            <tr style="font-size: 7px">
                <th  colspan="2" align="right" valign="top"><font size ="1"><b>Professor: </b></font> </th>
                <%@atribuicao_classe.each do |atrib| %>
                    <th colspan="2" align="center"valign="top"><%= truncate(atrib.professor.nome,:length => 17,:omission => "...") %></th>
                <%end%> <!-- 174 -->
            </tr>
            <tr style="font-size:6px">
                <td> <b>Legenda Notas</b></td>
                <td colspan="30"> <b>SN</b>= Sem Nota &nbsp&nbsp <b>TR</b> = TRansferido &nbsp&nbsp <b>RM</b>= ReManejado (saida) &nbsp&nbsp <b>*RM</b>= ReManejado (entrada) <b>F</b>= Frequentou &nbsp&nbsp <b>NF</b>= Não Frequentou &nbsp&nbsp <b>ABN</b>= ABaNdono &nbsp&nbsp
                </td>
            </tr>
            <tr style="font-size:6px" align="left">
                <td colspan="30">
                    <%if  session[:num_classe]<6%>
                        * As disciplinas de núcleo comum NÃO possuem lançamentos de faltas (dias), somente a disciplina de PORTUGUÊS. <br/>
                        * As disciplinas que NÃO pertencem ao núcleo comum as faltas (aulas) devem possuir lançamentos.
                    <%else%>
                        <%  %>
                    <%end%> <!-- 184 -->
                </td>
            </tr>
        </table>
    </table>
    <table  width="100%"style="border-color: white" >
        <tr style="font-size: 6px"style="border-color: white">
           <th align="left"   style="border-color: white">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Carimbo da U.E <br/>
           </th>

            <th align="RIGHT"   style="border-color: white"> <b>Americana</b>, <%= Time.now.strftime("%d de %B de %Y") %><br/></th>
        </tr>
        <tr style="font-size: 6px"style="border-color: white">
            <th align="right"   style="border-color: white"> <br/><br/><br/>
                ________________________________ <br/>
                 Secretário(a) U.E &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
        </tr>

    </table>
<%end%>
