<table  cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png" style ="width:100px; height: 100px;"></center></td>

    <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
                <center><font size="2"> Unidade de Ensino
            <%if (current_user.unidade.tipo_id == 1) or (current_user.unidade.tipo_id == 4) or (current_user.unidade.tipo_id == 7) or (current_user.unidade.tipo_id == 9)%>
                Fundamental
          <%else%>
                Infantil
          <%end%>
          </i></b><br/></center><br/>
        <font size="3"><b><center> <U>TRANSFERÊNCIA DURANTE O PERÍODO LETIVO</cente></u></b></font><br/>
    </td>
  </tr>
    <tr style="border-color: white">
      <th colspan="2" align="right" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %> </th>
  </tr>
 </table>
<hr/>
<table cellspacing="0" cellpadding="1" width="100%"style="border-color: white">
   <% @aluno.each do |aluno| %>
     <tr style="line-height: 12px">
        <th style="font-size: 10px" align="left" width =" 20%"><b>Unidade de Ensino:</b></th>
        <th style="font-size: 10px" align="left" ><b><%=h aluno.unidade.tipo.nome%> <%=h aluno.unidade.nome%></b></th>
     </tr>
     <tr style="line-height: 12px">
         <th style="font-size: 10px" align="left" ><b>Endereço:</b></th>
         <th style="font-size: 10px" align="left" ><%=h aluno.unidade.endereco %> - <%=h aluno.unidade.num %> - <%=h aluno.unidade.bairro %> CEP <%=h aluno.unidade.CEP%> FONE: (19)<%=h aluno.unidade.fone%></th>
     </tr>
     <%if (current_user.unidade.tipo_id == 1) or (current_user.unidade.tipo_id == 4) or (current_user.unidade.tipo_id == 7) or (current_user.unidade.tipo_id == 9)%>
         <tr>
            <th style="font-size: 10px" align="left"><b>Autorização:</b></th>
            <th style="font-size: 10px" align="left" ><%=h aluno.unidade.autorizacao%></th>
         </tr>
     <%end%>
  <%end%>
</table>
 <table cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
  <% @aluno.each do |aluno| %>
  <tr style="line-height: 12px">
       <th style="font-size: 10px" colspan="3" align="justify">
               <b>DECLARO</b>, para fins de transferência, que o(a)  aluno(a)<b> <%=h aluno.aluno_nome %></b>  R.A.: <b><%=h aluno.aluno_ra %></b>,
               <% if (aluno.aluno_RG.present?)  %>
                  e RG: <b><%=h aluno.aluno_RG %></b> emitido em <b><%=h aluno.aluno_emissaoRG %></b> ,
               <%end%>
               nascido(a) em <b><%=h aluno.aluno_nascimento.strftime("%d/%m/%Y") %></b> na cidade de <%=h aluno.aluno_naturalidade %>
               , encontra-se devidamente matriculado nesta unidade escolar na <b>classe</b>
               <%if (current_user.unidade.tipo_id == 1) or (current_user.unidade.tipo_id == 4) or (current_user.unidade.tipo_id == 7) or (current_user.unidade.tipo_id == 9)%>
                 <b><%= session[:classe]%></b>
               <%else%>
                     <%if  session[:classe][0,3] == 'BI '%>
                       <b> Berçario I </b> - <% session[:classe][0,3]%>
                     <%else if  session[:classe][0,3] == 'BII'%>
                                <b> Berçario II </b>
                            <% else if session[:classe][0,3] == 'MI '%>
                                  <b> Maternal I </b>
                                <% else if session[:classe][0,3] == 'MII'%>
                                       <b> Maternal II </b>
                                       <% else if session[:classe][0,3] == 'NI '%>
                                           <b> Nivel I </b>
                                          <% else if session[:classe][0,3] == 'NII'%>
                                               <b> Nível II </b>
                                               <%end%>
                                           <%end%>
                                       <%end%>
                                  <%end%>
                            <%end%>
                     <%end%>
               <%end%>
               , e nesta data deu entrada com o pedido de transferência nesta data, estando apto(a) a frequentar a classe 
               <% if  session[:classe]== "EJA" %>               
                   <b> EJA </b> - Ensino de Jovens e Adultos
               <%else%>
                     <%if (current_user.unidade.tipo_id == 1) or (current_user.unidade.tipo_id == 4) or (current_user.unidade.tipo_id == 7) or (current_user.unidade.tipo_id == 9)%>
                          <b><%=  session[:classe][0,1] %>º ano </b> do Ensino Fundamental de 9 anos.
                     <%else%>
                           <%if  session[:classe][0,3] == 'BI '%>
                             <b> Berçario I. </b> - <% session[:classe][0,3]%>
                           <%else if  session[:classe][0,3] == 'BII'%>
                                      <b> Berçario II. </b>
                                  <% else if session[:classe][0,3] == 'MI '%>
                                        <b> Maternal I. </b>
                                      <% else if session[:classe][0,3] == 'MII'%>
                                             <b> Maternal II. </b>
                                             <% else if session[:classe][0,3] == 'NI '%>
                                                 <b> Nivel I. </b>
                                                <% else if session[:classe][0,3] == 'NII'%>
                                                     <b> Nível II. </b>
                                                     <%end%>
                                                 <%end%>
                                             <%end%>
                                        <%end%>
                                  <%end%>
                           <%end%>
                     <%end%>
               <%end%>
       </th>
     </tr>
  <%end%>
</table>


<%if (current_user.unidade.tipo_id == 1) or (current_user.unidade.tipo_id == 4) or (current_user.unidade.tipo_id == 7) or (current_user.unidade.tipo_id == 9)%>
  <table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-color: white">
    <% @aluno.each do |aluno| %>
     <font size="3"><center><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp BOLETIM DE RENDIMENTO ESCOLAR  &nbsp&nbsp&nbsp&nbsp - &nbsp&nbsp&nbsp&nbsp  Ano letivo <%= Time.now.year %></b></center></font>
       <table  border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
           <tr  style="font-size: 10px" cellspacing="2" cellpadding="2" >
            <th style="font-size: 10px" width=" 25%" rowspan="2" align="center"><b>Disciplina</b></th>
            <th style="font-size: 10px" width=" 15%" colspan="3" align="center"><b>1º Bimestre</b></th>
            <th style="font-size: 10px" width=" 15%"colspan="3" align="center"><b>2º Bimestre</b></th>
            <th style="font-size: 10px" width=" 15%" colspan="3" align="center"><b>3º Bimestre</b></th>
            <th style="font-size: 10px" width=" 15%" colspan="3" align="center"><b>4º Bimestre</b></th>
            <th style="font-size: 10px" width=" 15%" colspan="3" align="center"><b>TOTAL</b></th>
         </tr>
         <tr>
           <th style="font-size: 10px" width = px align="center" ><b>Nota</b></th>
           <th style="font-size: 10px" width ="5%" align="center" ><b>Faltas</b></th>
           <th style="font-size: 10px" width ="5%" align="center"><b>Freq.</b></th>
           <th style="font-size: 10px" width ="5%" align="center" ><b>Nota</b></th>
           <th style="font-size: 10px" width ="5%" align="center" ><b>Faltas</b></th>
           <th style="font-size: 10px" width ="5%" align="center"><b>Freq.</b></th>
           <th style="font-size: 10px" width ="5%" align="center" ><b>Nota</b></th>
           <th style="font-size: 10px" width ="5%" align="center" ><b>Faltas</b></th>
           <th style="font-size: 10px" width ="5%" align="center"><b>Freq.</b></th>
           <th style="font-size: 10px" width ="5%" align="center" ><b>Nota</b></th>
           <th style="font-size: 10px" width ="5%" align="center"><b>Faltas</b></th>
           <th style="font-size: 10px" width ="5%" align="center"><b>Freq.</b></th>
           <th style="font-size: 10px" width ="5%" align="center" ><b>Aulas</b></th>
           <th style="font-size: 10px" width ="5%" align="center" ><b>Faltas</b></th>
           <th style="font-size: 10px" width ="5%" align="center"><b>Freq.</b></th>
         </tr>
         <tr>
           <th style="font-size: 10px"  bgcolor="#DCDCDC" align="left" colspan="17"> <b><center>CURRÍCULO BÁSICO </center> </b></th>

           
         </tr>
         <tr  style="line-height: 12px">
           <%@notasB.each do |nota|%>
           <th style="font-size: 10px"width=" 20%" align="left"><%= nota.atribuicao.disciplina.disciplina %> </th>
              <%if nota.nota1.present?%>
                   <th style="font-size: 10px"><%= nota.nota1 %></th>
                   <th style="font-size: 10px"><%= nota.faltas1 %></th>
                   <th style="font-size: 9px">
                                <%if nota.aulas1 !=0 %>
                                  <%if nota.faltas1 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia1 =  (100-(nota.faltas1.to_f / nota.aulas1.to_f)*100).to_i %>
                                      <%if frequencia1 < 75 %>
                                           <font color ="red"> <%= frequencia1%> % </font>
                                      <%else%>
                                           <%= frequencia1%> %

                                      <%end%>
                                   <%end%>
                                 <%end%>
                   </th>
              <%else%>
                   <th style="font-size: 10px">--</th>
                   <th style="font-size: 10px">--</th>
                   <th style="font-size: 9px">--</th>
              <%end%>
              <%if nota.nota2.present? or nota.faltas2 != 0%>
                   <th style="font-size: 10px"align="center"><%= nota.nota2 %></th>
                   <th style="font-size: 10px"align="center"><%= nota.faltas2 %></th>
                   <th style="font-size: 9px"align="center">
                                          <%if nota.aulas2 !=0 %>
                                            <%if nota.faltas2 == 0 %>
                                                100 %
                                            <%else%>
                                                <% frequencia2 =  (100-(nota.faltas2.to_f / nota.aulas2.to_f)*100).to_i %>
                                                <%if frequencia2 < 75 %>
                                                     <font color ="red"> <%= frequencia2%> % </font>
                                                <%else%>
                                                     <%= frequencia2%> %
                                                <%end%>
                                             <%end%>
                                          <%end%>

                     </th>
                <%else%>
                     <th style="font-size: 10px"align="center">--</th>
                     <th style="font-size: 10px"align="center">--</th>
                     <th style="font-size: 9px"align="center">--</th>
                <%end%>
                <%if nota.nota3.present?  or nota.faltas3 != 0%>
                     <th style="font-size: 10px"align="center"><%= nota.nota3 %></th>
                     <th style="font-size: 10px"align="center"><%= nota.faltas3 %></th>
                     <th style="font-size: 9px"align="center">
                                          <%if nota.aulas3 !=0 %>
                                            <%if nota.faltas3 == 0 %>
                                                100 %
                                            <%else%>
                                                <% frequencia3 =  (100-(nota.faltas3.to_f / nota.aulas3.to_f)*100).to_i %>
                                                <%if frequencia3 < 75 %>
                                                     <font color ="red"> <%= frequencia3%> % </font>
                                                <%else%>
                                                     <%= frequencia3%> %
                                                <%end%>
                                             <%end%>
                                         <%end%>
                     </th>
                <%else%>
                     <th style="font-size: 10px"align="center">--</th>
                     <th style="font-size: 10px"align="center">--</th>
                     <th style="font-size: 9px"align="center">--</th>
                <%end%>
                <%if nota.nota4.present?  or nota.faltas4 != 0%>
                     <th style="font-size: 10px"align="center"><%= nota.nota4 %></th>
                     <th style="font-size: 10px"align="center"><%= nota.faltas4 %></th>
                     <th style="font-size: 9px"align="center">
                                          <%if nota.aulas4 !=0 %>
                                            <%if nota.faltas4 == 0 %>
                                                100 %
                                            <%else%>
                                                <% frequencia4 =  (100-(nota.faltas4.to_f / nota.aulas4.to_f)*100).to_i %>
                                                <%if frequencia4 < 75 %>
                                                     <font color ="red"> <%= frequencia4%> % </font>
                                                <%else%>
                                                     <%= frequencia4%> %
                                                <%end%>
                                             <%end%>
                                         <%end%>
                     </th>

                <%else%>
                     <th style="font-size: 10px"align="center">--</th>
                     <th style="font-size: 10px"align="center">--</th>
                     <th style="font-size: 9px"align="center">--</th>
                <%end%>
                    <%if (nota.nota1.present?) or (nota.nota2.present?) or (nota.nota3.present?) or (nota.nota4.present?) %>
                        <% total_aulas =  (nota.aulas1)+(nota.aulas2)+(nota.aulas3)+(nota.aulas4) %>
                        <% total_faltas =  (nota.faltas1)+(nota.faltas2)+(nota.faltas3)+(nota.faltas4) %>

                        <th style="font-size: 10px"align="center"><%= total_aulas  %> </th>
                    <%else%>
                         <th style="font-size: 10px"align="center">--</th>
                    <%end%>
                      <th style="font-size: 10px"align="center"><%= total_faltas %></th>
                      <th style="font-size: 9px"align="center">

                                            <%if total_faltas == 0 %>
                                                100 %
                                            <%else%>
                                                <%if total_aulas !=0%>
                                                    <% frequencia =  format("%.0f",(100-(total_faltas.to_f / total_aulas.to_f)*100)) %>
                                                <%else%>
                                                    <% frequencia =  format("%.0f",(100-(total_faltas.to_f )*100)) %>
                                                <%end%>
                                                <%if frequencia.to_f < 75.0 %>
                                                    <%if frequencia.to_f < 0.0 %>
                                                     
                                                    <%else%>
                                                     <font color ="red"> <%= frequencia%> % </font>
                                                     <%end%>

                                                <%else%>
                                                     <%= frequencia%> %
                                                <%end%>
                                             <%end%>

                     </th>

             </tr>
          <%end%>
          <%flag1=0%>
          <%@notas.each do |nota|%>
             <% if flag1 == 0%>
              <%if nota.aulas5.nil?%>
                <%flag1=1%>
                  <tr>
                  <th colspan="20">
                    <center><font color ="red"><b>  PROFESSORES QUE NÃO LANÇARAM AS AULAS DADAS NO BIMESTRE OU AS FALTAS DO ALUNO, O SISTEMA NÂO CALCULA A FREQUÊNCIA, <br/>
                        PARA QUE O BOLETIM FIQUE CORRETO, FAVOR SOLICITAR QUE O PROFESSOR LANCE AS FALTAS E A QUANTIDADE DE AULAS DADAS.</b> </center>
                  </th>
                </tr>
             <%end%>
          <%end%>
         <%end%>
         <%if !@notasD.empty?%>
           <tr>
             <th style="font-size: 10px"bgcolor="#DCDCDC" align="left" colspan="16"> <b><center>CURRÍCULO DIVERSIFICADO </center> </b></th>
           </tr>
         <%end%>
         <tr>
           <%@notasD.each do |nota|%>

            <th style="font-size: 10px"align="left"><%= nota.atribuicao.disciplina.disciplina %></th>
            <%if nota.nota1.present? or nota.faltas1 != 0%>
                 <th style="font-size: 10px"align="center"><%= nota.nota1 %></th>
                 <th style="font-size: 10px"align="center"><%= nota.faltas1 %></th>
                 <th style="font-size: 9px"align="center">
                                      <%if nota.aulas1 !=0 %>
                                        <%if nota.faltas1 == 0 %>
                                            100 %
                                        <%else%>
                                            <% frequencia1 =  (100-(nota.faltas1.to_f / nota.aulas1.to_f)*100).to_i %>
                                            <%if frequencia1 < 75 %>
                                                 <font color ="red"> <%= frequencia1%> % </font>
                                            <%else%>
                                                 <%= frequencia1%> %
                                            <%end%>
                                         <%end%>
                                       <%end%>

                 </th>
            <%else%>
                 <th style="font-size: 10px"align="center">---</th>
                 <th style="font-size: 10px"align="center">---</th>
                 <th style="font-size: 9px"align="center">---</th>
            <%end%>
            <%if nota.nota2.present?  or nota.faltas2 != 0%>
                 <th style="font-size: 10px"align="center"><%= nota.nota2 %></th>
                 <th style="font-size: 10px"align="center"><%= nota.faltas2 %></th>
                 <th style="font-size: 9px"align="center">
                                      <%if nota.aulas2 !=0 %>
                                        <%if nota.faltas2 == 0 %>
                                            100 %
                                        <%else%>
                                            <% frequencia2 =  (100-(nota.faltas2.to_f / nota.aulas2.to_f)*100).to_i %>
                                            <%if frequencia2 < 75 %>
                                                 <font color ="red"> <%= frequencia2%> % </font>
                                            <%else%>
                                                 <%= frequencia2%> %
                                            <%end%>
                                         <%end%>
                                      <%end%>

                 </th>
            <%else%>
                 <th style="font-size: 10px"align="center">---</th>
                 <th style="font-size: 10px"align="center">---</th>
                 <th style="font-size: 9px"align="center">---</th>
            <%end%>
            <%if nota.nota3.present? or nota.faltas3 != 0%>
                 <th style="font-size: 10px"align="center"><%= nota.nota3 %></th>
                 <th style="font-size: 10px"align="center"><%= nota.faltas3 %></th>
                 <th style="font-size: 9px"align="center">
                                      <%if nota.aulas3 !=0 %>
                                        <%if nota.faltas3 == 0 %>
                                            100 %
                                        <%else%>
                                            <% frequencia3 =  (100-(nota.faltas3.to_f / nota.aulas3.to_f)*100).to_i %>
                                            <%if frequencia3 < 75 %>
                                                 <font color ="red"> <%= frequencia3%> % </font>
                                            <%else%>
                                                 <%= frequencia3%> %
                                            <%end%>
                                         <%end%>
                                      <%end%>
                 </th>
            <%else%>
                 <th style="font-size: 10px"align="center">---</th>
                 <th style="font-size: 10px"align="center">---</th>
                 <th style="font-size: 9px"align="center">---</th>
            <%end%>
            <%if nota.nota4.present?  or nota.faltas4 != 0%>
                 <th style="font-size: 10px"align="center"><%= nota.nota4 %></th>
                 <th style="font-size: 10px"align="center"><%= nota.faltas4 %></th>
                 <th style="font-size: 9px"align="center">
                                      <%if nota.aulas4 !=0 %>
                                        <%if nota.faltas4 == 0 %>
                                            100 %
                                        <%else%>
                                            <% frequencia4 =  (100-(nota.faltas4.to_f / nota.aulas4.to_f)*100).to_i %>
                                            <%if frequencia4 < 75 %>
                                                 <font color ="red"> <%= frequencia4%> % </font>
                                            <%else%>
                                                 <%= frequencia4%> %
                                            <%end%>
                                         <%end%>
                                      <%end%>
                 </th>

            <%else%>
                 <th style="font-size: 10px"align="center">---</th>
                 <th style="font-size: 10px"align="center">---</th>
                 <th style="font-size: 9px"align="center">---</th>
            <%end%>
                <%if (nota.nota1.present?) or (nota.nota2.present?) or (nota.nota3.present?) or (nota.nota4.present?) %>
                    <% total_aulas =  (nota.aulas1)+(nota.aulas2)+(nota.aulas3)+(nota.aulas4) %>
                    <% total_faltas =  (nota.faltas1)+(nota.faltas2)+(nota.faltas3)+(nota.faltas4) %>

                    <th style="font-size: 10px"align="center"><%= total_aulas  %> </th>
                <%else%>
                     <th style="font-size: 10px"align="center">--</th>
                <%end%>
                  <th style="font-size: 10px"align="center"><%= total_faltas %></th>
                  <th style="font-size: 9px"align="center">

                                        <%if total_faltas == 0 %>
                                            100 %
                                        <%else%>
                                            <%if total_aulas !=0%>
                                                <% frequencia =  format("%.0f",(100-(total_faltas.to_f / total_aulas.to_f)*100)) %>
                                            <%else%>
                                                <% frequencia =  format("%.0f",(100-(total_faltas.to_f )*100)) %>
                                            <%end%>
                                            <%if frequencia.to_f < 75.0 %>
                                                <%if frequencia.to_f < 0.0 %>
                                                 <font color ="red"></font>
                                                <%else%>
                                                 <font color ="red"> <%= frequencia%> % </font>
                                                 <%end%>
                                            <%else%>
                                                 <%= frequencia%> %
                                            <%end%>
                                         <%end%>

                 </th>

         </tr>
          <%end%>
            <tr style="border-color: white">
               <th align="left" style="font-size: 10px" colspan="16"><b>Observações:</b >&nbsp&nbsp 1) <b>F</b> = Frequentou &nbsp&nbsp <b>NF</b> = NÃO Frequentou <br/>
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      2) <b>E</b> = Excelente &nbsp&nbsp&nbsp&nbsp <b>B</b> = Bom &nbsp&nbsp&nbsp&nbsp <b>S</b> = Suficiente &nbsp&nbsp&nbsp&nbsp <b>I</b> = Insulficiente <br/>
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                      3) <b>O</b> = Ótimo &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>B</b> = Bom &nbsp&nbsp&nbsp&nbsp <b>R</b> = Regular &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>F</b> = Fraco  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>I</b> = Insulficiente <br/>
               </th>
             </tr>

       </table>
      <%end%>
              </table>
 <%end%>
      <table cellspacing="0" cellpadding="0" width="100%" style="border-color: white">
            <tr >
              <th style="border-color: white"  colspan="14" align="right" > <font size="1px">
                   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   Americana, <%= Time.now.strftime("%d de %B de %Y") %>

                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp__________________________________________ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ________________________________________<br/>
                   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       Secretaria da Unidade Escolar       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     Diretor da  Unidade Escolar    <br/>
                   
                </font>
                
              </th>
            </tr>
          </table>


     <table   class ="invisible_to_print " width="100%">
              <tr style="border-color: white">
               <th align="left" ><%= button_to '', onclick="javascript:MM_openBrWindow('#{impressao_transferencia_aluno_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></th>

              
                      <td align="right" ><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
              
              </tr>
            </table>




