<% @classe.each do |classe| %>

<table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
  <tr style="border-color: white" style="height: 8px" >
    <td style="border-color: white" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
                <center><font size="1">Unidade Escolar:  <%=h classe.unidade.nome %>  </font></center>
                <center><font size="1"><%=h classe.unidade.endereco%><%=h classe.unidade.num%> - Americana - SP  </font>
                <font size="1"><%=h classe.unidade.CEP%> - <%=h classe.unidade.fone%>  </font></center>
                <%  session[:classe]=  classe.id%>


    </td>
  </tr>
  <tr  style="height: 6px">

    <td style="border-color: white" width ="2%" align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
    <td style="border-color: white" colspan="2" align="center"><font size="2"><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
           REGISTRO E CONTROLE DE FREQUÊNCIA E RENDIMENTO ESCOLAR &nbsp&nbsp&nbsp&nbsp</b></font></td>
  </tr>

 </table>

      <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
           <tr >
              <td colspan="12"><b> Classe:</b> <%=h classe.classe_classe%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <b> Bimestre:</b> 3º &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <b> Período:</b> <%=h classe.horario %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <b> Ano Letivo:</b> <%=h classe.classe_ano_letivo%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <b> Curso:</b> Ensino Fundamental
              </td>
            </tr>

              <tr>
                 <% @atribuicao_classe.each do |atrib| %>
                <% if (atrib.disciplina.disciplina).length > 12 %>
                    <% if (atrib.disciplina.disciplina).length < 22 %>
                      <th style="font-size: 7px" align="center"width ="5%"  valign="top"><b><br/><%= atrib.disciplina.disciplina %> </b><br/>
                   <%else%>
                      <th style="font-size: 7px" align="center"width ="5%"  valign="top"><b><%= atrib.disciplina.disciplina %> </b><br/>
                   <%end%>
                <%else%>
                    <th style="font-size: 7px"  align="center"width ="5%"  valign="top"><br/><b><%= atrib.disciplina.disciplina %></b><br/>
                 <%end%>
                   <table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-color: white">
                          <%cont = 0%>
                       <tr>
                            <th  style="font-size: 7px" align="center" ><b> Nº </b> </th>
                            <th style="font-size: 7px" align="center"><b>Nota</b></th>
                            <th style="font-size: 7px" align="center"><b>Falta</b></th>
                       </tr>
                         <% @alunos.each do |aluno| %>
                             <%@notas.each do |nota|%>
                                <%if (nota.aluno_id == aluno.id) and (nota.atribuicao_id == atrib.id) and (nota.matricula.id == nota.matricula_id)%>
                                    <tr>

                                          <% if ((nota.matricula.classe_num - cont)<3) and ((nota.matricula.classe_num - cont)>-3) %>
                                            <%  cont =cont+1%>
                                              <th style="font-size: 8px" align="center"width ="33%" ><b><%= nota.matricula.classe_num %></b></font> </th>
                                               <th style="font-size: 8px" align="center"width ="33%"><% if  nota.nota3.nil? %>
                                                                                                  ---
                                                                                               <%else%>
                                                                                                  <%= nota.nota3 %>
                                                                                               <%end %>
                                                 </font> </th>
                                               <th style="font-size: 8px" align="center" width ="33%"><%= nota.faltas3%></th>
                                         <%end%>
                                    </tr>

                              <%end%>
                            <%end%>
                         <%end%>
                   <% cont2 = 0 %>
                   <%for cont2 in ((cont+1)..35) %>
                       <tr>
                         <th  style="font-size: 7px" align="center"width ="33%" ><b><%= cont2 %></b></font> </th>
                          <th  style="font-size: 7px" align="center"width ="33%">&nbsp</th>
                          <th  style="font-size: 7px" align="center" width ="33%">&nbsp</th>
                      </tr>
                  <% end  %>
                  </table>
                  <b>Prof:</b> <%= atrib.professor.nome %>
                 </th>
                <%end%>
              </tr>            </table>
       <br/>
       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Carimbo da U.E
       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp


        <b>Americana</b>, <%= Time.now.strftime("%d de %B de %Y") %>
        <br/>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        ________________________________ <br/>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretário(a) U.E
<%end%>


