<style type="text/css">
  .textovertical {
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
}
</style>

<% @classe.each do |classe| %>
    <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
          <tr style="border-color: white" style="height: 8px" >
             <td style="border-color: white" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
             <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
                        <center><font size="1">Unidade Escolar:  <%=h classe.unidade.nome %>  </font></center>
                        <center><font size="1"><%=h classe.unidade.endereco%><%=h classe.unidade.num%> - Americana - SP  </font>
                        <font size="1"><%=h classe.unidade.CEP%> - <%=h classe.unidade.fone%>  </font></center>
                        <%  session[:classe]=  classe.id%>


             </td>
          </tr>
          <tr  style="height: 6px">

            <td style="border-color: white" width ="2%" align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %>

            </td>
            <td style="border-color: white"style="font-size: 6px" colspan="2" align="center"><font size="2"><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   REGISTRO E CONTROLE DE FREQUÊNCIA E RENDIMENTO ESCOLAR &nbsp&nbsp&nbsp&nbsp</b></font></td>
          </tr>


          <%session[:mostra_nome]=1%>
          <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
               <tr  style="font-size: 7px">
                 <th colspan="2" align="CENTER"><font size ="2"><center><b>NOTAS 3º BIMESTRE</b></center></font>
                       <font size =1"><b> Classe:</b> <%=h classe.classe_classe%></font> <br/>
                      <font size ="1"><b> Período:</b> <%=h classe.horario %> </font> <br/>
                      <font size ="1"><b> Ano Letivo:</b> <%=h classe.classe_ano_letivo%></font><br/>
                  </th>
                 <%pv=0%>
                 <% @atribuicao_classe.each do |atrib| %>
                    <th align="center"width ="5%" colspan="2"><div class="textovertical"><b> <%= atrib.disciplina.disciplina %></b></div></th>
                 <%end%>
                </tr>
                <tr style="font-size: 7px">

                    <% if session[:mostra_nome]==1%>
                       <tr style="font-size: 7px">
                          <th  align="center"><b>Nº: </b> </th>
                          <th align="center"><b> Nome: </b> </th>
                          <% session[:disc] = 0 %>
                          <% if pv == 0 %>
                             <% @atribuicao_classe.each do |atrib| %>
                                <th align="center" width ="1%" ><b>Nota</b></th>
                                <th align="center" width =1%"><b>Falta</b></th>
                                <% session[:disc] = session[:disc] + 1 %>
                              <%end%>
                            <%pv=1%>
                          <%end%>
                       </tr>
                    <%end%>

                   <% @matriculas_classe.each do |matriculas_classe| %>
                       <tr style="font-size: 7px">
                          <th align="center"><b><%= matriculas_classe.classe_num %></b></font> </th>
                              <% if session[:disc] < 10 %>
                                   <th align="left"><b><%= truncate(matriculas_classe.aluno.aluno_nome,:length => 40,:omission => "...") %></b>
                                  <% if  matriculas_classe.status == "MATRICULADO"%>

                                    <%else%>
                                       <font color="red"> (<%=  matriculas_classe.status %>)</font>
                                  <%end%>
                                   </font> </th>
                              <%else%>
                                   <th align="left"><b><%= truncate(matriculas_classe.aluno.aluno_nome,:length => 20,:omission => "...") %></b></font> </th>
                             <%end%>                             <% @notas_alu = Nota.find(:all, :joins => "INNER JOIN atribuicaos ON atribuicaos.id = notas.atribuicao_id INNER JOIN disciplinas ON disciplinas.id = atribuicaos.disciplina_id   INNER JOIN alunos ON alunos.id = notas.aluno_id ", :conditions => ["atribuicaos.classe_id =? AND notas.ativo is null AND notas.matricula_id =? ", session[:classe_id],matriculas_classe.id],:order =>'disciplinas.ordem ASC')%>

                             <% @notas_alu = Nota.find(:all, :joins => "INNER JOIN atribuicaos ON atribuicaos.id = notas.atribuicao_id INNER JOIN disciplinas ON disciplinas.id = atribuicaos.disciplina_id   INNER JOIN alunos ON alunos.id = notas.aluno_id ", :conditions => ["atribuicaos.classe_id =? AND notas.ativo is null AND notas.matricula_id =? ", session[:classe_id],matriculas_classe.id],:order =>'disciplinas.ordem ASC')%>
                             <% @atribuicao_classe.each do |atrib| %>
                                <%if @notas_alu.empty?%>
                                      <%if matriculas_classe.status != "MATRICULADO"%>
                                          <th align="center"><font color="red">TR</font></th>
                                          <th align="center"> -- </th>
                                      <%else%>
                                          <th align="center"><font color="red">S/N</font></th>
                                          <th align="center"> -- </th>
                                      <%end%>
                                <%else%>
                                    <%@notas_alu.each do |nota|%>
                                       <%if (nota.aluno_id == matriculas_classe.aluno.id) and (nota.atribuicao_id == atrib.id)%>
                                          <th align="center">
                                              <% if  nota.nota3.nil? %>
                                                     ---
                                              <%else%>
                                                  <%if (nota.nota3.to_i < 5.0)  %>
                                                        <% if nota.nota3 =="F" %>
                                                             <%= nota.nota3 %>
                                                        <%else%>
                                                             <font color ="red"> <%= nota.nota3 %> </font>
                                                        <%end%>
                                                 <%else%>
                                                       <%= nota.nota3 %>
                                                <%end%>
                                               <%end %>
                                         </th>
                                         <th align="center" ><%= nota.faltas3%></th>
                                      <%end%>
                                   <%end%>
                               <%end%>

                   <%end%>
                 </tr>
                 <%session[:mostra_nome]=0%>
           </tr>
         <%cont = 0%>
        <%end%>
         <tr style="font-size: 6px">
           <th  colspan="2" align="right" valign="top"><font size ="1"><b>Professor: </b></font> </th>
            <% session[:prof] = 0 %>
            <% if session[:prof] == 0 %>
               <% @atribuicao_classe.each do |atrib| %>
                  <th colspan="2" align="center"valign="top" width ="1%" ><%= truncate(atrib.professor.nome,:length => 17,:omission => "...") %></th>
                  <% session[:prof] = session[:prof] + 1 %>
              <%end%>
              <%pv=1%>
            <%end%>
        </tr>
         <tr style="font-size: 7px">
           <th> <b>Legenda Notas</b></th>
           <th colspan="15"> <b>S/N</b>= Sem Nota &nbsp&nbsp <b>TR</b>= Transferido (saida)&nbsp&nbsp <b>TR</b>= Transferencia (entrada) &nbsp&nbsp <b>RM</b>= ReManejado (saida) &nbsp&nbsp <b>*RM</b>= ReManejado (entrada) <b>F</b>= Frequentou &nbsp&nbsp <b>NF</b>= Não Frequentou &nbsp&nbsp <b>ABN</b>= ABanono &nbsp&nbsp

           </th>
         </tr>
      </table>
    </table>
<%end%>
<table  width="100%"style="border-color: white" >
     <tr style="font-size: 9px"style="border-color: white">
         <th align="RIGHT"   style="border-color: white"> <br/><b>Americana</b>, <%= Time.now.strftime("%d de %B de %Y") %><br/></th>
    </tr>
     <tr style="font-size: 9px"style="border-color: white">
         <th align="center"   style="border-color: white"> <br/><br/><br/>
                             ________________________________ <br/>
           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretário(a) U.E <br/></th>
    </tr>
     <tr style="font-size: 10px"style="border-color: white">
         <th align="left"   style="border-color: white"> <br/><br/><br/><br/><br/><br/><br/><br/>
           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Carimbo da U.E <br/></th>
    </tr>
  </table>

