<table class ="invisible_to_print ">
  <tr>
    <td width ="2%" align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
</table>


<table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
        <% @aluno.each do |aluno| %>
             <center><font size="1">Unidade Escolar:  <%=h session[:un_nome] %>  </font></center>
             <center><font size="1"><%=h session[:un_end] %>, <%=h session[:un_end_nr]%> - Americana - SP  </font>
             <font size="1"><%=h session[:un_end_cep]%> - <%=h session[:un_end_fone]%>  </font></center>
        <%end%>

    </td>
  </tr>
  <tr style="border-color: white">
    <td style="border-color: white" colspan="2" align="right"><font size="2"><b>BOLETIM DE FREQUÊNCIA E RENDIMENTO ESCOLAR &nbsp&nbsp&nbsp&nbsp</b></font></td>
  </tr>
 </table>
<table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
  <tr>
    <% @aluno.each do |aluno| %>
    <th colspan="22" align="left" style="font-size: 8px"><b>Nº</b> <%= session[:num] %> &nbsp&nbsp&nbsp<b>Nome:</b>&nbsp&nbsp <%=h aluno.aluno_nome %> &nbsp&nbsp
                        <%  if  session[:status] =="TRANSFERIDO"%>
                              <font color ="red"> (Transferido) </font>
                         <%else if  session[:status] =="REMANEJADO"%>
                             <font color ="red"> (Remanejado) </font>
                               <%else if  session[:status] =="ABANDONO"%>
                                      <font color ="red"> (Abandono)</font>
                                     <%else if  session[:status] =="TRANSFERENCIA"%>
                                             <font color ="blue"> (Transferência)</font>
                                            <%else  if  session[:status] =="*REMANEJADO"%>
                                                   <font color ="blue"> (*Remanejado)</font>
                                                 <%end%>
                                           <%end%>
                                    <%end%>
                              <%end%>
                         <%end%>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <b>RA:</b>&nbsp&nbsp <%=h aluno.aluno_ra %></th>
      <% session[:aluno] = aluno.id %>
    <%end%>
  </tr>
  <tr>
  <% for classe in @classe %>

    <th colspan="22"  align="left" style="font-size: 8px"><b>Classe:</b>&nbsp&nbsp <%=h classe.classe_classe%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         <b>Período:</b>&nbsp&nbsp <%=h classe.horario %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         <b>Ano Letivo:</b> &nbsp&nbsp<%=h classe.classe_ano_letivo %></th>
             <%  session[:classe]=  classe.id%>
  </tr>
  <%end%>
  <tr>
    <td colspan="22"></td>
  </tr>
<% @aluno.each do |aluno| %>
    <tr>
      <th style="font-size: 8px" width=" 25%" rowspan="2" align="center"><b>Disciplina</b></th>
      <th style="font-size: 8px" width=" 15%" colspan="4" align="center"><b>1º Bimestre</b></th>
      <th style="font-size: 8px" width=" 15%"colspan="4"  bgcolor="#E7E7E7"align="center"><b>2º Bimestre</b></th>
      <th style="font-size: 8px" width=" 15%" colspan="4" align="center"><b>3º Bimestre</b></th>
      <th style="font-size: 8px" width=" 15%" colspan="4"  bgcolor="#E7E7E7"align="center"><b>4º Bimestre</b></th>
      <th style="font-size: 8px" width=" 15%" colspan="4" align="center"><b>FINAL</b></th>
   </tr>
   <tr>
     <th style="font-size: 7px" width ="3%" align="center" ><b>Nota</b></th>
     <th style="font-size: 7px"  width ="3%" align="center" ><b>Falta*</b></th>
     <th  style="font-size: 7px" width ="3%" align="center" ><b>Freq.</b></th>
     <th  style="font-size: 7px" width ="3%" align="center" ><b>Comp.</b></th>
     <th  style="font-size: 7px" width ="3%" align="center"  bgcolor="#E7E7E7" ><b>Nota</b></th>
     <th  style="font-size: 7px" width ="3%" align="center"  bgcolor="#E7E7E7" ><b>Falta*</b></th>
     <th  style="font-size: 7px" width ="3%" align="center"  bgcolor="#E7E7E7" ><b>Freq.</b></th>
     <th  style="font-size: 7px" width ="3%" align="center"  bgcolor="#E7E7E7" ><b>Comp.</b></th>
     <th  style="font-size: 7px" width ="3%" align="center" ><b>Nota</b></th>
     <th  style="font-size: 7px" width ="3%" align="center" ><b>Falta*</b></th>
     <th  style="font-size: 7px" width ="3%" align="center" ><b>Freq.</b></th>
     <th  style="font-size: 7px" width ="3%" align="center" ><b>Comp.</b></th>
     <th  style="font-size: 7px" width ="3%" align="center"  bgcolor="#E7E7E7" ><b>Nota</b></th>
     <th  style="font-size: 7px" width ="3%" align="center"  bgcolor="#E7E7E7"><b>Falta*</b></th>
     <th  style="font-size: 7px" width ="3%" align="center"  bgcolor="#E7E7E7" ><b>Freq.</b></th>
     <th  style="font-size: 7px" width ="3%" align="center"  bgcolor="#E7E7E7" ><b>Comp.</b></th>
     <th  style="font-size: 7px" width ="3%" align="center" ><b>Nota</b></th>
     <th style="font-size: 7px"  width ="3%" align="center" ><b>Falta*</b></th>
     <th  style="font-size: 7px" width ="3%" align="center" ><b>Freq.</b></th>
     <th  style="font-size: 7px" width ="3%" align="center" ><b>Comp.</b></th>
   </tr>
   <tr>
     <th style="font-size: 7px" bgcolor="#DCDCDC"> <b><center>CURRÍCULO BÁSICO   </center> </b></th>
     <th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 7px" bgcolor="#DCDCDC"></th><th style="font-size: 7px" bgcolor="#DCDCDC"></th>
     
   </tr>
   <tr>
     <%@notasB.each do |nota|%>
      <%compensacao = 0 %>
      <th style="font-size: 8px" width=" 20%" align="left"><%= nota.atribuicao.disciplina.disciplina %></th>
      <%if nota.nota1.present? or nota.faltas1 != 0%>
           <th style="font-size: 8px" align="center">
                                <%if nota.nota1.to_i < 5.0 %>
                                   <font color ="red"> <%= nota.nota1 %> </font>
                               <%else%>
                                    <%= nota.nota1 %>
                               <%end%>
           </th>
            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
            <%else%>
                       <th style="font-size: 8px" align="center"><%= nota.faltas1 %></th>
                       <th style="font-size: 8px" align="center">
                                  <%if nota.faltas1 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia1 =  (100-(nota.faltas1.to_f / nota.aulas1.to_f)*100).to_i %>
                                      <%if frequencia1 < 75 %>
                                           <font color ="red"> <%= frequencia1%> % </font>
                                      <%else%>
                                           <%= frequencia1%> %

                                      <%end%>
                                   <%end%>
                        </th>
                    <%if nota.comp1 == 0 %>
                            
                               <th style="font-size: 8px" align="center">0</th>
                            
                    <%else%>
                         <th style="font-size: 8px" align="center"><%compensacao = compensacao+ nota.comp1 %><%= nota.comp1 %></th>
                    <%end%>
            <%end%>

      <%else%>
           <th style="font-size: 8px" align="center">---</th>
           <th style="font-size: 8px" align="center">---</th>
           <th style="font-size: 8px" align="center">---</th>
           <th style="font-size: 8px" align="center">---</th>
      <%end%>
      <%if nota.nota2.present? or nota.faltas2 != 0%>
           <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> <%if nota.nota2.to_i < 5.0 %>
                                   <font color ="red"> <%= nota.nota2 %> </font>
                               <%else%>
                                    <%= nota.nota2 %>
                               <%end%>
           </th>
            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
            <%else%>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"><%= nota.faltas2 %></th>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7"  bgcolor="#E7E7E7" align="center">
                                  <%if nota.faltas2 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia2 =  (100-(nota.faltas2.to_f / nota.aulas2.to_f)*100).to_i %>
                                      <%if frequencia2 < 75 %>
                                           <font color ="red"> <%= frequencia2%> % </font>
                                      <%else%>
                                           <%= frequencia2%> %

                                      <%end%>
                                   <%end%>
                        </th>
                        <%if  nota.comp2==0 %>
                             <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">0</th>
                        <%else%>
                             <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"><%compensacao = compensacao+ nota.comp2 %><%= nota.comp2 %></th>
                        <%end%>

            <%end%>
      <%else%>
           <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">---</th>
      <%end%>
      <%if nota.nota3.present? or nota.faltas3 != 0%>
           <th style="font-size: 8px" align="center"> <%if nota.nota3.to_i < 5.0 %>
                                   <font color ="red"> <%= nota.nota3 %> </font>
                               <%else%>
                                    <%= nota.nota3 %>
                               <%end%>
           </th>
            <% if (nota.atribuicao.disciplina.nucleo_comum==1 and session[:num_classe]<6) %>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
            <%else%>
                       <th style="font-size: 8px" align="center"><%= nota.faltas3 %></th>
                       <th style="font-size: 8px" align="center">
                                  <%if nota.faltas3 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia3 =  (100-(nota.faltas3.to_f / nota.aulas3.to_f)*100).to_i %>
                                      <%if frequencia3 < 75 %>
                                           <font color ="red"> <%= frequencia3%> % </font>
                                      <%else%>
                                           <%= frequencia3%> %

                                      <%end%>
                                   <%end%>
                      </th>
                    <%if  nota.comp3==0 %>
                           <th style="font-size: 8px" align="center">0</th>
                    <%else%>
                           <th style="font-size: 8px" align="center"><%compensacao = compensacao+ nota.comp3 %><%= nota.comp3 %></th>
                    <%end%>

            <%end%>
         <%else%>
           <th style="font-size: 8px" align="center">---</th>
           <th style="font-size: 8px" align="center">---</th>
           <th style="font-size: 8px" align="center">---</th>
           <th style="font-size: 8px" align="center">---</th>
      <%end%>
      <%if nota.nota4.present? or nota.faltas4 != 0%>
           <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> <%if nota.nota4.to_i < 5.0 %>
                                   <font color ="red"> <%= nota.nota4 %> </font>
                               <%else%>
                                    <%= nota.nota4 %>
                               <%end%>
           </th>
            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
                                              <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
            <%else%>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"><%= nota.faltas4 %></th>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">
                                  <%if nota.faltas4 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia4 =  (100-(nota.faltas4.to_f / nota.aulas4.to_f)*100).to_i %>
                                      <%if frequencia4 < 75 %>
                                           <font color ="red"> <%= frequencia4%> % </font>
                                      <%else%>
                                           <%= frequencia4%> %

                                      <%end%>
                                   <%end%>
                      </th>
                       <%if nota.comp4==0 %>
                             <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">0</th>
                       <%else%>
                             <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"><%compensacao = compensacao+ nota.comp4 %><%= nota.comp4 %></th>
                       <%end%>

               <%end%>

      <%else%>
           <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">---</th>
      <%end%>
      <%if nota.nota5.present? or nota.faltas5 != 0%>
           <th style="font-size: 8px" align="center"><%if nota.nota5.to_i < 5.0 %>
                                  <%if nota.nota5.nil? or nota.nota5 == ''%>
                                         ---
                                  <%else%>
                                        <font color ="red"> <%= nota.nota5 %> </font>
                                  <%end%>
                               <%else%>
                                  <%if nota.nota5.nil? or nota.nota5 == ''%>
                                         ---
                                  <%else%>
                                        <%= nota.nota5 %>
                                  <%end%>
                               <%end%>
           </th>
            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
            <%else%>
                       <th style="font-size: 8px" align="center"><% nota.faltas5  =(nota.faltas1) + (nota.faltas2) + (nota.faltas3) + (nota.faltas4) %>
                                                                  <%  if !nota.aulas5.nil? and !nota.faltas5.nil?%>
                                                                     <%= nota.faltas5 %>
                                                                    <%else%>
                                                                          ---
                                                                   <%end%>

                       </th>
                       <th style="font-size: 8px" align="center">
                                  <%if nota.faltas5 == 0 %>
                                      100 %
                                  <%else%>
                                       <%  if !nota.aulas5.nil? and !nota.faltas5.nil?%>
                                              <%  nota.aulas5 = nota.aulas1 + nota.aulas2 + nota.aulas3  + nota.aulas4  %>
                                              <% frequencia5 =  (100-(((nota.faltas5.to_f - compensacao.to_f) / nota.aulas5.to_f)*100)).to_i %>
                                              <%if frequencia5 < 75 %>
                                                   <font color ="red"> <%= frequencia5%> % </font>
                                              <%else%>
                                                   <%= frequencia5%> %

                                              <%end%>
                                        <%else%>
                                              ---
                                       <%end%>
                                   <%end%>
                       </th>
                       <%if nota.comp5==0 %>
                             <th style="font-size: 8px" align="center">0</th>
                       <%else%>
                             <th style="font-size: 8px" align="center"><%= nota.comp5 %></th>
                       <%end%>

            <%end%>
      <%else%>
           <%if nota.aulas5 != 0%>
                 <th style="font-size: 8px" align="center">---</th>
           <%else%>
                <%if nota.nota5.present? or nota.faltas5 != 0%>
                    <th style="font-size: 8px" align="center">0</th>
                <%else%>
                    <th style="font-size: 8px" align="center">---</th>
                 <%end%>
                  
           <%end%>
           <%if nota.faltas5 != 0%>
                 <th style="font-size: 8px" align="center">---</th>
                 <th style="font-size: 8px" align="center">---</th>
                 <th style="font-size: 8px" align="center">---</th>
           <%else%>
                <%if nota.aulas5 != 0%>
                       <th style="font-size: 8px" align="center"> 0 </th>
                       <th style="font-size: 8px" align="center"> 100% </th>
                       <th style="font-size: 8px" align="center"> <%= nota.comp5 %> </th>
                <%else%>
                       <th style="font-size: 8px" align="center">---</th>
                       <th style="font-size: 8px" align="center">---</th>
                       <th style="font-size: 8px" align="center">---</th>
                <%end%>
           <%end%>

      <%end%>

   </tr>
    <%end%>
   <%if @notasD.present?%>
   <tr>
     <th style="font-size: 8px" bgcolor="#DCDCDC"> <b><center>CURRÍCULO DIVERSIFICADO   </center> </b></th>
     <th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th>
     <th style="font-size: 8px" bgcolor="#DCDCDC"></th><th style="font-size: 8px" bgcolor="#DCDCDC"></th>
   </tr>
   <%end%>

      <tr>
     <% total_aulas =0 %>
     <%@notasD.each do |nota|%>
            <%compensacao = 0 %>
              <% if nota.aulas1.nil? %>
                   <%  nota.aulas1= 0 %>
             <%end%>
             <% if nota.aulas2.nil? %>
                   <%  nota.aulas2= 0 %>
             <%end%>
              <% if nota.aulas3.nil? %>
                   <%  nota.aulas3= 0 %>
             <%end%>
              <% if nota.aulas4.nil? %>
                   <%  nota.aulas4= 0 %>
             <%end%>
             <% if nota.faltas1.nil? %>
                  <%nota.faltas1= 0%>
            <%end%>
             <% if nota.faltas2.nil? %>
                  <%nota.faltas2= 0%>
            <%end%>
             <% if nota.faltas3.nil? %>
                  <%nota.faltas3= 0%>
            <%end%>
             <% if nota.faltas4.nil? %>
                  <%nota.faltas4= 0%>
            <%end%>
      <th style="font-size: 8px"align="left"><%= nota.atribuicao.disciplina.disciplina %></th>
       <%if nota.aulas1 != 0 %>
           <%if (nota.disciplina_id==65 or nota.disciplina_id==8  or nota.disciplina_id=33)  and nota.atribuicao.classe.classe_classe.slice(0..0).to_i >= 6%>
               <th style="font-size: 8px"align="center"><%=nota.nota1%></th>
           <%else%>
               <th style="font-size: 8px"align="center"></th>
           <%end%>
            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
            <%else%>
                       <th style="font-size: 8px" align="center"><%= nota.faltas1 %></th>
                       <th style="font-size: 8px" align="center">
                                  <%if nota.faltas1 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia1 =  (100-(nota.faltas1.to_f / nota.aulas1.to_f)*100).to_i %>
                                      <%if frequencia1 < 75 %>
                                           <font color ="red"> <%= frequencia1%> % </font>
                                      <%else%>
                                           <%= frequencia1%> %

                                      <%end%>
                                   <%end%>
                        </th>
                        <%if nota.comp1 == 0 %>
                             <th style="font-size: 8px" align="center">0</th>
                        <%else%>
                             <th style="font-size: 8px" align="center"><%compensacao = compensacao+ nota.comp1 %><%= nota.comp1 %></th>
                        <%end%>
            <%end%>

      <%else%>
           <th style="font-size: 8px"align="center">---</th>
           <th style="font-size: 8px"align="center">---</th>
           <th style="font-size: 8px"align="center">---</th>
           <th style="font-size: 8px"align="center">---</th>
      <%end%>
       <%if nota.aulas2!=0 %>
           <%if (nota.disciplina_id==65 or nota.disciplina_id==8  or nota.disciplina_id=33)  and nota.atribuicao.classe.classe_classe.slice(0..0).to_i >= 6%>
               <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center"><%=nota.nota2%></th>
           <%else%>
               <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center"></th>
           <%end%>
            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
            <%else%>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"><%= nota.faltas2 %></th>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">
                                  <%if nota.faltas1 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia2 =  (100-(nota.faltas2.to_f / nota.aulas2.to_f)*100).to_i %>
                                      <%if frequencia2 < 75 %>
                                           <font color ="red"> <%= frequencia2%> % </font>
                                      <%else%>
                                           <%= frequencia2%> %

                                      <%end%>
                                   <%end%>
                        </th>
                    <%if nota.comp2 == 0 %>

                               <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">0</th>

                    <%else%>
                         <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"><%compensacao = compensacao+ nota.comp2 %><%= nota.comp2 %></th>
                    <%end%>
            <%end%>

      <%else%>
           <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center">---</th>
      <%end%>

       <%if nota.aulas3!=0 %>
           <%if (nota.disciplina_id==65 or nota.disciplina_id==8  or nota.disciplina_id=33)  and nota.atribuicao.classe.classe_classe.slice(0..0).to_i >= 6%>
               <th style="font-size: 8px"align="center"><%=nota.nota3%></th>
           <%else%>
               <th style="font-size: 8px"align="center"></th>
           <%end%>
            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
            <%else%>
                       <th style="font-size: 8px" align="center"><%= nota.faltas3 %></th>
                       <th style="font-size: 8px" align="center">
                                  <%if nota.faltas3 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia3 =  (100-(nota.faltas3.to_f / nota.aulas3.to_f)*100).to_i %>
                                      <%if frequencia3 < 75 %>
                                           <font color ="red"> <%= frequencia3%> % </font>
                                      <%else%>
                                           <%= frequencia3%> %

                                      <%end%>
                                   <%end%>
                        </th>
                    <%if nota.comp3 == 0 %>

                               <th style="font-size: 8px" align="center">0</th>

                    <%else%>
                         <th style="font-size: 8px" align="center"><%compensacao = compensacao+ nota.comp3 %><%= nota.comp3 %></th>
                    <%end%>
            <%end%>

      <%else%>
           <th style="font-size: 8px"align="center">---</th>
           <th style="font-size: 8px"align="center">---</th>
           <th style="font-size: 8px"align="center">---</th>
           <th style="font-size: 8px"align="center">---</th>
      <%end%>

       <%if nota.aulas4!=0 %>
           <%if (nota.disciplina_id==65 or nota.disciplina_id==8  or nota.disciplina_id=33)  and nota.atribuicao.classe.classe_classe.slice(0..0).to_i >= 6%>
               <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center"><%=nota.nota4%></th>
           <%else%>
               <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center"></th>
           <%end%>
            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"> </th>
            <%else%>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"><%= nota.faltas4 %></th>
                       <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">
                                  <%if nota.faltas4 == 0 %>
                                      100 %
                                  <%else%>
                                      <% frequencia4 =  (100-(nota.faltas4.to_f / nota.aulas4.to_f)*100).to_i %>
                                      <%if frequencia4 < 75 %>
                                           <font color ="red"> <%= frequencia4%> % </font>
                                      <%else%>
                                           <%= frequencia4%> %

                                      <%end%>
                                   <%end%>
                        </th>
                    <%if nota.comp4 == 0 %>

                               <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center">0</th>

                    <%else%>
                         <th style="font-size: 8px"  bgcolor="#E7E7E7" align="center"><%compensacao = compensacao+ nota.comp4 %><%= nota.comp4 %></th>
                    <%end%>
            <%end%>

      <%else%>
           <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center">---</th>
           <th style="font-size: 8px"  bgcolor="#E7E7E7"align="center">---</th>
      <%end%>
       <% nota.faltas5  =(nota.faltas1) + (nota.faltas2) + (nota.faltas3) + (nota.faltas4) %>
       <%if nota.aulas5!=0 %>
           <%if(nota.disciplina_id==65 or nota.disciplina_id==8  or nota.disciplina_id=33)  and nota.atribuicao.classe.classe_classe.slice(0..0).to_i >= 6%>
               <th style="font-size: 8px"align="center"><%=nota.nota5%></th>
           <%else%>
               <th style="font-size: 8px"align="center"></th>
           <%end%>
            <% if (nota.atribuicao.disciplina.nucleo_comum ==1 and  session[:num_classe]< 6  ) %>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
                       <th style="font-size: 8px" align="center"> </th>
            <%else%>
                       <th style="font-size: 8px" align="center"><%= nota.faltas5 %></th>
                       <th style="font-size: 8px" align="center">
                                  <%if nota.faltas5 == 0 %>
                                      100 %
                                  <%else%>
                                    <%  nota.aulas5 = nota.aulas1 + nota.aulas2 + nota.aulas3  + nota.aulas4  %>
                                    <% frequencia5 =  (100-(((nota.faltas5.to_f - compensacao.to_f) / nota.aulas5.to_f)*100)).to_i %>
                                      <%if frequencia5 < 75 %>
                                           <font color ="red"> <%= frequencia5%> % </font>
                                      <%else%>
                                           <%= frequencia5%> %

                                      <%end%>
                                   <%end%>
                        </th>
                    <%if nota.comp5 == 0 %>

                               <th style="font-size: 8px" align="center">0</th>

                    <%else%>
                         <th style="font-size: 8px" align="center"><%= nota.comp5 %></th>
                    <%end%>
            <%end%>

      <%else%>
           <th style="font-size: 8px"align="center">---</th>
           <th style="font-size: 8px"align="center">---</th>
           <th style="font-size: 8px"align="center">---</th>
           <th style="font-size: 8px"align="center">---</th>
      <%end%>



   </tr>
 
    <%end%>

        <tr >
             <th></th>
             <th style="font-size: 8px" colspan="23" align="left">
                           <% if  session[:num_classe]< 6   %>
                                * As disciplinas de núcleo comum NÃO possuem lançamentos de faltas (dias), somente a disciplina de PORTUGUÊS. <br/>
                                * As disciplinas que NÃO pertencem ao núcleo comum as faltas (aulas) devem possuir lançamentos.<br/>
                                * COMP. = ausências compensadas. <b>A freqüência bimestral NÂO computa, em seu cálculo, as faltas compensadas.</b><br/>
                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                     <b>A freqüência FINAL computa, em seus cálculos, as faltas compensadas.</b>
                          <%else%>
                               <%  %>
                          <%end%>
             </th>
        </tr>

     <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('pedagogo'))%>
         <tr>
           <th style="font-size: 8px"colspan="23" align="left"><b>Observações:</b></th>
         </tr>
            <%@notas.each do |nota|%>
               <% if nota.observacao_notas.present? %>
                 <tr>
                   <th style="font-size: 8px" align="right" valign="top"><%= nota.disciplina.disciplina %>&nbsp&nbsp</th>
                   <th style="font-size: 9px" colspan="15" align="left"> <% c=0 %>

                                             <% @obs= ObservacaoNota.find(:all, :conditions =>["nota_id=?",nota])%>
                                                 <% @obs.each do |obs|%>
                                                       <b><%= c=c+1%>.</b><%=obs.observacao %>  -
                                                           <b>Data: </b> <%  if !obs.data.nil?  %>
                                                                <%=  obs.data.strftime("%d/%m/%Y")%><br/>
                                                     <%end%>
                                                 <%end%>
                      </th>
                 </tr>
              <%end%>
           <%end%>
          <%@observacao2.each do |observacao| %>
              <tr>
                   <th style="font-size: 8px" align="right" valign="top"><%= observacao.quem %>&nbsp&nbsp</th>
                   <th style="font-size: 8px" align="left" colspan="15"><%= observacao.observacao %> -
                                   <b>Data: </b> <%  if !observacao.data.nil?  %>
                                                    <%=  observacao.data.strftime("%d/%m/%Y")%>
                                                 <%end%>
                 </th>
              </tr>
            <%end%>
   <%end%>

     <%# if (current_user.has_role?('secretaria_fundamental'))%>
   <!--      <tr>
           <th style="font-size: 8px"colspan="23" align="left"><b>Observações:</b></th>
         </tr>
          <%#@observacao2.each do |observacao| %>
              <tr>
                   <th style="font-size: 8px" align="right" valign="top"><%#= observacao.quem %>&nbsp&nbsp</th>
                   <th style="font-size: 8px" align="left" colspan="15"><%#= observacao.observacao %> -
                                   <b>Data: </b> <%#  if !observacao.data.nil?  %>
                                                    <%#=  observacao.data.strftime("%d/%m/%Y")%>
                                                 <%#end%>
                 </th>
              </tr>
            <%#end%>
-->
            <tr style="border-color: white">
                <th style="font-size: 7px" rowspan="1" align="center"><b>Estatíticas / Médias</b></th>
                <th style="font-size: 7px" colspan="4" align="center"><b> 1º Bimestre</font></b></th>
                <th style="font-size: 7px" colspan="4" align="center"bgcolor="#E7E7E7"><b> 2º Bimestre</b></th>
                <th style="font-size: 7px" colspan="4" align="center"> 3º Bimestre</b></th>
                <th style="font-size: 7px" colspan="4" align="center"bgcolor="#E7E7E7"><b>4º Bimestre</b></th>
                <th style="font-size: 7px" colspan="4" align="center"><b>FINAL</b></th>
            </tr>
           <tr>
               <th style="font-size: 7px" align="right"> Aluno &nbsp&nbsp&nbsp</th>
               <th style="font-size: 7px" align="left" colspan="2"><b> Nota:   <%= session[:Nmedia1] = ((session[:Nmedia1].to_f/@notasB.count).to_f).round(1) %></b></th>
               <th style="font-size: 7px" align="left" colspan="2"><b> Faltas: <%= session[:Fmedia1]= ((session[:Fmedia1].to_f/@notasB.count).to_f).round(1) %></b></th>
               <th style="font-size: 7px" align="left" colspan="2"bgcolor="#E7E7E7"><b> Nota:   <%= session[:Nmedia2]= ((session[:Nmedia2].to_f/@notasB.count).to_f).round(1) %></b></th>
               <th style="font-size: 7px" align="left" colspan="2"bgcolor="#E7E7E7"><b> Faltas: <%= session[:Fmedia2]= ((session[:Fmedia2].to_f/@notasB.count).to_f).round(1) %></b></th>
               <th style="font-size: 7px" align="left" colspan="2"><b> Nota:   <%= session[:Nmedia3]= ((session[:Nmedia3].to_f/@notasB.count).to_f).round(1)%></b></th>
               <th style="font-size: 7px" align="left" colspan="2"><b> Faltas: <%= session[:Fmedia3]=((session[:Fmedia3].to_f/@notasB.count).to_f).round(1) %></b></th>
               <th style="font-size: 7px" align="left" colspan="2"bgcolor="#E7E7E7"><b> Nota:   <%= session[:Nmedia4]= ((session[:Nmedia4].to_f/@notasB.count).to_f).round(1) %></b></th>
               <th style="font-size: 7px" align="left" colspan="2"bgcolor="#E7E7E7"><b> Faltas: <%= session[:Fmedia4]= ((session[:Fmedia4].to_f/@notasB.count).to_f).round(1) %></b></th>
               <th style="font-size: 7px" align="left" colspan="2"><b>Nota:   <%= session[:NmediaF]=((session[:NmediaF].to_f/@notasB.count).to_f).round(1) %></b></th>
               <th style="font-size: 7px" align="left" colspan="2"><b> Faltas: <%= session[:FmediaF]=((session[:FmediaF].to_f/@notasB.count).to_f).round(1) %></b></th>
           </tr>

           <tr>
               <th style="font-size: 7px" align="right">Média Classe&nbsp&nbsp&nbsp </th>
               <th style="font-size: 7px" align="left" colspan="2"><b> Nota: <%=session[:total_notas1]%> </b></th>
               <th style="font-size: 7px" align="left" colspan="2"><b> Falta: <%=session[:total_faltas1]%></b></th>
               <th style="font-size: 7px" align="left" colspan="2"bgcolor="#E7E7E7"><b> Nota: <%=session[:total_notas2]%></b></th>
               <th style="font-size: 7px" align="left" colspan="2"bgcolor="#E7E7E7"><b> Faltas: <%=session[:total_faltas2]%></b></th>
               <th style="font-size: 7px" align="left" colspan="2"><b> Nota: <%=session[:total_notas3]%></b></th>
               <th style="font-size: 7px" align="left" colspan="2"><b> Faltas: <%=session[:total_faltas3]%></b></th>
               <th style="font-size: 7px" align="left" colspan="2" bgcolor="#E7E7E7"><b> Nota: <%=session[:total_notas4]%></b></th>
               <th style="font-size: 7px" align="left" colspan="2" bgcolor="#E7E7E7"><b> Faltas: <%=session[:total_faltas4]%></b></th>
               <th style="font-size: 7px" align="left" colspan="2"><b> Nota: <%=session[:total_notas5]%></b></th>
               <th style="font-size: 7px" align="left" colspan="2"><b> Faltas: <%=session[:total_faltas5]%></b></th>

           </tr>

   <%#end%>
</table>
<%end%>