<div id="interno2">
<% title "CONSULTA_FICHA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LENÇOL DE NOTAS (ANOS ANTERIORES)</strong></font><br/>
 </div>
    <div class="tabs">
    <% form_remote_tag :url => mapa_de_classe_anterior_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
      <fieldset>
        <%  @ano_boletim =   Classe.find(:all,:select => 'distinct(classe_ano_letivo) as ano',:order => 'classe_ano_letivo ASC')%>
       <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td align="right"><font size="2"> <b class="label_busca3">Ano Letivo:</b></font>
             <%= select_tag :ano_letivo_mapa, options_for_select(@ano_boletim.collect { |ff| [ff.ano, ff.ano] }.insert(0, '--Selecionar--')) %>
                     <%= observe_field 'ano_letivo_mapa',
                          :with => :ano_letivo,
                          :url => { :action => 'mapa_classe_ano' },
                          :update => "classes_ano" %>
            </td>
            <td width="35%" align="right"><font size="2">
                 <div id="classes_ano"> <b class="label_busca3">Classe:</b><font color="red">&nbsp&nbsp&nbsp&nbsp<b></u>&nbsp Selecionar  primeiro o ano</b></font> </div>
            </td>

          <td align="right">
            <%= submit_tag "Visualizar", :class => "btn_filtrar" %>
          </td>
        </tr>
       </table>
       </fieldset>
      <fieldset>
        <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
          <tr>
            <td>
                <div id="mapa"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %> <br><center><font color ="red">Este processo pode demorar algum tempo - AGUARDE </font></center></div></div>
              <br/>
            </td>
          </tr>
       </table>
          <% end %>

      </fieldset>

       <br/>
       <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td align="left"><%= button_to 'Nova Consulta', mapa_classe_anterior_atribuicaos_path, :title => "Nova Consulta" %></td>

    </tr>
  </table>
 </div>



</div>

<br/>
</div>









