<div id="interno2">
<% title "CONSULTA_CLASSE".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LANÇAMENTO DE NOTAS</strong></font><br/>
 </div>
    <div class="tabs">
    <% form_remote_tag :url =>relatorio_classe_atribuicaos_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
      <fieldset>
       <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td colspan="2"align="right"><font size="2"> <b class="label_busca3">Classe:</b></font>
               &nbsp&nbsp&nbsp<%= collection_select :classe, :id, @classes, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %></td>
            <td colspan="2"align="right"><font size="2"> <b class="label_busca3">Disciplina:</b></font>
              &nbsp&nbsp&nbsp<%= select_tag :disciplina, options_for_select(@disciplinas1.collect { |ff| [ff.disciplina, ff.disciplina] }.insert(0, '--Selecionar--')) %></td>
           <td> <%= submit_tag "Visualizar", :class => "btn_filtrar" %></td>
        </tr>
       </table>
       </fieldset>
      <fieldset>
        <table width="100%"frame="box" rules="all">
          <tr>
            <td>
                <div id="classe_alunos"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
              <br/>
            </td>
          </tr>
       </table>
          <% end %>

      </fieldset>

       <br/>
       <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td width="6%"align="left"><%= button_to 'Consultar', consulta_classe_path, :title => "Consultar" %></td>
     <td align="left" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_classe_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
    </tr>
  </table>
 </div>



</div>

<br/>
</div>









