    <table width ="100%" bgcolor="#DCDCDC">
      <tr >
        <td with ="40%"> <b><u>Aluno:</u></b> <b>Nome</b></td>
        <td with ="5%"><b>Nascimento</b></td>
        <td with ="5%"><b>RG</b></td>
        <td with ="40%"><b>Mãe</b></td>
      </tr>
      <% @aluno.each do |aluno| %>
        <tr  bgcolor="#F5F5F5" >
            <td align="left"> <%=h aluno.aluno_nome %></td>
            <td align="left"><%=h aluno.aluno_nascimento.strftime("%d/%m/%Y")%></td>
            <td align="left">  <%=h aluno.aluno_RG%></td>
            <td align="left"><%=h aluno.aluno_mae %></td>
        </tr>
        <% session[:aluno] = aluno.id %>
        <tr>
           <td with ="40%"><b><u>Matrículas:</u> Unidade</b></td>
           <td with ="5%"><b>Ano Letivo</b></td>
           <td with ="5%"><b>Classe</b></td>
           <td with ="40%"><b>Status</b></td>
        </tr>
          <% for matricula in @matriculas %>
           <tr bgcolor="#F5F5F5" >
             <td align="left">  <%=h matricula.unidade.nome%></td>
             <td align="left"> <%=h matricula.ano_letivo %><%  session[:classe]=  matricula.classe.id%></td>
             <td align="left">  <%=h matricula.classe.classe_classe%> - <%=h matricula.classe.horario %></td>
               <% if  matricula.status =="MATRICULADO" %>
                   <td align="left" colspan="3"> Matriculado</td>
               <%else%>
                  <td align="left" colspan="3"> <%=h matricula.status %>
                    <%if matricula.status == 'TRANSFERIDO'%>
                        <%if !matricula.para.nil?%>
                            &nbsp&nbsp&nbsp&nbsp&nbsp <b>Para:&nbsp&nbsp</b><%=h matricula.para %>
                        <%end%>
<!--TRANSFERIDO PARA.nil?  ESCOLAS-->
  
<!--TRASNFERIDO ESCOLAS-->
                <%end%>
                    <%if matricula.status == 'TRANSFERENCIA'%>
                        <%if !matricula.procedencia.nil?%>
                            &nbsp&nbsp&nbsp&nbsp&nbsp <b>Procedencia:&nbsp&nbsp</b><%=h matricula.procedencia %>
                        <%end%>
                    <%end%>
               </td>
              <%end%>
            </tr>
          <%end%>
                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fudamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                     <tr>
                       <td align="LEFT" ><%= button_to '', {:controller =>"alunos", :action => "edit", :id =>aluno}, :method => "get"%></td>
                       <td colspan="7"align="RIGHT"><%= button_to 'Confirmar', {:controller =>"alunos", :action => "edit", :id =>aluno}, :method => "get", :title => "Editar"%></td>
                    </tr>
                 <%end%>

       <%end%>
    </table>
<font color ="red"><b>OBS:</b> Para que o cadastro do aluno fique disponivel para transferência ou matricula na sua unidade é necessário clicar no botão CONFIRMAR,<br/>
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp e na próxima tela, após confirmar os dados do aluno clicar no botão SALVAR     </font>




