
<table width="100%  ">
            <tr bgcolor="#F5F5F5">
               <td align="left" width="4%"><b>Endereço:</b></td>
               <td colspan="3" align="left"><%=h @dados.pessoa_endereco %> - <%=h @dados.pessoa_num %></td>
               <td align="left" width="4%"><b>Complemento:</b></td>
               <td colspan="4" align="left"><%=h @dados.pessoa_complemento %></td>
            </tr>
            <tr bgcolor="#F5F5F5">
               <td align="left" width="4%"><b>Bairro:</b></td>
               <td  align="left"><%=h @dados.pessoa_bairro %></td>
               <td align="left" width="4%"><b>CEP:</b></td>
               <td  align="left"><%=h @dados.pessoa_cep %></td>
               <td align="left" width="4%"><b>Cidade:</b></td>
               <td colspan="3" align="left"><%=h @dados.pessoa_cidade %></td>
            </tr>
            <tr bgcolor="#F5F5F5">
               <td align="left" width="4%"><b>Telefone:</b></td>
               <td align="left"><%=h @dados.pessoa_fone_fixo %></td>
               <td align="left"><b>Celular:</b></td>
               <td align="left"><%=h @dados.pessoa_fone_cel %></td></td>
               <td align="left"><b>E-mail:</b></td>
               <td colspan="3"align="left"><%=h @dados.pessoa_email%></td></td>
            </tr>
</table>
