  <% for classe in @classe %>
<table width ="100%">
           <tr bgcolor="#F5F5F5" >
             <td align="left" width="10%"><b>Unidade:</b></td>
             <td align="left">  <%=h classe.unidade.nome%></td>
             <td align="left" width="12%"><b> Ano Letivo:</b></td>
             <td align="left"> <%=h classe.classe_ano_letivo %><%  session[:classe]=  classe.id%></td>
           </tr>
           <tr bgcolor="#F5F5F5">
             <td align="left"><b>Classe:</b></td>
               <td align="left">  <%=h classe.classe_classe%></td>
               <td align="left"><b>Horário:</b></td>
               <td align="left">  <%=h classe.horario %></td>
            </tr>
            <tr bgcolor="#F5F5F5" >
               <td align="left"><b>Descrição:</b></td>
               <td align="left" colspan="3"> <%=h classe.classe_descricao %></td>
            </tr>
            <% if session[:trans] == 1  %>
              <tr>
                <td align="center" colspan="4"><font color ="red">
                        <b>TRANSFERIDO </b> </font>
                  <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp em &nbsp&nbsp <%= session[:trans_data]%></b>
                  <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp para &nbsp&nbsp <%=  session[:trans_unidade]%></b> </td>
 
                 
                </tr>
            <%end%>

           <%end%>
        </table>
