<div id="interno2">
<% title "CONSULTA_FICHA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>RESPONSÁVEL PELO ALUNO</strong></font><br/>
 </div>
    <div class="tabs">
    <% form_remote_tag :url => consulta_responsaveis_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
      <fieldset>
       <table width="100%" align="center" bgcolor="#DCDCDC" >
         <%@alunos=Aluno.find(:all,:select => "alunos.id, CONCAT(alunos.aluno_nome, ' | ', date_format(alunos.aluno_nascimento, '%d/%m/%Y')) AS aluno_nome_dtn", :order => "aluno_nome")%>
          <tr>
            <td colspan="2"align="right"><font size="2"> <b class="label_busca3">Aluno:</b></font>
               &nbsp&nbsp&nbsp
                <%= collection_select :aluno, :id, @alunos, :id, :aluno_nome_dtn, :include_blank => ' -- Selecione -- ' %>
               <%= submit_tag "Visualizar", :class => "btn_filtrar" %>
          </td>
        </tr>
       </table>
       </fieldset>
      <fieldset>
        <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
          <tr>
            <td>
                <div id="ficha"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
              <br/>
            </td>
          </tr>
       </table>
          <% end %>

      </fieldset>

       <br/>
       <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td align="left"><%= button_to 'Nova Consulta', consulta_reponsavel_path, :title => "Nova Consulta" %></td>
     
    </tr>
  </table>
 </div>



</div>

<br/>
</div>









