<div id="interno2">
<% title "CONSULTA_FICHA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ALUNO</strong></font><br/>
 </div>
    <div class="tabs">
    <% form_remote_tag :url => consulta_ficha_cadastral_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
      <fieldset>
        <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td>
              <a href="#" class="filtro"><%= radio_button_tag(:type_of, "1") %></a>Nome
              <a href="#" class="ra_filtro"><%= radio_button_tag(:type_of, "2") %></a>RA
              <a href="#" class="rm_filtro"><%= radio_button_tag(:type_of, "3") %></a>RM
              
            </td>
         </tr>
         <tr>
           <td><div class="consulta" style="display:none"> <%= render "consulta_nome" %> </div>
               <div class="consulta_ra" style="display:none"> <%= render "consulta_ra" %> </div>
               <div class="consulta_rm" style="display:none"> <%= render "consulta_rm" %> </div>
           </td>
         </tr>
        </table>



       </fieldset>
      <fieldset>
        <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
          <tr>
            <td>
                <div id="ficha"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
              <br/>
            </td>
          </tr>
       </table>
          <% end %>

      </fieldset>

       <br/>
       <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td width="6%"align="left"><%= button_to 'Consultar', consulta_ficha_alunos_path, :title => "Consultar" %></td>
    <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
            <td align="left" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_ficha_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
    <%end%>
    </tr>
  </table>
 </div>



</div>

<br/>
</div>









