<div id="interno2">
<% title "CONSULTA_FICHA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ALUNOS COM BOLSA FAMILIA</strong></font><br/>
 </div>
    <div class="tabs">
      <fieldset>
        <table width="100%" >
           <tr  bgcolor="#F5F5F5">
             <td colspan="2"> <b>Unidade Escolar:</b><% @aluno.each do |aluno| %><% session[:aluno]= aluno.unidade.nome %> <%end%>&nbsp&nbsp&nbsp<%= session[:aluno]%></td>
            </tr>
            <tr  bgcolor="#F5F5F5">
              <td><b>Nome Aluno</b></td>
              <td><b>Nome Beneficiário</b></td>
            </tr>
            
        <% @aluno.each do |aluno| %>
            <tr  bgcolor="#F5F5F5">
              <td><%=h aluno.aluno_nome%></td>
              <td><%=h aluno.aluno_nome_beneficiario%></td>
            </tr>
        <%end%>
     </table>
</fieldset>


       <br/>
       <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td align="left"><%= button_to 'Consultar', consulta_bolsa_familia_path, :title => "Consultar" %></td>
     
    </tr>
  </table>
 </div>



</div>

<br/>
</div>









