<div id="interno2">
<% title "CONSULTA_FICHA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CADASTRO DE ALUNO DA SECRETARIA EDUCAÇÃO DE AMERICANA</strong></font><br/>
 </div>
    <div class="tabs">
      <%  @alunos_todos =  Aluno.find(:all,:order => "aluno_nome") %>
      <% form_remote_tag :url => consulta_cadastro_aluno_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
          <fieldset>
            <table width="100%" align="center" bgcolor="#DCDCDC" >
               <tr>
                 <td colspan="2"align="right"><font size="2"> <b>Nome:</b></font>
                    <%= collection_select :aluno, :aluno_id, @alunos_todos, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %>
                      <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

                 </td>
               </tr>
              </table>

           </fieldset>
          <fieldset>
            <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
              <tr>
                <td>
                    <div id="cadastro"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
                </td>
              </tr>
           </table>
          <% end %>

      </fieldset>

       <br/>
       <table >
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
    
    <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental'))%>
         <td width="6%"align="left"><%= button_to 'Nova Consulta', consulta_ficha_alunos_path, :title => "Nova Consulta" %></td>
         <td width="6%"align="left"><%= button_to '    Cadastrar    ', new_aluno_path, :title => "Cadastrar" %></td>
         <td align="left" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_ficha_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
    <%else%>
         <td align="left"><%= button_to 'Nova Consulta', consulta_cadastro_alunos_path, :title => "Nova Consulta" %></td>
    <%end%>

    </tr>
  </table>
 </div>



</div>

<br/>
</div>









