<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca2">Nome Aluno:
       &nbsp&nbsp&nbsp<%= select_tag :aluno1, options_for_select(@alunos2.collect { |ff| [ff.aluno_nome, ff.id] }.insert(0, '--Selecionar--')) %>
     </td>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca2">Disciplina:
        <%= select_tag :disciplina, options_for_select(@disciplina.collect { |ff| [ff.disciplina, ff.disciplina] }.insert(0, '--Selecionar--')) %>
        &nbsp&nbsp&nbsp <%= submit_tag "Visualizar", :class => "btn_filtrar" %>
    </td>
   </tr>
  </table>

<table width="100%">
   <tr>
     <td align="right"><font size="2"><b class="label_busca">Nome Aluno:</b></font>
               &nbsp&nbsp&nbsp<%= select_tag :aluno1, options_for_select(@alunos2.collect { |ff| [ff.aluno_nome, ff.id] }.insert(0, '--Selecionar--')) %>
     </td>
     <td align="center">
               <font size="2"><b class="label_busca3">Ano Letivo:</b></font>
               <%= select_tag :ano_letivo, options_for_select(@ano.collect { |ff| [ff.ano, ff.ano] }.insert(0, '--Selecionar--')) %>
               &nbsp&nbsp&nbsp <%= submit_tag "Visualizar", :class => "btn_filtrar" %>
     </td>
   </tr>
  </table>