$(document).ready(function() {
  $("#observacao").keyup(function() {
   $("#counter").text(12000 - $(this).val().length);
  });
});


<% form_for (@relatorio) do |f| %>
 <%= f.error_messages %>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

  <fieldset>
   <legend><font size=4></font></legend>
   <table width="100%">
        <tr bgcolor="#F5F5F5">
          <td colspan="4"><b>FICHA DE ACOMPANHAMENTO DO PROCESSO EDUCACIONAL DO ALUNO (FAPEA)</b></td>
        </tr>
<!--        <tr bgcolor="#F5F5F5">
          <td colspan="4" >
                      <b>A partir do planejamento de 2019, que teve como referenciais o Currículo vigente, Currículo Paulista e Base Nacional Comum Curricular (BNCC), elabore o relato da observação do desenvolvimento da criança, tendo como instrumentos a observação  e diferentes registros das experiências propostas em:</b><br/>
                      <table width =" 100%" >
                          <tr><td><b><u>Direitos de aprendizagem</u></b></td> <td><u><b>Campos de experiências</u></b></td>  </tr>
                          <tr><td align="left">Conviver;</td> <td align="left">O eu, o outro e o nós;</td>  </tr>
                          <tr><td align="left">Brincar;</td> <td align="left">Corpo, gestos e movimentos;</td>  </tr>
                          <tr><td align="left">Participar;</td> <td align="left">Traços, sons, cores e formas;</td>  </tr>
                          <tr><td align="left">Explorar;</td> <td align="left">Escuta, fala, pensamento e imaginação;</td>  </tr>
                          <tr><td align="left">Expressar;</td> <td align="left">Espaços, tempos, quantidades, relações e transformações.</td>  </tr>
                          <tr><td align="left">Conhecer-se.</td> <td align="left"></td>  </tr>
                      </table>

          </td>
        </tr>
-->
        <tr bgcolor="#F5F5F5">
             <td colspan="4"><b>Nº Dias Letivos: </b><%= f.text_field :dias_letivos, :size => 5 %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <b>Nº Faltas: </b><%= f.text_field :faltas, :size => 5 %>
             </td>

        </tr>

      <tr bgcolor="#F5F5F5">
         <td width =" 5%"><b>Professor(a):</b></td>
         <td><%= f.collection_select  :professor_id, @professor_unidade, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
            <%= observe_field 'relatorio_professor_id',
               :update => "dados_aluno_classe",
               :url    => { :action => 'professor' },
               :with   => 'relatorio_professor_id' %>
      </tr>
      <tr bgcolor="#F5F5F5">
        <td colspan="4"><div id="dados_aluno_classe"><font color=" red">  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp<b>Após selecionar o professor aguarde o sistema retornar os alunos</b></font></div></td>
      </tr >
       <tr bgcolor="#F5F5F5">
         <td colspan="4"><div id="dados_aluno"></font></div></td>
       </tr>
       <tr bgcolor="#F5F5F5">
         <td valign="top"><b>Relatório:</b></td>
        <td colspan="5"><%= f.text_area(:observacao, :cols=> "76", :rows=>"10") %><br/>
            Caracteres restantes: <span id="counter"><%= maxcounter=12000 %></span>
        </td>
      </tr>
    </table>
  </fieldset>

 <br/>


       <table width="100%" >
         <tr>
           <td width="4%"align="left"><b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>

<%end%>
           
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>



         </tr>
       </table>
  </font>








