<div id="interno2">
<% title "RELATORIO" %>
<div class ="tabs">
   <fieldset><legend><font  size=3><b> FAPEA</b></font></legend>
    <table width="100%">
       <tr bgcolor="#F5F5F5">
         <td width=5%" align="left" valign="top"><b>Professor:</b></td>
         <td colspan="3"><% for professor in @professors %>
                            <%= professor.nome %> <br/>
                         <%end%>  
         </td>
       </tr>
       <tr bgcolor="#F5F5F5">
         <td  align="left"><b>Aluno:</b></td>
         <td colspan="3"><%=h @relatorio.aluno.aluno_nome %></td>
       </tr>
       <tr bgcolor="#F5F5F5">
         <td align="left"><b>Mãe/Pai:</b></td>
         <td colspan="3"><%=h @relatorio.aluno.aluno_mae %> <%=h @relatorio.aluno.aluno_pai %> </td>
       </tr>
       <tr bgcolor="#F5F5F5">
         <td align="left"><b>Classe:</b></td>
         <td><%=h @relatorio.atribuicao.classe.classe_classe %></td>
         <td><b>Disciplina:</b></td>
         <td> <%=h @relatorio.atribuicao.disciplina.disciplina%>  </td>
      </tr>
       <tr bgcolor="#F5F5F5">
         <td  align="left"><b>Unidade:</b></td>
         <td><%=h @relatorio.atribuicao.classe.unidade.nome %></td>
         <td width ="18%"> <b>Ano Letivo:</b></td>
         <td><%=h @relatorio.ano_letivo %></td>
      </tr>
       <tr bgcolor="#F5F5F5">
         <td  valign="top" align="left"><b>FAPEA:</b></td>
         <td colspan="3"><%= @relatorio.observacao.gsub("\n","<br/>\n") %></td>
      </tr>

  </table>
</fieldset>
  <table width="100%" >
         <tr>
            <td width="8%"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
             <td colspan="10"align="left" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_fapea_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>

               </tr>


         <br/>
  </table>
<br/>


</div>
<br/>
</div>



<%= link_to 'Edit', edit_relatorio_path(@relatorio) %> |
<%= link_to 'Back', relatorios_path %>