<link rel="stylesheet" media="all" href="css/calendar.css" />
            <% if @aulas_faltas.present? %>
              <div id="calendar">
                  <%if !@aulas_faltas[0].present? %>
                       <h2><center> <b>NÃO existe FALTAS cadastadas para esta unidade</b></center> </h2>
                  <%else%>
                        <h2><center> <b>AGENDA - <%=  @aulas_faltas[0].unidade.tipo.nome%> <%=  @aulas_faltas[0].unidade.nome%> </b></center> </h2>
                        <%# categoria= @aulas_faltas[0].categoria  %>
                  <%end%>
                <h2 id="month">
                    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d"), :search => params[:search] %>
                    <%=h @date.strftime("%B %Y") %>
                    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d"), :search => params[:search] %>
                </h2>


                <% calendar_for @aulas_faltas, :year => @date.year, :month => @date.month, :search => params[:search] do |calendar| %>
               <%= calendar.head('Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado') %>
                  <% calendar.day(:day_method => :data) do |date, articles| %>
                    <%= date.day %>
                    <ul>
                      <% for data in articles %>
                        <li>
                             <% if data.professor_id.present? %>
                                        <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') )%>
                                            <div  class ="invisible_to_print ">&nbsp <%= link_to image_tag("/stylesheets/images/ponto.png", :size => "7x7"), {:action => "destroy", :id =>data}, :confirm => 'Confirma exclusão?', :method => "delete",:title => "Excluir" %></div> <b><font color ="blue"> <%= link_to h(truncate(data.professor.nome, :length => 18,:omission => "...")), data%></font></b><br/>
                                        <%else%>
                                               <b><font color ="blue"> <%= link_to h(truncate(data.frofessor.nome, :length => 18,:omission => "...")), data%></font></b><br/>
                                        <%end%>
                                        (Prof.(a) <%= data.professor.funcao %>)<br/>
                                        <b>----------------------</b>
                             <%end%>
                             <% if data.funcionario.present? %>
                                        <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') )%>
                                            <div  class ="invisible_to_print ">&nbsp <%= link_to image_tag("/stylesheets/images/ponto.png", :size => "7x7"), {:action => "destroy", :id =>data}, :confirm => 'Confirma exclusão?', :method => "delete",:title => "Excluir" %></div> <b><font color ="blue"> <%= link_to h(truncate(data.funcionario.nome, :length => 18,:omission => "...")), data%></font></b><br/>
                                        <%else%>
                                               <b><font color ="blue"> <%= link_to h(truncate(data.funcionario.nome, :length => 18,:omission => "...")), data%></font></b><br/>
                                        <%end%>
                                        (Funcao: <%= data.funcao%>)

                                        <br/>
                                        <b>----------------------</b>
                             <%end%>
                        </li>

                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              </div>
            <%end%>
            <br/>
         <%t=0%>
         <%if  (@faltas_professor.present?) and (@faltas_funcionario.present?)%>
            <table width="100%">
                <tr><td width ="40%"><table>
                            <tr>
                              <td><b><u>PROFESSORES</u></b></td>
                              <td><b><u>FALTAS</u></b></td>
                            </tr>
                            <%t1 =1%>
                            <% @faltas_professor.each do |faltaP| %>
                               <tr>
                                    <td><%= t1%>) <%= faltaP.professor.nome %></td>
                                    <td align="center"><%= faltaP.conta%> </td>
                                </tr>
                                <%t1 =t1+1%>
                                <%t= t + (faltaP.conta).to_i %>
                              <%end%>
                        </table>
                    </td>
                    <td valign="top"><table>
                            <tr>
                              <td><b><u>FUNCIONARIOS</u></b></td>
                              <td><b><u>FALTAS</u></b></td>
                            </tr>
                            <%t1 =1%>
                            <% @faltas_funcionario.each do |falta_fun| %>
                               <tr>
                                    <td><%= t1%>) <%= falta_fun.funcionario.nome  %></td>
                                    <td  align="center"><%= falta_fun.conta%> </td>
                                </tr>
                                <%t1 =t1+1%>
                                <%t= t + (falta_fun.conta).to_i %>
                              <%end%>
                        </table>
                    </td>
                    <td valign="top" align="center"%> <b><u>TOTAL DE FALTAS NO MÊS</u> <br/>
                             <%= t %></b> </td></tr>
              </table>
        <%end%>
        <div class ="invisible_to_print ">
            <table cellspacing="0" cellpadding="0" align="right" class ="invisible_to_print " >
              <tr class ="invisible_to_print " >
                   <td align="right" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   <td width="2%" align="right" ><%= button_to("Imprimir Agenda", onclick="javascript:window.print()", :title => "Imprimir") %></td>
                   <td width="2%" align="right" ><%= button_to "Relatório / Mês", relatorio_falta_mes_aulas_faltas_path %></td>
                    <%if (params[:search]).present? %>
                        <% if current_user.has_role?('SEDUC') or current_user.has_role?('admin')%>
                           <td width="2%" align="right"><%= button_to'Cadastrar Falta',:action => "new", :unidade_id => params[:search][:unidade_id_equals],:target => '_blank' %></td>
                        <%end%>
                    <%end%>
               </tr>
            </table>
         </div>


