<div id="interno1">
<% title "AULASEVENTUAL".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>FALTAS EVENTUAIS</strong></font><br/>
 </div>

  <div class="tabs">
     <% form_for(@aulas_falta) do |f| %>
      <%= f.error_messages %>
             <br/>
             <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
                <tr>
                  <td colspan="8"><b><font size="3"> &nbsp CADASTRAR FALTA &nbsp  </b></td>
                </tr>
                <tr>
                  <td colspan="8"><hr></td>
                </tr>
               
               <tr>
                   <td colspan="8"><font color ="RED"> <b><u>Atenção:</u> Selecione primeiro a DATA, PERIODO, CATEGORIA e depois a  UNIDADE.</b></font><br/><br/></td>
               </tr>
               <tr>
                   <td>
                       
                   </td>

               </tr>
               <td align="right" width="10%">  <b>Data: </b>&nbsp</td>
               <td colspan="4">
                                &nbsp<%= datepicker_tag(:aulas_falta, :data,{ :size => 10},{:dateFormat => "'yy-mm-dd'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
                                   <%= observe_field 'aulas_falta_data',
                                                 :with   => :aulas_aulas_data,
                                                 :url  => { :action => 'data_falta' }%>
                                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Período: </b>
                                 <%= f.select :periodo, (AulasFalta::PERIODO).sort, :include_blank => ' -- Selecionar -- ' %>
                                        <%= observe_field 'aulas_falta_periodo',
                                                     :with   => :periodo,
                                                     :url  => { :action => 'periodo_periodo' }
                                                      %>
                                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                 <b>Tipo Falta: </b>&nbsp
                                 <%= f.select :tipo, (AulasFalta::FALTA).sort, :include_blank => ' -- Selecionar -- ' %>

                 </td>
               
                <tr>

                    <td align="left" width="10%"> <b>Função/Classe: </b> </td>
                    <td align="left">&nbsp<%= f.text_field :funcao %>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Unidade: </b>
                                 <%= collection_select :aulas_falta, :unidade_id, @unidades_infantil, :id, :nome, :include_blank => ' -- Selecionar -- ' %>
                                       <%= observe_field 'aulas_falta_unidade_id',
                                                     :with   => :aulas_falta_unidade_id,
                                                     :url  => { :action => 'nome_falta' },
                                                     :update => "professor"%>
                     </td>
                </tr>
                <tr>
                      <td colspan="8"> <div id="professor"><br/></div>
                                      <div id="observacao"></div>
                     </td>
              </tr>

                <tr>
                   <td align="left" valign="top"><b>Observação:</b></td>
                   <td align="left" colspan="5"><%= f.text_area(:obs,:cols => 100, :rows => "3") %></td>

               </tr>
           </table>

             <table width="100%"  align="center">
                    <tr>
                       <td width="5px"align="left"><%= f.submit 'Salvar' %></td>
      <% end %>
                       <td align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                       

                   </tr>
                </table>





     </div>
   </div>
</div>
<br/>


