<div id="interno3">
<% title "PROFESSOR" %>
<div class ="tabs">
 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b> FALTA</b></font></legend>
         <table width="100%">
           <tr bgcolor="#F5F5F5"  width="100%">

             <td valign="top">
               <table  bgcolor="#DCDCDC" width="100%">
                 <tr bgcolor="#F5F5F5">
                  <td align="left" width="10%"><b> Unidade:</b></td>
                  <td align="left" width="40%"><%=h@aulas_falta.unidade.tipo.nome%> <%=h@aulas_falta.unidade.nome%></td>
                   <td align="left" width="10%"><b>Data:</b></td>
                   <td align="left"> <%=h @aulas_falta.data.strftime("%d de %B de %Y")  %> </td>
                </tr>
                 <tr bgcolor="#F5F5F5" >
                   <%  if @aulas_falta.funcionario_id.nil? %>
                       <td align="left"><b>Professor:</b></td>
                       <td colspan="3"align="left"> <%=h @aulas_falta.professor.nome %> </td>
                   <%else%>
                       <td align="left"><b>Funcionario:</b></td>
                       <td colspan="3"align="left"> <%=h @aulas_falta.funcionario.nome %> </td>
                   <%end%>
                 </tr>
                <tr bgcolor="#F5F5F5" >
                   <td align="left"><b>Função:</b></td>
                   <td align="left">  <%=h @aulas_falta.funcao%></td>
                   <td align="left"><b>Período:</b></td>
                   <td align="left"> <%=h @aulas_falta.periodo %></td>
                 </tr>
                 <tr bgcolor="#F5F5F5" >
                   <td align="left"colspan="4" ><b>Tipo Falta: </b>&nbsp
                   <%=h @aulas_falta.tipo %></td>
                 </tr>
                 <tr bgcolor="#F5F5F5" >
                   <td align="left"><b>OBS:</b></td>
                   <td colspan="3"align="left"><%=h @aulas_falta.obs %></td>
                 </tr>
               </table>
           </td>
        </tr>
      </table>
     </fieldset>
   </td>
  </tr>
 </table>

    <table>
         <tr>
           <td width="4%"align="left"><%= button_to 'Agenda' ,aulas_faltas_path,:id =>@aulas_falta, :method => "get", :title => "Faltas  " %></td>
             <td width="4%"align="left"><%= button_to 'Cadastrar' ,new_aulas_falta_path, :title => "Cadastar  " %></td>
            <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') %>
                <td width="6%"align="left" ><%= button_to 'Editar', {:action => "edit", :id =>@aulas_falta}, :method => "get", :title => "Editar"%></td>
                 <td width="6%"align="left" ><%= button_to 'Excluir', {:action => "destroy", :id =>@aulas_falta}, :confirm => 'Tem certeza?',:method => "delete", :title => "Deletar"%></td>
             <%end%>

             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
    </table>


</div>
<br/>
</div>
