<br/><br/>
<center>
<div id="interno_novo_usuario">
<% title "USUARIOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo_novo_usuario">
     <font size="3"><strong>Alteração de Senha e Email</strong></font><br/>
 </div>
      <div class="tabs">
      <table  width="90%" align="center">
        <tr>
          <td>
      <fieldset><legend><font  size=4>Usuário</font></legend>
          <%= error_messages_for :user %>
          <% form_for(@user) do |f| %>
           <font  size="2">
             <table>
                <tr>
                  <td align="left"> <b>Usuários:</b></td>
                  <td align="left"> <b><%= @user.login %></b></td>
                </tr>

                <tr>
                   <td align="left"><b> Cadastrado desde:</b></td>
                   <td align="left"> <%= @user.created_at.strftime("%d/%m/%y") %></td>
                </tr>
                <tr>
                  <td align="left"> <b>Nova Senha:</b></td>
                  <td> <%= f.password_field :password %></td>
                </tr>
                <tr>
                  <td align="left"> <b>Confirmação Nova Senha:</b></td>
                  <td> <%= f.password_field :password_confirmation %></td>
                </tr>
                <tr>
                  <td align="left"> <b>Email:</b></td>
                  <td> <%= f.text_field :email %></td>
                </tr>
         </table>
       </font>
     </fieldset>
            <table>
                <td width="8%"><%= submit_tag 'Salvar' %></td>
<% end %>
                <td width="8%"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                <td></td>
              </table>


              </td>
      </tr>
    </table>
   </div>
</div>
<br/>
</div>


<br/>


