<h1>Editing professors_class</h1>

<% form_for(@professors_class) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :classe_id %><br />
    <%= f.text_field :classe_id %>
  </p>
  <p>
    <%= f.label :professor_id %><br />
    <%= f.text_field :professor_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @professors_class %> |
<%= link_to 'Back', professors_classes_path %>