<h1>Listing professors_classes</h1>

<table>
  <tr>
    <th>Classe</th>
    <th>Professor</th>
  </tr>

<% @professors_classes.each do |professors_class| %>
  <tr>
    <td><%=h professors_class.classe_id %></td>
    <td><%=h professors_class.professor_id %></td>
    <td><%= link_to 'Show', professors_class %></td>
    <td><%= link_to 'Edit', edit_professors_class_path(professors_class) %></td>
    <td><%= link_to 'Destroy', professors_class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New professors_class', new_professors_class_path %>