

<% if !@atividades.empty?%>
 <table border="1" cellspacing="0" cellpadding="1" width="100%" >
        <tr bgcolor="#DCDCDC" >
            <td align="CENTER"width =" 5%"> <b> Classe</b></td>
            <td width =" 10%"><b>&nbsp&nbsp&nbsp Disciplina</b></td>
            <td width =" 23%"><b>&nbsp&nbsp&nbsp Professor</b></td>
            <td width =" 45%"><b>&nbsp&nbsp&nbsp Atividade</b></td>
            <td width =" 22%"> <b>&nbsp&nbsp&nbsp Data </b></td>
            <!-- <td align="center"width =" 5%"> <b>Validação</b></td>-->
            <td  colspan="2"width =" 5%"> </td>
        </tr>
         <% for atividade in @atividades %>
         <tr bgcolor="#F5F5F5" >
            <td align="CENTER"> <%= atividade.classe.classe_classe%></td>
            <td align="left"> <%= atividade.disciplina.disciplina%></td>
            <td align="left"> <%= atividade.professor.nome%><br/>
                <font size="1" color="gray">(<%= truncate(atividade.unidade.nome, :lenght =>50, :omission =>"...") %>)</font>
            </td>
            <td align="left" > <%= atividade.atividade%> </td>
            <td align="left"> <%= atividade.inicio.strftime("%d/%m/%Y") %></td>
            
            <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('pedagogo') or current_user.has_role?('professor_fundamental')or current_user.has_role?('professor_infantil'))%>
                     <td align="center"> <%= button_to 'Editar', {:controller =>"atividades", :action => "edit", :id =>atividade}, :method => "get", :title => "Editar"%></td>
            <%end%>
                     <td align="center"><%= button_to('Visualizar', {:action => "show", :id =>atividade},:method => "get", :title => "Visualizar") %></td>
         </tr>
         <%end%>
    </table>
<%else%>
<table border="1" cellspacing="0" cellpadding="1" width="100%" >
        <tr bgcolor="#DCDCDC" >
            <td ><br/><font size="4" color="red"> NÃO EXISTE LANÇAMENTOS PARA ESTA CLASSE <br/></td>

        </tr>
    </table>

<%end%>
