

<% if !@atividades.empty?%>
 <table border="1" cellspacing="0" cellpadding="1" width="100%" >
        <tr bgcolor="#DCDCDC" >
            <td align="CENTER"width =" 5%"> <b> Classe</b></td>
            <td width =" 10%"><b>&nbsp&nbsp&nbsp Disciplina</b></td>
            <td width =" 23%"><b>&nbsp&nbsp&nbsp Professor</b></td>
            <td width =" 45%"><b>&nbsp&nbsp&nbsp Atividade</b></td>
            <td width =" 22%"> <b>&nbsp&nbsp&nbsp Período </b></td>
            <!-- <td align="center"width =" 5%"> <b>Validação</b></td>-->
            <td  colspan="2"width =" 5%"> </td>
        </tr>
         <% for atividade in @atividades %>
         <tr bgcolor="#F5F5F5" >
            <td align="CENTER"><%= atividade.classe.classe_classe%></td>
            <td align="left"> <%= atividade.disciplina.disciplina%></td>
            <td align="left"><%= atividade.professor.nome%><br/>
                <font size="1" color="gray">(<%= truncate(atividade.unidade.nome, :lenght =>50, :omission =>"...") %>)</font>
            </td>
            <td align="left" >&nbsp <%= atividade.atividade%> </td>
            <td align="left"> De <%= atividade.inicio.strftime("%d/%m/%Y") %> à  <%= atividade.fim.strftime("%d/%m/%Y")%></td>
            <td align="center"> <%= link_to  image_tag('/stylesheets/images/valida.png', :title => 'Avaliaçãoxxx'), { :controller=> 'atividades', :action => "show_avaliacao", :id =>atividade}, :method => "get", :title => "AvaliarEditar"%></td>

         </tr>
         <%end%>
    </table>
<%else%>
<table border="1" cellspacing="0" cellpadding="1" width="100%" >
        <tr bgcolor="#DCDCDC" >
            <td ><br/><font size="4" color="red"> NÃO EXISTE LANÇAMENTOS PARA ESTA CLASSE <br/></td>

        </tr>
    </table>

<%end%>
