<style type="text/css">
    .textovertical {
        -webkit-transform:rotate(270deg);
        -moz-transform:rotate(270deg);
        -o-transform: rotate(270deg);
    }
</style>
<div id="interno3">
<% title "CONSULTA_CLASSE".singularize %>
<div class="tabs">
    <div id="caixa_titulo">
        <font size="3"><strong>DEVOLUTIVA DE ATIVIDADES PEDAGOGICAS </strong></font><br/>
    </div>
    <div class="tabs1">
            <%t0=0%>
            <%if  @atividade_avaliacao.present?%>
                <fieldset>
                    <table width="100%" style="font-size: small">
                         <tr bgcolor="#F5F5F5">
                            <td valign="top"> <b> Professor:</b> </td>
                            <td><%=   @atividade_avaliacao[0].professor.nome %></td>
                            <td valign="top"> <b> Disciplina:</b> </td>
                            <td><%=   @atividade_avaliacao[0].disciplina.disciplina %></td>
                        </tr>
                        <%t0=0%>
                        <tr bgcolor="#F5F5F5" >
                            <td align="left" width="10%"><b>Unidade:</b></td>
                            <td align="left">  <%=h  @atividade_avaliacao[0].unidade.nome%>    <%  session[:unidade]=  @atividade_avaliacao[0].unidade.nome %></td>
                            <td align="left" width="10%"><b> Ano Letivo:</b></td>
                            <td align="left"> <%=h  @atividade_avaliacao[0].ano_letivo %>     <%  session[:classe]=   @atividade_avaliacao[0].classe_id%></td>
                        </tr>
                        <tr bgcolor="#F5F5F5">
                            <td align="left"><b>Classe:</b></td>
                            <td align="left">  <%=h  @atividade_avaliacao[0].classe.classe_classe%></td>
                            <td align="left"><b>Horário:</b></td>
                            <td align="left">  <%=h  @atividade_avaliacao[0].classe.horario %></td>
                        </tr>
                        <tr bgcolor="#F5F5F5">
                            <td align="left"><b>Atividade:</b></td>
                            <td align="left" colspan="3"> <font color="blue"><u> <%= link_to  (@atividade.atividade ),  { :controller=> 'atividades', :action => "show", :id =>@atividade}, :target=>'blank',  :title => "Atividade" %></u></font></td>

                        </tr>
                    </table>
                </fieldset>
                  <table  border="1" frame="box" rules="all" width="100%" style="font-size: small" >
                    <tr bgcolor="#F5F5F5">
                        <td width ="70%" colspan="3"><b> <pre><font size="3"><%="Alunos".center(25,' ')%><!--|<%="".center(50,' ')%>Alex--></font></pre></b></td>
                        <!--<td align="center" ><b> Nota <%#= link_to  truncate(@atividade.atividade ,:length => 25,:omission => "..."),  { :controller=> 'atividades', :action => "show", :id =>@atividade}, :target=>'blank',  :title => "Atividade" %></td>-->
                        <td align="center" ><b>Devolutiva</b></td>
                    </tr>
                    <tr bgcolor="#F5F5F5">
                        <td width ="5%"align="center"><b>Nº</b></td>
                        <td width ="10%">&nbsp&nbsp<b>RA</b></td>
                        <td width ="60%">&nbsp&nbsp<b>NOME</b></td>
                        <td align="center" ></td>
                        <td align="center"></td>
                        

                    </tr>
                    <tr bgcolor="#F5F5F5">
                        <td colspan="13"> <div id="atividades_aluno">
                                <% form_for :atividade, :url => {:action => 'update_multiplas_atividades'} do -%>
                                    <%@atividade_avaliacao.each do |atividade|%>
                                        <% fields_for "atividade[]", atividade do |f| %>
                                            <tr bgcolor="#F5F5F5">
                                                <td width ="4%" align="center"><%= atividade.matricula.classe_num  %>  </td>
                                                <td width ="10%" ><%= atividade.matricula.aluno.aluno_ra  %></td>
                                                <td width ="40%" align="left"><%= atividade.aluno.aluno_nome %>
                                                  <%if atividade.matricula.status!="MATRICULADO"%>
                                                        <%if atividade.matricula.status=='TRANSFERIDO'%>
                                                            <font color ="red"> (Transferido)</font>
                                                        <%else if atividade.matricula.status=='REMANEJADO' %>
                                                                    <font color ="green"> (Remanejado)</font>
                                                             <%else if atividade.matricula.status=='*REMANEJADO' %>
                                                                    <font color ="green"> (*Remanejado)</font>
                                                                  <%else if atividade.matricula.status == 'TRANSFERENCIA' %>
                                                                            <font color ="blue"> (Transferência)</font>
                                                                       <%else%>
                                                                            <font color ="cyan"> (Outros)</font>
                                                                       <%end%>
                                                                  <%end%>
                                                             <%end%>
                                                        <%end%>
                                                    <%end%>
                                                </td>
<!--
###Alex 11/02/21 Comentei pois é uma proposta                   <%#if !atividade.avaliacao.present? %>
nova de permitir a Edição e Registro ao mesmo tempo                 <%#*<td align="center"><%= f.select :avaliacao , options_for_select(@Avaliacao) %></td>%>
usando o múltiplas escolhas da mesma forma                      <%#else%>
caso não seja aprovado é só descomentar essas                       <%#*<td align="center"><%= atividade.avaliacao%> </td>%>
linhas e comentar a linha na sequencia deste bloco              <%#end%>
-->                                                                 
                                                                <!--<td align="center"><%#= f.select :nota , options_for_select(@Avaliacao,atividade.avaliacao) %></td>-->
                                                                <td align="center"><%= f.select :avaliacao , options_for_select(AVALIACAO) %></td>
                                            </tr>

                                            
                                      <%end%>
                                    <%end%>
                                    <tr>

                                      <td  colspan="5"align="right">
                                            <%= submit_tag 'Salvar' %>
                                        </td>
                                <%end%>

                                    </tr>
                            </div></td>
                    </tr>
                </table>
 
            <%else%>
                <br/>
                <table  width="100%" style="font-size: small">
                    <tr>
                        <td align="center"><font size="3" color="red"><b> NÃO SELECIONADO ou NÃO ENCONTRADO</b> </td>
                    </tr>
                    <tr>
                        <td align="center"><font size="3" color="red"><b> PODE SER QUE NÃO EXISTA MATRICULAS NESTA CLASSE</b> </td>
                    </tr>
                </table>
            <%end%>
            <table>
                <tr>
                   <td width="6%"align="left" ><%=button_to 'Fechar', home_path, {:method => "get"}  %></td>
                </tr>
            </table>
    </div>
    </div>
</div>