<div id="interno7">
<% title "PROFESSORES", :id =>"professors" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>CONSULTA ATIVIDADES PEDAGÓGICAS</strong></font><br/>
   </div>
  <div class="tabs">
    <% form_remote_tag :url => consultaatividade_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
         <table width="100%" align="center" bgcolor="#DCDCDC"  >
        <tr bgcolor="#F5F5F5">
             <td colspan="4"><font color="blue" size="3"><b><u> ATENÇÃO:</u> Este sistema é para acompanhamento das atividades remotas postadas pelo professor aos alunos
             </td>

        </tr>

          <tr>
            <td>
              <a href="#" class="filtro"><%= radio_button_tag(:type_of, "1") %></a>Atividade
              <a href="#" class="filtro_classe"><%= radio_button_tag(:type_of, "2") %></a>Classe
               <%  if current_user.has_role?('admin') or current_user.has_role?('SEDUC') %>
                  <a href="#" class="filtro_professor"><%= radio_button_tag(:type_of, "3") %></a>Professor
                  <a href="#" class="filtro_unidade"><%= radio_button_tag(:type_of, "4") %></a>Unidade
                  <a href="#" class="filtro_disciplina"><%= radio_button_tag(:type_of, "5") %></a>Disciplina
              <%end%>
              <a href="#" class="filtro_data"><%= radio_button_tag(:type_of, "6") %></a>Data
            </td>
         </tr>
         <tr>
           <td><div class="consulta" style="display:none"> <%= render "consulta_atividade" %> </div>
               <div class="consulta_classe" style="display:none"> <%= render "consulta_classe" %> </div>
               <div class="consulta_unidade" style="display:none"> <%= render "consulta_unidade" %> </div>
               <div class="consulta_professor" style="display:none"> <%= render "consulta_professor" %> </div>
               <div class="consulta_disciplina" style="display:none"> <%= render "consulta_disciplina" %> </div>
               <div class="consulta_data" style="display:none"> <%= render "consulta_data" %> </div>
           </td>
         </tr>




        </table>
    <% end %>
    <br/>
    <hr/>
    <div id="atividades"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
    <br/>

  <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td align="left"><%= button_to 'Nova Consulta', consultas_atividades_path, :title => "Nova Consulta" %></td>
    </tr>
  </table>
 </div>
 </div>
  <br/>
</div>

