<div id="interno3">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ATIVIDADES PEDAGÓGICAS POSTADA PARA OS ALUNOS</strong></font><br/>
 </div>
      <div class="tabs">

          <% form_for (@atividade) do |f| %>
           <%= f.error_messages %>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

            <fieldset>
             <legend><font size=4></font></legend>
             <table width="100%">
                  <tr bgcolor="#F5F5F5">
                    <td colspan="4"><b>ATIVIDADES PEDAGÓGICAS / VIVÊNCIA </b></td>
                  </tr>
        <tr bgcolor="#F5F5F5">
             <td colspan="4"><font color="blue" size="3"><b><u> ATENÇÃO:</u> Sistema de acompanhamento das atividades remotas postadas pelo professor aos alunos <br/> no CONEDU.
                   As atividades devem ser postadas no CONEDU e o acompanhamento e avaliação devem ser feito por este sistema.
             </td>

        </tr>

        <tr bgcolor="#F5F5F5">
             <td colspan="4"><b>Data da atividade:  &nbsp&nbsp&nbsp </b>   <%= f.date_select(:inicio, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year))%>
               <!--&nbsp&nbsp&nbsp <b> à </b> &nbsp&nbsp&nbsp <%= f.date_select(:fim, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year)-100)%>-->
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Tipo: &nbsp&nbsp<%= f.select :tipo , options_for_select(ATIVIDADETIPO), :include_blank => ' -- Selecionar -- '%></b>

             </td>

        </tr>
                <tr bgcolor="#F5F5F5">
                  <td width =" 5%" valign="top"><b>Professor(a):</b></td>
                   <td><%= f.collection_select  :professor_id, @professor_unidade, :id, :nome, :include_blank => ' -- Selecione -- ' %> <br/>
                

                </td>
                      <%= observe_field 'atividade_professor_id',
                         :update => "dados_classe",
                         :url    => { :action => 'classe' },
                         :with   => 'atividade_professor_id' %>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td colspan="4"><div id="disciplina"> </div></td>
                </tr
                <tr bgcolor="#F5F5F5">
                  <td colspan="4"><div id="dados_classe"><font color="red"><font size="4"id="pisca1" > <b><u> ATENÇÃO</u> após selecionar nome do professor aguarde para selecionar a disciplina e a classe.</font><br/></div></td>
                </tr >
                <tr >
                  <td colspan="4"><div id="dados_classe1"></div></td>
                </tr >
                <tr>
                  <td colspan="4">
                    <table width=" 100%" border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                      <tr bgcolor="#F5F5F5">
                          <td colspan="2">
                          <font color="green"><b><u>ATENÇÃO:</u> Faça o registro das atividades desenvolvidas de forma sucinta que contemple os seguintes elementos:</br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1. Título da atividade. <br/>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2. Componente curricular da atividade. <br/>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3. Rescrição resumida da atividade. <br/>

                            </b>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td><b> Atividade:</b></td>
                    <td> <%= f.text_field :atividade, :size=>"84" %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                    <td colspan="2"><b> Componente Curricular:</b> &nbsp&nbsp&nbsp <%= f.text_field :componente, :size=>"72" %> </td>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                     <td colspan="2"><b>Descrição Atividade: </b>&nbsp&nbsp <%= f.text_field :descricao, :size=>"75" %></td>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                     <td colspan="2"><b>Observações:  </b>&nbsp&nbsp <%= f.text_field :obs, :size=>"80" %></td>
                 </tr>
<!--
                <tr bgcolor="#F5F5F5">
                  <td colspan="2"><font color="red" size=""><b><u> ATENÇÃO: </u> 1) Para digitar SOMENTE texto sem qualquer tipo formatação.<br/>
                              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2) Após SALVAR este registro somente poderá ser editado ou alterado pelo pedagogo ou gestor da unidade.<br/>

                        </td>
                </tr>
-->
              </table>
            </fieldset>
           <br/>
                 <table width="100%" >
                   <tr>
                     <td width="4%"align="left"><b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>
          <%end%>
                       <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   </tr>
                 </table>
            </font>

    </div>
</div>
<br/>
<%session[:new_mqa]=0%>
</div>





