<style type="text/css">
    .textovertical {
        -webkit-transform:rotate(270deg);
        -moz-transform:rotate(270deg);
        -o-transform: rotate(270deg);
    }
</style>
<div id="interno7">
<% title "CONSULTA_CLASSE".singularize %>
<div class="tabs">
    <div id="caixa_titulo">
        <font size="3"><strong>DEVOLUTIVA DE ATIVIDADES PEDAGOGICAS </strong></font><br/>
    </div>
    <div class="tabs1">
        <%if   @atividade.present?%>
            <fieldset>
                <table width="100%" style="font-size: small">
                         <tr bgcolor="#F5F5F5">
                            <td valign="top"> <b> Professor:</b> </td>
                            <% cont=1 %>
                            <% cont1=1 %>
                            <td colspan="4">
                                   <%# for atrib in @atribuicao_classe %>
                                    <table width="100%" >
                                        <tr bgcolor="#F5F5F5" >
                                            <td align="left" width="45%"> <%=h @atividade[0].professor.nome%></td>
                                            <td align="left"width="10%"><b> Disciplina:</b></td>
                                            <td align="left" width="30%"> <%=h @atividade[0].disciplina.disciplina %></td>
                                        </tr>
                                    </table>
                                    <% cont= cont+1 %>
                                <%#end%>
                            </td>
                        </tr>

                        <tr bgcolor="#F5F5F5" >
                            <td align="left" width="10%"><b>Unidade:</b></td>
                            <td align="left">  <%=h   @atividade[0].unidade.nome%>    <%  session[:unidade]=   @atividade[0].unidade.nome %></td>
                            <td align="left" width="10%"><b> Ano Letivo:</b></td>
                            <td align="left"> <%=h   @atividade[0].ano_letivo %>     <%  session[:classe]=    @atividade[0].atribuicao.classe_id%></td>
                        </tr>
                        <tr bgcolor="#F5F5F5">
                            <td align="left"><b>Classe:</b></td>
                            <td align="left">  <%=h   @atividade[0].atribuicao.classe.classe_classe%></td>
                            <td align="left"><b>Horário:</b></td>
                            <td align="left">  <%=h   @atividade[0].atribuicao.classe.horario %></td>
                        </tr>
                    </table>
                </fieldset>
                  <table  border="1" frame="box" rules="all" width="100%" style="font-size: small">
                    <tr bgcolor="#F5F5F5">
                        <td width ="78%" colspan="3">&nbsp&nbsp<b> Alunos: </b></td>
                        <%@atividade.each do |atividade| %>
                                 <td align="center" ><div class="textovertical"><b> <%#= link_to  truncate(atividade.atividade ,:length => 14,:omission => "..."),  { :controller=> 'atividades', :action => "show", :id =>atividade}, :target=>'blank',  :title => "Atividade" %></b></div>
                                                                                    <%= link_to (atividade.atividade),  { :controller=> 'atividades', :action => "show", :id =>atividade}, :target=>'blank',  :title => "Atividade" %></b></div>
                                  </td>
                         <%end%>

                    </tr>
                    <tr bgcolor="#F5F5F5">
                        <td width ="4%"align="center"><b>Nº</b></td>
                        <td width ="10%">&nbsp&nbsp<b>RA</b></td>
                        <td width ="40%">&nbsp&nbsp<b>NOME</b></td>
                        <%@atividade.each do |atividade| %>
                                 <td ></td>
                         <%end%>

                    </tr>
                    <tr bgcolor="#F5F5F5">
                        <td colspan="13"> <div id="atividades_aluno">

                                <%lin=@atividade_avaliacao_alunos.count%>
                                <%col=@atividade.count%>
                                <%@avaliacoes=AtividadeAvaliacao.find(:all, :joins => 'inner join atividades on atividades.id = atividade_avaliacaos.atividade_id', :conditions =>  ['atividade_avaliacaos.atividade_id=?', session[:atividade]])%>
                                <%cont_ativ=0%>
                                <%cont_aval=0%>
                                <%@atividade_avaliacao_alunos.each do |atividade|%>
                                        <tr bgcolor="#F5F5F5">
                                            <td width ="4%" align="center"><%= atividade.matricula.classe_num  %>  </td>
                                            <td width ="10%" ><%= atividade.matricula.aluno.aluno_ra  %></td>
                                            <td width ="40%" align="left"><%= atividade.aluno.aluno_nome %>
                                              <%if atividade.matricula.status!="MATRICULADO"%>
                                                    <%if atividade.matricula.status=='TRANSFERIDO'%>
                                                        <font color ="red"> (Transferido)</font>
                                                    <%else if atividade.matricula.status=='REMANEJADO' %>
                                                                <font color ="green"> (Remanejado)</font>
                                                         <%else if atividade.matricula.status=='*REMANEJADO' %>
                                                                <font color ="green"> (*Remanejado)</font>
                                                              <%else if atividade.matricula.status == 'TRANSFERENCIA' %>
                                                                        <font color ="blue"> (Transferência)</font>
                                                                   <%else%>
                                                                        <font color ="cyan"> (Outros)</font>
                                                                   <%end%>
                                                              <%end%>
                                                         <%end%>
                                                    <%end%>
                                                <%end%>
                                            </td>
                                            <%cont_ativ=0%>
                                            <%@atividade.each do |atividade|%>
                                            <td align="center">
                                                <table >
                                                    <tr>
                                                        <%t0=0%>
                                                        <td align="center"> <%if (@avaliacoes[cont_ativ*lin+cont_aval].avaliacao.nil?) or (!@avaliacoes[cont_ativ*lin+cont_aval].avaliacao.present?)%>

                                                                            <%else%>
                                                                                <%=@avaliacoes[cont_ativ*lin+cont_aval].avaliacao%>
                                                                           <%end%>
                                                        </td>
                                                    </tr>
                                                   </table>
                                                </td>
                                                <%cont_ativ=cont_ativ+1%>
                                            <%end%>
                                            <%cont_aval=cont_aval+1%>
                                        </tr>
                                <%end%>

                            </div></td>
                    </tr>
                     <tr>
                       <td  colspan="2"align="right" >  <font size="2" color="blue"> <b><u>Legenda:&nbsp&nbsp&nbsp  </u>  </b></td>
                        <td colspan="30" align="left" > &nbsp&nbsp&nbsp                   <b><font color="blue"> R-Ol = Recebeu on_line </font> &nbsp&nbsp&nbsp  &nbsp&nbsp <font color="purple"> R-Im = Recebeu impresso</font> &nbsp&nbsp&nbsp  &nbsp&nbsp <font color="green"> Dev ='Devolveu'
                                                    &nbsp&nbsp&nbsp  &nbsp&nbsp <font color="orange">  Dev-B = Devolveu em branco</font> &nbsp&nbsp&nbsp  &nbsp&nbsp <font color="red"> N-Re = Não recebeu</font>
                                                </b>
                       </td>
                    </tr>

                    <tr bgcolor="#F5F5F5">
                      <td colspan="2" align="center"><b><u>ESTATÍSTICA</u>  </b></td>
                          <%con=0%>
                            <%@atividades.each do |atividade| %>
                              <td align="center"> <font color="blue" size="1"> <b> R-Ol = <%= (AtividadeAvaliacao.find(:all, :joins => 'inner join atividades on atividades.id = atividade_avaliacaos.atividade_id', :conditions =>  ['atividade_avaliacaos.atividade_id =?   and atividades.inicio>=? and atividades.fim<=?  and atividade_avaliacaos.avaliacao ="R-Ol"', atividade.id ,session[:dataI], session[:dataF]])).count %> </b> </td>
                           <%end%>
                      </tr>
                    <tr bgcolor="#F5F5F5">
                      <td colspan="2" align="center"> </td>
                          <%con=0%>
                            <%@atividades.each do |atividade| %>
                              <td align="center"> <font color="purple" size="1">  <b> R-Im = <%= (AtividadeAvaliacao.find(:all, :joins => 'inner join atividades on atividades.id = atividade_avaliacaos.atividade_id', :conditions =>  ['atividade_avaliacaos.atividade_id =?   and atividades.inicio>=? and atividades.fim<=?  and atividade_avaliacaos.avaliacao ="R-Im"', atividade.id ,session[:dataI], session[:dataF]])).count %> </b> </td>
                           <%end%>
                      </tr>
                    <tr bgcolor="#F5F5F5">
                      <td colspan="2" align="center"> </td>
                          <%con=0%>
                            <%@atividades.each do |atividade| %>
                              <td align="center"> <font color="green" size="1">  <b> Dev = <%= (AtividadeAvaliacao.find(:all, :joins => 'inner join atividades on atividades.id = atividade_avaliacaos.atividade_id', :conditions =>  ['atividade_avaliacaos.atividade_id =?   and atividades.inicio>=? and atividades.fim<=?  and atividade_avaliacaos.avaliacao ="Dev"', atividade.id ,session[:dataI], session[:dataF]])).count %> </b> </td>
                           <%end%>
                      </tr>
                    <tr bgcolor="#F5F5F5">
                      <td colspan="2" align="center"> </td>
                          <%con=0%>
                            <%@atividades.each do |atividade| %>
                              <td align="center"> <font color="orange" size="1">  <b> Dev-B = <%= (AtividadeAvaliacao.find(:all, :joins => 'inner join atividades on atividades.id = atividade_avaliacaos.atividade_id', :conditions =>  ['atividade_avaliacaos.atividade_id =?   and atividades.inicio>=? and atividades.fim<=?  and atividade_avaliacaos.avaliacao ="Dev-B"', atividade.id ,session[:dataI], session[:dataF]])).count %> </b> </td>
                           <%end%>
                      </tr>
                    <tr bgcolor="#F5F5F5">
                      <td colspan="2" align="center"> </td>
                          <%con=0%>
                            <%@atividades.each do |atividade| %>
                              <td align="center"> <font color="Red" size="1">  <b> N-Re = <%= (AtividadeAvaliacao.find(:all, :joins => 'inner join atividades on atividades.id = atividade_avaliacaos.atividade_id', :conditions =>  ['atividade_avaliacaos.atividade_id =?   and atividades.inicio>=? and atividades.fim<=?  and atividade_avaliacaos.avaliacao ="N-Re"', atividade.id ,session[:dataI], session[:dataF]])).count %> </b> </td>
                           <%end%>
                      </tr>
                </table>

            <%else%>
                <br/>
                <table  width="100%" style="font-size: small">
                    <tr>
                        <td align="center"><font size="3" color="red"><b> NÃO SELECIONADO ou NÃO ENCONTRADO</b> </td>
                    </tr>
                </table>
            <%end%>
            <table>
                <tr>
                   <td width="6%"align="left" ><%=button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   <td ><%= button_to "Consultar",consulta_avaliacaos_path %></td>
                </tr>
            </table>
    </div>
    </div>
</div>

