<p>
  <b>Classe:</b>
  <%=h @atividade.classe_id %>
</p>

<p>
  <b>Professor:</b>
  <%=h @atividade.professor_id %>
</p>

<p>
  <b>Atribuicao:</b>
  <%=h @atividade.atribuicao_id %>
</p>

<p>
  <b>Disciplina:</b>
  <%=h @atividade.disciplina_id %>
</p>

<p>
  <b>Unidade:</b>
  <%=h @atividade.unidade_id %>
</p>

<p>
  <b>User:</b>
  <%=h @atividade.user_id %>
</p>

<p>
  <b>Atividade:</b>
  <%=h @atividade.atividade %>
</p>

<p>
  <b>Ano letivo:</b>
  <%=h @atividade.ano_letivo %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @atividade.descricao %>
</p>

<p>
  <b>Inicio:</b>
  <%=h @atividade.inicio %>
</p>

<p>
  <b>Fim:</b>
  <%=h @atividade.fim %>
</p>

<p>
  <b>Obs:</b>
  <%=h @atividade.obs %>
</p>

<p>
  <b>Validacao:</b>
  <%=h @atividade.validacao %>
</p>

<p>
  <b>Validado por:</b>
  <%=h @atividade.validado_por %>
</p>

<p>
  <b>Validado em:</b>
  <%=h @atividade.validado_em %>
</p>


<%= link_to 'Edit', edit_atividade_path(@atividade) %> |
<%= link_to 'Back', atividades_path %>