<table width="100%">
     <% for classe in @classe %>
       <tr bgcolor="#F5F5F5" >
           <td align="left" width="10%"><b>Unidade:</b></td>
           <td align="left">  <%=h classe.unidade.nome%></td>
           <td align="left" width="18%"><b> Ano Letivo:</b></td>
           <td align="left"> <%=h classe.classe_ano_letivo %> <% session[:classe_id] =  classe.id%></td>
       </tr>
       <tr bgcolor="#F5F5F5">
           <td align="left"><b>Classe:</b></td>
           <td align="left">  <%=h classe.classe_classe%></td>
           <td align="left"><b>Horário:</b></td>
           <td align="left">  <%=h classe.horario %></td>
      </tr>
        <tr bgcolor="#F5F5F5" >
          <td align="left"><b>Descrição:</b></td>
          <td align="left" colspan="3"> <%=h classe.classe_descricao %></td>
       </tr>
       <tr bgcolor="#F5F5F5">
        <td valign="top"> <b> Professor(es):</b> </td>
        <% cont=1 %>
         <% cont1=1 %>
        <td colspan="4"> <% for atrib in @atribuicao_classe %>
                           <table width="100%">
                              <tr bgcolor="#F5F5F5" >
                                 <td align="left" width="50%">  &nbsp<%= cont%> - <%=h atrib.professor.nome%></td>
                                 <td align="left"width="10%"><b> Disciplina:</b></td>
                                 <td align="left" width="30%"> <%=h atrib.disciplina.disciplina %></td>
                                             <% if (current_user.has_role?('admin'))%>
                                                 <td  align="left" ><%= button_to'Excluir', { :action => "destroy_professor", :id =>atrib}, :confirm => 'Confirma exclusão?', :method => "delete", :title => "Deletar"%></td>
                                             <%end%>
                                 
                             </tr>
                           </table>
                          <% cont= cont+1 %>
                         <%end%>
         </td>
      </tr>
   </table>
  <%end%>
<table width="100%">
     <tr>
       <td align="center"width ="1%"><b>Nº</b></td>
       <td width ="5%"><b>Rm</b></td>
       <td width ="10%"><b>RA</b></td>
       <td width ="50%"><b>NOME</b></td>
       <td width ="10%"><b>STATUS</b></td>
       <td colspan="2" align="center"width ="10%"><b></b></td>
     </tr>
     <% for matricula in @matriculas %>
        <tr bgcolor="#F5F5F5">
          <td align="center"> <%="#{ matricula.classe_num}"%> </td>
          <td align="center"> <%="#{ matricula.aluno.aluno_rm}"%> </td>
          <td align="center"> <%="#{ matricula.aluno.aluno_ra}"%> </td>
          <td align="left"> <%="#{ matricula.aluno.aluno_nome}"%> </td>
          <td align="left"> <%  if  matricula.status =="TRANSFERIDO"%>
                              <font color ="red"> Transferido </font>
                          <%else if  matricula.status =="TRANSFERENCIA"%>
                                 <font color ="blue"> Transferência </font>
                                 <%else if  matricula.status =="REMANEJADO"%>
                                          <font color ="green"> Remanejado </font>
                                       <%else if  matricula.status =="*REMANEJADO"%>
                                                <font color ="green"> *Remanejado </font>
                                             <%else if  matricula.status =="ABANDONO"%>
                                                      <font color ="red"> Abandono</font>
                                                  <%end%>
                                           <%end%>
                                       <%end%>
                                 <%end%>
                          <%end%>
        </td>
          <td align="left"> <%= link_to  image_tag('/stylesheets/images/editar1.png', :title => 'Editar'), {:controller =>"matriculas", :action => "edit", :id =>matricula}, :method => "get", :title => "Editar"%></td>
          <% if (current_user.has_role?('admin'))%>
             <td align="left" ><%= link_to  image_tag('/stylesheets/images/excluir.png', :title => 'Excluir'), {:controller =>"matriculas", :action => "show_destroy", :id =>matricula}, :confirm => 'Tem certeza?',:method => "delete", :title => "Deletar"%></td>
           <%else%>
               <td></td>
          <%end%>



         </tr>
    <%end%>
<%  session[:alterar_direcionamento_editar]= 1%>
</table>
