<table width="100%">
     <% for classe in @classe %>
       <tr bgcolor="#F5F5F5" >
           <td align="left" width="10%"><b>Unidade:</b></td>
           <td align="left">  <%=h classe.unidade.nome%></td>
           <td align="left" width="18%"><b> Ano Letivo:</b></td>
           <td align="left"> <%=h classe.classe_ano_letivo %> <% session[:classe_id] =  classe.id%></td>
       </tr>
       <tr bgcolor="#F5F5F5">
           <td align="left"><b>Classe:</b></td>
           <td align="left">  <%=h classe.classe_classe%></td>
           <td align="left"><b>Horário:</b></td>
           <td align="left">  <%=h classe.horario %></td>
      </tr>
        <tr bgcolor="#F5F5F5" >
          <td align="left"><b>Descrição:</b></td>
          <td align="left" colspan="3"> <%=h classe.classe_descricao %></td>
       </tr>
   </table>
  <%end%>
<table width="100%">
    <tr >
         <td align="center"width ="2%" ><b>Nº</b></td>
         <td width ="35%" ><b>NOME (aluno)</b></td>
         <td width ="35%" "><b>NOME (Responsável)</b></td>
         <td align="center"width ="30%" "><b>ASSINATURA</b></td>
    </tr>
  
   <% for matricula in @matriculas %>
                <tr bgcolor="#F5F5F5">
                  <td align="center" > <%="#{ matricula.classe_num}"%> </td>
                  <td align="left" "> <%="#{ matricula.aluno.aluno_nome}"%>
                                                             <%  if  matricula.status =="TRANSFERIDO"%>
                                                                <font color ="red"> Transferido </font>
                                                            <%else if  matricula.status =="TRANSFERENCIA"%>
                                                                   <font color ="blue"> Transferência </font>
                                                                   <%else if  matricula.status =="REMANEJADO"%>
                                                                            <font color ="green"> Remanejado </font>
                                                                         <%else if  matricula.status =="*REMANEJADO"%>
                                                                                  <font color ="green"> *Remanejado </font>
                                                                               <%else if  matricula.status =="ABANDONO"%>
                                                                                        <font color ="red"> Abandono</font>
                                                                                      <%else if  matricula.status =="NCOMP"%>
                                                                                          <font color ="green"> NCOMP</font>
                                                                                       <%end%>
                                                                                    <%end%>
                                                                             <%end%>
                                                                         <%end%>
                                                                   <%end%>
                                                            <%end%>
                  </td>
                  <td align="left">  </td>
                      <td align="left">  </td>

              </tr>




    
  <%end%>
</table>
<br/>
        <b> OBS:</b>  &nbsp&nbsp<font color ="red"><u> Transferido</u></font> => Aluno enviado
       &nbsp&nbsp&nbsp&nbsp<font color ="Blue"><u>Transferência</u></font> => Aluno recebido <br/>
       &nbsp&nbsp&nbsp&nbsp<font color ="green"><u>Remanejado</u></font> => Entre classes (Saida)
       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font color ="green"><u>*Remanejado</u></font> => Entre classes (Entrada)

  