<table width="100%">
     <% for classe in @classe %>
       <tr bgcolor="#F5F5F5" >
           <td align="left" width="10%"><b>Unidade:</b></td>
           <td align="left">  <%=h classe.unidade.nome%></td>
           <td align="left" width="18%"><b> Ano Letivo:</b></td>
           <td align="left"> <%=h classe.classe_ano_letivo %> <% session[:classe_id] =  classe.id%></td>
       </tr>
       <tr bgcolor="#F5F5F5">
           <td align="left"><b>Classe:</b></td>
           <td align="left">  <%=h classe.classe_classe%></td>
           <td align="left"><b>Horário:</b></td>
           <td align="left">  <%=h classe.horario %></td>
      </tr>
        <tr bgcolor="#F5F5F5" >
          <td align="left"><b>Descrição:</b></td>
          <td align="left" colspan="3"> <%=h classe.classe_descricao %></td>
       </tr>
       <tr bgcolor="#F5F5F5">
        <td valign="top"> <b> Professor(es):</b> </td>
        <% cont=1 %>
         <% cont1=1 %>
        <td colspan="4"> <% for atrib in @atribuicao_classe %>
                           <table width="100%">
                              <tr bgcolor="#F5F5F5" >
                                 <td align="left" width="50%">  &nbsp<%= cont%> - <%=h atrib.professor.nome%></td>
                                 <td align="left"width="10%"><b> Disciplina:</b></td>
                                 <td align="left" width="30%"> <%=h atrib.disciplina.disciplina %></td>
                             </tr>
                           </table>
                          <% cont= cont+1 %>
                         <%end%>
         </td>
      </tr>
   </table>
  <%end%>
<table width="100%">
     <tr>
       <td align="center"width ="5%"><b>Nº</b></td>
       <td align="center"width ="5%"><b>RM</b></td>
       <td width ="5%"><b>RA</b></td>
       <td width ="60%"><b>NOME</b></td>
       <td width ="5%"><b>SITUAÇÃO</b></td>
       <td align="center"width ="10%"><b>NASC.</b></td>
        <td align="center"width ="10%"><b>TRANSF</b></td>
     </tr>

     <% for classe in @classe %>
        <% classe.alunos.sort_by{|aluno| aluno.aluno_nome}.each do |aluno| %>
            <% if aluno.unidade_anterior  != User.current.unidade_id%>
                    <%if aluno.trans_in == 1 %>
                       <tr bgcolor="#F5F5F5">
                          <td align="center"> &nbsp <%= cont1%> </td>
                          <td align="center"> <%="#{ aluno.aluno_rm}"%> </td>
                          <td align="center"> <%="#{ aluno.aluno_ra}"%> </td>
                          <td align="left">
                               <%if aluno.aluno_status.nil?%>
                                   <%="#{ aluno.aluno_nome}"%>
                              <%else%>
                                   <%="#{ aluno.aluno_nome}"%><%="#{ aluno.aluno_status}"%>
                              <%end%>

                          </td>
                          <td> <font color ="blue"> Transferência</font></td>
                          <td align="left"> <%="#{ aluno.aluno_nascimento.strftime("%d/%m/%Y")}"%> </td>
                          <td> <%if aluno.transferido.nil? %>
                               <%else%>
                                   <%= aluno.transferido.strftime("%d/%m/%Y")%>
                              <%end%>                          
                          </td>
                      </tr>
                    <%else%>
                      <tr bgcolor="#F5F5F5">
                          <td align="center"> &nbsp <%= cont1%> </td>
                          <td align="center"> <%="#{ aluno.aluno_rm}"%> </td>
                          <td align="center"> <%="#{ aluno.aluno_ra}"%> </td>
                          <td align="left">
                               <%if aluno.aluno_status.nil?%>
                                   <%="#{ aluno.aluno_nome}"%>
                              <%else%>
                                   <%="#{ aluno.aluno_nome}"%><%="#{ aluno.aluno_status}"%>
                              <%end%>
                           </td>
                          <td></td>
                          <td align="left"> <%="#{ aluno.aluno_nascimento.strftime("%d/%m/%Y")}"%> </td>
                          <td> <%if aluno.transferido.nil? %>
                               <%else%>
                                   <%= aluno.transferido.strftime("%d/%m/%Y")%>
                              <%end%>                          
                          </td>
                      </tr>
                    <%end%>
                    <%else%>
                       <tr bgcolor="#F5F5F5">
                          <td align="center"> &nbsp <%= cont1%> </td>
                          <td align="center"> <%="#{ aluno.aluno_rm}"%> </td>
                          <td align="center"> <%="#{ aluno.aluno_ra}"%> </td>
                          <td align="left">
                              <%if aluno.aluno_status.nil?%>
                                   <%="#{ aluno.aluno_nome}"%>
                              <%else%>
                                   <%="#{ aluno.aluno_nome}"%><%="#{ aluno.aluno_status}"%>
                              <%end%>

                          </td>
                          <td> <%if aluno.mesma_unidade == 1%>
                                 <font color ="green"> Transferido</font>
                               <%else%>
                                  <font color ="red"> Transferido</font>
                               <%end%>
                           </td>
                          <td align="left"> <%="#{ aluno.aluno_nascimento.strftime("%d/%m/%Y")}"%> </td>
                          <td> <%if aluno.transferido.nil? %>
                               <%else%>
                                   <%= aluno.transferido.strftime("%d/%m/%Y")%>
                              <%end%>
                          </td>
                      </tr>
                    
                      

                <%end%>
          <%cont1 = cont1+1%>
       <%end%>
    <%end%>

    <%cont11 = cont1%>
    <% for trans in @transferencia %>
          <tr bgcolor="#F5F5F5">
           <td align="center"> &nbsp <%= cont11%> </td>
           <td align="center"> <%="#{ trans.aluno.aluno_rm}"%> </td>
           <td align="center"> <%="#{ trans.aluno.aluno_ra}"%> </td>
           <td align="left"> <%if trans.aluno.aluno_status.nil?%>
                                   <%="#{ trans.aluno.aluno_nome}"%>
                              <%else%>
                                   <%="#{ trans.aluno.aluno_nome}"%><%="#{ trans.aluno.aluno_status}"%>
                              <%end%>

           </td>
          <td><font color ="Blue">Transferência</font> </td>
           <td align="left"><%="#{ trans.aluno.aluno_nascimento.strftime("%d/%m/%Y")}"%>  </td>
           <td align="left">
               <% if trans.data_transferencia.nil? %>
               <% else%>
                      <%= trans.data_transferencia.strftime("%d/%m/%Y") %>
              <%end%>
           </td>
           
          <%cont11 = cont11+1%>
         </tr>

    <%end%>

</table>
<br/>
        &nbsp<b> OBS:</b>  &nbsp&nbsp<font color ="red"><u> Transferido</u></font> => Aluno enviado 
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font color ="Blue"><u>Transferência</u></font> => Aluno recebido
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font color ="green"><u>Transferido<u></font> => Entre classes
         