<% form_for @classe, :html => { :multipart => true } do |f| %>
 <%= f.error_messages %>
  <font  size="2">
    <br/>
    <table width="100%" align="center"  bgcolor="#F5F5F5" >
        <tr>
          <td colspan="4"><b><font size="3">CLASSE</b></td>
        </tr>
        <tr>
          <td colspan="4"><hr></td>
        </tr>
        <tr>
            <td colspan="4">
                 <font color="red"> <u><b>Exemplo(Infantil):</u> CLASSE: NI A ou  NI B  ou NII A ou NII B ou BI A ou BI B ou MI A ou MII B   ....  <br/>
                                     <u><b>Exemplo(Fundamental):</u> CLASSE: 1 A  ou  1 B  ou 2 A  ou 2 B ou 3 A ou 3 B ou 4 A ou 4 B ....
                 </font> </b>
              </td>
        </tr>


         <tr>
           <td ><b>Classe: </b><div id='jacadastrado1'>

                  <% if current_user.unidade_id  %>
                       <%  if (current_user.unidade.tipo_id == 2 or current_user.unidade.tipo_id == 5 or current_user.unidade.tipo_id == 8)%>
                          <%= select_tag :numero, options_for_select([ "  ", "NI","NII","BI","BII", "BIII", "MI","MII","MS" ]) %> &nbsp
                          <%= select_tag :letra, options_for_select([ "  ", "A", "B", "C", "D", "E",]) %>

                       <%else%>
                          <%= select_tag :numero, options_for_select([ "  ", "1","2","3","4","5","6","7","8","9", "EJA" ]) %> &nbsp
                          <%= select_tag :letra, options_for_select([ "  ", "A", "B", "C", "D", "E",]) %>
                       <%end%>
                  <%end%>
               </div>
                      <%= observe_field :classe_classe_classe,
                        :with => :classe_classe_classe,
                        :url => { :action => 'ja_cadastrado' }%>
           </td>
           <td > <b>Período: </b><%= f.select :horario, Classe::HORARIO %></td>
           <td ><b>Ano Letivo: </b><%= f.text_field :classe_ano_letivo, :size =>5, :value =>"2017" %>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Sala: </b><%= f.text_field :sala, :size =>2 %></td>

        </tr>


          <td colspan="4"><b>Identificação Nº no GDAE / PRODESP: </b><%= f.text_field :classe_descricao, :size => 47%></td>
        </tr>
        <tr>
            <td colspan="4">
                <center><b><font color ="red"><%= flash[:notice] %> - <%= flash[:notice] %>  - <%= flash[:notice] %> </font></b></center>
            </td>
        </tr>

      </table>
      <br/>
    <table width="100%"  align="center">
      <tr>
            <td width="4%"align="left"><div id='jacadastrado2'><%= f.submit 'Salvar' %><div></td>
<%end%>
            <td width="4%"align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
            <td><%= button_to 'Cadastrar Classe', new_class_path  %></td>
            
    
  

         </tr>
       </table>
    
    
  </font>





