<table frame="box" rules="all" width="100%">
  <tr>
    <td rowspan="4"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td><center><b>CLASSE</b></center>
        <center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
        <center><font size="1">Unidade Escolar:     <% for classe in @classe %> <%=h classe.unidade.nome %>   </font></center>
    </td>
  </tr>
</table>

<table frame="box" rules="all" width="100%">
  
   <tr  class ="invisible_to_print ">
     <td colspan="4"align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>

        <tr  style="line-height:40%">
           <td align="left" width="15%" style="font-size: 7px"><b>Unidade:</b></td>
           <td align="left" style="font-size: 7px"><%=h classe.unidade.nome%></td>
          <td align="left"width="15%" style="font-size: 7px"><b> Ano Letivo:</b></td>
          <td colspan="7" align="left" style="font-size: 7px"> <%=h classe.classe_ano_letivo %></td>
      </tr>

      <tr style="line-height:40%">
           <td align="left" style="font-size: 7px"><b>Classe:</b></td>
           <td align="left" style="font-size: 7px">  <%=h classe.classe_classe%></td>
           <td align="left" style="font-size: 7px"><b>Horário:</b></td>
           <td align="left" style="font-size: 7px">  <%=h classe.horario%></td>

      </tr>
      <tr style="line-height:40%">
          <td align="left" style="font-size: 7px"><b>Descrição:</b></td>
          <td colspan="3" align="left" style="font-size: 7px">  <%=h classe.classe_descricao %></td>
      </tr>
      <tr style="line-height:40%">
        <td valign="top" style="font-size: 7px"> <b> Professor(s):</b> </td>
             <% cont=1 %>
         <% cont1=1 %>
        <td colspan="4">  <% for atrib in @atribuicao_classe %>
                           <table  frame="box" rules="all" width="100%">
                              <tr style="line-height:40%">
                                 <td align="left" width="50%" style="font-size: 7px">  &nbsp<%= cont%> - <%=h atrib.professor.nome%></td>
                                 <td align="left"width="10%" style="font-size: 7px"><b> Disciplina:</b></td>
                                 <td align="left" width="30%" style="font-size: 7px"> <%=h atrib.disciplina.disciplina %></td>
                             </tr>
                           </table>
                          <% cont= cont+1 %>
                         <%end%>
        </td>
      </tr>
      <tr style="line-height:40%">
        <td valign="top" style="font-size: 7px"> <b> Alunos:</b> </td>
             <% cont=1 %>
         <% cont1=1 %>
        <td colspan="4">
          <table frame="box" rules="all" width="100%" >
                             <tr style="line-height:40%">
                               <td align="center"width ="10%" style="font-size: 7px"><b>Nº</b></td>
                               <td width ="20%" style="font-size: 7px"><b>RA</b></td>
                               <td width ="60%" style="font-size: 7px"><b>NOME</b></td>
                               <td align="center"width ="10%" style="font-size: 7px"><b>Nasc.</b></td>
                                <td align="center"width ="10%" style="font-size: 7px"><b>Transf.</b></td>
                             </tr>
     <% for classe in @classe %>
        <% classe.alunos.sort_by{|aluno| aluno.aluno_nome}.each do |aluno| %>
            <% if aluno.unidade_anterior  != User.current.unidade_id%>
                    <%if aluno.trans_in == 1 %>
                       <tr style="line-height:40%">
                          <td align="center" style="font-size: 7px"> &nbsp <%= cont1%> </td>
                          <td align="left" style="font-size: 7px"> <%="#{ aluno.aluno_ra}"%> </td>
                          <td align="left" style="font-size: 7px"> <%="#{ aluno.aluno_nome}"%><font color ="red"> &nbsp&nbsp(Transferido)</font></td>
                          <td align="left" style="font-size: 7px"> <%="#{ aluno.aluno_nascimento.strftime("%d/%m/%Y")}"%> </td>
                          <td> <%= aluno.transferido.strftime("%d/%m/%Y")%>


                          </td>
                      </tr>
                    <%else%>
                      <tr style="line-height:40%">
                          <td align="center" style="font-size: 7px"> &nbsp <%= cont1%> </td>
                          <td align="left" style="font-size: 7px"> <%="#{ aluno.aluno_ra}"%> </td>
                          <td align="left" style="font-size: 7px"> <%="#{ aluno.aluno_nome}"%></td>
                          <td align="left" style="font-size: 7px"> <%="#{ aluno.aluno_nascimento.strftime("%d/%m/%Y")}"%> </td>
                          <td  style="font-size: 7px"> <%if aluno.transferido.nil? %>
                               <%else%>
                                   <%= aluno.transferido.strftime("%d/%m/%Y")%>
                              <%end%>
                          </td>
                      </tr>
                    <%end%>
                    <%else%>
                       <tr style="line-height:40%">
                          <td align="center" style="font-size: 7px"> &nbsp <%= cont1%> </td>
                          <td align="left" style="font-size: 7px"> <%="#{ aluno.aluno_ra}"%> </td>
                          <td align="left" style="font-size: 7px"> <%="#{ aluno.aluno_nome}"%><font color ="red"> &nbsp&nbsp(Transferido)</font></td>
                          <td align="left" style="font-size: 7px"> <%="#{ aluno.aluno_nascimento.strftime("%d/%m/%Y")}"%> </td>
                          <td  style="font-size: 7px"> <%if aluno.transferido.nil? %>
                               <%else%>
                                   <%= aluno.transferido.strftime("%d/%m/%Y")%>
                              <%end%>
                          </td>
                      </tr>



                <%end%>
          <%cont1 = cont1+1%>
       <%end%>
    <%end%>

    <%cont11 = cont1%>
    <% for trans in @transferencia %>
          <tr style="line-height:40%">
           <td align="center" style="font-size: 7px"> &nbsp <%= cont11%> </td>
           <td align="left" style="font-size: 7px"> <%="#{ trans.aluno.aluno_ra}"%> </td>
           <td align="left" style="font-size: 7px"><%="#{ trans.aluno.aluno_nome}"%> <font color ="Blue">&nbsp&nbsp (Transferência)</font> </td>
           <td align="left" style="font-size: 7px"><%="#{ trans.aluno.aluno_nascimento.strftime("%d/%m/%Y")}"%>  </td>
           <td align="left" style="font-size: 7px">
               <% if trans.data_transferencia.nil? %>
               <% else%>
                      <%= trans.data_transferencia.strftime("%d/%m/%Y") %>
              <%end%>
           </td>

          <%cont11 = cont11+1%>
         </tr>

    <%end%>









        </td>
      </tr>

</table>
<%end%>
