<table frame="box" rules="all" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td rowspan="4" style="border-color: white"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white"><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
        <center><font size="1">Unidade Escolar:     <% for classe in @classe %> <%=h classe.unidade.nome %>   </font></center>

    </td>
  </tr>
</table>
<br/>
<table frame="box" rules="all" width="100%" style="border-color: white">

   <tr  class ="invisible_to_print " style="border-color: white">
     <td style="border-color: white" colspan="4"align="left" class ="invisible_to_print " width="5%"><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
     <td style="font-size: 10px">  &nbsp&nbsp&nbsp <b id="pisca1"> <font color="red" id="pisca1"> (Para imprimir em modo paisagem é necessário configurar na impressão)</font></b> </td>

  </tr>
</table>
<br/>
<table frame="box" rules="all" width="100%" style="border-color: white">
        <tr  style="line-height:50%" >
           <td align="left" width="15%" style="font-size: 9px"><b>Unidade:</b></td>
           <td align="left" style="font-size: 9px"><%=h classe.unidade.nome%></td>
          <td align="left"width="15%" style="font-size: 9px"><b> Ano Letivo:</b></td>
          <td colspan="7" align="left" style="font-size: 9px"> <%=h classe.classe_ano_letivo %></td>
      </tr>

      <tr style="line-height:50%">
           <td align="left" style="font-size: 9px"><b>Classe:</b></td>
           <td align="left" style="font-size: 9px">  <%=h classe.classe_classe%></td>
           <td align="left" style="font-size: 9px"><b>Horário:</b></td>
           <td align="left" style="font-size: 9px">  <%=h classe.horario%></td>

      </tr>
      <tr style="line-height:50%">
          <td colspan=""align="left" style="font-size: 9px"><b>Data Inicio entrega:</b></td>
          <td colspan="3" align="left" style="font-size: 9px">  </td>
      </tr>
         <% cont=1 %>
         <% cont1=1 %>
      <tr>
        <td colspan="4">
          <table frame="box" rules="all" width="100%" style="border-color: white">
               <tr style="line-height:50%">
                 <td align="center"width ="2%" style="font-size: 9px"><b>Nº</b></td>
                 <td align="center"width ="20%" style="font-size: 9px"><b>NOME</b></td>
                  <td align="center"width ="8%" style="font-size: 9px"><b>DATA </b></td>
                 <td align="center"width ="35%" style="font-size: 9px"><b>RESPONSÁVEL / GRAU PARENTESCO</b></td>
                 <td align="center"width ="10%" style="font-size: 9px"><b>DOCUMENTO</b></td>
                 <td align="center"width ="40%" style="font-size: 9px"><b>ASSINATURA</b></td>
               </tr>
             <% for matricula in @matriculas %>
                <tr bgcolor="#F5F5F5" style="line-height:50%">
                  <td align="center" style="font-size: 9px"> <%="#{ matricula.classe_num}"%> </td>
                  <td align="left" style="font-size: 10px"><%= truncate(matricula.aluno.aluno_nome,:length => 27,:omission => "...") %>
                                                            <%  if  matricula.status =="TRANSFERIDO"%>
                                                                <font  style="font-size: 8px">&nbsp&nbsp(Transferido) </font>
                                                            <%else if  matricula.status =="TRANSFERENCIA"%>
                                                                   <font style="font-size: 8px" > (Transferência) </font>
                                                                   <%else if  matricula.status =="REMANEJADO"%>
                                                                            <font  style="font-size: 8px"color ="green"> &nbsp&nbsp(Remanejado) </font>
                                                                         <%else if  matricula.status =="*REMANEJADO"%>
                                                                                  <font  style="font-size: 8px> (*Remanejado) </font>
                                                                               <%else if  matricula.status =="ABANDONO"%>
                                                                                        <font style="font-size: 8px" > &nbsp&nbsp(Abandono)</font>
                                                                                    <%end%>
                                                                             <%end%>
                                                                         <%end%>
                                                                   <%end%>
                                                            <%end%>
                  </td>
                  <td align="left">  </td>
                  <td align="left">  </td>
                  <td align="left">  </td>
                   <td align="left">  </td>

              </tr>
            <%end%>
          </table>
        </td>
      </tr>

</table>
<%end%>
