<table frame="box" rules="all" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td rowspan="4" style="border-color: white"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white"><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
        <center><font size="1">Unidade Escolar:     <% for classe in @classe %> <%=h classe.unidade.nome %>   </font></center>
        <center><b>CLASSE</b></center>
    </td>
  </tr>
</table>

<table border="1" cellspacing="0" cellpadding="1" width="100%">
  
   <tr  class ="invisible_to_print ">
     <td colspan="4"align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>

        <tr  style="line-height:25%">
           <td align="left" width="15%" style="font-size: 7px"><b>Unidade:</b></td>
           <td align="left" style="font-size: 7px"><%=h classe.unidade.nome%></td>
          <td align="left"width="15%" style="font-size: 7px"><b> Ano Letivo:</b></td>
          <td colspan="7" align="left" style="font-size: 7px"> <%=h classe.classe_ano_letivo %></td>
      </tr>

      <tr style="line-height:25%">
           <td align="left" style="font-size: 7px"><b>Classe:</b></td>
           <td align="left" style="font-size: 7px">  <%=h classe.classe_classe%></td>
           <td align="left" style="font-size: 7px"><b>Horário:</b></td>
           <td align="left" style="font-size: 7px">  <%=h classe.horario%></td>

      </tr>
      <tr style="line-height:25%">
          <td align="left" style="font-size: 7px"><b>Descrição:</b></td>
          <td colspan="3" align="left" style="font-size: 7px">  <%=h classe.classe_descricao %></td>
      </tr>
      <tr style="line-height:25%">
         <% cont=1 %>
         <% cont1=1 %>
        <td colspan="4" style="font-size: 7px">
          <b> Professor(es):</b> <br/>
            <% for atrib in @atribuicao_classe %>
             <ul style="line-height:25%"> &nbsp<%= cont%> - <%=h atrib.professor.nome%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               <b> Disciplina:</b>&nbsp&nbsp <%=h atrib.disciplina.disciplina %></ul>
             <% cont= cont+1 %>
           <%end%>
        </td>
      </tr>
      <tr style="line-height:25%">
         <% cont=1 %>
         <% cont1=1 %>
        <td style="font-size: 7px" colspan="4">
          <b> Alunos: </b><br/>
          <%if session[:AEE]==0%>
                <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                                 <tr style="line-height:30%">
                                     <td align="center"width ="2%" style="font-size: 7px"><b>Nº</b></td>
                                     <td width ="20%" style="font-size: 7px"><b>RM</b></td>
                                     <td width ="20%" style="font-size: 7px"><b>RA</b></td>
                                     <td width ="60%" style="font-size: 7px"><b>NOME</b></td>
                                     <td align="center"width ="10%" style="font-size: 7px"><b>SITUAÇÃO</b></td>
                                     <td align="center"width ="10%" style="font-size: 7px"><b>NASC</b></td>
                                      <td align="center"width ="10%" style="font-size: 7px"><b>TRANSF</b></td>
                                   </tr>

                                   <% for matricula in  @matriculas %>
                                      <tr style="line-height:25%">
                                        <td align="center" style="font-size: 7px"> <%="#{ matricula.classe_num}"%> </td>
                                        <td align="center" style="font-size: 7px"> <%="#{ matricula.aluno.aluno_rm}"%> </td>
                                        <td align="center" style="font-size: 7px"> <%="#{ matricula.aluno.aluno_ra}"%> </td>
                                        <td align="center" style="font-size: 7px"> <%="#{ matricula.aluno.aluno_nome}"%> </td>
                                        <td align="center" style="font-size: 7px"> <%  if  matricula.status =="TRANSFERIDO"%>
                                                                                      <font color ="red"> Transferido </font>
                                                                                    <%else if  matricula.status =="TRANSFERENCIA"%>
                                                                                           <font color ="blue"> Transferência </font>
                                                                                           <%else if  matricula.status =="REMANEJADO"%>
                                                                                                    <font color ="green"> Remanejado </font>
                                                                                                 <%else if  matricula.status =="*REMANEJADO"%>
                                                                                                          <font color ="green"> *Remanejado </font>
                                                                                                       <%else if  matricula.status =="ABANDONO"%>
                                                                                                                <font color ="red"> Abandono</font>
                                                                                                            <%end%>
                                                                                                     <%end%>
                                                                                                 <%end%>
                                                                                           <%end%>
                                                                                    <%end%>
                                        </td>
                                        <td align="center" style="font-size: 7px"> <%="#{ matricula.aluno.aluno_nascimento.strftime("%d/%m/%Y")}"%> </td>
                                        <td align="center" style="font-size: 7px"> <%  if  matricula.data_transferencia.nil?%>
                                                         <%else%>
                                                               <%="#{ matricula.data_transferencia.strftime("%d/%m/%Y")}"%> </td>
                                                         <%end%>

                                     </tr>
                                  <%end%>
                      </table>
          <%else%>
                          <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                                 <tr style="line-height:30%"style="border-color: white">
                                     <td width ="20%" style="font-size: 7px"><b>RM</b></td>
                                     <td width ="20%" style="font-size: 7px"><b>RA</b></td>
                                     <td width ="60%" style="font-size: 7px"><b>NOME</b></td>
                                     <td align="center"width ="10%" style="font-size: 7px"><b>NASC</b></td>
                                     <td align="center"width ="10%" style="font-size: 7px"><b>ATENDIMENTO</b></td>

                                   </tr>

                                   <% for matricula in  @matriculas %>
                                      <tr style="line-height:25%">

                                        <td align="center" style="font-size: 7px"> <%="#{ matricula.aluno.aluno_rm}"%> </td>
                                        <td align="center" style="font-size: 7px"> <%="#{ matricula.aluno.aluno_ra}"%> </td>
                                        <td align="center" style="font-size: 7px"> <%="#{ matricula.aluno.aluno_nome}"%> </td>
                                        <td align="center" style="font-size: 7px"> <%="#{ matricula.aluno.aluno_nascimento.strftime("%d/%m/%Y")}"%> </td>
                                        <td align="center" style="font-size: 7px"> <%="#{ matricula.atendimento}"%> </td>

                                     </tr>
                                  <%end%>
                      </table>
          <%end%>
        </td>
      </tr>

</table>
<%end%>
