<div id="interno3">
<% title "CONSULTA_CLASSE".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LISTAGEM DE RESPONSÁVEL POR ALUNO - CLASSE</strong></font><br/>
 </div>
    <div class="tabs">
    <% form_remote_tag :url => lista_responsavel_aluno_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
      <fieldset>
       <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td colspan="2"align="right"><font size="2"> <b class="label_busca3">Classe:</b></font>
               &nbsp&nbsp&nbsp
                <%= collection_select :classe, :id, @classe, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %>
               <%= submit_tag "Visualizar", :class => "btn_filtrar" %>
          </td>
        </tr>
       </table>
       </fieldset>
      <fieldset>
        <table border="1" cellspacing="0" cellpadding="1" width="100%">
          <tr>
            <td>
                <div id="classe_alunos"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
              <br/>
            </td>
          </tr>
       </table>
          <% end %>

      </fieldset>

       <br/>
       <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     
     <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('direcao_infantil')or current_user.has_role?('secretaria_infantil')or current_user.has_role?('professor_infantil'))%>
         <td width="6%"align="left"><%= button_to 'Nova Consulta', consulta_classe_path, :title => "Nova Consulta" %></td>
         <td align="left" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_lista_responsavel_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
    <%else%>
          <td align="left"><%= button_to 'Nova Consulta', consulta_classe_path, :title => "Nova Consulta" %></td>
    <%end%>

    </tr>
  </table>
 </div>



</div>

<br/>
</div>









