<div id="interno2">
<% title "MONTAR_CLASSE".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CLASSEssssss</strong></font><br/>
 </div>
    <div class="tabs">
         <fieldset>
       <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
             <td colspan="2"align="right"><font size="2"> <b class="label_busca">Classe:</b></font>
                <%= collection_select :classe, :id, @classe, :id, :classe_classe, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca1"  %>
                  <%= observe_field 'classe_id',
                       :update => "cclasse",
                       :url    => { :action => 'seleciona_montar_classe' },
                       :with   => 'classe_id' %>
             </td>
        </tr>

       </table>
       <br/>
       <table  bgcolor="#F5F5F5" width="100%">
          <tr>
            <td>
              <br/>
            </td>
          </tr>
          <tr>
            <td>
                <div id="cclasse"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
              <br/>
            </td>
          </tr>
       </table>
    

      </fieldset>

       <br/>
  <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td align="left"><%= button_to 'Consultar', consulta_ficha_alunos_path, :title => "Consultar" %></td>
     <td width="6%"align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_ficha_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
    </tr>
  </table>
 </div>



</div>

<br/>
</div>


