
<div id="interno1">
<% title "PROFESSOR" %>
<div class ="tabs">


 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b> CLASSE</b></font></legend>
         <table width="100%">
           <tr bgcolor="#F5F5F5"  width="100%">
 
             <td valign="top">
               <table  bgcolor="#DCDCDC" width="100%">
                 <tr bgcolor="#F5F5F5">
                  <td align="left" width="12%"><b> Ano Letivo:</b></td>
                  <td align="left" width="12%"> <%=h @classe.classe_ano_letivo %><% session[:classe_id] = @classe.id%></td>
                   <td align="left" width="12%"><b>Unidade:</b></td>
                   <td align="left" width="70%"> <%=h @classe.unidade.nome%> </td>
                </tr>
                <tr bgcolor="#F5F5F5" >
                   <td align="left"><b>Classe:</b></td>
                   <td align="left">  <%=h @classe.classe_classe%></td>
                   <td align="left"><b>Horário:</b></td>
                   <td align="left"> <%=h @classe.horario %></td>
                 </tr>
                 <tr bgcolor="#F5F5F5" >
                   <td align="left"><b>Descrição:</b></td>
                   <td colspan="3"align="left"> <%=h @classe.classe_descricao %></td>
                 </tr>

                

                 
               </table>
           </td>
        </tr>
      </table>
     </fieldset>
   </td>
  </tr>
 </table>

    <table>
         <tr>
            
            <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('direcao') or current_user.has_role?('supervisao')%>
                <td width="6%"align="left" ><%= button_to 'Editar', {:action => "edit", :id =>@classe}, :method => "get", :title => "Editar"%></td>
                 <td width="6%"align="left" ><%= button_to 'Excluir Classe', {:action => "destroy", :id =>@classe}, :confirm => 'Tem certeza?',:method => "delete", :title => "Deletar"%></td>
                
            <%else%>
                <td align="center"></td>
             <%end%>
           <td width="4%"align="left"><%= button_to 'Nova Consulta' ,consulta_classe_path, :title => "Nova Consulta" %></td>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
    </table>


</div>
<br/>
</div>
