<p>
  <b>Tipo:</b>
  <%=h @titulacao.tipo %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @titulacao.descricao %>
</p>

<p>
  <b>Referencia:</b>
  <%=h @titulacao.referencia %>
</p>

<p>
  <b>Valor:</b>
  <%=h @titulacao.valor %>
</p>


<%= link_to 'Edit', edit_titulacao_path(@titulacao) %> |
<%= link_to 'Back', titulacaos_path %>