<h1>Listing notas_alunos</h1>

<table>
  <tr>
    <th>Nota</th>
    <th>Aluno</th>
  </tr>

<% @notas_alunos.each do |notas_aluno| %>
  <tr>
    <td><%=h notas_aluno.nota_id %></td>
    <td><%=h notas_aluno.aluno_id %></td>
    <td><%= link_to 'Show', notas_aluno %></td>
    <td><%= link_to 'Edit', edit_notas_aluno_path(notas_aluno) %></td>
    <td><%= link_to 'Destroy', notas_aluno, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New notas_aluno', new_notas_aluno_path %>