<% form_for @professor, :html => { :multipart => true } do |f| %>
 <%= f.error_messages %>
  <font  size="2">
    <fieldset><legend><font  size=3>Dados Professor</font></legend>
      <table width="100%" align="center"  bgcolor="#F5F5F5" >
        <tr bgcolor="#F5F5F5">
               <td colspan="2"><font color ="red" size ="3"><b><u>ATENÇÃO:</u></b> &nbsp&nbsp&nbsp Os campos <b>Matricula , Nome do Professor, Função  e Sede</b> são preenchimento obrigatório.
       </tr>
        <tr>
          <td><font color ="red" size ="3"><b>*</b></font><b><b>Matricula: </b><%= f.text_field :matricula, :size => 24 %></td>
          <td><font color ="red" size ="3"><b>*</b></font><b><b>Nome: </b><%= f.text_field :nome, :size => 59 %></td>
        </tr>
        <tr>
          <td><b>Data de Nascimento: </b><%= datepicker_tag(:professor, :dt_nasc,{ :size => 10},{:dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn => "'both'" }) %></td>
          <td><b>RG: </b><%= f.text_field :RG, :size => 9 %>&nbsp&nbsp&nbsp
              <b>CPF: </b><%= f.text_field :CPF, :size => 9 %>&nbsp&nbsp&nbsp
               <b>RD: </b><%= f.text_field :RD, :size => 9 %>&nbsp&nbsp&nbsp
              <b>INEP: </b><%= f.text_field :INEP, :size => 9 %></td>
        </tr>

        <tr>
          <td colspan="2"><b> Endereço: </b><%= f.text_field :endres,:size =>57 %>
              <b>Nº </b><%= f.text_field :num, :size => 4 %>&nbsp&nbsp
              <b>Complemento: </b><%= f.text_field :complemento, :size =>13 %></td>
        </tr>
        <tr>
          <td><b>Bairro: </b><%= f.text_field :bairro,:size =>30 %></td>
          <td><b>Cidade: </b><%= f.text_field :cidade, :size =>40 %>&nbsp&nbsp&nbsp
            <b>CEP: </b><%= f.text_field :cep, :size =>9 %></td>
        </tr>
        <tr>
          <td><b>Telefone(s): </b><%= f.text_field :telefone, :size =>26%></td>
          <td><b>Celular(es): </b><%= f.text_field :cel, :size =>32 %>&nbsp&nbsp&nbsp&nbsp
          <b>Nº Filhos: </b><%= f.text_field :n_filhos, :size => 10 %></td>
        </tr>
        <tr>
          <td colspan="3"><b>E-mail(s): </b><%= f.text_field :email, :size =>35%>
            &nbsp&nbsp<font color ="red" size ="3"><b>*</b></font><b>Sede: </b><%= f.collection_select :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
        </tr>
        <tr>
          
          
          <td colspan="3"><b>Data Ingresso: </b> <%= datepicker_tag(:professor, :dt_ingresso,{:size => 10},{:dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-60:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn => "'both'" }) %>
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Jornada Semanal: </b><%= f.text_field :jornada_sem, :size =>5 %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <b>Formação: </b><%= f.select :entrada_concurso, options_for_select(Professor::Curso), :include_blank => true%></td>
        </tr>
        <tr>
           <td><font color ="red" size ="3"><b>*</b></font><b>Função/Cargo: </b><%= f.select :funcao, (CARGO).sort, :include_blank => '-- Selecionar --' %></td>
           <td><b>Observações:</b><%= f.text_field :obs, :size => 53 %></td>
         </tr>



      </table>

      
       <table width="100%" >
         <tr>
            <td width="4%"align="left"><%= f.submit 'Salvar' %></td>
<%end%>
            <td width="6%"align="left" ><%= button_to 'Nova ConsultaConsultar' ,consulta_unidade_path, :title => "Nova Consulta" %></td>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
    
  

         </tr>
       </table>
      </fieldset>
    
  </font>





