<%  session[:subtotal_titulos] = 0 %>
<% session[:permanente]= 0 %>
<% session[:anual] = 0 %>
<% session[:pontos] = 0%>
<table width="100%"frame="box">
         <tr>
           <td>
                &nbsp&nbsp&nbsp&nbsp<img src="/stylesheets/images/logo.png"   alt=""  class="float-left"  />
                <br/><br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                       <font size="3"><i><b><u>SISTEMA DE PONTUAÇÂO</u></b><br/>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                       <font size="3"><b><u> TITULAÇÂO PROFESSORES</u></b></i><br/>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                       <font size="2">Ano letivo: <%=  session[:ano]%></font><br/>

           </td>
         </tr>
       </table>
        <table>
           <%for professor in @professor%>
              <% session[:teacher1111] = professor.id%>
              <tr>
                   <td align="left" width="10%"><b>Matrícula:</b></td>
                   <td align="left" width="20%"><%= professor.matricula%></td>
                   <td align="left" width="9%"><b>Nome:</b></td>
                   <td colspan="5"align="left"><%= professor.nome %></td>
                </tr>
                 <tr>
                   <td align="left"><b>Nascimento:</b></td>
                   <td align="left">  <%if professor.dt_nasc.nil?%>
                                      <%else%> <%= professor.dt_nasc.strftime("%d/%m/%Y")%>
                                      <%end%>
                   </td>
                   <td align="left"width="5%"><b>Nº Filhos:</b></td>
                   <td colspan="5"align="left">  <%= professor.n_filhos %></td>
                 <tr/>
                 <tr>
                   <td align="left"><b>RG:</b></td>
                   <td align="left">  <%= professor.RG %></td>
                   <td align="left"><b>CPF:</b></td>
                   <td align="left">  <%= professor.CPF %></td>
                   <td align="left"width="5%"><b>INEP:</b></td>
                   <td align="left">  <%= professor.INEP %></td>
                   <td align="right"width="5%"><b>RD:</b></td>
                   <td align="left">  <%= professor.RD %></td>
                 <tr/>
                 <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Endereço:</b></td>
                  <td colspan="5" align="left"> <%=  professor.endres %> - <%= professor.num %></td>
                  <td align="right"><b> Complemento:</b></td>
                  <td > <%=  professor.complemento %> - <%=  professor.num %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left" width="10%"><b> Cidade:</b></td>
                  <td colspan="2"align="left"><%=h professor.cidade %></td>
                  <td align="right" ><b> Bairro:</b></td>
                  <td colspan="2"align="left"><%=  professor.bairro %></td>
                  <td align="right"><b> CEP:</b></td>
                  <td align="left"><%=  professor.cep %></td>
                </tr>
                <tr  bgcolor="#F5F5F5">
                   <td align="left"><b>Fone:</b></td>
                   <td align="left"><%=  professor.telefone %></td>
                   <td align="left"><b>Celular</b></td>
                   <td align="left"><%=  professor.cel %></td>
                   <td align="left"><b> e_mail:</b></td>
                   <td align="left"  colspan="3"><%= professor.email %></td>
                </tr>

                 <tr>
                   <td align="left"><b>Ingresso:</b></td>
                   <td align="left">  <%= professor.dt_ingresso.strftime("%d/%m/%Y")%></td>
                   <td align="left"><b>Formação:</b></td>
                   <td align="left"colspan="5">  <%= professor.entrada_concurso%></td>
                 </tr>
                 <tr>
                   <td align="left"><b>Função:</b></td>
                   <td align="left">  <%= professor.funcao%></td>
                   <td align="left"><b>Sede:</b></td>
                   <td align="left" colspan="3">  <%= professor.unidade.nome%></td>
                   <td align="right"><b>Jornada:</b></td>
                   <td align="left">  <%= professor.jornada_sem%></td>
                 </tr>

                  <tr>
                   <td align="left"><b>Situação:</b></td>
                   <td align="left">
                      <% if  professor.desligado == 1%>
                        <font color="red"> Desligado</font> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b>Data:</b><%= professor.data_desligado.strftime("%d/%m/%Y")%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b>Motivo:</b><%= professor.motivo%>
                      <%else%>
                        <font color="blue"> Ativo</font>
                      <%end%>
                   </td>
                  <td align="left"><b> Observações:</b></td>
                  <td align="left" colspan="4 "><%=  professor.obs%></td>
                </tr>
                <%end%>
             </table>
<HR>
<!--  PONTUAÇÂO TEMPO SERVIÇO -->
           <table width="100%" >
              <tr>
                <td colspan="15" align="center"> <u><b>Contagem Tempo de Serviço</b></u><br/></td>
              </tr>
              <tr>
                <td></td>
              </tr>
              <tr>
                 <td align="center">
                   <table frame="box" rules="all">
                     <tr>
                       <td align="center" width ="8%"><b>Ano</b></td>
                       <td align="center" width ="8%" ><b>Dias</b></td>
                       <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                           <td align="center" width ="8%"><b>Unidade</b></td>
                           <td align="center" width ="8%"><b>Outro<br/>Emprego</b></td>
                       <%end%>
                       <td align="center" width ="8%"><b>Faltas<br/>Abonadas</b></td>
                       <td align="center" width ="8%"><b>Faltas<br/>Atestados</b></td>
                       <td align="center" width ="8%"><b>Faltas<br/>Justif.</b></td>
                       <td align="center" width ="8%"><b>Faltas<br/>Injustif.</b></td>
                       <td align="center" width ="8%"><b>Licença<br/>Saúde</b></td>
                       <td align="center" width ="8%"><b>Afasta-<br/>mento</b></td>
                       <td align="center" width ="8%"><b>Outras<br/>Ausências</b></td>
                       <td align="center" width ="8%"><b>Dias de<br/>Trabalho</b></td>
                       <td align="center" width ="8%"><b>Dias<br/>Efetivos</b></td>
                       <td align="center" width ="8%"><b>Dias<br/>Rede</b></td>
                       <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                           <td align="center" width ="8%"><b>Dias<br/>Unidade</b></td>
                       <%end%>
                    </tr>
              <%for temposervico in @temposervico%>
                  <%  subtotal1= temposervico.dias_trab2 + temposervico.dias_trab1 %>
                  <%  subtotal2= temposervico.dias_efetivos2 + temposervico.dias_efetivos1%>
                  <%  subtotal3= temposervico.dias_rede2 + temposervico.dias_rede1%>
                  <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                      <%  subtotal4= temposervico.dias_unidade2 + temposervico.dias_unidade1%>
                  <%end%>
                    <tr>
                        <td align="center"><%= temposervico.ano1%> </td>
                        <td align="center"><%= temposervico.dias1 %> </td>
                        <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                           <td align="center"><%= temposervico.unidade1%> </td>
                            <td align="center"><%= temposervico.outro_trab1%> </td>
                        <%end%>
                        <td align="center"><%= temposervico.f_abonada1%> </td>
                        <td align="center"><%= temposervico.f_atestado1%> </td>
                        <td align="center"><%= temposervico.f_justif1%> </td>
                        <td align="center"><%= temposervico.f_injustif1%> </td>
                        <td align="center"><%= temposervico.lic_saude1%> </td>
                        <td align="center"><%= temposervico.afastamento1%> </td>
                        <td align="center"><%= temposervico.outras_aus1%> </td>
                        <td align="center"><%= temposervico.dias_trab1%> </td>
                        <td align="center"><%= temposervico.dias_efetivos1%> </td>
                        <td align="center"><%= temposervico.dias_rede1%> </td>
                       <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                            <td align="center"><%= temposervico.dias_unidade1%> </td>
                       <%end%>
                    </tr>
                    <tr>
                        <td align="center"><%= temposervico.ano2%> </td>
                        <td align="center"><%= temposervico.dias2%> </td>
                        <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                           <td align="center"><%= temposervico.unidade2%> </td>
                           <td align="center"><%= temposervico.outro_trab2%> </td>
                        <%end%>
                        <td align="center"><%= temposervico.f_abonada2%> </td>
                        <td align="center"><%= temposervico.f_atestado2%> </td>
                        <td align="center"><%= temposervico.f_justif2%> </td>
                        <td align="center"><%= temposervico.f_injustif2%> </td>
                        <td align="center"><%= temposervico.lic_saude2%> </td>
                        <td align="center"><%= temposervico.afastamento2%> </td>
                        <td align="center"><%= temposervico.outras_aus2%> </td>
                        <td align="center"><%= temposervico.dias_trab2%> </td>
                        <td align="center"><%= temposervico.dias_efetivos2%> </td>
                        <td align="center"><%= temposervico.dias_rede2%> </td>
                        <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                           <td align="center"><%= temposervico.dias_unidade2%> </td>
                        <%end%>
                    </tr>
                    <tr>
                       <td colspan="9" align="right"><b>SUB TOTAL (em dias)</b>&nbsp&nbsp&nbsp</td>
                        <td align="center"><%= subtotal1%> </td>
                        <td align="center"><%= subtotal2%> </td>
                        <td align="center"><%= subtotal3%> </td>
                        <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                           <td align="center"><%= subtotal4%> </td>
                        <%end%>
                    </tr>
                 </table>
               </td>
             </tr>
             <tr>
                <td colspan="15" align="center" > <u><b>Pontuação Tempo de Serviço</b></u><br/></td>
              </tr>
              <tr>
                 <td align="center">
                   <table frame="box" rules="all" width="100%">
                     <tr>
                       <td align="center" width ="20%"><b>Descrição</b></td>
                       <td align="center" width ="11%"><b>2º Sem. <%= temposervico.ano1%></b></td>
                       <td align="center" width ="11%"><b>1º Sem. <%= temposervico.ano2%></b><br/></td>
                       <td align="center" width ="11%"><b>SubTotal
                       <td align="center" width ="5%"><b>Peso</b></td>
                       <td align="center" width ="11%"><b>Totalização</td>
                       <td align="center" width ="12%" ><b>Total Anterior</b></td>
                       <td align="center" width ="10%"><b>Pontuação</b></td>
                      <td align="center" width ="8%"><b>Total</b></td>
                     </tr>
                    <tr>
                      <td align="left"><b>Total de dias efetivos</b></td>
                       <td align="center"><%= temposervico.dias_efetivos1%></td>
                       <td align="center"><%= temposervico.dias_efetivos2%></td>
                          <%tott2 = temposervico.dias_efetivos1 + temposervico.dias_efetivos2%>
                       <td align="center"><%= tott2%></td>
                       <td align="center"> 10 </td>
                       <td align="center"> <%=  (tott2* 10)%></td>
                       <td align="center"><%= temposervico.total_ant_dias%></td>
                      <td align="center"> <%= temposervico.total_efetivo %></td>
                    </tr>
                    <tr>
                      <td align="left"><b>Total dias de trabalho</b></td>
                       <td align="center"><%= temposervico.dias_trab1%></td>
                       <td align="center"><%= temposervico.dias_trab2%></td>
                           <%tott1 = (temposervico.dias_trab1 + temposervico.dias_trab2)%>
                       <td align="center"><%= tott1%></td>
                       <td align="center"> 2 </td>
                       <td align="center"> <%=  tott1* 2%></td>
                       <td align="center"><%= temposervico.total_ant_efetivo%></td>
                      <td align="center"> <%= temposervico.total_dias %></td>
                    </tr>

                    <tr>
                       <td align="left" width ="20%"><b>Total de dias rede</b></td>
                      <td align="center"><%= temposervico.dias_rede1%></td>
                       <td align="center"><%= temposervico.dias_rede2%></td>
                       <%tott3 =  temposervico.dias_rede1 + temposervico.dias_rede2%>
                       <td align="center"><%=  tott3%></td>
                       <td align="center"> 1 </td>
                       <td align="center"> <%=  (tott3* 1)%></td>
                       <td align="center"><%= temposervico.total_ant_rede%></td>
                      <td align="center"> <%= temposervico.total_rede %></td>
                    </tr>
                    <%  if (Time.current.strftime("%Y").to_i)< 2015 %>
                        <tr>
                            <td align="left" width ="20%"><b>Total de dias unidade</b></td>
                           <td align="center"><%= temposervico.total_ant_unid%></td>
                           <td align="center"><%= temposervico.dias_unidade1%></td>
                           <td align="center"><%= temposervico.dias_unidade2%></td>
                           <%tott4 = temposervico.total_ant_unid + temposervico.dias_unidade1 + temposervico.dias_unidade2%>
                           <td align="center"><%=  tott4%></td>
                           <td align="center"> 2 </td>
                           <td align="center"> <%= temposervico.total_unid %></td>
                        </tr>
                    <%end%>
                    <tr>
                      <td  colspan="8" align="right"><b>TOTAL PONTUAÇÂO TEMPO DE SERVIÇO</b>&nbsp&nbsp&nbsp</td>
                      <td align="center"><b><%= h temposervico.total_geral_tempo_servico%></b> </td>
                  </tr>
                 </table>
               </td>
             </tr>

          </table>

<!--  PONTUAÇÂO TITULAÇÂO -->
<%  session[:subtotal_titulos] = 0 %>

<table width="100%" frame="box" rules="all">

<tr> <td colspan="7" align="center"> <u><b>Pontuação Titulação Permanente</b></u><br/></td></th></tr>

     <tr style="font-size:12px">
       <th  width="23%">
        Título
       </th >
       <th  width="25%">
        Descrição
       </th >
        <th width="8%">
        Ano
       </th>
       <th width="10%">
        Quantidade
       </th>
       <th width="8%">
        Valor
       </th>
       <th width="8%">
        Pontuação
       </th>
       <th width="7%">
        Total
       </th>
     </tr>
     <% if !((@tp.nil?) or (@tp.empty?)) %>
     <%for tp in @tp%>

     <tr style="font-size:12px">
       <td align="left">
        <font size="2"><%= truncate((Titulacao.find_by_id(tp.titulo_id).descricao),:length => 25,:omission => "...") %></font>
      </td>
      </td>
        <td align="center">
        <font size="2"> <%= truncate(tp.obs,:length => 25,:omission => "...") %></font>
      </td>
    
        <td align="center">
        <font size="2"><%= tp.ano_letivo %></font>
      </td>
      <td align="center">
        <font size="2"><%= tp.quantidade %></font>
      </td>
      <td align="center">
        <font size="2"><%= tp.valor %></font>
      </td>
      <td align="center">
        <font size="2"><%= tp.pontuacao_titulo %></font>

        <% session[:permanente] = tp.total_permanente %>

      </td>
      
   </tr>

  <%end%>
  <%end%>
<tr>
  <th  colspan="5" align="right">Sub-Total Títulos Permanentes &nbsp&nbsp&nbsp</th>
  <th align="center">
    <%= session[:permanente] %>

  </th>
  
</tr>


</table>


<table width="100%" frame="box" rules="all">

  <tr> <td colspan="7" align="center"> <u><b>POTUAÇÃO TITULAÇÂO ANUAL</b></u><br/></td></th></tr>
     <tr style="font-size:10px">
       <th align="center"><font size="2"width="10%">Título</font></th>
       <th align="center"><font size="2"width="25%">Descrição</font></th>
       <th align="center"><font size="2"width="10%">Ano</font></th>
      <th><font size="2"width="12%">Tipo</font>  </th>
       <th align="center"width="10%">Quantidade</font></th>
       <th align="center"width="5%"><font size="2">Valor</font></th>
       <th align="center" width="5%"><font size="2">Pontuação</font></th>
       <th align="center" width="8%"><font size="2">Total</font></th>

    </tr>

<%for tp1 in @tp1%>

     <tr style="font-size:12px">
      <td  align="left">
        <font size="2"><%= truncate((Titulacao.find_by_id(tp1.titulo_id).descricao),:length => 20,:omission => "...") %></font>
        
      </td>
       <td  align="center">
        <font size="2"> <%= truncate(tp1.obs,:length => 20,:omission => "...") %></font>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.ano_letivo %></font>
      </td>
      <td align="center">
        <% if tp1.tipo_curso == true%>
          <font size="2"><%= "PRESENCIAL" %></font>
      <%else%>
          <%  if (tp1.quantidade<30) %>
            <font size="2"> <%= "À DISTÂNCIA" %></br>
            <font color ="red" size="2"><%= "NÃO VALIDO"%></font></font>
        <% else %>
            <font size="2"><%= "À DISTÂNCIA" %></font>
        <%end%>
      <%end%>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.quantidade %></font>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.valor %></font>
      </td>
      <td  align="center">
        <font size="2"><%= tp1.pontuacao_titulo %></font>
      </td>
      <!--true = a distancia e false = presencial!-->

   </tr>
  <% session[:ano] = tp1.ano_letivo %>
  <% session[:anual] = tp1.total_anual %>


<% end %>
<tr style="font-size:12px">
  <th colspan="6" align="right"><font size="2">Sub-Total Títulos Anuais </font>&nbsp&nbsp&nbsp</th>
  <th  align="center">
    <font size="2"><%= session[:anual] %></font>
  </th>
</tr>
<% session[:subtotal_titulos] = session[:permanente] + session[:anual] %>
<tr>
  <th  colspan="7" align="right">TOTAL TÍTULOS TÍTULOS</th>
  <th align="center">
    <%= "#{session[:subtotal_titulos]}" %>
</tr>
</table>
 <% session[:pontos]= temposervico.pontuacao_geral%>
  <%end%>
<table width="100%" ->

    <td widht="8%"><b><%= link_to image_tag("/stylesheets/images/imprimir12.png"), onclick="javascript:MM_openBrWindow('#{impressao_professors_path(:professor => session[:teacher1111])}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
    <td align="right"><font size="3"><b>TOTAL PONTUAÇÂO TEMPO DE SERVIÇO</b>&nbsp&nbsp&nbsp</font></td>
    <td width="12%" align="center"><b><font size="3"><%= session[:pontos]%></b></font> </td>
  </tr>
</table>




