<table width="100%">
  <% for classe in @classe %>
    <tr bgcolor="#F5F5F5" >
      <td align="left" valign="top" width="10%" ><b>Unidade:</b></td>
      <td align="left" valign="top" width="50%" ><%=h classe.unidade.nome%></td>
       <td align="left"valign="top" width="10%"><b> Classe:</b></td>
       <td align="left" valign="top"width="10%" ><%=h classe.classe_classe%></td>
       <td align="left" valign="top"width="10%"><b> Periodo:</b></td>
       <td align="left" valign="top"> <%=h classe.horario %></td>

       

    </tr>
<%end%>
</table>

<fieldset>
<table width="100%">
    <tr bgcolor="#F5F5F5" >
      <td align="left" width="40%"><b>Professor/Responsável</b></td>
       <td align="left"width="20%"><b> Disciplina:</b></td>
      <td align="center"width="8%"><b> Ano Letivo</b></td>

    </tr>
  <% for atrib in @atribuicao_classe %>
    <tr bgcolor="#F5F5F5" >
      <td align="left" ><%=h atrib.professor.nome%></td>
      <td align="left"> <%=h atrib.disciplina.disciplina %></td>
      <td align="center"> <%=h atrib.classe.classe_ano_letivo %></td>
       

    </tr>
 <%end%>
   <%if !@contador.nil?%>

      <tr bgcolor="#DCDCDC">
        <td><b> Total:</b></td>
        <td colspan="3"> <%= @contador.count %> Professores/Responsáveis em <%= @atribuicao_classe.count%> Classes </td>
      </tr>

   <%end%>
</table>
</fieldset>


