<fieldset>
<table width="100%">
    <tr bgcolor="#F5F5F5" >
      <td align="center"width="5%"><b> Classe</b></td>
      <td align="left" width="35%"><b>Professor</b></td>
      <td align="left"width="25%"><b> Disciplina</b></td>
       <td align="left"width="25%"><b> Unidade</b></td>
      <td align="center"width="5%"><b> Ano Letivo</b> </td>

    </tr>
  <% for atrib in @atribuicao_classe %>
    <tr bgcolor="#F5F5F5" >
      <td align="center" ><%=h atrib.classe.classe_classe%></td>
      <td align="left" ><%=h atrib.professor.nome%></td>
      <td align="left"> <%=h atrib.disciplina.disciplina %></td>
      <td align="left"> <%= truncate(atrib.classe.unidade.nome,:length => 25,:omission => "...") %></td>
      <td align="center"> <%=h atrib.classe.classe_ano_letivo %> </td>
       

    </tr>
 <%end%>
    <%if !@contador.nil?%>
       
      <tr bgcolor="#DCDCDC">
        <td><b> Total:</b></td>
        <td colspan="3"> <%= @contador.count %> Professores/Responsáveis em <%= @atribuicao_classe.count%> Classes </td>
      </tr>
      
   <%end%>
</table>
</fieldset>


