<p>
  <b>Matricula:</b>
  <%=h @professor.matricula %>
</p>

<p>
  <b>Nome:</b>
  <%=h @professor.nome %>
</p>

<p>
  <b>Dt atual:</b>
  <%=h @professor.dt_atual %>
</p>

<p>
  <b>Dt ingresso:</b>
  <%=h @professor.dt_ingresso %>
</p>

<p>
  <b>Dt nasc:</b>
  <%=h @professor.dt_nasc %>
</p>

<p>
  <b>Rg:</b>
  <%=h @professor.RG %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @professor.CPF %>
</p>

<p>
  <b>Inep:</b>
  <%=h @professor.INEP %>
</p>

<p>
  <b>Rd:</b>
  <%=h @professor.RD %>
</p>

<p>
  <b>N filhos:</b>
  <%=h @professor.n_filhos %>
</p>

<p>
  <b>Sede:</b>
  <%=h @professor.sede_id %>
</p>

<p>
  <b>Jornada sem:</b>
  <%=h @professor.jornada_sem %>
</p>

<p>
  <b>Funcao:</b>
  <%=h @professor.funcao %>
</p>

<p>
  <b>Funcao2:</b>
  <%=h @professor.funcao2 %>
</p>

<p>
  <b>Endres:</b>
  <%=h @professor.endres %>
</p>

<p>
  <b>Complemento:</b>
  <%=h @professor.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @professor.bairro %>
</p>

<p>
  <b>Num:</b>
  <%=h @professor.num %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @professor.telefone %>
</p>

<p>
  <b>Cel:</b>
  <%=h @professor.cel %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @professor.cidade %>
</p>

<p>
  <b>Cep:</b>
  <%=h @professor.cep %>
</p>

<p>
  <b>Email:</b>
  <%=h @professor.email %>
</p>

<p>
  <b>Obs:</b>
  <%=h @professor.obs %>
</p>

<p>
  <b>Total trabalhado:</b>
  <%=h @professor.total_trabalhado %>
</p>

<p>
  <b>Total titulacao:</b>
  <%=h @professor.total_titulacao %>
</p>

<p>
  <b>Pontuacao final:</b>
  <%=h @professor.pontuacao_final %>
</p>

<p>
  <b>Flag:</b>
  <%=h @professor.flag %>
</p>

<p>
  <b>Sede id ant:</b>
  <%=h @professor.sede_id_ant %>
</p>

<p>
  <b>Log user:</b>
  <%=h @professor.log_user %>
</p>

<p>
  <b>Prioridade:</b>
  <%=h @professor.prioridade %>
</p>

<p>
  <b>Titulo arrumado:</b>
  <%=h @professor.titulo_arrumado %>
</p>

<p>
  <b>Entrada concurso:</b>
  <%=h @professor.entrada_concurso %>
</p>

<p>
  <b>Desligado:</b>
  <%=h @professor.desligado %>
</p>

<p>
  <b>Data desligado:</b>
  <%=h @professor.data_desligado %>
</p>

<p>
  <b>Motivo:</b>
  <%=h @professor.motivo %>
</p>


<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>