
<div id="interno2">
<% title "PROFESSOR" %>
<div class ="tabs">
<font size="5"><strong><%=h "#{@professor.nome}" %></strong></font></br>
 <hr>
 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b> Dado do Professor</b></font></legend>
         <table width="100%">
           <tr bgcolor="#F5F5F5"  width="100%">
             <td valign="top"  width="10%" >
             </td>
             <td valign="top">
               <table  bgcolor="#DCDCDC" width="100%">
                <tr bgcolor="#F5F5F5" >
                   <td align="left" width="10%"><b>Matrícula:</b></td>
                   <td align="left" width="20%"><%=h @professor.matricula%></td>
                   <td align="left" width="9%"><b>Nome:</b></td>
                   <td colspan="5"align="left"><%=h @professor.nome %></td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td align="left"><b>Nascimento:</b></td>
                   <td align="left">  <%=h @professor.dt_nasc.strftime("%d/%m/%Y")%></td>
                   <td align="left"width="5%"><b>Nº Filhos:</b></td>
                   <td colspan="5"align="left">  <%=h @professor.n_filhos %></td>
                 <tr/>
                 <tr bgcolor="#F5F5F5">
                   <td align="left"><b>RG:</b></td>
                   <td align="left">  <%=h @professor.RG %></td>
                   <td align="left"><b>CPF:</b></td>
                   <td align="left">  <%=h @professor.CPF %></td>
                   <td align="left"width="5%"><b>INEP:</b></td>
                   <td align="left">  <%=h @professor.INEP %></td>
                   <td align="left"width="5%"><b>RD:</b></td>
                   <td align="left">  <%=h @professor.RD %></td>
                 <tr/>
                 <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Endereço:</b></td>
                  <td colspan="7" align="left"> <%=h @professor.endres %> - <%=h @professor.num %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Complemento:</b></td>
                  <td colspan="5"align="left"> <%=h @professor.complemento %> - <%=h @professor.num %></td>
                  <td align="left"><b> CEP:</b></td>
                  <td align="left"><%=h @professor.cep %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left" width="10%"><b> Cidade:</b></td>
                  <td colspan="3"align="left"><%=h @professor.cidade %></td>
                  <td align="left" ><b> Bairro:</b></td>
                  <td colspan="3"align="left"><%=h @professor.bairro %></td>
                </tr>
                <tr  bgcolor="#F5F5F5">
                   <td align="left"><b>Fone:</b></td>
                   <td align="left"><%=h @professor.telefone %></td>
                   <td align="left"><b>Celular</b></td>
                   <td align="left"><%=h @professor.cel %></td>
                   <td align="left"><b> e_mail:</b></td>
                   <td align="left"  colspan="3"><%=h @professor.email %></td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td align="left"><b>Ingresso:</b></td>
                   <td align="left">  <%=h @professor.dt_ingresso.strftime("%d de %B de %Y")%></td>
                   <td align="left"><b>Formação:</b></td>
                   <td align="left"colspan="5">  <%=h @professor.entrada_concurso%></td>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                   <td align="left"><b>Função:</b></td>
                   <td align="left">  <%=h @professor.funcao%></td>
                   <td align="left"><b>Sede:</b></td>
                   <td align="left" colspan="3">  <%=h @professor.unidade.nome%></td>
                   <td align="left"><b>Jornada:</b></td>
                   <td align="left">  <%=h @professor.jornada_sem%></td>
                 <tr/>

                  <tr bgcolor="#F5F5F5">
                   <td align="left"><b>Situação:</b></td>
                   <td align="left" colspan="7">
                      <% if  @professor.desligado == 1%>
                        <font color="red"> Desligado</font> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b>Data:</b><%=h @professor.data_desligado.strftime("%d de %B de %Y")%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <b>Motivo:</b><%=h @professor.motivo%>
                      <%else%>
                        <font color="blue"> Ativo</font>
                      <%end%>
                   </td>
                   
                 <tr/>
                 <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Observações:</b></td>
                  <td align="left" colspan="7"><%=h  @professor.obs%></td>
                </tr>
               </table>
           </td>
        </tr>
      </table>
     </fieldset>
   </td>
  </tr>
 </table>

    <table>
         <tr>
            <td width="4%"align="left"><%= button_to 'Consultar' ,consulta_professor_nome_path, :title => "Consultar" %></td>
            <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('direcao') or current_user.has_role?('supervisao')%>
                <td width="6%"align="left" ><%= button_to 'Editar', {:action => "edit", :id =>@professor}, :method => "get", :title => "Editar"%></td>
              <%else%>
                <td align="center"></td>
             <%end%>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
    </table>
 
           
</div>
<br/>
</div>



