<% @classe.each do |classe| %>
    <table width="100%">
         <tr>
            <td rowspan="2"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
             <td><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
                <center><font size="1">Unidade Escolar:  <%=h classe.unidade.nome %>  </font></center>
                <center><font size="1"><%=h classe.unidade.endereco%><%=h classe.unidade.num%> - Americana - SP  </font>
                <font size="1"><%=h classe.unidade.CEP%> - <%=h classe.unidade.fone%>  </font></center>
                <%  session[:classe]=  classe.id%>
             </td>
          </tr>
          <tr>
              <td colspan="2" align="right"><font size="2"><b>REGISTRO E CONTROLE DE RESULTADO FINAL DO RENDIMENTO ESCOLAR &nbsp&nbsp&nbsp&nbsp</b></font> </td>
          </tr>
          <tr>
            <td colspan="2">
              <hr/>
            </td>
          </tr>
           <tr >
              <td colspan="2"><b> Classe:</b> <%=h classe.classe_classe%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <b>  NOTA FINAL</b>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <b> Período:</b> <%=h classe.horario %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <b> Ano Letivo:</b> <%=h classe.classe_ano_letivo%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              </td>
            </tr>
            <%session[:mostra_nome]=1%>
            <table border="1" cellspacing="0" cellpadding="1" width="100%">
              <tr style="font-size: 8px">
                 <% @atribuicao_classe.each do |atrib| %>
               <% if session[:mostra_nome]==1%>
                <td style="width: 30px">
                     <table border="1" cellspacing="0" cellpadding="0" width="100%">
                          <%cont = 0%>
                       <tr style="font-size: 9px"><br/>

                                  <td  align="center"><b><br/> Nº: </b> </td>
                                  <td align="center"><br/><b> Nome: </b> </td>
                       </tr>
                         <% @matriculas_classe.each do |matriculas_classe| %>
                                    <tr style="font-size: 9px">
                                       <%  cont =cont+1%>

                                          <td align="center"><b><%= matriculas_classe.classe_num %></b></font> </td>
                                          <%if @atribuicao_classe.length >12 %>
                                              <td align="left"><b><%= truncate(matriculas_classe.aluno.aluno_nome,:length => 12,:omission => "...") %></b></font> </td>
                                          <% else if @atribuicao_classe.length < 7%>
                                                    <td align="left"><b><%= truncate(matriculas_classe.aluno.aluno_nome,:length => 40,:omission => "...") %></b></font> </td>
                                                 <%else%>
                                                    <td align="left"><b><%= truncate(matriculas_classe.aluno.aluno_nome,:length => 25,:omission => "...") %></b></font> </td>
                                                 <%end%>
                                          <%end%>

                                    </tr>

                         <%end%>

                  </table>
                                     <%session[:mostra_nome]=0%>
                </td>
              <%end%>


                  <% if (atrib.disciplina.disciplina).size > 11%>
                       <% if (atrib.disciplina.disciplina).size < 20 %>
                               <td align="center"width ="5%"  valign="top"><b> <%= atrib.disciplina.disciplina %></b><br/>
                       <%else%>
                           <td align="center"width ="5%"  valign="top">
                             <% if  atrib.disciplina.disciplina ==  'OFICINA DE EDUCAÇÃO MATEMÁTICA'%>
                                 <b>EDUCAÇÃO MATEMÁTICA</b>
                                <% else if  atrib.disciplina.disciplina ==  'OFICINA DE EDUCAÇÃO AMBIENTAL'%>
                                        <b>EDUCAÇÃO AMBIENTAL</b>
                                       <% else if  atrib.disciplina.disciplina ==  'OFICINA DE JOGOS PEDAGÓGICOS'%>
                                              <b>JOGOS PEDAGÓGICOS</b>
                                           <% else if  atrib.disciplina.disciplina ==  'OFICINA DE LEITURA E EXPRESSÃO'%>
                                                <b>LEITURA E EXPRESSÃO</b>
                                              <% else if  atrib.disciplina.disciplina ==  'OFICINA DE EXPRESSÃO CORPORAL'%>
                                                    <b>EXPRESSÃO CORPORAL</b>
                                                     <%else if  atrib.disciplina.disciplina ==  'OFICINA DE MUSICALIZAÇÃO'%>
                                                          <b>OFICINA DE MÚSICA</b>
                                                           <%else%>
                                                              <b><%= atrib.disciplina.disciplina %></b><br/>
                                                           <%end%>
                                                     <%end%>
                                              <%end%>
                                            <%end%>
                                      <%end%>
                                  <%end%>
                           <% end %>
                  <%else%>
                      <td align="center"width ="5%"  valign="top">&nbsp<br/><b><%= atrib.disciplina.disciplina %> </b><br/>
                   <%end%>







                   <table border="1" cellspacing="0" cellpadding="0" width="100%">
                          <%cont = 0%>
                       <tr style="font-size: 9px">
                            <td align="center" width ="1%" ><b>Nota</b></td>
                            <td align="center" width =1%"><b>Falta</b></td>
                       </tr>
                         <% @alunos.each do |aluno| %>
                             <%@notas.each do |nota|%>
                                <%if (nota.aluno_id == aluno.id) and (nota.atribuicao_id == atrib.id)%>
                                    <tr style="font-size: 9px">
                                       <%  cont =cont+1%>
                                       <td align="center"><% if  nota.nota5.nil? %>
                                                                                          ---
                                                                                       <%else%>

                                                                                          <%if (nota.nota5.to_i < 5.0)  %>
                                                                                            <% if nota.nota5 =="F" %>
                                                                                                 <%= nota.nota5 %>
                                                                                            <%else%>
                                                                                               <font color ="red"> <%= nota.nota5 %> </font>
                                                                                            <%end%>
                                                                                          <%else%>
                                                                                                 <%= nota.nota5 %>
                                                                                          <%end%>


                                                                                       <%end %>
                                         </font> </td>
                                       <td align="center" ><%= nota.faltas5%></td>
                                    </tr>

                              <%end%>
                            <%end%>
                         <%end%>

                  </table>
                 </td>
                <%end%>
              </tr>
             </table>
            <table  width="100%">
               <tr>
                 <td width="6%"align="left"   style="border-color: white"'"><br/><%= button_to '', home_path, {:method => "get"}  %></td>
                    <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental'))%>
                  
                  <td colspan="10"align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_nota_final_path}','impressao', 'scrollbars=yes , toolbar=yes, status=yes');", :title => "Imprimir" %> </b></td>
                      <%end%>
               </tr>

            </table>
      <tr>
        <td>
        </td>
      </tr>
    </table>
    <table width="100%" align="center" bgcolor="#DCDCDC" >
      <tr><td> <br/><hr><br/><br/></td>
      </tr>
    </table>

    

<%end%>




























