<div style='display:none'>
  <div id='inline_observacao' style='padding:10px; background:#EEE9E9;'>
    <% form_remote_for( :observacao_historico,:url => { :action => 'create_observacao_historico' }, :success => "$.fn.colorbox.close();$('select').multiselect('refresh')") do |f|%>

    <b><u>OBSERVAÇÕES HISTÓRICO ALUNOS</u></b> <br/>
      <hr>
       <%= error_messages_for 'contact' %>
      <table  width="100%" bgcolor="#F5F5F5">
         <tr>
           <td colspan="2"><font size="2"><b>Aluno: </b> <%= session[:aluno_nome] %></font></td>
           
         </tr>
         <tr>
            <td width="5%" valign="top"><b><font size="2">Observação: </font></b></td>

            <td><%= f.text_area :observacao, :cols=>'60', :rows=> '3', :id=>"contador1" %><br/>
              <script>
                      $(document).on("keydown", "#contador1", function () {
                          var caracteresRestantes = 800;
                          var caracteresDigitados = parseInt($(this).val().length);
                          var caracteresRestantes = caracteresRestantes - caracteresDigitados;

                          $(".caracteres").text(caracteresRestantes);

                      });

              </script>
              <font size ="1"><span class="caracteres">800</span> Caracteres Restantes </font>

            </td>
        </tr>
         <tr>
           <td colspan="2"><font size="2"><b>Quem fez  a Observação: </b> <%=  f.text_field :quem , :size=> "10" %></font></td>
         </tr>
        <tr>
            <td  align="right" ><%= f.submit "Salvar" %></td>
<%end%>
            <td  align="right" ><%= button_to "Fechar",{:action => "historico"}, :method => "get" %></td>
        </tr>
       </table>
      
  </div>
</div>
