  <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor =" #DCDCDC">
    <tr cellspacing="2" cellpadding="2" >
       <td width=" 40%" rowspan="3" align="center"><b>ÁREAS DE CONHECIMENTO </b></td>
       <td width=" 60%" colspan="9" align="center"><b>MENÇÔES OU NOTAS</b></td>
    </tr>
  </table>

  <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
    <tr >
        <td width ="30%"rowspan="2"> <b><center>CURRÍCULO BÁSICO   </center> </b></td>
        <td width ="5%" align="center" ><b>1º</b></td>
        <td width ="5%" align="center" ><b>2º</b></td>
        <td width ="5%" align="center" ><b>3º</b></td>
        <td width ="5%" align="center" ><b>4º</b></td>
        <td width ="5%" align="center" ><b>5º</b></td>
        <td width ="5%" align="center" ><b>6º</b></td>
        <td width ="5%" align="center" ><b>7º</b></td>
        <td width ="5%" align="center" ><b>8º</b></td>
        <td width ="5%" align="center" ><b>9º</b></td>
    </tr>
      <% ano = @ano_inicial.ano_letivo %>
      <%if @ano_inicial.classe.nil?%>
            <% classe= @ano_inicial.matricula.classe.classe_classe[0,1].to_i %>
      <%end%>
      <% anoinicial = ano.to_i - (classe.to_i + 1)  %>
    <tr>
      <%for i in 0..8 %>
      <td width ="5%" align="center" ><b> <%=  anoinicial+i %></b></td>
      <%end%>
    </tr>
    <%@disciplinasB.each do |disciplina|%>
         <tr>
             <td align="left"><%= disciplina.disciplina %></td>
             <%for i in 0..8 %>
                 <% anoletivo = anoinicial+ i %>
                <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=? AND ano_letivo=?', disciplina, session[:aluno_id], anoletivo], :order => 'ano_letivo ASC') %>
                   <% if @notas.empty? or @nota.nil?  %>
                      <td align="center"> --- </td>
                   <%else%>
                     <%for nota in @notas%>
                        <%if nota.ano_letivo == anoletivo %>
                           <td align="center"> <%= nota.nota5%> </td>
                        <%else%>
                           <td align="center"> --- </td>
                        <%end%>
                     <%end%>
                  <%end%>
             <%end%>
        </tr>

    <%end%>
    <tr bgcolor =" #DCDCDC">
      <td><b> Carga Horária</b></td>
             <%for i in 0..8 %>
                 <% anoletivo = anoinicial+ i %>
                <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=? AND ano_letivo=?', 1, session[:aluno_id], anoletivo], :order => 'ano_letivo ASC') %>
                   <% if @notas.empty? or @nota.nil?  %>
                      <td align="center"> --- </td>
                   <%else%>
                     <%for nota in @notas%>
                        <%if nota.ano_letivo == anoletivo %>
                           <td align="center"> <%= 1000 %> </td>
                        <%else%>
                           <td align="center"> --- </td>
                        <%end%>
                     <%end%>
                  <%end%>
             <%end%>
    </tr>
</table>

  <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
    <tr >
        <td width ="30%"rowspan="2"> <b><center>CURRÍCULO DIVERSIFICADO   </center> </b></td>
        <td width ="5%" align="center" ><b>1º</b></td>
        <td width ="5%" align="center" ><b>2º</b></td>
        <td width ="5%" align="center" ><b>3º</b></td>
        <td width ="5%" align="center" ><b>4º</b></td>
        <td width ="5%" align="center" ><b>5º</b></td>
        <td width ="5%" align="center" ><b>6º</b></td>
        <td width ="5%" align="center" ><b>7º</b></td>
        <td width ="5%" align="center" ><b>8º</b></td>
        <td width ="5%" align="center" ><b>9º</b></td>
    </tr>
      <% ano = @ano_inicial.ano_letivo %>
      <%if @ano_inicial.classe.nil?%>
            <% classe= @ano_inicial.matricula.classe.classe_classe[0,1].to_i %>
      <%end%>
      <% anoinicial = ano.to_i - (classe.to_i + 1)  %>
    <tr>
      <%for i in 0..8 %>
      <td width ="5%" align="center" ><b> <%=  anoinicial+i %></b></td>
      <%end%>
    </tr>
    <%@disciplinasD.each do |disciplina|%>
         <tr>
             <td align="left"><%= disciplina.disciplina %></td>
             <%for i in 0..8 %>
                 <% anoletivo = anoinicial+ i %>
                <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=? AND ano_letivo=?', disciplina, session[:aluno_id], anoletivo], :order => 'ano_letivo ASC') %>
                   <% if @notas.empty? or @nota.nil?  %>
                      <td align="center"> --- </td>
                   <%else%>
                     <%for nota in @notas%>
                        <%if nota.ano_letivo == anoletivo %>
                           <td align="center"> <%= nota.nota5%> </td>
                        <%else%>
                           <td align="center"> --- </td>
                        <%end%>
                     <%end%>
                  <%end%>
             <%end%>
        </tr>

    <%end%>
    <tr bgcolor =" #DCDCDC">
      <td><b> Carga Horária</b></td>
             <%for i in 0..8 %>
                 <% anoletivo = anoinicial+ i %>
                <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=? AND ano_letivo=?', 1, session[:aluno_id], anoletivo], :order => 'ano_letivo ASC') %>
                   <% if @notas.empty? or @nota.nil?  %>
                      <td align="center"> --- </td>
                   <%else%>
                     <%for nota in @notas%>
                        <%if nota.ano_letivo == anoletivo %>
                           <td align="center"> <%= 480 %> </td>
                        <%else%>
                           <td align="center"> --- </td>
                        <%end%>
                     <%end%>
                  <%end%>
             <%end%>
    </tr>
  </table>

