  <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor =" #DCDCDC">
    <tr cellspacing="2" cellpadding="2" >
       <td width=" 40%" rowspan="3" align="center"><b>ÁREAS DE CONHECIMENTO </b></td>
       <td width=" 60%" colspan="9" align="center"><b>MENÇÔES OU NOTAS</b></td>
    </tr>
  </table>

  <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
    <tr >
        <td width ="30%"rowspan="2"> <b><center>CURRÍCULO BÁSICO   </center> </b></td>
        <td width ="5%" align="center" ><b>1º</b></td>
        <td width ="5%" align="center" ><b>2º</b></td>
        <td width ="5%" align="center" ><b>3º</b></td>
        <td width ="5%" align="center" ><b>4º</b></td>
        <td width ="5%" align="center" ><b>5º</b></td>
        <td width ="5%" align="center" ><b>6º</b></td>
        <td width ="5%" align="center" ><b>7º</b></td>
        <td width ="5%" align="center" ><b>8º</b></td>
        <td width ="5%" align="center" ><b>9º</b></td>
    </tr>
      <% ano = @ano_inicial.ano_letivo %>
      <%if @ano_inicial.classe.nil?%>
            <% classe= @ano_inicial.matricula.classe.classe_classe[0,1].to_i %>
      <%else%>
            <% classe= @ano_inicial.classe %>
      <%end%>
      <% anoinicial = ano.to_i - classe +1  %>
    <tr>
      <%for i in 0..8 %>
      <td width ="5%" align="center" ><b> <%=  anoinicial+i %></b></td>
      <%end%>
    </tr>
    <%@disciplinasB.each do |disciplina|%>
      <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=?', disciplina, session[:aluno_id]], :order => 'ano_letivo ASC') %>
       <% if !@notas.empty? %>
           <tr>
               <td align="left"><%= disciplina.disciplina %></td>
               <%for i in 0..8 %>
                   <% anoletivo = anoinicial+ i %>
                  <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=? AND ano_letivo=?', disciplina, session[:aluno_id], anoletivo], :order => 'ano_letivo ASC') %>
                        <% if @notas.empty? or @nota.nil?  %>
                        <td align="center"> --- </td>
                     <%else%>
                       <%for nota in @notas%>
                          <%if nota.ano_letivo == anoletivo %>
                                 <%if nota.nota5.nil? %>
                                      <td align="center"> --- </td>
                                 <%else%>
                                      <td align="center"> <%= nota.nota5%>  </td>
                                 <%end%>
                          <%else%>
                             <td align="center"> --- </td>
                          <%end%>
                       <%end%>
                    <%end%>
               <%end%>
          </tr>
      <%end%>
    <%end%>
    <tr bgcolor =" #DCDCDC">
      <td><b> Carga Horária</b></td>
             <%for i in 0..8 %>
                 <% anoletivo = anoinicial+ i %>
                <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=? AND ano_letivo=?', 1, session[:aluno_id], anoletivo], :order => 'ano_letivo ASC') %>
                   <% if @notas.empty? or @nota.nil?  %>
                      <td align="center"> --- </td>
                   <%else%>
                     <%for nota in @notas%>
                        <%if nota.ano_letivo == anoletivo %>
                           <td align="center"> <%= 1000 %> </td>
                        <%else%>
                           <td align="center"> --- </td>
                        <%end%>
                     <%end%>
                  <%end%>
             <%end%>
    </tr>
</table>
<% if @notasD.present? %>
  <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
    <tr >
        <td width ="30%"rowspan="2"> <b><center>CURRÍCULO DIVERSIFICADO   </center> </b></td>
        <td width ="5%" align="center" ><b>1º</b></td>
        <td width ="5%" align="center" ><b>2º</b></td>
        <td width ="5%" align="center" ><b>3º</b></td>
        <td width ="5%" align="center" ><b>4º</b></td>
        <td width ="5%" align="center" ><b>5º</b></td>
        <td width ="5%" align="center" ><b>6º</b></td>
        <td width ="5%" align="center" ><b>7º</b></td>
        <td width ="5%" align="center" ><b>8º</b></td>
        <td width ="5%" align="center" ><b>9º</b></td>
    </tr>
      <% ano = @ano_inicial.ano_letivo %>
      <%if @ano_inicial.classe.nil?%>
            <% classe= @ano_inicial.matricula.classe.classe_classe[0,1].to_i %>
      <%else%>
            <% classe= @ano_inicial.classe %>
      <%end%>
      
      <% anoinicial = ano.to_i - classe + 1  %>
    <tr>
      <%for i in 0..8 %>
      <td width ="5%" align="center" ><b> <%=  anoinicial+i %></b></td>
      <%end%>
    </tr>
    <%@disciplinasD.each do |disciplina|%>
      <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=?', disciplina, session[:aluno_id]], :order => 'ano_letivo ASC') %>
       <% if !@notas.empty? %>
         <tr>
             <td align="left"><%= disciplina.disciplina %></td>
             <%for i in 0..8 %>
                 <% anoletivo = anoinicial+ i %>
                 <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=? AND ano_letivo=?', disciplina, session[:aluno_id], anoletivo], :order => 'ano_letivo ASC') %>
                       <% if @notas.empty? or @nota.nil?  %>
                          <td align="center"> --- </td>
                       <%else%>
                         <%for nota in @notas%>
                            <%if nota.ano_letivo == anoletivo %>
                                 <%if nota.nota5.nil? %>
                                      <td align="center"> --- <% session[:cidade_nota]=1 %></td>
                                 <%else%>
                                      <td align="center"> <%= nota.nota5%>  </td>
                                 <%end%>
                            <%else%>
                               <td align="center"> --- </td>
                            <%end%>
                         <%end%>
                      <%end%>
             <%end%>
        </tr>
      <%end%>

    <%end%>
    <tr bgcolor =" #DCDCDC">
      <td><b> Carga Horária</b></td>
             <%for i in 0..8 %>
                 <% anoletivo = anoinicial+ i %>
                 <% @notasD1= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=? AND ano_letivo=?', 1, session[:aluno_id], anoletivo], :order => 'ano_letivo ASC') %>
                   <% if @notasD1.empty?%>
                      <td align="center"> --- </td>
                   <%else%>
                     <%for nota in @notasD1%>
                        <%if nota.ano_letivo == anoletivo %>
                           <td align="center"> <%= 480 %> </td>
                        <%else%>
                           <td align="center"> --- </td>
                        <%end%>
                     <%end%>
                  <%end%>
             <%end%>
    </tr>

  </table>

<%end%>

  <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
    <tr>
      <td colspan="4"><br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <b>ESTUDOS REALIZADOS</b><br/><br/></td>
    </tr>

    <tr cellspacing="2" cellpadding="2" bgcolor =" #DCDCDC">
       <td width=" 8%" align="center"><b>Período </b></td>
       <td width=" 10%" align="center"><b>Ano Letivo </b></td>
       <td width=" 60%" align="center"><b>Unidade de Ensino</b></td>
       <td width=" 22%" align="center"><b>Municipio/Estado</b></td>
   </tr>
   <%for i in 0..8 %>
   <% anoletivo = anoinicial+ i %>
   <% @notas= Nota.find(:all, :conditions=> ['aluno_id=? AND ano_letivo=?',  session[:aluno_id], anoletivo], :order => 'ano_letivo ASC') %>
    <tr bgcolor="#F5F5F5">
      <td align="center"><%= i + 1%>º Ano </td>
      <td width ="5%" align="center" > <%=  anoletivo %></td>
       <%  @unidade= Unidade.find(:all, :joins=>"INNER JOIN classes ON unidades.id = classes.unidade_id INNER JOIN matriculas ON classes.id = matriculas.classe_id INNER JOIN notas ON matriculas.id = notas.matricula_id", :conditions =>['notas.disciplina_id=? AND notas.aluno_id=? AND notas.ano_letivo=?', 1, session[:aluno_id], anoletivo] )%>
              <%  for unidade in @unidade %>
                   <%  session[:unidade]= unidade.nome  %>
                   <%  session[:cidade]= unidade.cidade  %>
              <%  end %>
      <td><%if !@unidade.empty? %>
                  <%if session[:cidade_nota] == 1 %>
                        <%=  session[:unidade]  %> <% session[:cidade_nota]=0 %>
                  <%else%>
                     
                  <%end%>
                 
              <%else%>
                  <% if !@notas[0].nil? %>
                    <%=  session[:unidade1] = @notas[0].escola  %>
                  <%end%>

                <% if nota.ano_letivo == anoletivo%>
                    <%= session[:unidade1] %>
                <%end%>
              <%end%>
       </td>
       <td><%if !@unidade.empty? %>
                 <%=  session[:cidade]  %>
              <%else%>
                <% if !@notas[0].nil? %>
                    <%=  session[:cidade] = @notas[0].cidade  %>
                <%end%>
              <%end%>
       </td>
    </tr>
  <%end%>
  </table>