  <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor =" #DCDCDC">
    <tr cellspacing="2" cellpadding="2" >
       <td width=" 40%" rowspan="3" align="center"><b>ÁREAS DE CONHECIMENTO </b></td>
       <td width=" 60%" colspan="9" align="center"><b>MENÇÔES OU NOTAS</b></td>
    </tr>
  </table>

  <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
    <tr >
        <td width ="30%"rowspan="2"> <b><center>CURRÍCULO BÁSICO   </center> </b></td>
        <td width ="5%" align="center" ><b>1º</b></td>
        <td width ="5%" align="center" ><b>2º</b></td>
        <td width ="5%" align="center" ><b>3º</b></td>
        <td width ="5%" align="center" ><b>4º</b></td>
        <td width ="5%" align="center" ><b>5º</b></td>
        <td width ="5%" align="center" ><b>6º</b></td>
        <td width ="5%" align="center" ><b>7º</b></td>
        <td width ="5%" align="center" ><b>8º</b></td>
        <td width ="5%" align="center" ><b>9º</b></td>
    </tr>
    <tr>
      <% ano = @ano_inicial.ano_letivo %>
      <% classe= @ano_inicial.matricula.classe.classe_classe %>
      <%  contador_ano = 1%>
      <%  contador_ano_letivo = 1%>
      <%  cont2 = 0%>
         <%for i in 0..8 %>
            <%  cont2 = cont2 + 1%>
             <%if contador_ano == classe[0,1].to_i %>
                 <td width ="5%" align="center" ><b><%= @ano_inicial.ano_letivo%></b></td>
             <% else %>
                 <td align="center"> <%if contador_ano > classe[0,1].to_i %>
                                          <b><%= @ano_inicial.ano_letivo + contador_ano_letivo %></b>
                                          <% contador_ano_letivo = 1 + contador_ano_letivo%>
                                     <%else%>
                                          <b><%= @ano_inicial.ano_letivo - cont2  %></b>
                                    <%end%>
                </td>
            <%end%>
            <%contador_ano = contador_ano + 1%>
            <% ano = ano + 1 %>
        <%end%>
        <%@disciplinas.each do |disciplina|%>
           <%if disciplina.curriculo == 'B'%>
              <tr>
                  <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=?', disciplina, session[:aluno_id]], :order => 'ano_letivo ASC') %>
                     <%for nota in @notas%>
                       <%if nota.disciplina_id == disciplina.id %>
                          <td align="left"><%= disciplina.disciplina %></td>
                            <%  contador_ano = 1%>
                            <%  contador_ano_letivo = 1%>
                            <%for i in 0..8 %>
                               <%if contador_ano == classe[0,1].to_i %>
                                   <td width ="5%" align="center" ><b><% for nota in @notas %>
                                                                            <%if (nota.nota5.present?)  %>
                                                                               <%= nota.nota5%>
                                                                            <%else%>
                                                                                ---
                                                                           <%end%>
                                                                      <%end%>
                                      </b></td>
                               <% else %>
                                   <td align="center">
                                           ---
                                   </td>
                               <%end%>
                               <%contador_ano = contador_ano + 1%>
                               <% ano = ano + 1 %>
                           <%end%>
                       <%end%>
                     <%end%>
              </tr>
            <%end%>
         <%end%>
    </tr>
    <tr bgcolor =" #DCDCDC">
      <td><b> Carga Horária</b></td>
          <% ano = @ano_inicial.ano_letivo %>
          <%  contador_ano = 1%>
          <%  contador_ano_letivo = 1%>
          <%for i in 0..8 %>
               <%if contador_ano == classe[0,1].to_i %>
                   <td width ="5%" align="center" ><b>1000</b></td>
               <% else %>
                   <td align="center"> --- </td>
               <%end%>
               <%contador_ano = contador_ano + 1%>
               <% ano = ano + 1 %>
          <%end%>
    </tr>
</table>
  <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
    <tr >
        <td width ="30%"rowspan="2"> <b><center>CURRÍCULO DIVERSIFICADO   </center> </b></td>
        <td width ="5%" align="center" ><b>1º</b></td>
        <td width ="5%" align="center" ><b>2º</b></td>
        <td width ="5%" align="center" ><b>3º</b></td>
        <td width ="5%" align="center" ><b>4º</b></td>
        <td width ="5%" align="center" ><b>5º</b></td>
        <td width ="5%" align="center" ><b>6º</b></td>
        <td width ="5%" align="center" ><b>7º</b></td>
        <td width ="5%" align="center" ><b>8º</b></td>
        <td width ="5%" align="center" ><b>9º</b></td>
    </tr>
    <tr>
      <% ano = @ano_inicial.ano_letivo %>
      <% classe= @ano_inicial.matricula.classe.classe_classe %>
      <%  contador_ano = 1%>
      <%  contador_ano_letivo = 1%>
      <%  cont2 = 0%>
         <%for i in 0..8 %>
         <%  cont2 = cont2 +1%>
             <%if contador_ano == classe[0,1].to_i %>
                 <td width ="5%" align="center" ><b><%= @ano_inicial.ano_letivo%></b></td>
             <% else %>
                 <td align="center"> <%if contador_ano > classe[0,1].to_i %>
                                          <b><%= @ano_inicial.ano_letivo + contador_ano_letivo %></b>
                                          <% contador_ano_letivo = 1 + contador_ano_letivo%>
                                     <%else%>
                                          <b><%= @ano_inicial.ano_letivo - cont2  %></b>
                                    <%end%>
                </td>
            <%end%>
            <%contador_ano = contador_ano + 1%>
            <% ano = ano + 1 %>
        <%end%>
        <%@disciplinas.each do |disciplina|%>
           <%if disciplina.curriculo == 'D'%>
              <tr>
                  <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=?', disciplina, session[:aluno_id]], :order => 'ano_letivo ASC') %>
                     <%for nota in @notas%>
                       <%if nota.disciplina_id == disciplina.id %>
                          <td align="left"><%= disciplina.disciplina %></td>
                            <%  contador_ano = 1%>
                            <%  contador_ano_letivo = 1%>
                            <%for i in 0..8 %>
                               <%if contador_ano == classe[0,1].to_i %>
                                   <td width ="5%" align="center" ><b><% for nota in @notas %>
                                                                            <%if (nota.nota5.present?)  %>
                                                                               <%= nota.nota5%>
                                                                            <%else%>
                                                                                ---
                                                                           <%end%>
                                                                      <%end%>
                                      </b></td>
                               <% else %>
                                   <td align="center">
                                           ---
                                   </td>
                               <%end%>
                               <%contador_ano = contador_ano + 1%>
                               <% ano = ano + 1 %>
                           <%end%>
                       <%end%>
                     <%end%>
              </tr>
            <%end%>
         <%end%>
    </tr>
    <tr bgcolor =" #DCDCDC">
      <td><b> Carga Horária</b></td>
          <% ano = @ano_inicial.ano_letivo %>
          <%  contador_ano = 1%>
          <%  contador_ano_letivo = 1%>
          <%for i in 0..8 %>
               <%if contador_ano == classe[0,1].to_i %>
                   <td width ="5%" align="center" ><b>480</b></td>
               <% else %>
                   <td align="center"> --- </td>
               <%end%>
               <%contador_ano = contador_ano + 1%>
               <% ano = ano + 1 %>
          <%end%>
    </tr>
</table>

