<div id="interno2">
<% title "CONSULTA_FICHA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>HISTÓRICO ESCOLAR</strong></font><br/>
 </div>
    <div class="tabs">
    <% form_remote_tag :url => historico_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
      <fieldset>
        <table width="100%" align="center" bgcolor="#DCDCDC" >
             <tr>
               <td colspan="2"align="right"><font size="2"> <b>Nome:</b></font>
                  <%= collection_select :aluno, :aluno_id, @alunos1, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %>
              </td>
              <td align="right"> <%= submit_tag "Visualizar", :class => "btn_filtrar" %></td>
             </tr>

       </table>
     </fieldset>
    
  <% if @aluno.present? %>
     <fieldset>
        <table border="1" cellspacing="0" cellpadding="1" width="100%"bgcolor="#F5F5F5">
          <tr>
            <td>

              <% @aluno.each do |aluno| %>
                <table width="100%">
                  <tr>
                    <td rowspan="2" align="left"><center><%= image_tag aluno.photo.url(:original) %> </center></td>
                    <td><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                        <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
                        <center><font size="2"> Unidade de Ensino Fundamental</i></b><br/></center><br/>
                        <center><font size="2"><b><u>HISTÓRICO ESCOLAR</u> &nbsp&nbsp&nbsp&nbsp</b></font></center>

                    </td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>

                 </table>
                <table cellspacing="0" cellpadding="1" width="100%">
         
                     <tr>
                        <td width =" 15%"><b>Unidade de Ensino:</b></td>
                        <td><b><%=h aluno.unidade.nome %></b>  <%session[:historico_aluno_id]=aluno.id %></td>
                     </tr>
                     <tr>
                         <td><b>Endereço:</b></td>
                         <td><%=h aluno.unidade.endereco %> - <%=h aluno.unidade.num %> - <%=h aluno.unidade.bairro %> CEP <%=h aluno.unidade.CEP%> (19)<%=h aluno.unidade.fone%></td>
                     </tr>
                     <tr>
                        <td><b>Autorização:</b></td>
                        <td><%=h aluno.unidade.autorizacao%></td>
                     </tr>
                     <tr>
                       <td colspan="2" align="center"><br/><b>DADOS DO ALUNOS</b></td>

                     </tr>
         
                </table>
              
                <table border="1" cellspacing="0" cellpadding="1" width="100%">
              
                     <tr>
                        <td ><b>Nome:</b>&nbsp&nbsp <%=h aluno.aluno_nome %></td>
                        <td><b>RA:</b>&nbsp&nbsp <%=h aluno.aluno_ra %> <% session[:aluno] = aluno.id %></td>
                        <td colspan="2"><b>Nascimento:</b>&nbsp&nbsp <%=h aluno.aluno_nascimento.strftime("%d/%m/%Y") %></td>
                     </tr>
                     <% if (aluno.aluno_certidao_nascimento.present?)  %>
                         <tr>
                           <td colspan="4"><b>Certidão Nascimento:</b>&nbsp&nbsp <%=h aluno.aluno_certidao_nascimento  %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                           <b>Livro:</b>&nbsp&nbsp <%=h aluno.aluno_livro  %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                           <b>Folha:</b>&nbsp&nbsp <%=h aluno.aluno_folha  %>
                           </td>
                         </tr>
                     <%end%>
                     <tr>
                        <td ><b>Nacionalidade:</b>&nbsp&nbsp <%=h aluno.aluno_nacionalidade %></td>
                        <td><b>Local:</b>&nbsp&nbsp <%=h aluno.aluno_naturalidade %> <% session[:aluno] = aluno.id %></td>
                        <% if !(aluno.aluno_nacionalidade == 'BRASILEIRO')   %>
                          <td><b>Data Chedado no Brasil:</b>&nbsp&nbsp <%=h aluno.aluno_chegada_brasil %></td>
                        <%else%>
                          <td colspan="2"></td>
                        <%end%>
                     </tr>
                     <% if (aluno.aluno_RG.present?)  %>
                       <tr>
                          <td ><b>RG:</b>&nbsp&nbsp <%=h aluno.aluno_RG %></td>
                          <td><b>Emissão:</b>&nbsp&nbsp <%=h aluno.aluno_emissaoRG %></td>
                          <td><b>CPF:</b>&nbsp&nbsp <%=h aluno.aluno_CPF %></td>
                          <td><b>Emissão:</b>&nbsp&nbsp <%=h aluno.aluno_emissaoCPF %></td>
                       </tr>
                     <%end%>
                </table>

              <br/>
                <font size="2"><b><u><center> RESULTADOS DOS ESTUDOS RELIZADOS NO ENSINO FUNDAMENTAL</cente></u></b></font><br/>
                <font size="1"><b> Lei Federal 9294/96 Art. 26, 32, 33, 34 -
                                      Resolução CNE/CEB nº 02/98 - Lei Federal 11.114/2005 e Lei Federal 11.274/2006 </b><font>
             
                  <table border="1" cellspacing="0" cellpadding="1" width="100%">
                    <tr cellspacing="2" cellpadding="2" >
                      <td width=" 40%" rowspan="3" align="center"><b>ÁREAS DE CONHECIMENTO </b></td>
                      <td width=" 60%" colspan="9" align="center"><b>MENÇÔES OU NOTAS</b></td>

                   </tr>
                  </table>
             
     












          <% end %>



              <br/>
            </td>
          </tr>
       </table>

      </fieldset>
  <%end%>
<%end%>
       <br/>
       <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     <td align="left"><%= button_to 'Nova Consulta', relatorios_classe_atribuicaos_path, :title => "Nova Consulta" %>
     <%= link_to image_tag("/stylesheets/images/observações:.jpeg", :size => "100x26"), "#inline_form_observacao", :class =>"inline" %>
     </td>

    </tr>
  </table>
 </div>



</div>

<br/>
</div>









