<%session[:classe]=0%>
<table class ="invisible_to_print ">
    <tr>
        <td width ="2%" align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
    </tr>
</table>
<% @aluno.each do |aluno| %>
    <table border="1" cellspacing="0" cellpadding="4" width="100%" style="border-color: white">
        <tr style="border-color: white">
            <td style="border-color: white"  align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
            <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
                <center><font size="2"> Unidade de Ensino Fundamental</i></b><br/></center>
                <center><font size="2"><b><u>HISTÓRICO ESCOLAR</u> &nbsp&nbsp&nbsp&nbsp</b></font></center>

            </td>
        </tr>
        <tr style="line-height: 2px; border-color: white" >
            <td style="font-size: 8px; border-color: white" width =" 20%"><b>Unidade de Ensino:</b></td>
            <td style="font-size: 8px; border-color: white"><b><%=h aluno.unidade.nome %></b></td>
        </tr>
        <tr style="line-height: 2px; border-color: white">
            <td style="font-size: 8px; border-color: white"><b>Endereço:</b></td>
            <td style="font-size: 8px; border-color: white"><%=h aluno.unidade.endereco %> - <%=h aluno.unidade.num %> - <%=h aluno.unidade.bairro %> CEP <%=h aluno.unidade.CEP%> (19)<%=h aluno.unidade.fone%></td>
        </tr>
        <tr style="line-height: 2px; border-color: white">
            <td style="font-size: 8px; border-color: white"><b>Autorização:</b></td>
            <td style="font-size: 8px; border-color: white"><%=h aluno.unidade.autorizacao%></td>
        </tr>
        <tr style="line-height: 3px; border-color: white">
            <td style="font-size: 8px; border-color: white" colspan="2" align="center"><br/><b><u>DADOS DO ALUNOS</u></b></td>
        </tr>
        <tr style="line-height: 2px; border-color: white">
            <td style="font-size: 8px; border-color: white" colspan="3"><b>Nome:</b>&nbsp&nbsp <%=h aluno.aluno_nome %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>RA:</b>&nbsp&nbsp <%=h aluno.aluno_ra %> <% session[:aluno] = aluno.id %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Nascimento:</b>&nbsp&nbsp <%=h aluno.aluno_nascimento.strftime("%d/%m/%Y") %></td>
        </tr>
        <% if (aluno.aluno_certidao_nascimento.present?)  %>
            <tr style="line-height: 2px; border-color: white">
                <td style="font-size: 8px; border-color: white" colspan="4"><b>Certidão Nascimento:</b>&nbsp&nbsp <%=h aluno.aluno_certidao_nascimento  %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <b>Livro:</b>&nbsp&nbsp <%=h aluno.aluno_livro  %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <b>Folha:</b>&nbsp&nbsp <%=h aluno.aluno_folha  %>
                </td>
            </tr>
        <%end%>
        <tr style="line-height: 2px; border-color: white">
            <td style="font-size: 8px; border-color: white" colspan="3"><b>Nacionalidade:</b>&nbsp&nbsp <%=h aluno.aluno_nacionalidade %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Local:</b>&nbsp&nbsp <%=h aluno.aluno_naturalidade %> <% session[:aluno] = aluno.id %></td>
            <% if !(aluno.aluno_nacionalidade == 'BRASILEIRO')   %>
                <td style="font-size: 8px; border-color: white"><b>Data Chedado no Brasil:</b>&nbsp&nbsp <%=h aluno.aluno_chegada_brasil %></td>
            <%else%>
                <td  style="font-size: 8px; border-color: white" colspan="2"></td>
            <%end%>
        </tr>
        <% if (aluno.aluno_RG.present?)  %>
            <tr style="line-height: 2px; border-color: white">
                <td style="font-size: 8px; border-color: white"><b>RG:</b>&nbsp&nbsp <%=h aluno.aluno_RG %></td>
                <td style="font-size: 8px; border-color: white" colspan="2"><b>Emissão:</b>&nbsp&nbsp <%=h aluno.aluno_emissaoRG %>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>CPF:</b>&nbsp&nbsp <%=h aluno.aluno_CPF %></td>
            </tr>
        <%end%>

        <tr style="line-height: 11px; border-color: white">
            <td style="font-size: 8px; border-color: white" colspan="4"><br/><b><u><center> RESULTADOS DOS ESTUDOS RELIZADOS NO ENSINO FUNDAMENTAL</cente></u></b><br/>
                <b> Lei Federal 9294/96 Art. 26, 32, 33, 34 - Resolução CNE/CEB nº 02/98 - Lei Federal 11.114/2005 e Lei Federal 11.274/2006 </b><font>
            </td>
        </tr>
    </table>

    <table border="1" cellspacing="0" cellpadding="4" width="100%" style="border-color: white">
        <tr style="line-height: 2px; border-color: black " bgcolor =" #DCDCDC">
            <th style="font-size: 8px; border-color: black" width=" 40%" align="center"><b>ÁREAS DE CONHECIMENTO </b></th>
            <th style="font-size: 8px; border-color: black"width=" 60%" colspan="9" align="center"><b>MENÇÔES OU NOTAS</b></th>
        </tr>
        <tr style="line-height: 2px; border-color: black">
            <th style="font-size: 8px; border-color: black " width ="30%"rowspan="2"> <b><center>CURRÍCULO BÁSICO   </center> </b></td>
            <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>1º</b></th>
            <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>2º</b></th>
            <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>3º</b></th>
            <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>4º</b></th>
            <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>5º</b></th>
            <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>6º</b></th>
            <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>7º</b></th>
            <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>8º</b></th>
            <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>9º</b></th>
        </tr>
    <% ano = @ano_inicial.ano_letivo %>
        <%if @ano_inicial.classe.nil?%>
            <% classe= @ano_inicial.matricula.classe.classe_classe[0,1].to_i %>
        <%else%>
            <% classe= @ano_inicial.classe %>

        <%end%>
        <%# anoinicial = ano.to_i - classe +1  %>
        <tr style="line-height: 2px; border-color: black ">
            <%for i in 0..8 %>
                <th style="font-size: 8px; border-color: black " align="center" ><b><%=session[:ano_letivo][i]%></b></th>
            <%end%>
        </tr>
        <%session[:contnota]=0%>
        <%#session[:cargah_b]=[0, 0, 0, 0, 0, 0, 0, 0, 0]%>
        <%#session[:escola]=['', '', '', '', '', '','', '', '']%>
        <%#session[:cidade]=['', '', '', '', '', '','', '', '']%>
        <%while session[:contnota] < session[:contnotaBTot] %>
            <tr style="line-height: 4px; border-color: black">
                <th style="font-size: 8px; border-color: black " align="left"><%= @notasB[session[:contnota]].disciplina.disciplina %> </th>
                <%disciplina_atual=@notasB[session[:contnota]].disciplina.id%>
                <%for i in 0..8%>
                    <%t0=0%>
                    <%if session[:contnota]>(session[:contnotaBTot]-1)%>
                        <%acertoHTML=0%>
                    <%else%>
                        <%acertoHTML=session[:contnota]%>
                    <%end%>
                    <%if (((@notasB[acertoHTML].ano_letivo)==session[:ano_letivo][i].to_i) and (session[:contnota]==acertoHTML) and (disciplina_atual==@notasB[acertoHTML].disciplina.id))%>
                        <th style="font-size: 8px; border-color: black " align="center">
                            <%if (@notasB[acertoHTML].nota5.nil? or @notasB[acertoHTML].nota5.empty?) and (@notasB[acertoHTML].ano_letivo==Time.now.year)%>
                                ---
                            <%else%>
                                <%@carga_horaria=ObservacaoHistorico.find(:all, :conditions => ["ano_letivo =? AND aluno_id=? AND carga_horaria_b IS NOT NULL", @notasB[acertoHTML].ano_letivo, session[:aluno_id]]) %>
                                <%= @notasB[acertoHTML].nota5%>
                                <% if !@carga_horaria.present? and !@notasB[acertoHTML].matricula_id.nil?%>
                                        <%session[:cargah_b][i]=1000%>
                                        <% session[:escola][i]= @notasB[acertoHTML].matricula.unidade.nome %>
                                        <% session[:cidade][i]= @notasB[acertoHTML].matricula.unidade.cidade %>
                                <%else%>
                                    <% if @carga_horaria.present? %>
                                        <%session[:cargah_b][i]=@carga_horaria[0].carga_horaria_b %>
                                        <% session[:escola][i]= @carga_horaria[0].escola %>
                                        <% session[:cidade][i]= @carga_horaria[0].cidade %>
                                    <%end%>
                                <%end%>
                            <%end%>
                        </th>
                        <%session[:contnota]=session[:contnota]+1%>
                    <%else%>
                        <th style="font-size: 8px; border-color: black " align="center">--- </th>
                    <%end%>
                <%end%>
            </tr>
        <%end%>
        <tr style="line-height: 2px; border-color: black" bgcolor =" #DCDCDC">
            <th style="font-size: 8px; border-color: black " align="left"><b> Carga Horária</b></th>
            <%for i in 0..8%>
                <%if session[:cargah_b][i]==0%>
                    <th style="font-size: 8px; border-color: black "align="center">---</th>
                <%else%>
                    <th style="font-size: 8px; border-color: black "align="center"> <%= session[:cargah_b][i] %>  </th>
                <%end%>
            <%end%>
        </tr>
<!--

====== Notas Diversificadas ======

-->
        <% if @notasD.present? %>
            <tr style="line-height: 2px; border-color: black " >
                <th style="font-size: 8px; border-color: black " width ="30%"rowspan="2" > <b><center>CURRÍCULO DIVERSIFICADO   </center> </b></th>
                <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>1º</b></th>
                <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>2º</b></th>
                <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>3º</b></th>
                <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>4º</b></th>
                <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>5º</b></th>
                <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>6º</b></th>
                <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>7º</b></th>
                <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>8º</b></th>
                <th style="font-size: 8px; border-color: black " width ="5%" align="center" ><b>9º</b></th>
            </tr>
            <tr style="line-height: 2px; border-color: black ">
                <%for i in 0..8 %>
                    <th style="font-size: 8px; border-color: black " align="center" ><%=session[:ano_letivo][i]%></b></th>
                <%end%>
            </tr>
            <%session[:contnota]=0%>
            <%while session[:contnota]<session[:contnotaDTot]%>
                <tr style="line-height: 4px; border-color: black">
                    <th style="font-size: 8px; border-color: black " align="left"><%=@notasD[session[:contnota]].disciplina.disciplina %> </th>
                    <%disciplina_atual=@notasD[session[:contnota]].disciplina.id%>
                    <%for i in 0..8%>
                        <%if session[:contnota]>(session[:contnotaDTot]-1)%>   <!-- Linha alterada -->
                            <%acertoHTML=0%>
                        <%else%>
                            <%acertoHTML=session[:contnota]%>
                        <%end%>
                        <%if (((@notasD[acertoHTML].ano_letivo)==session[:ano_letivo][i].to_i) and (session[:contnota]==acertoHTML) and  (disciplina_atual==@notasD[acertoHTML].disciplina.id))%>
                            <th style="font-size: 8px; border-color: black " align="center">
                                <%if ((@notasD[acertoHTML].nota5.nil? or @notasD[acertoHTML].nota5.empty?) and (@notasD[acertoHTML].ano_letivo==Time.now.year))%>
                                    ---
                                <%else%>
                                    <%@carga_horaria=ObservacaoHistorico.find(:all, :conditions => ["ano_letivo =? AND aluno_id=? AND carga_horaria_d IS NOT NULL", @notasD[acertoHTML].ano_letivo, session[:aluno_id]]) %>
                                    <%= @notasD[acertoHTML].nota5%>
                                    <%if !@carga_horaria.present? and !@notasD[acertoHTML].matricula_id.nil?%>
                                        <%session[:cargah_d][i]=480%>
                                        <%  session[:escola][i]=@notasD[acertoHTML].matricula.unidade.nome %>
                                        <%  session[:cidade][i]=@notasD[acertoHTML].matricula.unidade.cidade %>
                                    <%else%>
                                        <% if @carga_horaria.present? %>
                                            <%session[:cargah_d][i]= @carga_horaria[0].carga_horaria_d %>
                                            <%  session[:escola][i]=@carga_horaria[0].escola %>
                                            <%  session[:cidade][i]=@carga_horaria[0].cidade %>
                                        <%end%>
                                    <%end%>
                                <%end%>
                            </th>
                            <%session[:contnota]=session[:contnota]+1%>
                        <%else%>
                            <th style="font-size: 8px; border-color: black " align="center">---</th>
                        <%end%>
                    <%end%>
                </tr>
            <%end%>
            <tr style="line-height: 2px; border-color: black" bgcolor =" #DCDCDC">
                <th style="font-size: 8px; border-color: black " align="left"><b>Carga Horária</b></th>
                <%for i in 0..8%>
                    <%if session[:cargah_d][i]==0%>
                        <th style="font-size: 8px; border-color: black "align="center">---</th>
                    <%else%>
                        <th style="font-size: 8px; border-color: black "align="center"><%= session[:cargah_d][i] %></th>
                    <%end%>
                <%end%>
            </tr>
            <tr style="line-height: 2px; border-color: black" bgcolor =" #DCDCDC">
                <th style="font-size: 8px; border-color: black " align="left"><b> Carga Horária Total</b></th>
                <%for i in 0..8%>
                    <%if (session[:cargah_b][i]+session[:cargah_d][i])==0%>
                        <th style="font-size: 8px; border-color: black "align="center">---</th>
                    <%else%>
                        <th style="font-size: 8px; border-color: black "align="center"><%=(session[:cargah_b][i]+session[:cargah_d][i]) %></th>
                    <%end%>
                <%end%>
            </tr>
        </table>
    <%end%>
    <table border="1" cellspacing="0" cellpadding="4" width="100%" style="border-color: white">
        <tr style="line-height: 2px; border-color: black"  bgcolor =" #DCDCD">
            <th style="font-size: 8px; border-color: black "align="center" colspan="4"><br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <b>ESTUDOS REALIZADOS</b><br/><br/></th>
        </tr>
        <tr style="line-height: 4px; border-color: black">
            <th width=" 8%" align="center" style="font-size: 8px; border-color: black"><b>Período </b></th>
            <th width=" 10%" align="center"style="font-size: 8px; border-color: black"><b>Ano Letivo </b></th>
            <th width=" 50%" align="center"style="font-size: 8px; border-color: black"><b>Unidade de Ensino</b></th>
            <th width=" 32%" align="center"style="font-size: 8px; border-color: black"><b>Municipio/Estado</b></th>
        </tr>
        <%for i in 0..8 %>
            <tr  style="line-height: 4px; border-color: black">
            <%if session[:classe_anos][i]!=0%>
                <th align="center"style="font-size: 8px; border-color: black"><%=session[:classe_anos][i]%>º Ano </th>
                <th width ="5%" align="center"style="font-size: 8px; border-color: black"> <%=session[:ano_letivo][i]%></th>
                <th style="font-size: 8px; border-color: black"> <%= session[:escola][i] %> </th>
                <th style="font-size: 8px; border-color: black"> <%= session[:cidade][i] %> </th>
            <%end%>
            </tr>
        <%end%>
        <tr  style="line-height: 4px; border-color: black">
            <th align="center"style="font-size: 8px" colspan="5"></th>
        </tr>
        <tr  style="line-height: 8px; border-color: black">
            <th align="left"style="font-size: 8px" width="12%" valign="top"><b>Observação:</b></th>
            <th align="left"style="font-size: 8px" colspan="4" valign="top">
                <% c=0 %>
                <% @historico_aluno.each do |obs|%>
                    <%  if  (!obs.observacao.nil?) %>
                        <b><%= c=c+1%>.</b> <%="#{obs.observacao}" %>  -
                        <b>Data: </b> <%=  obs.created_at.strftime("%d/%m/%Y")%> - <%=  obs.quem %>
                        <br/>
                    <%end%>
                <%end%>
            </th>
        </tr>
    </table>

    <table style="border-color: white" width="100%">
        <tr style="border-color: white">
            <th colspan="10"align="right"  style="border-color: white"><font size="1px"> Pg.1</font></th>
        </tr>
    </table>

    <div style="page-break-after: always"></div>

    <% @aluno.each do |aluno| %>
        <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
            <tr style="border-color: white">
                <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
                <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                    <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
                    <center><font size="2"> Unidade de Ensino Fundamental</i></b><br/></center>
                </td>
            </tr>
        </table>

        <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>

        <center><font size="3"><b>C E R T I F I C A D O</b></font><br/></center>

        <table style="border-color: white">
            <tr style="border-color: white">
                <td   style="border-color: white; font-size: 9px" colspan="3">
                    <% var = 0 %>
                    <% var1 = 0 %>
                    <font size="2"><br/>
                        O sr(a) diretor(a) da Unidade Educacional <b><%= @notas_ano.matricula.unidade.nome%></b> de acordo com o art. 24 VII da Lei Federal nº 394/96,
                        certifica que o aluno(a) <%= @notas_ano.matricula.aluno.aluno_nome %> </b> concluiu</b> o

                        <b><%= (session[:classe_anos].max) %>º ano</b>


                        do Ensino Fundamental de 9 anos no <b> ano letivo de



                            <%=@notas_ano.matricula.ano_letivo-1%></b>

                        <% if session[:classe] < 9 %>
                            , estando apto(a) ao proseguimento os estudos no

                                <b><%=(session[:classe_anos].max+1)%>º ano</b>

                                do ENSINO FUNDAMENTAL.
                            <%else%>
                                .
                            <%end%>


                            </td>
                            </tr>
                            <tr style="border-color: white">
                                <td  style="border-color: white; font-size: 9px">
                                    <br/><br/><br/><br/><br/><br/>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b>
                                    <br/><br/><br/><br/><br/><br/>
                                    <br/><br/><br/><br/><br/><br/>
                                    <br/><br/><br/><br/><br/><br/>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp__________________________________________ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ________________________________________<br/>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       Secretaria da Unidade Escolar       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    Diretor da  Unidade Escolar    <br/>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       Nome:                             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     Nome:
                                </td>
                            </tr>
                            </table>




                    </font>
                    <table  width="100% " class ="invisible_to_print ">
                        <tr style="line-height: 8px">
                            <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>

                            <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental'))%>
                                <td align="right" >
                                <!-- <%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_transferencia_aluno_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> -->
                                <%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %>
                                </b></td>
                            <%end%>
                        </tr>
                    </table>
                <%end%>
    </table>
<%end%>