<table class ="invisible_to_print ">
  <tr>
    <td width ="2%" align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
</table>


<table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
        <center><font size="2"> Unidade de Ensino Fundamental</i></b><br/></center>
        <center><font size="2"><b><u>HISTÓRICO ESCOLAR</u> &nbsp&nbsp&nbsp&nbsp</b></font></center>

    </td>
  </tr>
 </table>
<table cellspacing="0" cellpadding="1" width="100%" style="border-color: white" >
   <% @aluno.each do |aluno| %>
     <tr style="line-height: 8px">
        <td style="font-size: 8px" width =" 15%"><b>Unidade de Ensino:</b></td>
        <td style="font-size: 8px" ><b><%=h aluno.unidade.nome %></b></td>
     </tr>
     <tr style="line-height: 8px">
         <td style="font-size: 8px"><b>Endereço:</b></td>
         <td style="font-size: 8px"><%=h aluno.unidade.endereco %> - <%=h aluno.unidade.num %> - <%=h aluno.unidade.bairro %> CEP <%=h aluno.unidade.CEP%> (19)<%=h aluno.unidade.fone%></td>
     </tr >
     <tr style="line-height: 8px">
        <td style="font-size: 8px"><b>Autorização:</b></td>
        <td style="font-size: 8px"><%=h aluno.unidade.autorizacao%></td>
     </tr>
  <%end%>

 <% @aluno.each do |aluno| %>
     <tr style="line-height: 9px">
       <td style="font-size: 9px" colspan="3" align="justify">
               <b>DECLARO</b>, para fins de transferência, que o(a)  aluno(a)<b> <%=h aluno.aluno_nome %></b>  R.A.: <b><%=h aluno.aluno_ra %></b>,
               <% if (aluno.aluno_RG.present?)  %>
                  e RG: <b><%=h aluno.aluno_RG %></b> emitido em <b><%=h aluno.aluno_emissaoRG %></b> ,
               <%end%>
               nascido(a) em <b><%=h aluno.aluno_nascimento.strftime("%d/%m/%Y") %></b> na cidade de
               <%=h aluno.aluno_naturalidade %>, encontra-se devidamente matriculado nesta unidade escolar na
               <% for nota in @notas_ano  %>
                  <b> classe  <%=nota.atribuicao.classe.classe_classe %> </b>
                    <% if nota.atribuicao.classe.classe_classe == 'EJA' %>
                       <%if (nota.nota1.present?) and (!nota.nota2.present?)%>
                          <b> (1º Ano) </b>
                       <%else if (nota.nota2.present?) and (!nota.nota3.present?)%>
                             <b> (2º Ano) </b>
                            <%else if (nota.nota3.present?) and (!nota.nota4.present?)%>
                                  <b> (3º Ano) </b>
                                  <%else if (nota.nota4.present?) and (!nota.nota5.present?)%>
                                        <b> (4º Ano) </b>
                                        <%else if (nota.nota5.present?) and (!nota.nota6.present?)%>
                                              <b> (5º Ano) </b>
                                              <%else if (nota.nota6.present?) and (!nota.nota7.present?)%>
                                                    <b> (6º Ano) </b>
                                                    <%else if (nota.nota7.present?) and (!nota.nota8.present?)%>
                                                          <b> (7º Ano) </b>
                                                          <%else if (nota.nota8.present?) and (!nota.nota9.present?)%>
                                                              <b> (8º Ano) </b>
                                                              <%else if (nota.nota9.present?) %>
                                                                 <b> (9º Ano) </b>
                                                                    <%else if (!nota.nota1.present?)and (!nota.nota2.present?) %>
                                                                           <b> --- </b>
                                                                          <%end%>
                                                                    <%end%>
                                                              <%end%>
                                                          <%end%>
                                                    <%end%>
                                              <%end%>
                                        <%end%>
                                  <%end%>
                            <%end%>
                       <%end%>
                    <%end%>

                  ,e nesta datasolicitou sua transferência para outra unidade de ensino
                  nesta data, estando apto(a) a frequentar
                     <%if (nota.nota1.present?) and (!nota.nota2.present?)%>
                          <b> 2º Ano </b> do Ensino fundamental de 9 anos
                     <%else if (nota.nota2.present?) and (!nota.nota3.present?)%>
                            <b> 3º Ano </b> Ensino fundamental de 9 anos
                          <%else if (nota.nota3.present?) and (!nota.nota4.present?)%>
                                 <b> 4º Ano </b> Ensino fundamental de 9 anos
                                <%else if (nota.nota4.present?) and (!nota.nota5.present?)%>
                                       <b> 5º Ano </b> Ensino fundamental de 9 anos
                                      <%else if (nota.nota5.present?) and (!nota.nota6.present?)%>
                                             <b> 6º Ano </b> Ensino fundamental de 9 anos
                                            <%else if (nota.nota6.present?) and (!nota.nota7.present?)%>
                                                   <b> 7º Ano </b> Ensino fundamental de 9 anos
                                                  <%else if (nota.nota7.present?) and (!nota.nota8.present?)%>
                                                         <b> 8º Ano </b> Ensino fundamental de 9 anos
                                                        <%else if (nota.nota8.present?) and (!nota.nota9.present?)%>
                                                             <b> 9º Ano </b> Ensino fundamental de 9 anos
                                                            <%else if (nota.nota9.present?) %>
                                                               Ensino Médio
                                                                    <%else if (!nota.nota1.present?)and (!nota.nota2.present?) %>
                                                                         <b> 1º Ano </b> do Ensino fundamental de 9 anos
                                                                        <%end%>
                                                                  <%end%>
                                                            <%end%>
                                                        <%end%>
                                                  <%end%>
                                            <%end%>
                                      <%end%>
                                <%end%>
                          <%end%>
                     <%end%>
                  <%end%>

          ano do Ensino Fundamental de 9 anos.
       </td>
     </tr>
  <%end%>
</table>

<table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
<% @aluno.each do |aluno| %>

 <font size="2"><center><b> HISTÓRICO ESCOLAR    </b></center></font>
  <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
 <tr style="line-height: 8px" >
     <th style="font-size: 7px" width ="30%"rowspan="2"> <b><center>CURRÍCULO BÁSICO   </center> </b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>1º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>2º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>3º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>4º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>5º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>6º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>7º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>8º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>9º</b></th>
   </tr>
   <tr>

  <% ano = @ano_inicial.ano_letivo %>
  <%for i in 0..8 %>
     <%if ano < Time.now.year %>
        <th style="font-size: 7px" width ="5%" align="center" ><b><%= ano%></b></th>
     <%else%>
        <th style="font-size: 7px" align="center" ><b></b></th>
     <%end%>

     <% ano = ano + 1 %>
  <%end%>

   <%@disciplinas.each do |disciplina|%>
      <%if disciplina.curriculo == 'B'%>
           <tr>
              <td style="font-size: 8px" align="left"><%= disciplina.disciplina %></td>
              <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=?', disciplina, session[:aluno_id]], :order => 'ano_letivo ASC') %>
              <% ano = 0 %>
              <%  while ano < 9 %>
                         <%fl1=1%>
                         <% for nota in @notas %>
                                <%if (nota.nota5.present?) and (nota.ano_letivo== (@ano_inicial.ano_letivo + ano))%>
                                  <%if fl1==1 %>
                                     <td style="font-size: 8px" align="center"><%= nota.nota5%></td>
                                     <%fl1=0%>
                                  <%end%>
                                <%end%>
                         <%end%>
                         <%if fl1==1 %>
                            <td style="font-size: 8px" align="center">---</td>
                            <%fl1=0%>
                         <%end%>
                         <% ano = ano +1 %>
              <%end%>
           </tr>
      <%end%>
   <%end%>
 </tr>
  <tr bgcolor =" #DCDCDC" style="line-height: 8px">
     <td style="font-size: 8px" ><b> Carga Horária</b></td>
      <% ano = @ano_inicial.ano_letivo %>
      <%for i in 0..8 %>
         <%if ano < Time.now.year %>
            <td style="font-size: 8px" width ="5%" align="center" ><b>1000</b></td>
         <%else%>
            <td style="font-size: 8px" align="center" ><b></b></td>
         <%end%>

         <% ano = ano + 1 %>
      <%end%>
 </tr>
 <tr style="line-height: 8px">
     <th style="font-size: 7px" width ="30%"rowspan="2"> <b><center>OFICINAS DIVERSITICADAS   </center> </b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>1º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>2º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>3º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>4º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>5º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>6º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>7º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>8º</b></th>
     <th style="font-size: 7px" width ="5%" align="center" ><b>9º</b></th>
   </tr>
   <tr style="line-height: 8px">
        <% ano = @ano_inicial.ano_letivo %>
        <%for i in 0..8 %>
           <%if ano < Time.now.year %>
              <th style="font-size: 7px" width ="5%" align="center" ><b><%= ano%></b></th>
           <%else%>
              <th style="font-size: 7px" align="center" ><b></b></th>
           <%end%>
           <% ano = ano + 1 %>
        <%end%>

         <%@disciplinas.each do |disciplina|%>
            <%if disciplina.curriculo == 'D'%>
                 <tr style="line-height: 8px">
                    <td style="font-size: 8px" align="left"><%= disciplina.disciplina %></td>
                    <% @notas= Nota.find(:all, :conditions=> ['disciplina_id=? AND aluno_id=?', disciplina, session[:aluno_id]], :order => 'ano_letivo ASC') %>
                    <% ano = 0 %>
                    <%  while ano < 9 %>
                               <%fl1=1%>
                               <% for nota in @notas %>
                                      <%if (nota.nota5.present?) and (nota.ano_letivo== (@ano_inicial.ano_letivo + ano))%>
                                        <%if fl1==1 %>
                                           <td style="font-size: 8px" align="center"><%= nota.nota5%></td>
                                           <%fl1=0%>
                                        <%end%>
                                      <%end%>
                               <%end%>
                               <%if fl1==1 %>
                                  <td style="font-size: 8px" align="center">---</td>
                                  <%fl1=0%>
                               <%end%>
                               <% ano = ano +1 %>
                    <%end%>
                 </tr>
            <%end%>
         <%end%>
  </tr>
  <tr bgcolor =" #DCDCDC" style="line-height: 8px">
     <td style="font-size: 8px" style="line-height: 8px"><b> Carga Horária</b></td>
      <% ano = @ano_inicial.ano_letivo %>
      <%for i in 0..8 %>
         <%if ano < Time.now.year %>
            <td style="font-size: 8px" width ="5%" align="center" ><b>480</b></td>
         <%else%>
            <td style="font-size: 8px" align="center" ><b></b></td>
         <%end%>

         <% ano = ano + 1 %>
      <%end%>
 </tr>
   <tr bgcolor =" #DCDCDC" style="line-height: 8px">
     <td style="font-size: 8px" ><b> Carga Horária Total do Curso </b></td>
      <% ano = @ano_inicial.ano_letivo %>
      <%for i in 0..8 %>
         <%if ano < Time.now.year %>
            <td style="font-size: 8px" width ="5%" align="center" ><b>1480</b></td>
         <%else%>
            <td style="font-size: 8px" align="center" ><b></b></td>
         <%end%>

         <% ano = ano + 1 %>
      <%end%>
 </tr>
  </table>
 <table style="border-color: white" width="100%">
    <tr style="border-color: white">
      <th colspan="10"align="right"  style="border-color: white"><font size="1px"> Pg.1</font></th>
   </tr>
</table>
<div style="page-break-after: always"></div>



<table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
        <center><font size="2"> Unidade de Ensino Fundamental</i></b><br/></center>
        <center><font size="2"><b><u>HISTÓRICO ESCOLAR</u> &nbsp&nbsp&nbsp&nbsp</b></font></center>

    </td>
  </tr>
 </table>

 <br/>
 <center><font size="2"><b>C E R T I F I C A D O</b></font><br/></center>
    <% for nota in @notas_ano  %>
 <table style="border-color: white">
   <tr>
     <td  style="font-size: 9px" colspan="3">


     O sr(a) diretor(a) <b><%=h nota.matricula.unidade.nome%></b> de acordo com o art. 24 VII da Lei Federal nº 394/96,
     certfica que o aluno(a) <%=h nota.matricula.aluno.aluno_nome %> </b> conclui</b> o

             <% if nota.atribuicao.classe.classe_classe == 'EJA' %>
                 <b>EJA - </b>
              <%end%>
             <%if (nota.nota1.present?) and (!nota.nota2.present?)%>
                <b>  1º Ano </b>
             <%else if (nota.nota2.present?) and (!nota.nota3.present?)%>
                   <b> 2º Ano </b>
                  <%else if (nota.nota3.present?) and (!nota.nota4.present?)%>
                        <b> 3º Ano </b>
                        <%else if (nota.nota4.present?) and (!nota.nota5.present?)%>
                              <b> 4º Ano </b>
                              <%else if (nota.nota5.present?) and (!nota.nota6.present?)%>
                                    <b> 5º Ano </b>
                                    <%else if (nota.nota6.present?) and (!nota.nota7.present?)%>
                                          <b> 6º Ano </b>
                                          <%else if (nota.nota7.present?) and (!nota.nota8.present?)%>
                                                <b> 7º Ano </b>
                                                <%else if (nota.nota8.present?) and (!nota.nota9.present?)%>
                                                    <b> 8º Ano </b>
                                                    <%else if (nota.nota9.present?) %>
                                                       <b> 9º Ano </b>
                                                          <%else if (!nota.nota1.present?)and (!nota.nota2.present?) %>
                                                                 <b> --- </b>
                                                                <%end%>
                                                          <%end%>
                                                    <%end%>
                                                <%end%>
                                          <%end%>
                                    <%end%>
                              <%end%>
                        <%end%>
                  <%end%>
             <%end%>

         do Ensino Fundamental de 9 anos, no <b> ano letivo de <%= nota.matricula.ano_letivo%></b>, estando apto(a) ao proseguimento dos estudos

   <%end%>
     </td>
   </tr>
     <tr  style="border-color: white">
    <td>
      <br/><br/><br/><br/><br/><br/>
         &nbsp&nbsp&nbsp&nbsp&nbsp__________________________________________ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ________________________________________<br/>
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       Secretaria da Unidade Escolar       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     Diretor da  Unidade Escolar    <br/>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       Nome:                             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     Nome:
         <br/><br/><br/><br/><br/><br/>
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b>
      <br/><br/><br/><br/><br/><br/>
    </td>
  </tr>
</table>
 </table>                                                                 </font>
      <table  width="100% " class ="invisible_to_print ">
          <tr style="line-height: 8px">
           <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>

          <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria'))%>
                  <td align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_transferencia_aluno_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
          <%end%>
          </tr>
        </table>
<%end%>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
 <table style="border-color: white" width="100%">
    <tr style="border-color: white">
      <th colspan="10"align="right"  style="border-color: white"><font size="1px"> Pg.2</font></th>
   </tr>
</table>
</table>

