<table width="100%">
     <tr>
       <td align="center"width ="5%"><b>Nº</b></td>
       <td align="center"width ="5%"><b>RM</b></td>
       <td width ="5%"><b>RA</b></td>
       <td width ="40%"><b>NOME</b></td>
       <td width ="10%"><b>CLASSE</b></td>
       <td width ="5%"><b>ANO</b></td>
       <td width ="20%"><b>UNIDADE</b></td>
       <td width ="5%"><b>SITUAÇÃO</b></td>


        
     </tr>
   <% for matricula in @matriculas %>
     <tr>

     </tr>
      <tr bgcolor="#F5F5F5">
        <td align="center"> <%="#{ matricula.classe_num}"%> </td>
        <td align="center"> <%="#{ matricula.aluno.aluno_rm}"%> </td>
        <td align="center"> <%="#{ matricula.aluno.aluno_ra}"%> </td>
        <td align="left"> <%="#{ matricula.aluno.aluno_nome}"%> </td>
        <td align="center"> <%="#{ matricula.classe.classe_classe}"%> </td>
        <td align="center"> <%="#{ matricula.ano_letivo}"%> </td>
        <td align="center"> <%="#{ matricula.unidade.nome}"%> </td>
        <td align="left">   <%  if  matricula.status =="MATRICULADO"%>
                            Matriculado <br/>
                            <%if matricula.reprovado =="1" %>
                              <font color="red"> Reprovado</font>
                           <%else %>
                                <font color="blue"> Aprovado</font>
                           <%end%>
                          <%end%>
                          <%  if  matricula.status =="TRANSFERIDO"%>
                              <font color ="red"> Transferido </font>
                          <%else if  matricula.status =="TRANSFERENCIA"%>
                                 <font color ="blue"> Transferência </font>
                                 <%else if  matricula.status =="REMANEJADO"%>
                                          <font color ="green"> Remanejado </font>
                                       <%else if  matricula.status =="*REMANEJADO"%>
                                                <font color ="green"> *Remanejado </font>
                                             <%else if  matricula.status =="ABANDONO"%>
                                                      <font color ="red"> Abandono</font>
                                                  <%end%>
                                           <%end%>
                                       <%end%>
                                 <%end%>
                          <%end%>
        </td>

      </tr>
  <%end%>
</table>
<br/>
        <b> OBS:</b>  &nbsp&nbsp<font color ="red"><u> Transferido</u></font> => Aluno enviado 
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font color ="Blue"><u>Transferência</u></font> => Aluno recebido <br/>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font color ="green"><u>Remanejado</u></font> => Entre classes (Saida)
        &nbsp&nbsp&nbsp&nbsp&nbsp<font color ="green"><u>*Remanejado</u></font> => Entre classes (Entrada)
         