<table  border="1" cellspacing="0" cellpadding="1" width="100%"">
     <tr bgcolor="#DCDCDC">
       <td align="center"width ="5%"><b>Nº</b></td>
       <td align="center"width ="5%"><b>RM</b></td>
       <td width ="5%"><b>RA</b></td>
       <td width ="60%"><b>NOME</b></td>
       <td width ="5%"><b>ANO</b></td>
       <td width ="5%"><b>SITUAÇÃO</b></td>
       <td width ="5%"><b>CLASSE</b></td>
       <td> </td>

        
     </tr>
   <% for matricula in @matriculas %>
     <tr>

     </tr>
      <tr bgcolor="#F5F5F5">
        <td align="center"> <%="#{ matricula.classe_num}"%> </td>
        <td align="center"> <%="#{ matricula.aluno.aluno_rm}"%> </td>
        <td align="center"> <%="#{ matricula.aluno.aluno_ra}"%> </td>
        <td align="left"> <%="#{ matricula.aluno.aluno_nome}"%> </td>
        <td align="left"> <%="#{ matricula.ano_letivo}"%> </td>
        <td align="left">  <%  if  matricula.status =="MATRICULADO"%>
                            Matriculado
                          <%end%>
                          <%  if  matricula.status =="TRANSFERIDO"%>
                              <font color ="red"> Transferido </font>
                          <%else if  matricula.status =="TRANSFERENCIA"%>
                                 <font color ="blue"> Transferência </font>
                                 <%else if  matricula.status =="REMANEJADO"%>
                                          <font color ="green"> Remanejado </font>
                                       <%else if  matricula.status =="*REMANEJADO"%>
                                                <font color ="green"> *Remanejado </font>
                                             <%else if  matricula.status =="ABANDONO"%>
                                                      <font color ="red"> Abandono</font>
                                                      <%else if  matricula.status =="NCOMP"%>
                                                          <font color ="green"> NCOMP</font>
                                                       <%end%>  
                                                  <%end%>
                                           <%end%>
                                       <%end%>
                                 <%end%>
                          <%end%>

        </td>
        <td align="center" > <%="#{ matricula.classe.classe_classe}"%> </td>
        <td align="left">
            <%if matricula.ano_letivo == Time.now.year%>
              <%= link_to  image_tag('/stylesheets/images/confirmar.png', :title => 'Confirmar Saida'), {:controller =>"matriculas", :action => "edit_saida_seduc", :id =>matricula}, :method => "get", :title => "Editar"%></td>
            <%end%>
      </tr>
  <%end%>
</table>
<br/>
        <b> OBS:</b>  &nbsp&nbsp<font color ="red"><u> Transferido</u></font> => Aluno enviado
       &nbsp&nbsp&nbsp&nbsp<font color ="Blue"><u>Transferência</u></font> => Aluno recebido <br/>
       &nbsp&nbsp&nbsp&nbsp<font color ="green"><u>Remanejado</u></font> => Entre classes (Saida)
       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font color ="green"><u>*Remanejado</u></font> => Entre classes (Entrada)
         