<div id="interno4">
<% title "TRANSFERENCIA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MATRÍCULA</strong></font><br/>
 </div>
    <div class="tabs">
          <% form_for (@matricula) do |f| %>
           <%= f.error_messages %>
            <font  size="2">
              <br/>
              <table width="100%" align="center" bgcolor="#F5F5F5">
                  <tr> <td></td> </tr>
                   <tr>
                      <td colspan="2" align="justifyr">
                        <font color="red"><b><u> OBS:</u></b> No campo DESTINO digitar o nome da unidade escolar, município e quando necessário o <br/>
                          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp estado<br/><br/>
                      </td>
                    </tr>
                  <%if (@matricula.status.nil?) %>
                    <tr>
                      <td><b>Aluno: </b></td>
                      <td> <%=h @matricula.aluno.aluno_nome%> &nbsp&nbsp (<font color="blue"><b>regularmente</b></font> matriculado)</td>
                    </tr>
                  <%else if (@matricula.status == 'TRANSFERIDO')%>
                          <tr>
                             <td><b>Aluno: </b></td>
                             <td> <%=h @matricula.aluno.aluno_nome%> &nbsp&nbsp (TRANSFERIDO <font color="blue"><b> para</b> </font> outra escola)</td>
                          </tr>
                       <%else if (@matricula.status == 'TRANSFERENCIA')%>
                               <tr>
                                  <td><b>Aluno: </b></td>
                                   <td> <%=h @matricula.aluno.aluno_nome%> &nbsp&nbsp (recebido por TRANSFERENCIA <font color="blue"><b> de</b> </font> outra escola)</td>
                               </tr>
                            <%else if (@matricula.status == 'REMANEJADO')%>
                                         <tr>
                                             <td><b>Aluno: </b></td>
                                             <td> <%=h @matricula.aluno.aluno_nome%> &nbsp&nbsp (REMANEJADO <font color="blue"><b>para </b></font> outra classe)</td>
                                         </tr>
                                 <%else if (@matricula.status == '*REMANEJADO')%>
                                            <tr>
                                                <td><b>Aluno: </b></td>
                                               <td> <%=h @matricula.aluno.aluno_nome%> &nbsp&nbsp (REMANEJADO <font color="blue"><b> de </b></font> outra classe)</td>
                                            </tr>
                                       <%end%>
                                 <%end%>
                            <%end%>
                      <%end%>
                  <%end%>

                  <tr>
                    <td width ="10%"><b>Aluno Nº: </b></td>
                    <td><%=h @matricula.classe_num%>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Classe: </b>
                        &nbsp&nbsp&nbsp&nbsp <%=h @matricula.classe.classe_classe%>

                    </td>
                  </tr>
                  <tr>
                     <td><b>Destino: </b> </td>
                      <td><%= f.collection_select :para, @unidade_procedencia1, :nome, :nome, :include_blank => ' -- Selecione -- ' %></td>
                 </tr>
                 <tr>
                    <td><b>Status: </b></td>
                   <td> <% if @matricula.status.nil? %>
                            Matriculado &nbsp&nbsp&nbsp&nbsp
                        <%else%>
                          <%=h @matricula.status%> &nbsp&nbsp&nbsp&nbsp
                       <%end%>
                          <b> Alterar para: </b> <%= f.text_field :status, :size=>"15", :readonly => "readonly" , :value =>"TRANSFERIDO" %></td>
                 </tr>                  
                <tr>
                       <td><b>Data Transferência: </b></td><td><%= f.date_select(:data_transferencia, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year)-2)%></td>
                 </tr>
           </table>

            <table width="100%" >
                <tr> <td><br/></td> </tr>
                   <tr>
                      <td width="4%"align="left"><%= f.submit 'Salvar' %></td>
             <%end%>
                   <td align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   </tr>
                 </table>
            </font>
       <br/>
 </div>



</div>

<br/>
</div>

