<h1>Listing matriculas</h1>

<table>
  <tr>
    <th>Classe</th>
    <th>Aluno</th>
    <th>Ano letico</th>
    <th>Status</th>
    <th>Unidade</th>
    <th>Procedencia</th>
    <th>Transf unidade</th>
    <th>Para</th>
    <th>Rem classe</th>
    <th>Data transferencia</th>
    <th>Obs</th>
  </tr>

<% @matriculas.each do |matricula| %>
  <tr>
    <td><%=h matricula.classe_id %></td>
    <td><%=h matricula.aluno_id %></td>
    <td><%=h matricula.ano_letico %></td>
    <td><%=h matricula.status %></td>
    <td><%=h matricula.unidade_id %></td>
    <td><%=h matricula.procedencia %></td>
    <td><%=h matricula.transf_unidade_id %></td>
    <td><%=h matricula.para %></td>
    <td><%=h matricula.rem_classe_id %></td>
    <td><%=h matricula.data_transferencia %></td>
    <td><%=h matricula.obs %></td>
    <td><%= link_to 'Show', matricula %></td>
    <td><%= link_to 'Edit', edit_matricula_path(matricula) %></td>
    <td><%= link_to 'Destroy', matricula, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New matricula', new_matricula_path %>