<div id="interno3">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MATRICULA ALUNO</strong></font><br/>
 </div>
      <div class="tabs">
        <% form_for @matricula do |f| %>
         <%= f.error_messages %>
        <fieldset><legend><font size=4>Matrícula Aluno</font></legend>
             <% @alunos1 = Aluno.find(:all, :select => 'id, aluno_nome', :conditions=>["(aluno_status != 'EGRESSO' AND aluno_status is not null) AND unidade_id =?", current_user.unidade_id], :order => "aluno_nome ASC") %>
            <% @classes_atual = Classe.find(:all,:select => 'id, classe_classe', :conditions =>['unidade_id =? and  classe_ano_letivo=?',  current_user.unidade_id, Time.now.year], :order => 'classe_classe') %>
        <table>
            <tr>
              <td colspan="2"><font color ="red" size ="3"><b><u>ATENÇÃO:</u> 1) Antes de matricular os alunos na classe, certifique-se que os TODOS os professores já foram atribuidos às classes.<br/>
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp  2) Se o o nome do aluno não constar a lista é necessário utilizar a opção CONSULTAR / ALUNO / SEDUC / e SALVAR a ficha do aluno, antes de matricula-lo.</b>

                  <font></td>
            </tr>
           <tr>
             <td><b>Classe: </b></td>
             <td><%= f.collection_select :classe_id, @classes_atual, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %> </td>
           </tr>
           <tr>
              <td><b>Aluno: </b></td>
              <td><%= f.collection_select :aluno_id , @alunos1, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %> </td>
              <% session[:flagnum] = 1 %><%  session[:botao_show]= 1 %>
           </tr>
         </table>
         </fieldset>
         <table>
           <tr>
              <% session[:matricula_transferencia] = 0%>
              <td width="4%"> <%= f.submit "Salvar" %></td>
      <% end %>
             <td ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>



