<div id="interno2">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MATRICULA ALUNO</strong></font><br/>
 </div>
      <div class="tabs">
        <% form_for @matricula do |f| %>
         <%= f.error_messages %>
        <fieldset><legend><font size=4>Matrícula Aluno</font></legend>
             <%@alunos_matricula = Aluno.find_by_sql("SELECT a.id, CONCAT(a.aluno_nome, ' | ',date_format(a.aluno_nascimento, '%d/%m/%Y')) AS aluno_nome_dtn FROM alunos a WHERE ( aluno_status != 'EGRESSO' or aluno_status is null OR aluno_status = 'ABANDONO') AND a.unidade_id = "+(current_user.unidade_id).to_s+" AND ( id NOT IN (SELECT m.aluno_id FROM matriculas m WHERE m.ano_letivo = "+(Time.now.year).to_s+" AND m.status != 'ABANDONO')) ORDER BY a.aluno_nome")%>
            <% @classes_atual = Classe.find(:all,:select => 'id, classe_classe', :conditions =>['unidade_id =? and  classe_ano_letivo=? and sala != 52' ,  current_user.unidade_id, Time.now.year], :order => 'classe_classe') %>
        <table>
            <tr>
              <td colspan="2"><font color ="red" size ="3"><b><u>ATENÇÃO:</u> &nbsp&nbsp&nbsp 1) Antes de matricular os alunos na classe, certifique-se que os TODOS os professores já foram atribuidos às classes. Caso o professor for atribuido após as matriculas avisar o Setor de  Informática.<br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2) Selecionar a classe para listagem de seleção dos alunos.<br/>
                   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  3) Se o  nome do aluno não constar na lista é necessário utilizar a opção CONSULTAR / ALUNO / SEDUC  e SALVAR a ficha do aluno, antes de matricula-lo.</b>

                  <font></td>
            </tr>
             <td><b>Classe: </b></td>
             <td><%= f.collection_select :classe_id, @classes_atual, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %> </td>
           </tr>
           <tr>
              <td><b>Aluno: </b></td>
              <td> <div id='jacadastrado1'>
                   <%= f.collection_select :aluno_id , @alunos_matricula, :id, :aluno_nome_dtn, :include_blank => ' -- Selecione -- ' %>
                          <%= observe_field :aluno_id,
                              :with => :aluno_id,
                              :url => { :action => 'ja_cadastrado' }%>
                  </div>
                  <% session[:flagnum] = 1 %><%  session[:botao_show]= 1 %>
              </td>
           </tr>
         </table>
         </fieldset>
         <table>
           <tr>
              <% session[:matricula_transferencia] = 0%>
              <td width="4%"><div id='jacadastrado2'> <%= f.submit "Salvar" %></div></td>
      <% end %>
             <td ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>



