<div id="interno3">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MATRICULA ALUNO</strong></font><br/>
 </div>
      <div class="tabs">
        <% form_for @matricula do |f| %>
         <%= f.error_messages %>
        <fieldset><legend><font size=4>Matrícula Aluno</font></legend>
        <table>
            <tr>
              <td colspan="2"><font color ="red" size ="3"><b><u>ATENÇÃO:</u> Antes de matricular os alunos na classe, certifique-se que os TODOS os professores já foram atribuidos às classes.</b>        <font></td>
            </tr>
            <tr>
                 <td><b>Classe: </b></td>
                 <td><%= f.collection_select :classe_id, @classes, :id, :classe_classe, {:selected => session[:classe_new1]} %> </td>
               </tr>
            <tr>
              <td><b>Aluno: </b></td>
              <td><%= f.collection_select :aluno_id , @alunos1, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %> </td>
              <% session[:flagnum] = 1 %>
           </tr>
           <tr>
         </table>
         </fieldset>
         <table>
           <tr>
              <td width="4%"> <%= f.submit "Salvar" %></td>
      <% end %>
             <td ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>



