<p>
  <b>Classe:</b>
  <%=h @matricula.classe_id %>
</p>

<p>
  <b>Aluno:</b>
  <%=h @matricula.aluno_id %>
</p>

<p>
  <b>Ano letico:</b>
  <%=h @matricula.ano_letico %>
</p>

<p>
  <b>Status:</b>
  <%=h @matricula.status %>
</p>

<p>
  <b>Unidade:</b>
  <%=h @matricula.unidade_id %>
</p>

<p>
  <b>Procedencia:</b>
  <%=h @matricula.procedencia %>
</p>

<p>
  <b>Transf unidade:</b>
  <%=h @matricula.transf_unidade_id %>
</p>

<p>
  <b>Para:</b>
  <%=h @matricula.para %>
</p>

<p>
  <b>Rem classe:</b>
  <%=h @matricula.rem_classe_id %>
</p>

<p>
  <b>Data transferencia:</b>
  <%=h @matricula.data_transferencia %>
</p>

<p>
  <b>Obs:</b>
  <%=h @matricula.obs %>
</p>


<%= link_to 'Edit', edit_matricula_path(@matricula) %> |
<%= link_to 'Back', matriculas_path %>