<div id="interno3">
<% title "TRANSFERENCIA" %>
<div class ="tabs">


 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b>REPROVAÇÃO</b></font></legend>
         <table width="100%">
           <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width ="15%"><b> Aluno:</b></td>
              <td align="left"> <%=h @matricula.aluno.aluno_nome%>  &nbsp&nbsp&nbsp&nbsp <b> Nº:</b> <%=h @matricula.classe_num%></td>
           </tr>
             <tr bgcolor="#F5F5F5"  width="100%">
                <td align="left" width ="15%"><b> Unidade:</b></td>
                <td align="left"> <%=h @matricula.unidade.nome%></td>
             </tr>
               <tr bgcolor="#F5F5F5"  width="100%">
                  <td align="left" width ="15%"><b> Classe:</b></td>
                  <td align="left"> <%=h @matricula.classe.classe_classe%> - </td>
               </tr>
               <tr bgcolor="#F5F5F5"  width="100%">
                  <td align="left" width ="15%"><b> Status:</b></td>
                  <td align="left"><%if @matricula.reprovado =="1" %>
                      <font color="red"> REPROVADO</font>
                                   <%else %>
                      <font color="blue"> PROVADO</font>
                                   <%end%>
                  </td>
               </tr>

      </table>
       </fieldset>
    <table>
         <tr>

            <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('supervisao')or current_user.has_role?('secretaria_infantil') or current_user.has_role?('direcao_infantil')%>
                
                <td width="6%"align="left" ><%= button_to 'Editar', {:action => "edit", :id =>@matricula}, :method => "get", :title => "Editar"%></td>
                 <% if (current_user.has_role?('admin'))%>
                     <td width="6%"align="left" ><%= button_to 'Excluir' , {:action => "destroy", :id =>@matricula}, :confirm => 'Tem certeza?',:method => "delete", :title => "Deletar"%></td>
                 <%end%>
            <%else%>
                <td align="center"></td>
             <%end%>

             <td width="6%"><%= button_to 'Visualizar Classe', {:action => "show_classe" }  %></td>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
    </table>
    </td>
   </tr>
 </table>


</div>
<br/>
</div>


