<div id="interno1">
<% title "NOTAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LANÇAMENTOS CARGA HORÁRIA / ESCOLA / CIDADE </strong></font><br/>
 </div>
      <div class="tabs">
          <% form_for (@observacao_historico) do |f| %>
           <%= f.error_messages %>
            <fieldset><legend><font size=4> Informações </font></legend>

              <table width="100%">
                  <%if session[:cont_nome] = 1 %>
                         <tr bgcolor="#F5F5F5">
                           <td width =" 12%"><b>Aluno:</b></td>
                           <td><%= session[:aluno_nome]%>  </td>
                        </tr>
                 <%else%>
                         <tr bgcolor="#F5F5F5">
                           <td width =" 12%"><b>Aluno:</b></td>
                           <td><%= f.collection_select :aluno_id, @alunos, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %></td>
                        </tr>
                 <%end%>
                 <tr bgcolor="#F5F5F5">
                   <td colspan="2"><b>Série / Ano Letivo / Carga Horária Total já lançados:</b>
                     <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
                           <tr >
                           <td width ="5%" align="center"><b>Série:</b></td>
                            <td width ="5%" align="center"><b>1º</b></td>
                            <td width ="5%" align="center"><b>2º</b></td>
                            <td width ="5%" align="center"><b>3º</b></td>
                            <td width ="5%" align="center"><b>4º</b></td>
                            <td width ="5%" align="center"><b>5º</b></td>
                            <td width ="5%" align="center"><b>6º</b></td>
                            <td width ="5%" align="center"><b>7º</b></td>
                            <td width ="5%" align="center"><b>8º</b></td>
                            <td width ="5%" align="center"><b>9º</b></td>
                        </tr>
                        <tr>
                          <td width ="5%" align="center"><b>Ano:</b></td>

                          <%for i in 0..8 %>
                              <td width ="5%" align="center" ><b><%=session[:ano_letivoh][i]%> </b> </td>
                          <%end%>
                       </tr>
                        <tr>
                          <td width ="5%" align="center"><b>C.Hor.Total:</b></td>
                          <%for i in 0..8 %>
                               <%cargah_t=0%>
                               <%if !session[:cargah_b][i].nil?%>
                                     <%cargah_t=session[:cargah_b][i]%>
                                <%end%>
                               <%if !session[:cargah_d][i].nil?%>
                                   <%cargah_t=session[:cargah_d][i]+cargah_t%>
                               <%end%>
                              <td width ="5%" align="center" ><% if   cargah_t != 0  %>
                                                                  <%= cargah_t %>
                                                              <%end%>
                              </td>
                          <%end%>
                        </tr>
                     </table>


                   </td>
                </tr>
                <tr>

                  <td colspan="8">
                    <font color ="red" size =" 3"><b><u>ATENÇÃO:</u>1) Cuidado para não lançar série e ano letivo já existente </font></b>
                  </td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td colspan="2"><b>Ano Letivo:</b>
                       <%= f.select :ano_letivo , options_for_select(@ano_letivo_nr.insert(0, '---')) %>
                       <%= observe_field 'observacao_historico_ano_letivo',
                                 :with => 'observacao_historico_ano_letivo',
                                  :url => { :action => 'action_ano_letivo' } %>
                       &nbsp&nbsp <b> Série :</b>
                       <%= f.select :classe , options_for_select(%w(--- 1 2 3 4 5 6 7 8 9),:include_blank => true)%>
                          <%= observe_field 'observacao_historico_classe',
                                 :with => 'observacao_historico_classe',
                                  :url => { :action => 'jaexiste' } %>


                       &nbsp&nbsp <b> Carga Horária (Básico):</b>
                       <%= f.text_field :carga_horaria_b , :size => '5'%>
                       &nbsp&nbsp <b> Carga Horária (Divers.):</b>
                       <%= f.text_field :carga_horaria_d , :size => '5'%>
                   </td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td width =" 12%"><b>Escola:</b></td>
                   <td><%= f.text_field :escola , :size => '28'%>
                   &nbsp&nbsp
                   <b>Cidade-Estado: </b>
                    <%= f.text_field :cidade , :size => '28'%>
                    <% session[:lanca_c_horaria]= 1 %>
                   </td>
                 </tr>
               </table>

            </fieldset>
          <table width="100%"  >
                   <tr bgcolor="#F5F5F5">
                       <td width="15%" align="left" ><div id='jaexiste'><%= f.submit 'Salvar' %></div></td>

          <%end%>
                       <td align="left">
                           <%if  session[:novaserie]== 1  %>
                             <% session[:novaserie]= 0 %>
                                <%= button_to 'Fechar', new_nota_path, {:method => "get"}  %>
                           <%else%>
                             <% session[:novaserie]= 0 %>
                                <%= button_to 'Fechar', home_path, {:method => "get"}  %>
                            <%end%>
                        </td>
                   </tr>
                 </table>
            </font>
    </div>
</div>
<br/>


