<div id="interno3">
<% title "ATRIBUICAO" %>
  <div class ="tabs">


  <fieldset><legend><font size=4>LANÇAMENTOS NOTAS/FALTAS HISTÓRICO</font></legend>
    <table width="100%">
       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>RA:</b></td>
         <td colspan="2"><%= @observacao_historico.aluno.aluno_ra  %></td>
       </tr>
       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>Aluno:</b></td>
         <td colspan="2"><%=@observacao_historico.aluno.aluno_nome %></td>
      </tr>

       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>Unidade:</b></td>
         <td colspan="3" ><%= @observacao_historico.aluno.unidade.nome %></td>
       </tr>
       <tr bgcolor="#F5F5F5">
           <td colspan="3""><b>Ano Letivo:</b>&nbsp&nbsp
            <%= @observacao_historico.ano_letivo %></td>
       </tr>
       <tr bgcolor="#F5F5F5">
           <td colspan="3"> <b> Carga Horária (Básico):</b>
            <%= @observacao_historico.carga_horaria_b %>
                &nbsp&nbsp&nbsp&nbsp&nbsp <b> Carga Horária (Divers.):</b>
               <%= @observacao_historico.carga_horaria_d %>
                   </td>
                </tr>
      <tr bgcolor="#F5F5F5">
          <td width =" 12%"><b>Escola: </b></td>
          <td colspan="3">  <%= @observacao_historico.escola%></td>
     </tr>
      <tr bgcolor="#F5F5F5">
          <td width =" 12%"><b>Cidade: </b></td>
          <td colspan="3">  <%= @observacao_historico.cidade%></td>
     </tr>
    </table>
  </fieldset>
    <table width="100%" >
         <tr>

            <td width ="6%"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
            <td width ="6%" align="left"><%= button_to 'Continuar Lançamento', new1_notas_path, {:method => "get"}  %></td>
            <td width ="6%"align="left"><%= button_to 'Novo Lançamento',{:action => "new", :controller => :notas}, :method => "get", :title => "Editar" %></td>
            <td align="left"><%= button_to 'Historico',historicoContinua_path, :title => "Histórico", session[:aluno_id] => @observacao_historico.aluno_id %></td>

         </tr>
       </table>

</div>
<br/><br/>


