
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <img src="/stylesheets/images/logo.png"   alt=""  class="float-left"  />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="2"><i><b><u>CADASTRO DE ALUNOS</u></b><br/>
&nbsp&nbsp&nbsp
     <font size="1"><i><b>Prefeitua Municipal de  Americana </b></i>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<font size="1"><b><u></u> DADOS SOCIOECONOMICOS</b></i><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <font size="1"><b><i> Secretaria da Educação</i></b>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<font size="1">Unidade Escolar:<% @socioeconomico.each do |socioeconomico| %><%=h socioeconomico.unidade.nome %><%end%> </font><br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp

 <table  class ="invisible_to_print " >
   <tr  class ="invisible_to_print ">
     <td align="right" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
 </table>
<br/>
<% @socioeconomico.each do |socioeconomico| %>
<font  size=3><b> Dados Socioeconomicos</b></font></legend>
         <table border="1" cellspacing="0" cellpadding="1" width="100%">
            <tr style="font-size:9px">
               <td align="left" width="4%"><b>Nome:</b></td>
               <td colspan="5" align="left"> <%=h socioeconomico.aluno.aluno_nome %></td>
            </tr>
            <tr style="font-size:9px">
               <td witdh ="20%"><b>Casa:</b></td>
               <td witdh ="10%"><%=h socioeconomico.economico_casa %></td>
               <td witdh ="10%"><b>Nº Cômodos:</b></td>
               <td witdh = "15%"><%=h socioeconomico.economico_comodos %></td>
               <td width ="18%"><b>Tipo de Construção:</b></td>
               <td witdh ="5%"><%=h socioeconomico.economico_tipo_casa%></td>
            </tr>
            <tr style="font-size:9px">
               <td><b>Rede Eletrica:</b></td>
               <td><%=h socioeconomico.economico_eletricidade %></td>
               <td><b>Rede Esgoto:</b></td>
               <td><%=h socioeconomico.economico_esgoto %></td>
               <td><b>Rede Água:</b></td>
               <td><%=h socioeconomico.economico_agua %></td>
             </tr>
             <tr style="font-size:9px">
                 <td colspan="6"><b>Quantos residem na casa:&nbsp</b>
                       <%= h socioeconomico.economico_residentes%>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <b>Quantos menores de 12 anos:</b>&nbsp<%= h socioeconomico.economico_menores%>&nbsp&nbsp&nbsp
                    <b>Quantos trabalham:</b>&nbsp&nbsp&nbsp<%=h socioeconomico.economico_remunerada %>&nbsp&nbsp&nbsp
                    <b>Renda Familiar:</b>&nbsp&nbsp&nbsp<%=h socioeconomico.economico_renda_familiar%>
                 </td>
             </tr>
             <tr style="font-size:9px">
                 <td colspan="6"><b>Irmãos que estudam:&nbsp</b> <%=h socioeconomico.economico_residentes%></td>
             </tr>
             <tr style="font-size:9px">
               <td><b>Religião:</b></td>
               <td><%=h socioeconomico.economico_religiao%></td>
               <td><b>Possui Geladeira:</b></td>
               <td><%=h socioeconomico.economico_geladeira%></td>
               <td><b>Possui Freezer:</b></td>
               <td><%=h socioeconomico.economico_freezer%></td>

             </tr>
             <tr style="font-size:9px">
               <td width ="15%"><b>Possui Carro:</b></td>
               <td><%=h socioeconomico.economico_carro%></td>
               <td><b>Possui Moto:</b></td>
               <td><%=h socioeconomico.economico_moto %></td>
               <td><b>Possui Computador:</b></td>
               <td><%=h socioeconomico.economico_computador%></td>
             </tr>
             <tr style="font-size:9px">
               <td><b>Possui TV à Cabo:</b></td>
               <td><%=h socioeconomico.economico_tv%></td>
               <td><b>Possui Internet:</b></td>
               <td><%=h socioeconomico.economico_internet %></td>
               <td><b>Possui Lava Roupa:</b></td>
               <td><%=h socioeconomico.economico_lava_roupa%></td>
             </tr>
             <tr style="font-size:9px">
               <td valign="top"><b>Observação:</b></td>
              <td colspan="5"><%=h socioeconomico.economico_obs %> </td>
            </tr>
         </table>

<%end%>

<br/>
<font size="2">
  Declaro que todos os dados fornecidos para efetivação deste ato são verdadeiros e que respondo perante a lei pelas informações
  contidas neste ficha.
</font>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <font size ="1" >Americana, <%= Time.now.strftime("%d/%m/%Y") %></font>


  </div>

<br/><br/><br/><br/>
<font size="1">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
p/  Unidade Escolar

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Assinatura do Professor<br/>

</font>
&nbsp&nbsp

