<p>
  <b>Data:</b>
  <%=h @ufalta.data %>
</p>

<p>
  <b>Unidade:</b>
  <%=h @ufalta.unidade %>
</p>

<p>
  <b>Funcao:</b>
  <%=h @ufalta.funcao %>
</p>

<p>
  <b>Locados:</b>
  <%=h @ufalta.locados %>
</p>

<p>
  <b>Trabalhando:</b>
  <%=h @ufalta.trabalhando %>
</p>

<p>
  <b>Greve:</b>
  <%=h @ufalta.greve %>
</p>

<p>
  <b>Atestado dia:</b>
  <%=h @ufalta.atestado_dia %>
</p>

<p>
  <b>Atestado horas:</b>
  <%=h @ufalta.atestado_horas %>
</p>

<p>
  <b>Atestado periodo:</b>
  <%=h @ufalta.atestado_periodo %>
</p>

<p>
  <b>Atestado acompanhante:</b>
  <%=h @ufalta.atestado_acompanhante %>
</p>

<p>
  <b>Quem:</b>
  <%=h @ufalta.quem %>
</p>

<p>
  <b>Total trab:</b>
  <%=h @ufalta.total_trab %>
</p>

<p>
  <b>Total lhando:</b>
  <%=h @ufalta.total_lhando %>
</p>

<p>
  <b>Total greve:</b>
  <%=h @ufalta.total_greve %>
</p>

<p>
  <b>Total atestado dia:</b>
  <%=h @ufalta.total_atestado_dia %>
</p>

<p>
  <b>Total atestado hora:</b>
  <%=h @ufalta.total_atestado_hora %>
</p>

<p>
  <b>Total atestado periodo:</b>
  <%=h @ufalta.total_atestado_periodo %>
</p>

<p>
  <b>Total atestado acompanhante:</b>
  <%=h @ufalta.total_atestado_acompanhante %>
</p>

<p>
  <b>Obs:</b>
  <%=h @ufalta.obs %>
</p>


<%= link_to 'Edit', edit_ufalta_path(@ufalta) %> |
<%= link_to 'Back', ufaltas_path %>