<h1>Listing classes_professors</h1>

<table>
  <tr>
    <th>Classe</th>
    <th>Professor</th>
  </tr>

<% @classes_professors.each do |classes_professor| %>
  <tr>
    <td><%=h classes_professor.classe_id %></td>
    <td><%=h classes_professor.professor_id %></td>
    <td><%= link_to 'Show', classes_professor %></td>
    <td><%= link_to 'Edit', edit_classes_professor_path(classes_professor) %></td>
    <td><%= link_to 'Destroy', classes_professor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New classes_professor', new_classes_professor_path %>