<% form_for @relatorio do |f| %>
 <%= f.error_messages %>
  <font  size="2">
    <fieldset><legend><font  size=3> RELATÓRIO DE ATIVIADE DESENVOLVIDA</font></legend>
      <table width="100%" align="center"  bgcolor="#F5F5F5">
        <tr>
           <td width="50%"><font  size="3" color ="red"><b>* </b></font><b>Obreiro: </b><%= collection_select :relatorio, :obreiro_id, @obreiros, :id, :nome, :include_blank => ' --- Selecionar ---'  %></td>
           <%= observe_field 'relatorio_obreiro_id',
                    :with   => :relatorio_obreiro_id,
                    :url    => { :action => 'lista_unidade_obreiro' },
                    :update => "empresas"%>
          <td><div id='empresas'></div></td>
        </tr>
        <tr>
          <td colspan="2"><b>Data:</b> <%= f.date_select(:data, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 80)) %></td>
       </tr>
        <tr>
          <td colspan="2"><b> Atividade:</b><%= f.text_area(:atividade, :cols =>"101", :rows => "2") %></td>
        </tr>
        <tr >
          <td colspan="2"><b>Observações:</b><br/>
             <%= f.text_area(:obs, :cols =>"101", :rows => "2") %>
          </td>
       </tr>
      </table>
      <font  size="2" color ="red"><b>Campos com * preenchimento obrigatório</b></font>
      <fieldset>
        <table width="100%" >
         <tr>
            <td width="4%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), home_path, :title => "Voltar" %></td>
            <td width="4%"><input type="image" src="/stylesheets/images/salvar.PNG" title="Gravar"></td>
            <td width="5%"><%= link_to image_tag("/stylesheets/images/consulta.png", :size =>  "35x35"), consulta_relatorio_path,  :title => "Consultar" %></td>
            <td></td>
         </tr>
       </table>
      </fieldset>
    </fieldset>
  </font>
<%end%>