<h1>Listing relatorios</h1>

<table>
  <tr>
    <th>Funcionario</th>
    <th>Unidade</th>
    <th>Data</th>
    <th>Atividade</th>
    <th>Obs</th>
  </tr>

<% @relatorios.each do |relatorio| %>
  <tr>
    <td><%=h relatorio.obreiro.nome%></td>
    <td><%=h relatorio.unidade %></td>
    <td><%=h relatorio.data %></td>
    <td><%=h relatorio.atividade %></td>
    <td><%=h relatorio.obs %></td>
    <td><%= link_to 'Show', relatorio %></td>
    <td><%= link_to 'Edit', edit_relatorio_path(relatorio) %></td>
    <td><%= link_to 'Destroy', relatorio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New relatorio', new_relatorio_path %>