<div id="interno3">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>GERAR NOTAS</strong></font><br/>
 </div>
      <div class="tabs">


        <fieldset><legend><font size=4>Notas Aluno</font></legend>
        <table>
            <tr>

              <td ><b> Notas para os alunos na classe:
                  <% for classe in @classe %> -
                     <%=h classe.classe_classe%> - Ano letivo: <%=h classe.classe_ano_letivo %>
                  <%end%>
                </b></td>
            </tr>
             <% mat_id_ant = 0 %>
             <% numA = 0 %>
             <%for matricula in @matriculas%>
                <% num = 0 %>
                <% @notas = Nota.find(:all,:conditions =>['aluno_id = ? AND ano_letivo=? AND matricula_id=?',matricula.aluno_id,Time.now.year, matricula.id]) %>
                <% for notas in @notas %>
                    <tr>
                      <td>
                        <% if notas.matricula_id != mat_id_ant %>
                            <% numA = numA +1 %>
                            <% mat_id_ant = notas.matricula_id %>
                        <%end%>

                        &nbsp&nbsp&nbsp&nbsp<b> <%=h numA %>.<%=h num = num +1 %>) </b><%=h notas.aluno.aluno_nome %> - <%=h notas.disciplina.disciplina %>
                      </td>
                    </tr>
                <%  end %>
             <%end%>

         </table>
         </fieldset>
        <table width="100%">
           <tr>
              

             
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>