<table frame="box" rules="all" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td rowspan="4" style="border-color: white"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white"><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
        <center><font size="1">Unidade Escolar:     <% for classe in @classe %> <%=h classe.unidade.nome %>   </font></center>
    </td>
  </tr>
</table>

<table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">

   <tr  class ="invisible_to_print " style="border-color: white">
     <td colspan="4"align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>

        <tr  style="line-height:25%">
           <td align="left" width="15%" style="font-size: 7px"><b>Unidade:</b></td>
           <td align="left" style="font-size: 7px"><%=h classe.unidade.nome%></td>
          <td align="left"width="15%" style="font-size: 7px"><b> Ano Letivo:</b></td>
          <td colspan="7" align="left" style="font-size: 7px"> <%=h classe.classe_ano_letivo %></td>
      </tr>

      <tr style="line-height:25%">
           <td align="left" style="font-size: 7px"><b>Classe:</b></td>
           <td align="left" style="font-size: 7px">  <%=h classe.classe_classe%></td>
           <td align="left" style="font-size: 7px"><b>Horário:</b></td>
           <td align="left" style="font-size: 7px">  <%=h classe.horario%></td>

      </tr>
      <tr style="line-height:25%">
          <td align="left" style="font-size: 7px"><b>Descrição:</b></td>
          <td colspan="3" align="left" style="font-size: 7px">  <%=h classe.classe_descricao %></td>
      </tr>

      <tr style="line-height:25%">
         <% cont=1 %>
         <% cont1=1 %>
        <td style="font-size: 7px" colspan="4">
          <b> Alunos: </b><br/>
          <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                           <tr style="line-height:40%">
                               <td align="center"width ="1%" style="font-size: 7px"><b>Nº</b></td>

                               <td width ="30%" style="font-size: 7px"><b>NOME</b></td>
                              <td width ="1%"style="font-size: 9px"><b>[1]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[2]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[3]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[4]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[5]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[6]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[7]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[8]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[9]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[10]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[11]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[12]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[13]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[14]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[15]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[16]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[17]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[18]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[19]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[20]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[21]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[22]</b></td>
                               <td width ="1%"style="font-size: 9px"><b>[23]</b></td>

                             </tr >

                             <% for matricula in  @matriculas %>
                                <tr style="line-height:25%">
                                  <td align="center" style="font-size: 7px"> <%="#{ matricula.classe_num}"%> </td>
                                  <td align="center" style="font-size: 7px"> <%="#{truncate(matricula.aluno.aluno_nome,:length => 25,:omission => "...")}"%>
                                                                              <%  if  matricula.status =="TRANSFERIDO"%>
                                                                                 <font color ="red"> Transferido </font>
                                                                              <%else if  matricula.status =="TRANSFERENCIA"%>
                                                                                     <font color ="blue"> Transferência </font>
                                                                                     <%else if  matricula.status =="REMANEJADO"%>
                                                                                              <font color ="green"> Remanejado </font>
                                                                                           <%else if  matricula.status =="*REMANEJADO"%>
                                                                                                    <font color ="green"> *Remanejado </font>
                                                                                                 <%else if  matricula.status =="ABANDONO"%>
                                                                                                          <font color ="red"> Abandono</font>
                                                                                                      <%end%>
                                                                                               <%end%>
                                                                                           <%end%>
                                                                                     <%end%>
                                                                              <%end%></td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9x">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>


                               </tr>
                            <%end%>
                </table>
        </td>
      </tr>

</table>
<%end%>
