<table frame="box" rules="all" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td rowspan="4" style="border-color: white"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white"><center><font size="3"><i><b>REGISTRO DE FRQUÊNCIA DE ALUNOS </b></i></center>
        <center><font size="1"><b><i> Secretaria da Educação - Prefeitura Municipal de  Americana</i></b><br/></center>
        <center><font size="1">Unidade Escolar:     <% for classe in @classe %> <%=h classe.unidade.nome %>   </font></center>
    </td>
  </tr>
</table>

<table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">

   <tr  class ="invisible_to_print " style="border-color: white">
     <td colspan="4"align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>

        <tr  style="line-height:25%">
           <td align="left" width="15%" style="font-size: 7px"><b>Unidade:</b></td>
           <td align="left" style="font-size: 7px"><%=h classe.unidade.nome%></td>
          <td align="left"width="15%" style="font-size: 7px"><b> Ano Letivo:</b> &nbsp&nbsp  <%=h classe.classe_ano_letivo %>
          <td colspan="7" align="left" style="font-size: 7px"> <b>Mês: </b>              </td>
      </tr>

      <tr style="line-height:25%">
           <td align="left" style="font-size: 7px"><b>Classe:</b></td>
           <td align="left" style="font-size: 7px">  <%=h classe.classe_classe%></td>
           <td  colspan="2 "align="left" style="font-size: 7px"><b>Horário:</b>&nbsp&nbsp  <%=h classe.horario%></td>

      </tr>
      <tr style="line-height:25%">
          <td align="left" style="font-size: 7px"><b>Descrição:</b></td>
          <td colspan="3" align="left" style="font-size: 7px">  <%=h classe.classe_descricao %></td>
      </tr>

      <tr style="line-height:25%">
         <% cont=1 %>
         <% cont1=1 %>
        <td style="font-size: 7px" colspan="4">
          <b> Alunos: </b><br/>
          <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                           <tr style="line-height:40%">
                               <td align="center"width ="1%" style="font-size: 7px"><b>Nº</b></td>

                               <td width ="35%" style="font-size: 7px"> <b>NOME</b></td>
                              <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>
                               <td width ="1%"style="font-size: 9px"><b>&nbsp&nbsp&nbsp&nbsp&nbsp </b></td>

                             </tr >

                             <% for matricula in  @matriculas %>
                                <tr style="line-height:25%">
                                  <td align="center" style="font-size: 7px"> <%="#{ matricula.classe_num}"%> </td>
                                  <td align="center" style="font-size: 7px"> <%="#{truncate(matricula.aluno.aluno_nome,:length => 20,:omission => "...")}"%>
                                                                              <%  if  matricula.status =="TRANSFERIDO"%>
                                                                                 <font color ="red"> (Transf.) </font>
                                                                              <%else if  matricula.status =="TRANSFERENCIA"%>
                                                                                     <font color ="blue"> (Transf.) </font>
                                                                                     <%else if  matricula.status =="REMANEJADO"%>
                                                                                              <font color ="green"> (Reman.) </font>
                                                                                           <%else if  matricula.status =="*REMANEJADO"%>
                                                                                                    <font color ="green"> (*Reman.) </font>
                                                                                                 <%else if  matricula.status =="ABANDONO"%>
                                                                                                          <font color ="red"> (Aban.)</font>
                                                                                                      <%end%>
                                                                                               <%end%>
                                                                                           <%end%>
                                                                                     <%end%>
                                                                              <%end%></td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9x">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>


                               </tr>
                            <%end%>
                                <tr style="line-height:25%">
                                  <td align="center" style="font-size: 7px">  </td>
                                  <td align="center" style="font-size: 7px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9x">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                               </tr>
                                <tr style="line-height:25%">
                                  <td align="center" style="font-size: 7px">  </td>
                                  <td align="center" style="font-size: 7px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9x">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                               </tr>
                                <tr style="line-height:25%">
                                  <td align="center" style="font-size: 7px">  </td>
                                  <td align="center" style="font-size: 7px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9x">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                               </tr>
                                <tr style="line-height:25%">
                                  <td align="center" style="font-size: 7px">  </td>
                                  <td align="center" style="font-size: 7px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9x">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                               </tr>
                                <tr style="line-height:25%">
                                  <td align="center" style="font-size: 7px">  </td>
                                  <td align="center" style="font-size: 7px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9x">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                                  <td align="center" style="font-size: 9px">  </td>
                               </tr>                               
                </table>
        </td>
      </tr>

</table>
<%end%>
