 <%if current_user.has_role?('professor_fundamental') or current_user.has_role?('secretaria_fundamental') %>
      <% @unidades= Unidade.find(:all, :select => 'distinct(unidades.nome), unidades.id',  :conditions =>['desativada = 0 and (tipo_id = 1 or tipo_id = 3 or tipo_id = 4 or tipo_id = 7)'],:order => 'unidades.nome')%>
 <%else if current_user.has_role?('professor_infantil')  or current_user.has_role?('secretaria_infantil')%>
             <% @unidades= Unidade.find(:all, :select => 'distinct(unidades.nome), unidades.id',  :conditions =>['desativada = 0 and (tipo_id = 2 or tipo_id = 3 or tipo_id = 5 or tipo_id = 8)'],:order => 'unidades.nome')%>
        <%else%>
                <% @unidades= Unidade.find(:all, :select => 'distinct(unidades.nome), unidades.id',  :conditions =>['desativada = 0'],:order => 'unidades.nome')%>
        <%end%>
 <%end%>

<div id="interno2">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ATENDIMENTO ESPECIALIZADO (AEE)</strong></font><br/>
 </div>
      <div class="tabs">
        <% form_for @atendimento_aee do |f| %>
         <%= f.error_messages %>
        <fieldset><legend><font size=4>Aluno</font></legend>
             
            <% @classes_aee = Classe.find(:all,:select => 'id, classe_classe', :conditions =>['unidade_id =? and  classe_ano_letivo=? and sala != 52 AND classe_classe like ? ' ,  current_user.unidade_id, Time.now.year , "AEE"+ "%"], :order => 'classe_classe') %>
        <table>
            <tr>
              <td colspan="2"><font color ="red" size ="3"><b><u>ATENÇÃO:</u>  1) Os alunos de atendimento especializado (AEE), devem estar devidamente matriculados em uma<br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   classe regurar.<br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2) Certifique-se que os TODOS os professores já foram atribuidos às classes. Caso o professor <br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp for atribuido após as matriculas avisar o Setor de  Informática.<br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3) Selecionar a classe para listagem de seleção dos alunos.<br/>
                   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  4) Se o  nome do aluno não constar na lista é necessário utilizar a opção  <br/>
                   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp CONSULTAR / ALUNO / SEDUC  e SALVAR a ficha do aluno, antes de matricula-lo.</b>

                  <font></td>
            </tr>
            <tr>
            <td width ="18%"><b>Classe Atendimento Especializado: </b></td>
             <td ><%= f.collection_select :classe_id, @classes_aee, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %></td>
            </tr>
             <tr>
              <td><b> <b> Unidade matriculado regularmente: </b></td>
              <td>   <%= f.collection_select :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecione -- ' %>
                          <%= observe_field :atendimento_aee_unidade_id,
                              :with => :unidade_id,
                              :update => "aluno_unidade" ,
                              :url => { :action => 'aluno_unidade' }%>



              </td>
           </tr>
           <tr>
              <td><b>Aluno: </b></td>
              <td> 
                   <div id="aluno_unidade">Selecionar unidade onde o aluno está  matriculado</div>
                <br/>
                  <div id="aluno_classe"></div>
              </td>
           </tr>
            <tr>
            <td><b>Atendimento: </b></td>
             <td><%= f.text_field :atendimento, :size=>"80" %></td>
           </tr>
            <tr>
            <td><b>Observações: </b></td>
             <td><%= f.text_field :obs, :size=>"80" %></td>
           </tr>
         </table>
         </fieldset>
         <table>
           <tr>
              
              <td width="4%"><div id='jacadastrado2'> <%= f.submit "Salvar" %></div></td>
      <% end %>
             <td ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>




