<div id="interno3">
<% title "TRANSFERENCIA" %>
<div class ="tabs">


 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b>ATENDIMENTO AEE ESPECIALIZADO </b></font></legend>
         <table width="100%">
           <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width ="18%"><b> Aluno:</b></td>
              <td align="left"> <%=h @atendimento_aee.aluno.aluno_nome%>  </td>
           </tr>
           <% session[:aluno_id]= @atendimento_aee.aluno_id  %>
           <tr bgcolor="#F5F5F5"  width="100%">
                <td align="left" width ="15%"><b> Classe:</b></td>
                <td align="left"> <%=h @atendimento_aee.classe.classe_classe%></td>
           </tr>
           <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width ="15%"><b> Classe Matriculado:</b></td>
              <td align="left"><%= @atendimento_aee.classe_mat%> / <%= @atendimento_aee.ano_letivo%> - <%= @atendimento_aee.unidade%> </td>
           </tr>
           <tr bgcolor="#F5F5F5"  width="100%">
             <td ><b> OBS:</b> </td>
             <td><%= @atendimento_aee.obs%> </td>
           </tr>
      </table>

     </fieldset>
   </td>
  </tr>
 </table>

    <table>
         <tr>
            
            <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('supervisao')or current_user.has_role?('secretaria_infantil') or current_user.has_role?('direcao_infantil')%>

                <td width="6%"align="left" ><%= button_to 'Editar', {:action => "edit", :id =>@atendimento_aee}, :method => "get", :title => "Editar"%></td>
                 <% if (current_user.has_role?('admin'))%>
                     <td width="6%"align="left" ><%= button_to 'Excluir' , {:action => "destroy", :id =>@atendimento_aee}, :confirm => 'Tem certeza?',:method => "delete", :title => "Deletar"%></td>
                 <%end%>
            <%else%>
                <td align="center"></td>
             <%end%>
 <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
             
            
          </tr>
    </table>











</div>
<br/>
</div>


