<% form_for (@nota) do |f| %>
 <%= f.error_messages %>
  <fieldset><legend><font size=4>Dados alunos</font></legend>
    <table width="100%">
       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>RA:</b></td>
         <td><%= @nota.aluno.aluno_ra  %></td>
         <td width =" 12%"><b>Aluno:</b></td>
         <td><%= f.collection_select :aluno_id, @alunos, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %></td>
      </tr>

  




     </table>
  </fieldset>



       <table width="100%" >
         <tr bgcolor="#F5F5F5">
           <td width="4%"align="left"><b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>

<%end%>
            <td width="6%"align="left" ><%= button_to 'Consultar' ,consultas_criancas_path, :title => "Consultar" %></td>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>



         </tr>
       </table>


  </font>




