<div style='display:none'>
  <div id='inline_form_observacao' style='padding: 0; margin-right: .1em; background:#EEE9E9;'>
    <% form_remote_for( :observacao_nota,:url => { :action => 'create_observacao_nota' }, :success => "$.fn.colorbox.close();$('select').multiselect('refresh')") do |f|%>
    <b><u>OBSERVAÇÕES - ALUNOS</u></b> <br/>
      <hr>
       <%= error_messages_for 'contact' %>
       <table  width="100%" bgcolor="#F5F5F5">
         <tr>
           <td><b>Aluno: </b></td>
           <td><%=h @nota.aluno.aluno_nome%></td>
         </tr>
         <tr>
            <td width="10%" valign="top"><b><font size="2"><%= f.label :observacao, 'Observações:' %></font></b></td>
            <td><%= f.text_area :observacao, :cols=>'40', :rows=> '3' %></td>
        </tr>
        <tr>
            <td align="left" colspan="2"><%= f.submit "Salvar" %></td>
        </tr>
       </table>
      <%end%>
  </div>
</div>
