<h1>Listing notas</h1>

<table>
  <tr>
    <th>Aluno</th>
    <th>Unidade</th>
    <th>Professor</th>
    <th>Ano letivo</th>
    <th>Nota</th>
    <th>Faltas</th>
    <th>Obs</th>
  </tr>

<% @notas.each do |nota| %>
  <tr>
    <td><%=h nota.aluno_id %></td>
    <td><%=h nota.unidade_id %></td>
    <td><%=h nota.professor_id %></td>
    <td><%=h nota.ano_letivo %></td>
    <td><%=h nota.nota %></td>
    <td><%=h nota.faltas %></td>
    <td><%=h nota.obs %></td>
    <td><%= link_to 'Show', nota %></td>
    <td><%= link_to 'Edit', edit_nota_path(nota) %></td>
    <td><%= link_to 'Destroy', nota, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New nota', new_nota_path %>