<div id="interno2">
<% title "ALTERA_NOTA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LANÇAMENTOS OBSERVAÇÕES</strong></font><br/>
 </div>
    <div class="tabs">
      <% form_tag lancamentos_observacaos_notas_path, :method => 'get' do %>
      <fieldset>
       <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td colspan="3"align="left"><font size="2"> <b class="label_busca3">Responsável:</b></font>
               &nbsp&nbsp&nbsp<%= collection_select :professor, :id, @professors1, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
        </tr>
          <tr>
            <td colspan="2"align="left"><font size="2"> <b class="label_busca3">Classe:</b></font>
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= collection_select :classe, :id, @classes, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %>
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b class="label_busca3">Disciplina:</b></font>
               &nbsp&nbsp&nbsp<%= select_tag :disciplina, options_for_select(@disciplinas1.collect { |ff| [ff.disciplina, ff.disciplina] }.insert(0, '--Selecionar--')) %></td>
            <td align="right"> <%= submit_tag "Visualizar", :class => "btn_filtrar" %></td>
          </tr>
       </table>

    <%if @classe.present?%>
      <fieldset>
        <table width="100%">
           <% for classe in @classe %>
              <tr bgcolor="#F5F5F5" >
                  <td align="left" width="10%"><b>Unidade:</b></td>
                   <td align="left">  <%=h classe.unidade.nome%></td>
                   <td align="left" width="10%"><b> Ano Letivo:</b></td>
                   <td align="left"> <%=h classe.classe_ano_letivo %>     <%  session[:classe]=  classe.id%></td>
               </tr>
                <tr bgcolor="#F5F5F5">
                    <td align="left"><b>Classe:</b></td>
                    <td align="left">  <%=h classe.classe_classe%></td>
                    <td align="left"><b>Horário:</b></td>
                    <td align="left">  <%=h classe.horario %></td>
                 </tr>
                 <tr bgcolor="#F5F5F5" >
                     <td align="left"><b>Descrição:</b></td>
                     <td align="left" colspan="3"> <%=h classe.classe_descricao %></td>
                 </tr>
                 <tr bgcolor="#F5F5F5">
                     <td valign="top"> <b> Responsável(s):</b> </td>
                          <% cont=1 %>
                          <% cont1=1 %>
                      <td colspan="4">  <% for atrib in @atribuicao_classe %>
                                           <table width="100%">
                                              <tr bgcolor="#F5F5F5" >
                                                 <td align="left" width="50%"> <%=h atrib.professor.nome%></td>
                                                 <td align="left"width="10%"><b> Disciplina:</b></td>
                                                 <td align="left" width="30%"> <%=h atrib.disciplina.disciplina %></td>

                                                   <% session[:disciplina] = atrib.disciplina.disciplina %>
                                                   <% session[:professor] = atrib.professor.nome %>
                                                   <% session[:professor_id] = atrib.professor.id %>
                                                   <% session[:classe] = atrib.classe.classe_classe %>
                                                   <% session[:ano] = atrib.ano_letivo %>
                                                   <% session[:periodo] = atrib.classe.horario %>
                                                   <% session[:id] = atrib.id %>
                                               </tr>
                                             </table>
                                            <% cont= cont+1 %>
                                           <%end%>
               </td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="#" class="com_observacoes"><%= radio_button_tag(:type_of, "1", :checked => true) %></a><b>Visualisar Observações</b>
                 <a href="#" class="sem_observacoes"><%= radio_button_tag(:type_of, "2") %></a><b>Não Visualisar Observações</b>
              </td>
              <td align="left"><%= link_to image_tag("/stylesheets/images/Lancamento.png"),{:action => "edit", :controller => :atribuicaos, :id =>atrib}, :method => "get", :title => "Editar" %> </td>
              <td align="right"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
            </tr>
       </table>
     <%end%>
        <table  border="1" frame="box" rules="all" width="100%">
          <tr bgcolor="#F5F5F5">
            <td width ="78%" colspan="3"><b> Alunos: </b></td>
            <td colspan="2" align="center"><b>1ºBim</b></td>
            <td colspan="2" align="center"><b>2ºBim</b></td>
            <td colspan="2" align="center"><b>3ºBim</b></td>
            <td colspan="2" align="center"><b>4ºBim</b></td>
            <td colspan="2" align="center"><b>Final</b></td>
          </tr>
      <tr bgcolor="#F5F5F5">
        <td width ="4%"align="center"><b>Nº</b></td>
        <td width ="14">&nbsp&nbsp<b>RA</b></td>
        <td width ="50%">&nbsp&nbsp<b>NOME</b></td>
        <td width ="6%" align="center"><font size="1"><b>Nota</b></font></td>
        <td width ="5%%"align="center"><font size="1"><b>Faltas</font></b></td>
        <td width ="6%" align="center"><font size="1"><b>Nota</font></b></td>
        <td width ="5%"align="center"><font size="1"><b>Faltas</font></b></td>
        <td width ="6%" align="center"><font size="1"><b>Nota</font></b></td>
        <td width ="5%"align="center"><font size="1"><b>Faltas</font></b></td>
        <td width ="6%" align="center"><font size="1"><b>Nota</font></b></td>
        <td width ="5%"align="center"><b><font size="1">Faltas</font></b></td>
        <td width ="6%" align="center"><font size="1"><b>Nota</font></b></td>
        <td width ="5%"align="center"><b><font size="1">Faltas</font></b></td>
        <td width ="9%"align="center">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
      </tr>
          <tr bgcolor="#F5F5F5">
            <td colspan="14"> <div id="notas_aluno">
                                <table border="1" cellspacing="0" cellpadding="1" width="100%">
                                    <%@notas.each do |nota|%>
                                    <tr>
                                      <td width ="4%" align="center"><%= nota.matricula.classe_num  %></td>
                                      <td width ="10%" ><%= nota.aluno.aluno_ra  %></td>
                                      <td width ="42%" align="left"><%= nota.aluno.aluno_nome %>
                                                  <%if !nota.matricula.status =="MATRICULADO" and  nota.matricula.status == 'TRANSFERIDO' %>
                                                      <font color ="red"> (Transferido)
                                                  <%end%>
                                                  <%if nota.matricula.status == 'REMANEJADO' %>
                                                      <font color ="green"> (Remanejado)</font>
                                                  <%end%>
                                      </td>
                                      <td width ="5%" align="center"><%if  !nota.nota1.nil? %>
                                                                        <%= nota.nota1 %>
                                                                    <%else%>
                                                                         ---
                                                                    <%end%>
                                      </td>
                                      <td width ="5%" align="center"><%if  nota.faltas1? %>
                                                                         <%= nota.faltas1 %>
                                                                     <%else%>
                                                                          --
                                                                      <%end%>
                                      </td>
                                      <td width ="5%" align="center"><%if  !nota.nota2.nil? %>
                                                                         <%= nota.nota2 %>
                                                                     <%else%>
                                                                          ---
                                                                     <%end%>

                                      </td>
                                      <td width ="5%" align="center"><%if  nota.faltas2 %>
                                                                         <%= nota.faltas2 %>
                                                                     <%else%>
                                                                          --
                                                                      <%end%>
                                      </td>
                                      <td width ="4%" align="center"><%if  !nota.nota3.nil? %>
                                                                         <%= nota.nota3 %>
                                                                     <%else%>
                                                                          ---
                                                                     <%end%>

                                      </td>
                                      <td width ="3%" align="center"><%if  nota.faltas3? %>
                                                                         <%= nota.faltas3 %>
                                                                     <%else%>
                                                                          --
                                                                      <%end%>
                                      </td>
                                      <td width ="4%" align="center"><%if  !nota.nota4.nil? %>
                                                                         <%= nota.nota4 %>
                                                                     <%else%>
                                                                          ---
                                                                     <%end%>

                                      </td>
                                      <td width ="4%" align="center"><%if  nota.faltas4? %>
                                                                         <%= nota.faltas4 %>
                                                                     <%else%>
                                                                         --
                                                                      <%end%>
                                      </td>
                                      <td width ="3%" align="center"><%if  !nota.nota5.nil? %>
                                                                        <%= nota.nota5 %>
                                                                    <%else%>
                                                                        ---
                                                                    <%end%>
                                      </td>
                                      <td width ="3%" align="center"><%if  nota.faltas5? %>
                                                                         <%= nota.faltas5 %>
                                                                     <%else%>
                                                                          --
                                                                      <%end%>
                                      </td>
                                      <td width ="6%" align="center"><%= link_to image_tag("/stylesheets/images/lancar1.png"),{:action => "observacao", :id =>nota}, :method => "get", :title => "Lançar" %></td>
                                                                     
                                    </tr>

                   <% if nota.observacao_notas.present? %>
                        <%   t= session[:obs_id]= nota.observacao_notas.id   %>
                        <tr bgcolor="#DCDCDC" class="visualiza">
                          <td bgcolor="#F5F5F5" class="visualiza"></td>
                          <td align="right"valign="top" style="border-color: #F5F5F5" class="visualiza"><u> Observações:</u></td>
                          <td colspan="13" style="border-color: #F5F5F5" class="visualiza" >
                             <% c=0 %>
                            <table cellspacing="0" cellpadding="1" width="100%" style="border-color: #F5F5F5" class="visualiza">
                               <% @obs= ObservacaoNota.find(:all, :conditions =>["nota_id=?",nota])%>
                                 <% @obs.each do |obs|%>
                                   <tr style="border-color: #F5F5F5" class="visualiza">
                                     <td  style="border-color: white"colspan="3" class="visualiza"><b><%= c=c+1%>. </b><%=obs.observacao %> -
                                         Data:  <%  if !obs.data.nil?  %>
                                        <%=  obs.data.strftime("%d/%m/%Y")%><br/>
                                     </td>
                                     <td  style="border-color: #F5F5F5" width ="5%" align="center" class="visualiza"><%if (!nota.matricula.status =="MATRICULADO" and  nota.matricula.status == 'TRANSFERIDO' )%>
                                                                      <font color ="red"> -----
                                                                  <%else%>
                                                                       <%= link_to  image_tag('/stylesheets/images/excluir.png', :title => 'Excluir'), {:controller =>"observacao_notas", :action => "destroy", :id =>obs}, :confirm => 'Tem certeza?',:method => "delete", :title => "Deletar"%>
                                                                  <%end%>
                                    <td bgcolor="#F5F5F5" width ="8%"></td>
                                  </tr>
                               <%end%>
                              <%end%>
                            </table>

                        </td>
                     </tr>
               <%end%>
              <% cont1=cont1+1 %>
           <%end%>
          </table>
        </div></td>
          </tr>
       </table>

            <%else%>
              <br/>
              <table  width="100%">
                    <tr>
                      <td align="center"><font size="3" color="red"><b> NÃO SELECIONADO ou NÃO ENCONTRADO </b> </td>
                    </tr>
              </table>
           <%end%>



        </fieldset>
      <% end %>

       <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>


    </tr>
  </table>

  <br/>
</font>
    