<div id="interno2">
<% title "CONSULTA_CLASSE".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CLASSE</strong></font><br/>
     <%session[:flag_edit_atribuicao]=0%>
 </div>
    <div class="tabs">
    <% form_remote_tag :url => lancar_notas_alunos_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
      <fieldset>
       <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td colspan="3"align="left"><font size="2"> <b class="label_busca3">Professor:</b></font>
               &nbsp&nbsp&nbsp<%= collection_select :professor, :id, @professors1, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
        </tr>
          <tr>
            <td colspan="2"align="left"><font size="2"> <b class="label_busca3">Classe:</b></font>
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= collection_select :classe, :id, @classes, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %> <br/>
              <b class="label_busca3">Disciplina:</b></font>
               &nbsp&nbsp<%= select_tag :disciplina, options_for_select(@disciplinas1.collect { |ff| [ff.disciplina, ff.disciplina] }.insert(0, '--Selecionar--')) %></td>
            <td align="right"> <%= submit_tag "Visualizar", :class => "btn_filtrar" %></td>
          </tr>
       </table>
       </fieldset>
      <fieldset>
        <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
          <tr>
            <td>
                <div id="notas""><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
              <br/>
            </td>
          </tr>
       </table>
          <% end %>

      </fieldset>

       <br/>
   <table>
    <tr>
      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo'))%>
                    <td width =" 10%"><%= button_to 'LANÇAMENTO NOTAS', lancamentos_notas_notas_path %></td>
      <%end%>
      <% if (('professor_fundamental'))%>
                     <td width =" 10%"><%= button_to "LANÇAMENTOS NOTAS",lancar_notas_notas_path %></td>

      <%end%>


      
     <td ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>


    </tr>
  </table>
 </div>



</div>

<br/>
</div>
