</div><div id="interno4">
<% title "NOTAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LANÇAMENTOS NOTAS/FALTAS HISTÓRICO</strong></font><br/>
 </div>
      <div class="tabs">
          <% form_for (@nota) do |f| %>
           <%= f.error_messages %>
            <fieldset><legend><font size=4>Notas & Faltas</font></legend>
              <% @disciplinasN = Disciplina.find(:all, :conditions => ["tipo_un = 3"], :order=>"disciplina ASC") %>
              <table width="100%">
                  <%if session[:cont_nome] = 1 %>
                         <tr bgcolor="#F5F5F5">
                           <td width =" 12%"><b>Aluno:</b></td>
                           <td><%= session[:aluno_nome]%>  </td>
                        </tr>
                 <%else%>
                         <tr bgcolor="#F5F5F5">
                           <td width =" 12%"><b>Aluno:</b></td>
                           <td><%= f.collection_select :aluno_id, @alunos, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %></td>
                        </tr>
                 <%end%>
                 <tr bgcolor="#F5F5F5">
                   <td width =" 12%"><b>Disciplina:</b></td>
                   <td><%= f.collection_select :disciplina_id, @disciplinasN, :id, :disciplina, :include_blank => ' -- Selecione -- ' %>
                   </td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td width =" 13%"><b>Ano Letivo:</b></td>
                   <td><%= f.select :ano_letivo , options_for_select(@ano_letivo.insert(0, '---')) %>
                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Nota:</b>
                       <%= f.select :nota5 , options_for_select(@NOTASB1.insert(0, @nota.nota5)) %>
                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                       <b>Faltas:</b>&nbsp&nbsp<%= f.text_field :faltas5 , :size => '3'%>
                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                       <b>Série:</b>&nbsp&nbsp<%= f.select :classe, options_for_select(@serie.insert(0, '---')) %> º Ano

                        <%= observe_field 'nota_classe',
                           :update => "oki",
                           :url    => { :action => 'botao' },
                           :with   => 'nota_ano_letivo' %>

                   </td>
                </tr>

               </table>
  
            </fieldset>
                 <table width="100%" >
                   <tr bgcolor="#F5F5F5">
                     <td width="90%"align="left"><b><div id='oki'> Selecione a ANO LETIVO e a SÉRIE para habilitar o botão SALVAR </div></b></td>

          <%end%>

                     <td align="right"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   </tr>
                 </table>
            </font>
    </div>
</div>
<br/>


