<div id="interno4">
<% title "NOTAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LANÇAMENTOS NOTAS/FALTAS HISTÓRICO</strong></font><br/>
 </div>
      <div class="tabs">
          <% form_for (@nota) do |f| %>
           <%= f.error_messages %>
            <fieldset><legend><font size=4>Notas & Faltas</font></legend>
              <% @disciplinasN = Disciplina.find(:all, :conditions => ["tipo_un = 3"], :order=>"disciplina ASC") %>
              <% @serie=ObservacaoHistorico.find(:all, :select => 'id, classe, ano_letivo, CONCAT(classe,"º série (",ano_letivo,")") as cl_ano', :conditions => ["aluno_id=? AND classe IS NOT NULL", session[:aluno_id]], :order => 'classe') %>
              <table width="100%">
                  <%if session[:cont_nome] = 1 %>
                         <tr bgcolor="#F5F5F5">
                           <td width =" 12%"><b>Aluno:</b></td>
                           <td><%= session[:aluno_nome]%>  </td>
                        </tr>
                 <%else%>
                         <tr bgcolor="#F5F5F5">
                           <td width =" 12%"><b>Aluno:</b></td>
                           <td><%= f.collection_select :aluno_id, @alunos, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %></td>
                        </tr>
                 <%end%>
                 <tr bgcolor="#F5F5F5">
                   <td width ="12%"><b>Disciplina:</b></td>
                   <td><%= f.collection_select :disciplina_id, @disciplinasN, :id, :disciplina, :include_blank => ' -- Selecione -- ' %></td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td colspan="2" align="center">
                       <b>Série:</b>&nbsp
                       <%=f.collection_select :classe, @serie, :id, :cl_ano, :include_blank => '--- Selecione ---'  %>
                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                       <%#=select_tag :classe, options_for_select(@serie.collect {|ff| [((ff.classe).to_s+'° série ('+(ff.ano_letivo).to_s+')'), ff.classe]}.insert(0, "--Selecionar--"))%>
                       <%@NOTASH = ["SN","10.0","9.5","9.0","8.5","8.0","7.5","7.0","6.5","6.0","5.5","5.0","4.5","4.0","3.5","3.0","2.5","2.0","1.5","1.0","0.5","0.0","A","B","C","D","E","TR","RM","F","NF","ABN"]%>
                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Nota:</b>
                       <%= f.select :nota5 , options_for_select(@NOTASH.insert(0, '---')) %>
                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                       <b>Faltas:</b>&nbsp&nbsp<%=f.text_field :faltas5 , :size => '3'%>

                       <%= observe_field 'nota_classe',
                           :update => "oki",
                           :url    => { :action => 'botao' },
                           :with   => 'nota_ano_letivo' %>
                   </td>
                </tr>

               </table>
  
            </fieldset>
                 <table width="100%" >
                   <tr bgcolor="#F5F5F5">
                     <td width="90%"align="left"><b><div id='oki'> Selecione a ANO LETIVO e a SÉRIE para habilitar o botão SALVAR </div></b></td>

          <%end%>

                     <td align="right"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   </tr>
                 </table>
            </font>
    </div>
</div>
</div>
<br/>


