</div><div id="interno4">
<% title "NOTAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LANÇAMENTOS NOTAS/FALTAS HISTÓRICO</strong></font><br/>
 </div>
      <div class="tabs">
          <% form_for (@nota) do |f| %>
           <%= f.error_messages %>
            <fieldset><legend><font size=4>Notas & Faltas</font></legend>
              <table width="100%">
                 <tr bgcolor="#F5F5F5">
                   <td width =" 12%"><b>Aluno:</b></td>
                   <td><%= f.collection_select :aluno_id, @alunos, :id, :aluno_nome,{:selected => session[:aluno_id]} %></td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td width =" 12%"><b>Disciplina:</b></td>
                   <td><%= f.collection_select :disciplina_id, @disciplinas, :id, :disciplina, {:selected => session[:disciplina_id]}  %>

                   </td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                    <td width =" 13%"><b>Ano Letivo:</b></td>
                   <td><%= session[:ano_letivo]%>
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Nota:</b>
                        <%= f.select :nota5 , options_for_select(@NOTASB1.insert(0, @nota.nota5)) %>
                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                       <b>Faltas:</b>&nbsp&nbsp<%= f.text_field :faltas5 , :size => '3'%>
                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                       <b>Série:</b>&nbsp&nbsp<%= session[:classe]%> º Ano
                   </td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td width =" 12%"><b>Escola:</b></td>
                   <td><%= session[:escola]%> </td>
                 </tr>

               </table>

            </fieldset>
                 <table width="100%" >
                   <tr bgcolor="#F5F5F5">
                     <td width="4%"align="left"><b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>

          <%end%>

                       <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   </tr>
                 </table>
            </font>
    </div>
</div>
<br/>
</div>

