<div id="interno3">
<% title "ATRIBUICAO" %>
  <div class ="tabs">


  <fieldset><legend><font size=4>LANÇAMENTOS NOTAS/FALTAS HISTÓRICO</font></legend>
    <table width="100%">
       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>RA:</b></td>
         <td><%= @nota.aluno.aluno_ra  %></td>
         <td width =" 12%"><b>Aluno:</b></td>
         <td><%= @nota.aluno.aluno_nome %></td>
      </tr>

       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>Unidade:</b></td>
         <td colspan="3" ><%= @nota.aluno.unidade.nome %></td>
       </tr>
       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>Periodo:</b></td>
         <td><%= session[:periodo]%> </td>
         <td width =" 12%"><b>Disciplina:</b></td>
         <td> <%= session[:disciplina]%></td>

       </tr>
       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>Professor:</b></td>
         <td colspan="3"> <%= session[:professor]%></td>
      </tr>
       <tr bgcolor="#F5F5F5">
         
           <td width =" 12%"><b>Lançamentos:</b></td>
           <td colspan="3"><b>Nota:</b>&nbsp&nbsp<%= @nota.nota5%>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
             <b>Faltas:</b>&nbsp&nbsp<%= @nota.faltas5 %>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
             <b>Turma:</b>&nbsp&nbsp<%= @nota.classe %> º Ano
         </td>
      </tr>
    </table>
  </fieldset>
  <table width="100%" >
         <tr>
            
            <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>

         </tr>
       </table>

</div>
<br/><br/>

