<div id="interno4">
<% title "TRANSFERENCIA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>REMOÇÂO</strong></font><br/>
 </div>
    <div class="tabs">
            <% form_for (@classes_aluno) do |f| %>
             <%= f.error_messages %>
              <font  size="2">
                <br/>
                <table width="100%" align="center" bgcolor="#F5F5F5">
                    <tr>
                       <td width ="19%"><b>Aluno: </b>&nbsp&nbsp&nbsp<%= f.collection_select :aluno_id, @alunos, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %> </td>
                    </tr>
                    <div id="classe_anterior">
                       <tr>
                         <td> <b>Classe anterior:</b>&nbsp&nbsp&nbsp       </td>
                       </tr>
                    </div>
                    <tr>
                      <td width ="19%"><b>Classe atual: </b>&nbsp&nbsp&nbsp<%= f.collection_select :classe_id, @classes, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %></td>
                    </tr>


                    <tr> <td></td> </tr>
                  </table>
                   <table width="100%" >
                     <tr> <td> <br/></td> </tr>
                     <tr>
                        <td width="4%"align="left"><%= f.submit 'Salvar' %></td>
            <%end%>
                        <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                     </tr>
                   </table>

  </font>





       <br/>

 </div>
