<%@classe.each do |classe| %>
    <table border="1" cellspacing="0" cellpadding="1" width="100%">
        <tr>
            <td rowspan="2"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
            <td><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
                <center><font size="1">Unidade Escolar:  <%=h classe.unidade.nome %>  </font></center>
                <center><font size="1"><%=h classe.unidade.endereco%>, <%=h classe.unidade.num%> - Americana - SP  </font>
                    <font size="1"><%=h classe.unidade.CEP%> - <%=h classe.unidade.fone%>  </font></center>
                <%  session[:classe]=  classe.id%>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right"><font size="2"><b>REGISTRO E CONTROLE DE FREQUÊNCIA - EDUCAÇÃO INFANTIL &nbsp&nbsp&nbsp&nbsp</b></font> </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
    </table>
    <table border="1" cellspacing="0" cellpadding="1" width="100%">
       <tr >
             <td colspan="2"> </td>
            <td width=" 10%" colspan="2" align="center"><b>1º Bimestre</b></td>
            <td width=" 10%"colspan="2" align="center"><b>2º Bimestre</b></td>
            <td width=" 10%" colspan="2" align="center"><b>3º Bimestre</b></td>
            <td width=" 10%" colspan="2" align="center"><b>4º Bimestre</b></td>
            <td width=" 10%" colspan="2" align="center"><b>FINAL</b></td>
       </tr>
        <tr >
            <td align="center" width="2%"><b>Nº: </b> </td>
            <td align="center" width="48%"><b> Nome: </b> </td>
            <td width ="5%" align="center" ><font size="1"><b>Faltas*</b></font></td>
            <td width ="5%" align="center"><font size="1"><b>Freq.</b></font></td>
            <td width ="5%" align="center" ><font size="1"><b>Faltas*</b></font></td>
            <td width ="5%" align="center"><font size="1"><b>Freq.</b></font></td>
            <td width ="5%" align="center" ><font size="1"><b>Faltas*</b></font></td>
            <td width ="5%" align="center"><font size="1"><b>Freq.</b></font></td>
            <td width ="5%" align="center" ><font size="1"><b>Faltas*</b></font></td>
            <td width ="5%" align="center"><font size="1"><b>Freq.</b></font></td>
            <td width ="5%" align="center" ><font size="1"><b>Faltas*</b></font></td>
            <td width ="5%" align="center"><font size="1"><b>Freq.</b></font></td>

       </tr>
       <%@faltas_alu.each do |faltas_alu|%>
       <tr>
           <td align="center"><%= faltas_alu.classe_num %></td>
           <td align="left" width="10%"><b><%= truncate(faltas_alu.aluno.aluno_nome,:length => 40,:omission => "...") %></b>
               <%if faltas_alu.status == "MATRICULADO"%>
                         <!-- No caso de matriculado, não imprime o status, pois é o status padrão -->
                <%else%>
                     <%if faltas_alu.status=="TRANSFERENCIA"%>
                          <font color="blue"> (<%=  faltas_alu.status %>)</font>
                     <%else%>
                            <%if faltas_alu.status=="REMANEJADO" or faltas_alu.status=="*REMANEJADO"%>
                                <font color="green"> (<%= faltas_alu.status %>)</font>
                            <%else%>
                                 <font color="red"> (<%= faltas_alu.status %>)</font>
                            <%end%>
                      <%end%>
              <%end%> 
          </td>
          <td align="center"><%= faltas_alu.faltas1 %></td>
          <td align="center"><%= faltas_alu.freq1 %>%</td>
          <td align="center"><%= faltas_alu.faltas2 %></td>
          <td align="center"><%= faltas_alu.freq2 %>%</td>
          <td align="center"><%= faltas_alu.faltas3 %></td>
          <td align="center"><%= faltas_alu.freq3 %>%</td>
          <td align="center"><%= faltas_alu.faltas4 %></td>
          <td align="center"><%= faltas_alu.freq4 %>%</td>
          <td align="center"><%= faltas_alu.faltas5 %></td>
          <td align="center"><%= faltas_alu.freq5 %>%</td>
       </tr>
       <%end%>
    </table>
<%end%>


