
    <%  if (current_user.unidade_id == 98 or current_user.unidade_id == 99 ) then %>  <!--  alterar  99 para 52 e 98 para 53-->
      <% @professors1 = Professor.find(:all,:conditions => 'desligado = 0', :order => 'matricula ASC')%>
      <% @classes = Classe.find(:all, :order => 'classe_classe ASC')%>
    <% else  if  current_user.has_role?('direcao_infantil') or current_user.has_role?('SEDUC') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('supervisao') then %>
                  <% @professors1 = Professor.find(:all,:conditions => ['desligado = 0 AND unidade_id=?',current_user.unidade_id ] , :order => 'matricula ASC')%>
                  <% @classes = Classe.find(:all, :conditions => ['unidade_id = ? and classe_ano_letivo = ? ', current_user.unidade_id, Time.now.year  ], :order => 'classe_classe ASC') %>

             <%else%>
                  <% @professors1 = Professor.find(:all,:conditions => ['desligado = 0 AND id=?',current_user.professor_id ] , :order => 'matricula ASC')%>
                  <% @classes = Classe.find(:all, :conditions => ['unidade_id = ? and classe_ano_letivo = ? ', current_user.unidade_id, Time.now.year  ], :order => 'classe_classe ASC') %>
              <% end %>
    <% end %>


<div id="interno2">
<% title "CONSULTA_CLASSE".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>EDITAR LANÇAMENTOS DE FALTAS</strong></font><br/>
     <%session[:flag_edit_atribuicao]=0%>
 </div>
    <div class="tabs">
    <% form_remote_tag :url => lancar_faltas_editar_infantil_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
      <fieldset>
          <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td colspan="3"align="left"><font size="2"> <b class="label_busca3">Classe:</b></font>
               &nbsp&nbsp&nbsp<%= collection_select :classe_classe, :id, @classes, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %></td>
                                 <%= observe_field 'classe_id',
                          :with => :classe_id,
                          :url => { :action => 'professor_classe_professor' },
                          :update => "professor_classe" %>
          </tr>
        <tr>    
          <td  colspan="2"align="left"><div id="professor_classe"> </div>    </td>
          <td align="right"> <%= submit_tag "Visualizar", :class => "btn_filtrar" %></td>
        </tr>

       </table>
       </fieldset>
      <fieldset>
        <table  cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
          <tr>
            <td>
                <div id="faltas""><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
              <br/>
            </td>
          </tr>
       </table>
          <% end %>

      </fieldset>

       <br/>
   <table>
    <tr>
     
     <td ><%= button_to 'Fechar', home_path, {:method => "get"}  %>     <%session[:faltas_up]= 1%></td>


    </tr>
  </table>
 </div>



</div>

<br/>
</div>
