<p>
  <b>Aluno:</b>
  <%=h @falta.aluno_id %>
</p>

<p>
  <b>Matricula:</b>
  <%=h @falta.matricula_id %>
</p>

<p>
  <b>Atribuicao:</b>
  <%=h @falta.atribuicao_id %>
</p>

<p>
  <b>Professor:</b>
  <%=h @falta.professor_id %>
</p>

<p>
  <b>Unidade:</b>
  <%=h @falta.unidade_id %>
</p>

<p>
  <b>Classe:</b>
  <%=h @falta.classe %>
</p>

<p>
  <b>Ano letivo:</b>
  <%=h @falta.ano_letivo %>
</p>

<p>
  <b>Faltas1:</b>
  <%=h @falta.faltas1 %>
</p>

<p>
  <b>Aulas1:</b>
  <%=h @falta.aulas1 %>
</p>

<p>
  <b>Freq1:</b>
  <%=h @falta.freq1 %>
</p>

<p>
  <b>Faltas2:</b>
  <%=h @falta.faltas2 %>
</p>

<p>
  <b>Aulas2:</b>
  <%=h @falta.aulas2 %>
</p>

<p>
  <b>Freq2:</b>
  <%=h @falta.freq2 %>
</p>

<p>
  <b>Faltas3:</b>
  <%=h @falta.faltas3 %>
</p>

<p>
  <b>Aulas3:</b>
  <%=h @falta.aulas3 %>
</p>

<p>
  <b>Freq3:</b>
  <%=h @falta.freq3 %>
</p>

<p>
  <b>Faltas4:</b>
  <%=h @falta.faltas4 %>
</p>

<p>
  <b>Aulas4:</b>
  <%=h @falta.aulas4 %>
</p>

<p>
  <b>Freq4:</b>
  <%=h @falta.freq4 %>
</p>

<p>
  <b>Faltas5:</b>
  <%=h @falta.faltas5 %>
</p>

<p>
  <b>Aulas5:</b>
  <%=h @falta.aulas5 %>
</p>

<p>
  <b>Freq5:</b>
  <%=h @falta.freq5 %>
</p>

<p>
  <b>Obs:</b>
  <%=h @falta.obs %>
</p>

<p>
  <b>Ativo:</b>
  <%=h @falta.ativo %>
</p>


<%= link_to 'Edit', edit_falta_path(@falta) %> |
<%= link_to 'Back', faltas_path %>