

<% if !@conteudos.empty?%>
 <table border="1" cellspacing="0" cellpadding="1" width="100%" >
        <tr bgcolor="#DCDCDC" >
            <td width =" 3%"> <b>&nbsp&nbsp&nbsp Classe</b></td>
            <td width =" 10%"><b>&nbsp&nbsp&nbsp Disciplina</b></td>
            <td><b>&nbsp&nbsp&nbsp Professor</b></td>
            <td width ="50%"><b>&nbsp&nbsp&nbsp Conteúdo</b></td>
            <td width =" 8%"> <b>&nbsp&nbsp&nbsp Data </b></td>
            <!-- <td align="center"width =" 5%"> <b>Validação</b></td>-->
           <td width =" 5%"> </td>
        </tr>
         <% for conteudo in @conteudos %>
         <tr bgcolor="#F5F5F5" >
            <td align="left">&nbsp <%if !conteudo.classe_id.nil? %>
                                     <%= conteudo.classe.classe_classe%>
                                    <%else%>
                                      <%if conteudo.unidade_id == 52%>
                                         SEDUC
                                      <%else%>
                                         MQA
                                      <%end%>
                                    <%end%>
              </td>
            <td align="left">&nbsp <%if !conteudo.disciplina_id.nil? %>
                                     <%= conteudo.disciplina.disciplina%>
                                     <%else%>
                                      <%= conteudo.professor.obs_interno %>
                                    <%end%>
            </td>
            <td align="left">&nbsp <%= conteudo.professor.nome%> </td>
            <td align="left">&nbsp <%= conteudo.conteudo%> </td>
            <td align="center"> <%= conteudo.inicio.strftime("%d/%m/%Y") %> </td>
            <!--<td align="center">&nbsp <%#if conteudo.validacao == 1%> <font color="blue"> VALIDADO </font> <%#else%> <font color="red"> AGUARDANDO </font><%#end%> </td>-->
           <td align="center">   <%=  button_to 'Editar', {:controller => "conteudoprogramaticos", :action => "edit", :id =>conteudo}, :method => "get", :title => "Editar"%> 
                                 <%= button_to'Excluir', { :controller => "conteudoprogramaticos", :action => "destroy", :id =>conteudo}, :confirm => 'Confirma exclusão?', :method => "delete", :title => "Deletar"%>
                                <%= button_to('Visualizar', {:action => "show", :id =>conteudo},:method => "get", :title => "Visualizar") %></td>


         </tr>
         <%end%>
    </table>
<%else%>
<table border="1" cellspacing="0" cellpadding="1" width="100%" >
        <tr bgcolor="#DCDCDC" >
            <td ><br/><font size="4" color="red"> NÃO EXISTE LANÇAMENTOS PARA ESTA CLASSE <br/></td>

        </tr>
    </table>

<%end%>
