<h1>Editing conteudoprogramatico</h1>

<% form_for(@conteudoprogramatico) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :classe %><br />
    <%= f.text_field :classe %>
  </p>
  <p>
    <%= f.label :professor %><br />
    <%= f.text_field :professor %>
  </p>
  <p>
    <%= f.label :atribuicao %><br />
    <%= f.text_field :atribuicao %>
  </p>
  <p>
    <%= f.label :disciplina %><br />
    <%= f.text_field :disciplina %>
  </p>
  <p>
    <%= f.label :unidade %><br />
    <%= f.text_field :unidade %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :conteudo %><br />
    <%= f.text_field :conteudo %>
  </p>
  <p>
    <%= f.label :ano_letivo %><br />
    <%= f.text_field :ano_letivo %>
  </p>
  <p>
    <%= f.label :inicio %><br />
    <%= f.date_select :inicio %>
  </p>
  <p>
    <%= f.label :fim %><br />
    <%= f.date_select :fim %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @conteudoprogramatico %> |
<%= link_to 'Back', conteudoprogramaticos_path %>