




<div id="interno2">
<% title "RELATORIO" %>
<div class ="tabs">
<%if @conteudoprogramatico.present?%>
      <!--<%session[:imprimir_todos]=1%>-->

        <fieldset><legend><font  size=3><b> CONTEÚDO MINISTRADO
              </b></font></legend>
              <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                <tr bgcolor="#F5F5F5" style="border-color: white">
                  <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
                  <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                      <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
                      <%if !@conteudoprogramatico.atribuicao_id.nil?%><center><font size="2"> Unidade Escolar: <%=h @conteudoprogramatico.unidade.nome %> </i></b><br/></center><%end%>
                      <center><font size="2"><b><u>CONTEÚDO MINISTRADO</u></b></font></center>
                  </td>
                </tr>
               </table>
            <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
              <%cont = 0%>


                 <tr bgcolor="#F5F5F5">
                   <%if !@conteudoprogramatico.atribuicao_id.nil?%>
                       <td width=5%" align="center"><b>Classe:</b></td>
                       <td width=10% > <%=h @conteudoprogramatico.atribuicao.classe.classe_classe %> <%if !@conteudoprogramatico.disciplina_id.nil?%> - <%=h @conteudoprogramatico.atribuicao.classe.classe_ano_letivo %><%end%></td>
                       <td width=10%" align="center"><b>Unidade:</b></td>
                       <td width=20%> <%=h @conteudoprogramatico.unidade.nome %></td>
                       <td width=8%" align="center"><b>Período:</b></td>
                       <td colspan="3"> Datae <%=h @conteudoprogramatico.inicio.strftime("%d/%m/%Y") %></td>

                   <%else%>
                       <td width=5%" align="center"><b>Classe:</b></td>
                       <td width=10%  align="center"> ----- </td>
                       <td width=10%" align="center"><b>Unidade:</b></td>
                       <td width=20%> <%=h @conteudoprogramatico.professor.nome %></td>
                       <td width=8%" align="center"><b>Período:</b></td>
                       <td colspan="3"> Data <%=h @conteudoprogramatico.inicio.strftime("%d/%m/%Y") %> </td>
                  <%end%>
                </tr>

                 <tr bgcolor="#F5F5F5">
                   <td></td>
                   <td align="left" valign="top"><b>Conteúdo:</b></td>
                   <td colspan="4"> <%=   @conteudoprogramatico.conteudo.gsub("\n","<br/>\n") %></td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td></td>
                   <td align="left" valign="top"><b>Obs:</b></td>
                   <td colspan="4"> <%=   @conteudoprogramaticoobs%></td>
                </tr>

                <tr bgcolor="#DCDCDC">
                   <td></td>
                   <td align="left" valign="top"><b>Professor:</b></td>
                   <td colspan="4"> <%=   @conteudoprogramatico.professor.nome%> &nbsp - &nbsp <%if !@conteudoprogramatico.disciplina_id.nil?%>
                                                                                         <%=  @conteudoprogramatico.disciplina.disciplina %>
                                                                                   <%else%>
                                                                                            <%= @conteudoprogramatico.professor.funcao2 %>
                                                                                   <%end%>
                   </td>
                </tr>
               <tr bgcolor="#C1C1C1" >
                  <td colspan="6"><font color="red" size=""><b><u> ATENÇÃO: </u> 1) Este lançamento só pode ser editado e alterado até às 23:59 do dia que foi feito.<br/>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2) Após este data e hora somente o gestor ou pedagogo da unidade poderão fazer alterações.
                        </td>
                </tr>
                <%cont = cont + 1%>
            <%end%>
                <%if !@conteudos_classe.nil?%>
                 <%if  (@conteudos_classe.classe.classe_classe !='PEDAGOGO' and @conteudos_classe.classe.classe_classe !='COORDENACAO' and @conteudos_classe[0].classe.classe_classe !='SUPERVISAO' and @conteudos_classe.classe.classe_classe !='DIRECAO FUNDAMENTAL' and @conteudos_classe.classe.classe_classe !='DIRECAO INFANTIL') or !@conteudos_classe.nil? %>
                     <tr bgcolor="#F5F5F5">
                       <td colspan="2" align="center" valign="top">Total Lançamentos: <%= cont%></td>
                       <td colspan="3" > <u>Profissionais:</u><% contP = 0%><br/>
                                            <% for professor in @conteudos_professor %>
                                               &nbsp&nbsp <%= contP+1%>) <%= professor.professor.nome %><% contP = contP +1 %> <br/>
                                          <%end%>
                                              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp TOTAL: <%=contP%> <% if contP == 1%> profissionai <%else%> profissionais  <%end%>

                       </td>

                       <td colspan="2" valign="top" > <u>Classes:</u><% contC = 0%><br/>
                                            <% for classe in @conteudos_classe %>
                                               &nbsp&nbsp <%= contC+1%>) <%= classe.classe.classe_classe %> &nbsp - &nbsp <%= classe.classe.horario %><% contC = contC +1 %> <br/>
                                          <%end%>
                                              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp TOTAL: <%=contC%> <% if contC == 1%> Classe <%else%> classes  <%end%>
                       </td>
                     </tr>
                 <%else%>
                    <tr bgcolor="#F5F5F5">
                       <td colspan="2" align="center" valign="top">Total Lançamentos: <%= cont%></td>
                       <td colspan="4" > <% contP = 0%>
                                            <% for professor in @conteudos_professor %>
                                               &nbsp&nbsp <%= contP+1%>) <%= professor.professor.nome %><% contP = contP +1 %> <br/>
                                          <%end%>
                                              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp TOTAL: <%=contP%> <% if contP == 1%> profissional <%else%> profissionais  <%end%>

                       </td>

                     </tr>

                 <%end%>

             </table>
           </fieldset>



              <br/>
              <%t=0%>
              <table  width="100%">
                    <tr>
                      <td align="center"><font size="3" color="red"><b> LANÇAMENTO DE CONTEÚDO NÃO ENCONTRADO </b> </td>
                    </tr>
              </table>
         <%end%>

  <table width="100%" >
         <tr>
            <td width="8%"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
            
             <td colspan="10"align="left" ><%#= button_to 'Imprimir', {:controller =>"relatorios", :action => "impressao_fapea", :id =>@relatorio}, :title => "Imprimir esta FAPEA"%></b></td>
               </tr>


         <br/>
  </table>



</div>
<br/>
</div>


