        <% form_for @familiare, :html => { :multipart => true } do |f| %>
         <%= f.error_messages %>
          <font  size="2">
            <table width="100%" align="center" bgcolor="#F5F5F5">
             <tr>
               <td colspan="3" > <h3>FAMILIARES OU PESSOAS QUE MORAM NA MESMA RESIDÊNCIA</h3></td>
             </tr>
             <tr>
                 <td colspan="3"><b>Nome: </b> <%= f.text_field :nome, :size => "100" %></td>
            </tr>
             <tr>
                 <td align="left" ><font  size="3" color ="red"><b>*</b></font><b> Estado Civil:</b><%= f.select :estado_civil, Familiare::CIVIL%> </td>
                 <td align="right" ><font  size="3" color ="red"><b>*</b></font><b> Parentesco: </b><%= f.select :parentesco, Familiare::PARENTESCO%></td>
                 <td align="center"> <b>Data Nascimento: </b><%= f.date_select(:nascimento, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 100)) %>  </td>
               </tr>

                 <tr>
                   <td colspan="3"><font  size="3" color ="red"><b>*</b></font>
                     <b>Funcionario: </b><%= collection_select :funcionario, :funcionario_id, @funcionarios, :id, :nome, :include_blank => ' --- Selecionar ---'  %></td>
                 </tr>
              </table>
                  <font  size="2" color ="red"><b>Campos com * preenchimento obrigatório</b></font>
              <fieldset>
               <table width="100%" >
                 <tr>
                    <td width="4%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), home_path, :title => "Voltar" %></td>
                    <td width="4%"><input type="image" src="/stylesheets/images/salvar.PNG" title="Gravar"></td>
                    <td width="5%"><%= link_to image_tag("/stylesheets/images/consulta.png", :size =>"35x35"), familiares_path,  :title => "Consultar" %></td>
                    <td></td>
                 </tr>
               </table>
             </fieldset>
          </font>
        <%end%>