<div id="interno2">
<% title "EMPRESA PARCEIRA" %>
<div class ="tabs">
       <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC"  width="100%">
         <td>
           <fieldset><legend><font  size=3><b> Dados do Familiar</b></font></legend>
           <table  width="100%">
              <tr bgcolor="#F5F5F5">
              <% if (@familiare.funcionario_id == nil)  %>
                  <td width="14%"><strong>Funcionário:</strong></td>
                  <td align="left">Não Cadastrado</td>
                <%else%>
                   <td width="14%"><strong>Funcionário:</strong></td>
                   <td><%=h @familiare.funcionario.nome %></td>
                <%end%>
              </tr>
              <tr bgcolor="#F5F5F5">
              <% if (@familiare.funcionario_id == nil)  %>
                  <td><strong>Empresa</strong></td>
                  <td align="left">Não Cadastrado</td>
                <%else%>
                  <td><strong>Empresa</strong></td>
                  <td><%=h @familiare.funcionario.unidade.nome %>
                        <%if @familiare.funcionario.unidade.em_atividade == true then%>
                          ( <font color ="red "><b>INATIVO</b></font> )
                       <%else%>
                          ( <font color ="blue "><b>ATIVO</b></font> )
                       <%end%>
                  </td>
              <%end%>
            </tr>
           </table>
           <table  width="100%">
             <tr bgcolor="#F5F5F5"  width="100%">
             <td  width="14%"><strong>Nome: </strong></td>
             <td><%=h "#{@familiare.nome}" %></td>
            </tr>
            <tr bgcolor="#F5F5F5">
             <td><strong>Parentesco:</strong></td>
             <td><%=h @familiare.parentesco %></td>
            </tr>
            <tr bgcolor="#F5F5F5">
             <td><strong>Data Nascimento:</strong></td>
             <td><%=h @familiare.nascimento.strftime("%d de %B de %Y")%></td>
            </tr>
            <tr bgcolor="#F5F5F5">
             <td><strong>Estado Civil:</strong></td>
             <td><%=h @familiare.estado_civil %></td>
            </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left" width="15%"><b> Cadastrado em:</b></td>
                  <td align="left" colspan="3"><%=h  @familiare.created_at.strftime("%d de %B de %Y")%></td>
                </tr>
          </table>
         </fieldset>
        </td>
      </tr>
      </table>
       <table>
          <tr>
            <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
            <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/consulta.png", :size => "35x35"), familiares_path, :title => "Consultar Familiares" %></td>
            <% if current_user.has_role?('admin') or current_user.has_role?('escola') or current_user.has_role?('responsavel')%>
                <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_familiare_path(@familiare), :title => "Editar Familiar" %></td>
                <td><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "25x25"), @familiare, :confirm => 'Confirma Exclusão?', :method => :delete, :title => "Excluir Familiar" %></td>
              <%else%>
                <td align="center"> </td>
                <td align="center"> </td>

            <%end%>
          </tr>
        </table>
</div>
<br/>
</div>



