  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
            <th width="400">Nome</th>
            <th width="200">Apelido</th>
            <th width="10">Participante</th>
            <th width="300">Empresa</th>
            <th colspan="3">Administração</th>
        </tr>
         <%$t=0%>
         <%$t1=0%>
         <%$t2=0%>
            <% @funcionarios.each do |fun| %>
            <%$t = $t+1%>


            <tr bgcolor="#F5F5F5">
                   <%$t1 = $t1+1%>
                   <%$t2 = $t2+1%>
                <td align="left"><%=h fun.nome%></td>
                <td align="left"><%=h fun.apelido%></td>
                <td align="center" ><%=h  fun.participante%></td>
                <td align="left"><%=h  fun.unidade.nome%></td>
                <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), fun, :title => "Exibir Funcionário" %></td>
                <% if current_user.has_role?('admin') or current_user.has_role?('obreiro')%>
                    <td align="center"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "15x15"), edit_funcionario_path(fun), :title => "Editar Funcionário" %></td>
                <%else%>
                    <td align="center"> --- </td>
                <%end%>
                <% if current_user.has_role?('admin')%>
                    <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.png", :size => "15x15"), fun, :confirm => 'Confirma?', :method => :delete, :title => "Excluir Funcionário" %></td>
                <%else%>
                    <td align="center"> --- </td>
                <%end%>
              </tr>
            <% end %>

     </table>
  </div>