<div style='display:none'>
  <div id='inline_familiar' style='padding:10px; background:#EEE9E9;'>
    <center><u><h3>FAMILIARES OU PESSOAS QUE MORAM NA MESMA RESIDÊNCIA</h3></u> </center>
      <% form_remote_for(:familiare,:url => { :action => 'create_familiares' }, :success => "$.fn.colorbox.close();$('select').multiselect('refresh')") do |f|%>
      <%= error_messages_for 'contact' %>
    <h5>
        <table  width="100%" bgcolor="#F5F5F5">
          <tr>
            <td><b>Nome: </b> <%= f.text_field :nome, :size => "38" %></td>
         </tr>
         <tr>
           <td><b>Parentesco: </b>  <%= f.select :parentesco, Familiare::PARENTESCO   %>
               <b>Estado Civil:</b>  <%= f.select :estado_civil, Familiare::CIVIL   %>
           </td>
         </tr>
         <tr>
           <td>
              <b>Data Nascimento: </b><%= f.date_select(:nascimento, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 100)) %>
    
          </td>
         </tr>

         <tr>
           <td colspan="2" align="right"><%= f.submit "Salvar" %></td>
          </tr>
        </table>
      </h5>
      <%end%>
  </div>
</div>