  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
             <th width="450">Nome</th>
            <th width="10">Apelido</th>
            <th width="50">Participante</th>
            <th width="50">Fone</th>
            <th width="50">Celular</th>
            <th width="50">Empresa</th>
            <th width="10">Status</th>
            <th colspan="3">Administração</th>
        </tr>
         <%$t=0%>
         <%$t1=0%>
         <%$t2=0%>
         <%$t3=0%>
            <% @funcionarios.each do |funcionario| %>
            <%$t = $t+1%>
              <% if (funcionario.participante == 'SIM') %>
                <%$t2 = $t2+1%>
              <%end%>

            <tr bgcolor="#F5F5F5">
                <td align="left"><%=h funcionario.nome%></td>
                <td align="left"><%=h funcionario.apelido%></td>
                <td align="center"><%=h funcionario.participante%></td>
                <td align="left"><%=h  funcionario.fone%></td>
                <td align="left"><%=h  funcionario.cel%></td>
                <td align="left"><%=h  funcionario.unidade.nome%></td>
                <%if funcionario.unidade.em_atividade == true then%>
                   <td><font color ="red ">INATIVA</font></td>
                <%else%>
                   <td><font color ="blue ">ATIVA</font></td>
                   <%$t3 = $t3+1%>
                <%end%>
                <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), funcionario, :title => "Exibir Funcionário" %></td>
                <% if current_user.has_role?('admin') or current_user.has_role?('obreiro')%>
                    <td align="center"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "15x15"), edit_funcionario_path(funcionario), :title => "Editar Funcionario" %></td>
                <%else%>
                    <td align="center"> --- </td>
                <%end%>
                <% if current_user.has_role?('admin') or current_user.has_role?('obreiro')%>
                    <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "15x15"), funcionario, :confirm => 'Confirma?', :method => :delete, :title => "Excluir Funcionario" %></td>
                <%else%>
                    <td align="center"> --- </td>
                <%end%>
              </tr>
            <% end %>
     </table>
     <table bgcolor="#DCDCDC" width="100%">
      <tr >
          <td align="left"><b>TOTAL FUNCIONÁRIOS CADASTRADOS: </b>
            <font color ="red "size="2"><b><%=$t %></b></font>
          </td>
      </tr>
      <tr>
            <td align="left"><b>TOTAL FUNCIONÁRIOS PARTICIPANTES: </b>
            <font color ="red "size="2"><b><%=$t2 %></b></font>
          </td>
      </tr>
      <tr>
          <td align="left"><b>TOTAL EMPRESAS ATIVAS: </b>
            <font color ="red "size="2"><b><%=$t3 %></b></font>
          </td>
      </tr>
     </table>
  </div>
