<div id="interno2">
<% title "FUNCIONARIOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
  <font size="3"><strong>CADASTRO DE FUNCIONARIOS</strong></font><br/>
    </div>
      <div class="tabs">
       <% form_for @funcionario, :html => { :multipart => true } do |f| %>
       <%= f.error_messages %>
        <font  size="2">
          <fieldset><legend><font  size=3> Dados Funcionário</font></legend>
            <table width="100%" align="center"  bgcolor="#F5F5F5">
        <tr>
          <td colspan="2" > <b> Participante: </b><%= f.select :participante, Funcionario::PARTICIPANTE%></td>
        </tr>
        <tr>
          <td><b>Nome: </b><%= f.text_field :nome, :size => 42 %></td>
          <td><b> Apelido: </b> <%= f.text_field :apelido,:size => 42   %> </td>
        </tr>
        <tr>
          <td width="50%"><b>Data Nascimento: </b><%= f.date_select(:nascimento, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 80)) %></td>

          <td><b> Sexo: </b><%= f.select :sexo, Funcionario::SEXO   %>
              <b>Igreja:  </b><%= f.text_field :igreja, :size => 23 %></td>
        </tr>
        <tr>
          <td><b>Estado Civil: </b><%= f.select :estado_civil, Funcionario::CIVIL%></td>
          <td><b>Conjuge: </b><%= f.text_field :conjuge, :size =>42%></td>
        </tr>
        <tr>
          <td><b>Cidade: </b><%= f.text_field :cidade, :size =>27%> <b> CEP: </b><%= f.text_field :cep, :size =>7%></td>
          <td><b>Filhos: </b><%= f.text_field :filhos, :size =>44%></td>
        </tr>
        <tr>
          <td><b> Endereço: </b><%= f.text_field :endereco,:size =>39 %></td>
          <td><b>Nº </b><%= f.text_field :num, :size => 4 %>
               <b>Bairro: </b><%= f.text_field :bairro, :size =>35 %></td>
        </tr>
        <tr>
          <td><b>Fone: </b><%= f.text_field :fone, :size =>17%> <b> Celular: </b><%= f.text_field :cel, :size =>16%></td>
          <td><b>Complemento: </b><%= f.text_field :complemento, :size =>38%></td>
        </tr>
        <tr>
          <td><b>Escolaridade: </b><%= f.text_field :escolaridade, :size =>36%></td>
          <td><b>E_mail: </b><%= f.text_field :email, :size =>43%></td>
        </tr>

        <tr>
          <td><font  size="3" color ="red"><b>* </b></font><b> Empresa: </b><%= collection_select :funcionario, :unidade_id, @unidades, :id, :nome, :include_blank => ' --- Selecionar ---'  %></td>
          <td>  <b> Cargo: </b> <%= f.text_field :cargo, :size => 44  %></td>
        </tr>
              <tr>
                <td><font  size="3" color ="red"><b>* </b></font><b>Contratado em </b><%= f.date_select(:contratacao, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 80)) %></td>
                <td>
                  <font color="blue"<b>Desligado </b>SIM </font><%= f.check_box :em_atividade %>
                  <%= observe_field 'funcionario_em_atividade',
                    :with   => :funcionario_em_atividade,
                    :url    => { :action => 'data_demissao' },
                    :update => "data_demissao"%>
                <div id='data_demissao'></div></td>




              </tr>
              <tr>
                 <td colspan="2"><b><%= f.label :photo, "Foto" %></b><%= f.file_field :photo %>

                </td>
              </tr>
               <tr>
                 <td colspan="2"><b>Moradores: </b>
                 <div id="lista"  <% @funcionario.familiares.each do |fam| %>
                     <b>-</b> <%="#{fam.nome}" %><br/>
                   <%end%>
                 </div>
                   <font size ="2"><b><i>Para alterar moradores utilizar a opção CADASTROS/CONSULTAR/FAMILIARES, selecionar o familiar e escolher opção desejada</i> </b></font)

                 </td>
               </tr>
              <tr >
                <td colspan="2"><b>Observações:</b><br/>
                   <%= f.text_area(:obs, :cols =>"101", :rows => "2") %>
                </td>
             </tr>

            </table>
            <font  size="2" color ="red"><b>Campos com * preenchimento obrigatório</b></font>
            <fieldset>
             <table width="100%" >
               <tr>
                  <td width="4%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), home_path, :title => "Voltar" %></td>
                  <td width="4%"><input type="image" src="/stylesheets/images/salvar.PNG" title="Gravar"></td>
                  <td width="5%"><%= link_to image_tag("/stylesheets/images/consulta.png", :size => "35x35"), funcionarios_path,  :title => "Consultar" %></td>
                  <td></td>
               </tr>
             </table>
            </fieldset>
          </fieldset>
        </font>
      <%end%>













      </div>
    </div>
<br/>
</div>