<div id="interno2">
<% title "FUNCIONÁRIO" %>
<div class ="tabs">
<font size="5"><strong><%=h "#{@funcionario.nome}" %></strong></font></br>
 <hr>
 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b> Dados do Funcionário</b></font></legend>
         <table width="100%">
           <tr bgcolor="#F5F5F5"  width="100%">
             <td valign="top"  width="10%" >
                 <%= image_tag @funcionario.photo.url(:small) %>
             </td>
             <td valign="top">
               <table  bgcolor="#DCDCDC" width="100%">
                <tr bgcolor="#F5F5F5">
                   <td align="left" width="4%"><b>Nome:</b></td>
                   <td colspan="3" align="left"><%=h @funcionario.nome %></td>
                </tr>
                <tr bgcolor="#F5F5F5" >
                   <td align="left"><b>Apelido:</b></td>
                   <td colspan="3" align="left"><%=h @funcionario.apelido %></td>
                </tr>
                <tr  bgcolor="#F5F5F5">
                   <td align="left" ><b>Sexo: </b></td>
                   <td align="left"  width="20%"><%=h @funcionario.sexo %></td>
                   <td align="left" width="3%"><b>Participante: </b></td>
                   <td align="left" > <font color="red"><%=h @funcionario.participante %></font></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                   <td align="left"><b>Nascimento:</b></td>
                   <td colspan="3"align="left">  <%=h @funcionario.nascimento.strftime("%d de %B de %Y") %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left"><b>Estado Civil:</b></td>
                  <td align="left"> <%=h @funcionario.estado_civil %></td>
                  <td align="left"><b>Conjuge:</b></td>
                  <td align="left"> <%=h @funcionario.conjuge %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left"><b>Filhos:</b></td>
                  <td colspan="3" align="left"> <%=h @funcionario.filhos %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left"><b>Igreja:</b></td>
                  <td colspan="3" align="left"> <%=h @funcionario.igreja %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Endereço:</b></td>
                  <td colspan="3" align="left"> <%=h @funcionario.endereco %> - <%=h @funcionario.num %></td>
  
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left" ><b> Bairro:</b></td>
                  <td align="left"><%=h @funcionario.bairro %></td>
                  <td align="left"><b> Cidade:</b></td>
                  <td align="left"><%=h @funcionario.cidade %>-<%=h @funcionario.cep %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                   <td align="left"><b> Complemento:</b></td>
                   <td colspan="3" align="left"><%=h @funcionario.complemento %></td>
                </tr>
                <tr  bgcolor="#F5F5F5">
                   <td align="left"><b>Fone:</b></td>
                   <td align="left"><%=h @funcionario.fone %></td>
                   <td align="left"><b>Celular</b></td>
                   <td align="left"><%=h @funcionario.cel %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                   <td align="left"><b> e_mail:</b></td>
                   <td align="left"  colspan="3"><%=h @funcionario.email %></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left" valign="top" colspan="2"><b>Moram na mesma residência:</b></td>
                  <td align="left"  colspan="3">
                   <% @funcionario.familiares.each do |fam| %>
                     <b>-</b> <%="#{fam.nome}"  %> (<%="#{fam.parentesco}"  %>)
                     <br/>
                   <%end%>
                 </td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Trabalho:</b></td>
                  <td align="left" colspan="3"><%=h  @funcionario.unidade.nome%>
                  <%if @funcionario.unidade.em_atividade == true then%>
                   - <font color ="red "><b>INATIVO</b></font>
                  <%else%>
                   - <font color ="blue "><b>ATIVO</b></font
                  <%end%>
                 </td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Cargo:</b></td>
                  <td align="left" colspan="3"><%=h  @funcionario.cargo%></td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Contratada em:</b></td>
                  <td align="left" colspan="3"><%=h  @funcionario.contratacao.strftime("%d de %B de %Y")%></td>
                </tr>
                <%if @funcionario.em_atividade == true %>
                 <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Demitido em:</b></td>
                  <td align="left" colspan="3"> <font color ="red "><%=h  @funcionario.demissao.strftime("%d de %B de %Y")%></td></font>
                </tr>
                <%else%>
                <%end%>
                <tr bgcolor="#F5F5F5">
                  <td align="left" width="15%"><b> Cadastrado em:</b></td>
                  <td align="left" colspan="3"><%=h  @funcionario.created_at.strftime("%d de %B de %Y")%></td>
                </tr>



                <tr bgcolor="#F5F5F5">
                  <td align="left"><b> Observações:</b></td>
                  <td align="left" colspan="3"><%=h  @funcionario.obs%></td>
                </tr>
             </table>
           </td>
        </tr>
      </table>
     </fieldset>
   </td>
  </tr>
 </table>

    <table width="100%">
        <tr>
            <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
            <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/consulta.png", :size => "35x35"), funcionarios_path, :title => "Consultar" %></td>
            <% if current_user.has_role?('admin') %>
                <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_funcionario_path(@funcionario), :title => "Editar Funiconairor" %></td>
                <td><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "25x25"), @funcionario, :confirm => 'Confirma Exclusão?', :method => :delete, :title => "Excluir Funcionario" %></td>
              <%else%>
                <td align="center"> </td>
                <td align="center"> </td>

            <%end%>
          </tr>
   </table>

</div>
<br/>
</div>


