<div id="interno11">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>REGISTRO INDIVIDUAL DE ALUNO</strong></font><br/>
 </div>
      <div class="tabs">

          <% form_for (@registro) do |f| %>
           <%= f.error_messages %>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

            <fieldset>
             <legend><font size=4></font></legend>
             <table width="100%" >
               <tr bgcolor="#F5F5F5">
                       <td colspan="4"><b>Aluno: </b> &nbsp <%= session[:aluno]%>
                                          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Classe:</b> &nbsp <%=  session[:classe]%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Período:</b> &nbsp <%=  session[:periodo]%><br/>
                                      <b> Professor:</b>  &nbsp <%=  session[:professor]%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Disciplina:</b> &nbsp <%=  session[:disciplina]%><br/>
                      </td>
                </tr>
               <tr bgcolor="#F5F5F5">
                  <td colspan="4"align="center">
                      <font color="green" size="3"><b><u>ATENÇÃO:</u> Faça o registro de forma sucinta.  </b>
                 </td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td width="10% "valign="top"><b>Registro: </b></td>
                   <td colspan="3">



  <%= f.text_area(:conteudo, :cols=> "96", :rows=>"10", :id=>"contador") %><br/>
<script>
        $(document).on("keydown", "#contador", function () {
            var caracteresRestantes = 1000  ;
            var caracteresDigitados = parseInt($(this).val().length);
            var caracteresRestantes = caracteresRestantes - caracteresDigitados;

            $(".caracteres").text(caracteresRestantes);

        });

</script>
  <b><span class="caracteres">1000</span> Caracteres Restantes </b>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"><font color="red" size=""><b><u> ATENÇÃO: </u> 1) Para digitar SOMENTE texto sem qualquer tipo formação.<br/>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2) Após SALVAR este lançamento, só poderá ser editado e alterado até às 23:59 da data que foi feito.<br/>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3) Após ás 23:59 somente o gestor ou pedagogo da unidade poderão fazer alterações.
                        </td>
                </tr>
              </table>
            </fieldset>
           <br/>
                 <table width="100%" >
                   <tr>
                     <td width="4%"align="left"><b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>
          <%end%>
                       <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                   </tr>
                 </table>
            </font>

    </div>
</div>
<br/>
<%session[:consultas]= 0%>
</div>

