<p>
  <b>Classe:</b>
  <%=h @registro.classe %>
</p>

<p>
  <b>Professor:</b>
  <%=h @registro.professor %>
</p>

<p>
  <b>Atribuicao:</b>
  <%=h @registro.atribuicao %>
</p>

<p>
  <b>Disciplina:</b>
  <%=h @registro.disciplina %>
</p>

<p>
  <b>Unidade:</b>
  <%=h @registro.unidade %>
</p>

<p>
  <b>User:</b>
  <%=h @registro.user %>
</p>

<p>
  <b>Conteudo:</b>
  <%=h @registro.conteudo %>
</p>

<p>
  <b>Ano letivo:</b>
  <%=h @registro.ano_letivo %>
</p>

<p>
  <b>Inicio:</b>
  <%=h @registro.inicio %>
</p>

<p>
  <b>Fim:</b>
  <%=h @registro.fim %>
</p>

<p>
  <b>Obs:</b>
  <%=h @registro.obs %>
</p>


<%= link_to 'Edit', edit_registro_path(@registro) %> |
<%= link_to 'Back', registros_path %>