<div id="interno2">
<% title "RELATORIO" %>
<div class ="tabs">
<%if @registro.present?%>
      <!--<%session[:imprimir_todos]=1%>-->

        <fieldset><legend><font  size=3><b>  REGISTRO INDIVIDUAL DE ALUNO
              </b></font></legend>
              <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                <tr bgcolor="#F5F5F5" style="border-color: white">
                  <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
                  <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                      <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
                      <%if !@registro.atribuicao_id.nil?%><center><font size="2"> Unidade Escolar: <%=h @registro.unidade.nome %> </i></b><br/></center><%end%>
                      <center><font size="2"><b><u>CONTEÚDO MINISTRADO</u></b></font></center>
                  </td>
                </tr>
               </table>
            <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
              <%cont = 0%>


                 <tr bgcolor="#F5F5F5">
                   <%#if !@registro.atribuicao_id.nil?%>
                       <td width=5%" align="center"><b>Classe:</b></td>
                       <td width=10% > <%=h @registro.classe.classe_classe %> <%if !@registro.disciplina_id.nil?%> - <%=h @registro.atribuicao.classe.classe_ano_letivo %><%end%></td>
                       <td width=10%" align="center"><b>Unidade:</b></td>
                       <td width=20%> <%=h @registro.unidade.nome %></td>
                       <td width=8%" align="center"><b>Data:</b></td>
                       <td colspan="3"> Datae <%=h @registro.inicio.strftime("%d/%m/%Y") %></td>

                   <%#else%>
                       <!--
                       <td width=5%" align="center"><b>Classe:</b></td>
                       <td width=10%  align="center"> ----- </td>
                       <td width=10%" align="center"><b>Unidade:</b></td>
                       <td width=20%> <%=h @registro.professor.nome %></td>
                       <td width=8%" align="center"><b>Data:</b></td>
                       <td colspan="3"> Data <%=h @registro.inicio.strftime("%d/%m/%Y") %> </td>
                      -->
                  <%#end%>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td></td>
                   <td align="left" valign="top"><b>aluno:</b></td>
                   <td colspan="4"> <%=   @registro.aluno.aluno_nome%></td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td></td>
                   <td align="left" valign="top"><b>Registro:</b></td>
                   <td colspan="4"> <%=   @registro.conteudo.gsub("\n","<br/>\n") %></td>
                </tr>
                 <tr bgcolor="#F5F5F5">
                   <td></td>
                   <td align="left" valign="top"><b>Obs:</b></td>
                   <td colspan="4"> <%=   @registro.obs%></td>
                </tr>

                <tr bgcolor="#DCDCDC">
                   <td></td>
                   <td align="left" valign="top"><b>Professor:</b></td>
                   <td colspan="4"> <%=   @registro.professor.nome%> &nbsp - &nbsp <%if !@registro.disciplina_id.nil?%>
                                                                                         <%=  @registro.disciplina.disciplina %>
                                                                                   <%else%>
                                                                                            <%= @registro.professor.funcao2 %>
                                                                                   <%end%>
                   </td>
                </tr>
               <tr bgcolor="#C1C1C1" >
                  <td colspan="6"><font color="red" size=""><b><u> ATENÇÃO: </u> 1) Este lançamento só pode ser editado e alterado até às 23:59 do dia que foi feito.<br/>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2) Após este data e hora somente o gestor ou pedagogo da unidade poderão fazer alterações.
                        </td>
                </tr>
                <%cont = cont + 1%>
            <%end%>
         </table>
           </fieldset>



              <br/>
              <%t=0%>
              <table  width="100%">
                    <tr>
                      <td align="center"><font size="3" color="red"><b> LANÇAMENTO DE CONTEÚDO NÃO ENCONTRADO </b> </td>
                    </tr>
              </table>


  <table width="100%" >
         <tr>
            <td width="8%"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
            <%if (@registro.professor_id == current_user.professor_id) or (current_user.has_role?('direcao_fundamental')  or current_user.has_role?('pedagogo')or current_user.has_role?('supervisao')or current_user.has_role?('direcao_infantil')) %>
              <td width="6%"align="left" ><%= button_to 'Excluir', {:action => "destroy", :id =>@registro}, :confirm => 'Tem certeza?',:method => "delete", :title => "Deletar"%></td>
           <%end%>
             <td colspan="10"align="left" ><%#= button_to 'Imprimir', {:controller =>"relatorios", :action => "impressao_fapea", :id =>@relatorio}, :title => "Imprimir esta FAPEA"%></b></td>
               </tr>


         <br/>
  </table>
