<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= "SISGERED" %></title>
    <%= stylesheet_link_tag 'application','layout.css' %>
    <%= javascript_include_tag 'jquery-1.7','jrails','verify'  %>

<%= stylesheet_link_tag 'geral' %>


    <%= yield(:head) %>
  </head>


 <body>
    <div id="contents">
      <div id="header">
        <br/>
        <div id="topo">
          <br/><br/><br/><br/>
          <table>
            <tr>
              <td width="73%"align="left"></td>
              <td align="right"><br/></td>
            </tr>
          </table>
        </div>
      </div>
      <p style="color: red"><%= flash[:notice] %></p>
   <div class="nav">
   <div class="nav-container-outer">
     <img src="/stylesheets/images/nav-bg-l.jpg" alt="" class="float-left" />
     <img src="/stylesheets/images/nav-bg-r.jpg" alt="" class="float-right" />
            <ul id="nav-container" class="nav-container">

              <li><a class="item-primary" href="#">SISGERED</a>
                <ul style="width:108px;">
                  <li><%= link_to 'Inicio', root_path %></li>
                  <li><%= link_to 'Sair', logout_path,:confirm => "Tem certeza que deseja fazer logout?" %></li>
                </ul>
              </li>

              <li><span class="divider divider-vert" ></span></li>
              <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo'))%>
              <li><a class="item-primary" href="#;">CADASTRAR</a>
                 <ul style="width:108px;">

                         <li><a class="item-primary" href="#;">Aluno</a>
                              <ul>
                                <li><%= link_to "Dados Pessoais", new_aluno_path%> </li>
                                <li><%= link_to "Saude", new_saude_path%></li>
                                <li><%= link_to "Socioeconomico", new_socioeconomico_path%></li>
                                 <% if current_user.has_role?('admin') %>
                                      <li><%= link_to "Cadastrar",new_unidade_path %></li>
                                 <%end%>
                              </ul>
                         </li>


                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo'))%>
                       <% if current_user.unidade_id == 43 or (current_user.unidade_id == 50) or (current_user.unidade_id == 51) %>

                       <%else%>
                           <li><%= link_to "Classe",new_class_path %></li>
                        <%end%>
                      <%end%>
<!--
                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo'))%>
                          <li><%= link_to "Professor",new_professor_path %></li>

                      <%end%>

                      <% if current_user.has_role?('admin')%>
                           <li><%= link_to "Disciplina",new_disciplina_path %></li>
                      <%end%>
-->
<!--                   <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo'))%>   -->

                       <li><%= link_to "Atribuição",new_atribuicao_path %></li>

<!--                   <%end%>   -->
                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo'))%>
                         <li><%= link_to "Matricula", new_matricula_path %></li>
                      <%end%>





                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo'))%>
                           <li><a class="item-primary" href="#;">Transferências</a>
                              <ul>
                                <li><%= link_to "Entradas", transferencia_matriculas_path%></li>
                                <li><%= link_to "Saidas", saidas_matriculas_path%></li>
                              </ul>
                         </li>
                         
                      <%end%>
                 </ul>
              </li>
     <%end%>
              <li><a class="item-primary" href="#;">CONSULTAR</a>
               <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('professor_fundamental')or current_user.has_role?('pedagogo'))%>
                 <ul style="width:108px;">
                   <li><%= link_to "Aluno",consulta_ficha_alunos_path %></li>
                     <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo'))%>
                       <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo'))%>
                          <li><%= link_to "Bolsa Família",consulta_bolsa_familia_path %></li>
                       <%end%>
                     <%end%>
                       <li><%= link_to "Classe",consulta_classe_path %></li>
                       <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo'))%>
                           <li><%= link_to "Resp.Pedag.",consulta_professor_nome_path %></li>
                           <li><%= link_to "Resp.Pedag./Classe",consulta_classe_professors_path %></li>
                           <li><%= link_to "Resp.Pessoal",consulta_reponsavel_path %></li>
                           <!--<li><%= link_to "Transferência",consulta_transferencia_path %></li>-->
                     <%end%>
                        <li><%= link_to "Unidade",consultas_unidades_path %></li>

                  </ul>
               <%end%>
              </li>
              <li><span class="divider divider-vert" ></span></li>

              <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo'))%>
                <li><a class="item-primary" href="#;">EDITAR</a>
                <ul style="width:108px;">
                   <li><%= link_to "Aluno",editar_ficha_alunos_path %></li>
                   <li><%= link_to "Classe",editar_classe_classes_path %></li>
                   <li><%= link_to "Matrícula", alterar_matriculas_path %></li>
                   <li><%= link_to "Professor",consulta_professor_nome_path %></li>
                  <!-- <li><%= link_to "Transferências",editar_transferencia_transferencias_path %></li>-->
                   <li><%= link_to "Unidade",consultas_unidades_path %></li>
                 </ul>
              </li>
             <%end%>
              <li><a class="item-primary" href="#;">DOCUMENTOS</a>
                <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('professor_fundamental')or current_user.has_role?('pedagogo')%>
                 <ul style="width:108px;">
                      <% if current_user.has_role?('admin') or  current_user.has_role?('direcao_fundamental')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria_fundamental')%>
                        <li><%= link_to "Ficha Cadastral",consulta_ficha_alunos_path %></li>
                      <%end%>
                    <% if current_user.has_role?('admin') or  current_user.has_role?('direcao_fundamental')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria_fundamental') or current_user.has_role?('professor_fundamental')or current_user.has_role?('pedagogo')%>
                        <li><%= link_to "Boletim Escolar",relatorios_classe_atribuicaos_path %></li>
                        <% if current_user.has_role?('admin') or  current_user.has_role?('direcao_fundamental')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo')%>
                              <li><%= link_to "Lençol de Notas",mapa_classe_atribuicaos_path %></li>
                              <li><%= link_to "Lista Presença",consulta_lista_path %></li>
      <!--                        <li><%= link_to "Histórico Escolar", historico_atribuicaos_path %></li>-->
                              <li><%= link_to "Histórico Escolar", construcao_path %></li>
                      <!--        <li><%= link_to "Reverva Vagas", reserva_vagas_atribuicaos_path %></li>
                              <li><%= link_to "Transferência", transferenciaA_atribuicaos_path %></li>-->
                              <li><%= link_to "Transferência", construcao_path %></li>
                        <%end%>
                    <% end %>
                  </ul>
               <%end%>

              </li>

           <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental') or current_user.has_role?('professor_fundamental')or current_user.has_role?('pedagogo'))%>
            <li><span class="divider divider-vert" ></span></li>

              <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('professor_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo'))%>
                <li><a class="item-primary" href="#;">LANÇAMENTOS</a>
                <ul style="width:108px;">
                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo'))%>
                     <li><%= link_to "Alterações",lancamentos_notas_notas_path %></li>
                  <%end%>
                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('professor_fundamental')or current_user.has_role?('pedagogo'))%>
         <!--            <li><%= link_to "Notas/Faltas",lancar_notas_notas_path %></li> -->
                  <%end%>
<!--                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('secretaria_fundamental') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo'))%>
                     <li><%= link_to "Histórico",new_nota_path %></li>
                  <%end%>-->
                 </ul>
              </li>
             <%end%>
            <%end%>


<!--




              <li><span class="divider divider-vert" ></span></li>
<!--=========================================== NOVO MENU==============-->

              <% if current_user.has_role?('admin') or  current_user.has_role?('direcao_fundamental') %>
              <li><span class="divider divider-vert" ></span></li>
              <li><a class="item-primary" href="#;">GERENCIAR</a>
                 <ul style="width:108px;">
                     <li><%= link_to 'Usuários', roles_users_path %></li>
                     <% if current_user.has_role?('admin') %>
                         <li><a>Informativo</a>
                            <ul>
                              <li><%= link_to "Novo",new_informativo_path %></li>
                              <li><%= link_to "Todos",informativos_path  %></li>
                            </ul>
                          </li>
                     <%end%>
                 </ul>
              </li>
               <%end%>

        </ul>
     </div>
   </div>
      <div id="principal2">
            <%= yield  %>
      </div>
      <div id="rodape">
        <b> © SEDUC-PMA - Secretaria de Educação da Prefeitura Municipal de Americana</b>
      </div>
    </div>
</body>
</html>
