<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics --> <!-- Adicionado por Alex em 09/11/2017 - Analytics - Objetivo medir tamanhos de telas e outros dos usuários -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109409583-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109409583-1');
    </script>
    <!-- End Google Tag Manager -->

    <%#*<!-- Google Tag Manager --> <!-- Adicionado por Alex em 08/11/2017 - Objetivo medir tamanhos de telas e outros dos usuários -->%>
    <%#*<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':%>
    <%#*new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],%>
    <%#*j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=%>
    <%#*'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);%>
    <%#*})(window,document,'script','dataLayer','GTM-N4WLCT6');</script>%>
    <%#*<!-- End Google Tag Manager -->%>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title><%= "SISGERED - Sistema de Gerenciamento Educacional" %></title>


    <%= stylesheet_link_tag 'application','calendar' %>
    <%= stylesheet_link_tag 'impressao', :media => "print" %>
    <%= stylesheet_link_tag 'calendar_impressao', :media => "print" %>
    <%= stylesheet_link_tag '/javascripts/plugins/flexigrid/css/flexigrid.css' %>
    <%= stylesheet_link_tag 'colorbox','geral',"jquery.tooltip.css","pepper-grinder/jquery-ui-1.8.16.custom","jquery.multiselect","ui.selectmenu" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <%= javascript_include_tag 'jquery-1.7','jquery.printElement.min',"jquery.maskMoney.js",'jquery.bgiframe.js','jquery.dimensions.js','jquery.tooltip.js','jquery-ui-1.8.16.custom.min',"jquery.ui.datetimepicker.min","jquery-ui-i18n.min",'jrails',"jquery.colorbox","colorbox.js","jquery.multiselect.min","ui.selectmenu",'plugins/flexigrid/js/flexigrid.pack','application.js' %>
    <%= yield(:head) %>


  </head>

<body>
    <!-- Google Tag Manager (noscript) --> <!-- Adicionado por Alex em 08/11/2017 - Objetivo medir tamanhos de telas e outros dos usuários -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4WLCT6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<style media="print">
.invisible_to_print {
display: none;
}
</style>
 <div id="contents">
  <div id="informacao">
    <% unless informativos_corrente.empty? %>
     <div id="announcement">
      <table class="tabelas">
          <tr>
               <td>
                <p><h2 align="center"><u>Quadro de Avisos</u></h2></p>
                <div id="color"  align="center">
                  <%for informativo in informativos_corrente %>
                    <p><%= informativo.mensagem %></p>
                  <%end%>
                </div>
              </td>
            <tr>
              <td>
                 <h4 align="right"><b><%= link_to_remote("Ocultar esta mensagem", :url => {:controller => 'javascripts', :action => 'hide_announcement'}) %></b></h4>
              </td>
            </tr>
         </tr>
     </table>
    </div>

  </div>
  <%end%>
  <div id="header">
    <br/>
    <div id="topo"></div>
    <%if logged_in? then%>
      <table width="100%">
      <tr>
        <td width ="10%">
           <font size="4" color="green"><%= link_to h(current_user.login), edit_user_path(current_user) %>  </font>
        </td>
        <% if current_user.has_role?('admin') %>
         <td>Acesso de Administrador do Sistema|
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font>
         </td>
         <td align="right"></font> <font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
        <%else%>
           <% if current_user.has_role?('SEDUC') %>
              <td>Acesso SEDUC |
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font>
              </td>
              <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
           <%else%>
              <% if current_user.has_role?('supervisao') %>
                  <td>Acesso Supervisão |
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font>
                  </td>
                  <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
              <%else%>
                 <% if current_user.has_role?('direcao_fundamental') %>
                    <td>Acesso Direção UE |
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font>
                    </td>
                    <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                <%else%>
                   <% if current_user.has_role?('secretaria_fundamental') %>
                       <td>Acesso Secretaria UE |
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font>
                       </td>
                      <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                   <%else if current_user.has_role?('professor_fundamental') %>
                       <td>Acesso Professor |
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font>
                      </td>
                       <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                         <%else if current_user.has_role?('pedagogo') %>
                             <td>Acesso Pedagogo |
                                 <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                                 <% uni = @unidade.first.nome  %>
                                 <font size="1">  <%= uni %></font>
                             </td>
                             <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                               <%else if current_user.has_role?('secretaria_infantil') %>
                                    <td>Acesso Secretaria Infantil |
                                         <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                                         <% uni = @unidade.first.nome  %>
                                         <font size="1">  <%= uni %></font>
                                    </td>
                                     <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                                     <%else if current_user.has_role?('direcao_infantil') %>
                                           <td>Acesso Direção Infantil |
                                               <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                                               <% uni = @unidade.first.nome  %>
                                               <font size="1">  <%= uni %></font>
                                           </td>
                                            <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                                           <%else if current_user.has_role?('professor_infantil') %>
                                                 <td>Acesso Professor Infantil |
                                                     <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                                                     <% uni = @unidade.first.nome  %>
                                                     <font size="1">  <%= uni %></font>
                                                 </td>
                                                  <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                                                 <%else%>
                                                   <td>Acesso Público</td>
                                                    <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                                                <%end%>
                                          <%end%>
                                    <%end%>
                          <%end%>
                      <%end%>
                   <%end%>
                <%end%>
              <%end%>
           <%end%>
       <%end%>
      </tr>

      </table>
     <center><font size="4" style="padding-right: 248px; color: red;"><b><%=flash[:notice1]%><%=flash[:notice]%></b></font></center>
   <%else%>
     <%= link_to '|Entrar|', login_path %>
     <font size="4" style="color: red"><b><%=flash[:notice]%></b></font>
   <%end%>
 </div>

   <div class="nav">
   <div class="nav-container-outer">
     <img src="/stylesheets/images/nav-bg-l.jpg" alt="" class="float-left" />
     <img src="/stylesheets/images/nav-bg-r.jpg" alt="" class="float-right" />
            <ul id="nav-container" class="nav-container">
              <li><a class="item-primary" href="#">SISGERED</a>
                <ul style="width:108px;">
                  <li><%= link_to 'Inicio', root_path %></li>
                     <li><a class="item-primary" href="#;">Manual on_line</a>
                         <ul>
                            <li><%= link_to 'SISGERED', href= "https://docs.google.com/document/d/1KORwNkxV7ogNpc7EUyMxQHA4MMSSju_eOouI5cNABFE/edit?usp=sharing", :target => '_blank' %></li>
                            <!--<li><%#= link_to "Professor", manual_professor_path%></li>-->
                            <li><%#= link_to "Inicio Ano Letivo", inicio_2022_path%>
                                  <%= link_to 'Inicio Ano Letivo', href= "https://docs.google.com/document/d/1k7aKZ-XuEbTqA95LUk2UBnVLPgbTt7h111kKMt_Ymng/edit?usp=sharing", :target => '_blank' %></li>
                            <li><%= link_to 'Diário de Classe EF', href= "https://docs.google.com/document/d/1vUMhJFkaRwF_WvcuK_AJjfrKp-dcFe1t6D8MrHPnoUg/edit?usp=sharing", :target => '_blank' %></li>
                            <li><%= link_to 'Diário de Classe EI', href= "https://docs.google.com/document/d/1eUZGcS9ErnbdHQIIBVkP3pMihT9Llum4eTIuBHaDgeI/edit?usp=sharing", :target => '_blank' %></li>
                     </li>

                         </ul>
                     </li>
                  <li><%= link_to 'Sair', logout_path,:confirm => "Tem certeza que deseja fazer logout?" %></li>
                </ul>
              </li>

<!--
<% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC')or current_user.has_role?('direcao_infantil'))%>
              <li  class ="invisible_to_print "><a class="item-primary" href="#;">AGENDA</a>
                 <ul style="width:108px;">

<% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC')or current_user.has_role?('direcao_infantil'))%>
                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC'))%>
                         <li><a class="item-primary" href="#;">Cadastro</a>
                             <ul>
                                 <li><a class="item-primary" href="#;">Cadastrar</a>
                                     <ul>
                                         <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC'))%>
                                            <li><%= link_to "Funcionarios",new_funcionario_path %></li>
                                          <%end%>
                                        <li><%= link_to "Professores/Responsáveis",new_eventual_path %></li>
                                     </ul>
                                 </li>
                                  <li><a class="item-primary" href="#;">Consultar</a>
                                     <ul>
                                         <% if (current_user.has_role?('admin')or current_user.has_role?('SEDUC'))%>
                                            <li><%= link_to "Funcionarios",consulta_professor_eventual_path %></li>
                                          <%end%>
                                        <li><%= link_to "Professores/Responsáveis",consulta_professor_eventual_path %></li>
                                     </ul>
                                 </li>
                             </ul>
                         </li>
                     <%end%>
                     <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('direcao_infantil') )%>
                     <li><a class="item-primary" href="#;">Faltas</a>
                         <ul>
                            <li><%= link_to "Agenda Unidade",aulas_faltas_path %></li>
                            <li><%= link_to "Agenda Professor",aulas_faltas2_path %></li>
                            <li><%= link_to "Agenda Funcionário",aulas_faltas3_path %></li>
                            <li><a class="item-primary" href="#;"> Relatório / Mês </a>
                                 <ul>
                                    <li><%= link_to "Funcionario",relatorio_falta_mes_funcionario_aulas_faltas_path %></li>
                                    <li><%= link_to "Professor",relatorio_falta_mes_professor_aulas_faltas_path %></li>
                                    <li><%= link_to "Unidade",relatorio_falta_mes_aulas_faltas_path %></li>
                                 </ul>
                             </li>

                         </ul>
                     </li>
                    <%end%>

                     <li><a class="item-primary" href="#;">Substituições</a>
                         <ul>
                            <li><%= link_to "Agenda Unidade",aulas_eventuals_path %></li>
                            <li><%= link_to "Agenda Professor",aulas_eventuals2_path %></li>
                            <li><a class="item-primary" href="#;"> Relatório / Mês </a>
                                 <ul>
                                    <li><%= link_to "Professor",relatorio_eventual_mes_professor_aulas_eventuals_path %></li>
                                    <li><%= link_to "Unidade",relatorio_eventual_mes_unidade_aulas_eventuals_path %></li>
                                 </ul>
                             </li>

                         </ul>
                     </li>
<%end%>
                 </ul>
              </li>
            <%end%>
-->




    <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC')or current_user.has_role?('pedagogo')or current_user.has_role?('supervisao')or current_user.has_role?('professor_fundamental')or current_user.has_role?('direcao_fundamental'))%> <!-- or current_user.has_role?('professor_infantil')or current_user.has_role?('direcao_infantil'))%>-->
        <%# if (current_user.id == 3 or current_user.id == 2 )%>
          <li><a class="item-primary" href="#;"> ATIVIDADES</a>
                             <ul>
                                <li><a class="item-primary" href="#;">Atividades</a>
                                  <ul>
                                    <%# if (current_user.has_role?('admin') or current_user.has_role?('SEDUC')or current_user.has_role?('supervisao')or current_user.has_role?('pedagogo')or current_user.has_role?('direcao_fundamental')or current_user.has_role?('professor_fundamental') or current_user.has_role?('professor_infantil')or current_user.has_role?('direcao_infantil'))%>
                                    <% if (current_user.has_role?('admin') or current_user.has_role?('professor_fundamental') or current_user.has_role?('professor_infantil'))%>
                                        <li><%= link_to "Cadastrar",new_atividade_path %></li>
                                    <%end%>

                                   <%#if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('professor_fundamental') or current_user.has_role?('professor_infantil')or current_user.has_role?('direcao_infantil'))%>
                                   <% if (current_user.has_role?('admin') or current_user.has_role?('professor_fundamental') or current_user.has_role?('professor_infantil'))%>
                                            <li><%= link_to "Editar",consultas_atividades_path %></li>
                                        <%end%>
                                   
                                     <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC')or current_user.has_role?('pedagogo')or current_user.has_role?('direcao_fundamental') or current_user.has_role?('professor_fundamental') or current_user.has_role?('professor_infantil') %>
                                        <li><%= link_to "Consultar",consultas_atividades_path %></li>
                                    <%end%>
                                  </ul>
                                </li>
                               

                                     <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC')or current_user.has_role?('pedagogo')or current_user.has_role?('direcao_fundamental') or current_user.has_role?('professor_fundamental') %>
                                         <li><a class="item-primary" href="#;">Devolutiva</a>
                                            <ul>
                                              <% if (current_user.has_role?('admin') or current_user.has_role?('professor_fundamental') or current_user.has_role?('professor_infantil'))%>
                                               <li><%= link_to "Registrar",avaliacao_atividades_path %></li>
                                               <li><%= link_to "Editar",editar_avaliacao_path %></li>
                                              <%end%>
                                               
                                               
                                              <li><%= link_to "Consultar",consulta_avaliacaos_periodo_path %></li>
                                               <!--
                                               <li><a class="item-primary" href="#;">Consultar</a>
                                                    <ul>
                                                        <li><%= link_to "Por Periodo",consulta_avaliacaos_periodo_path %></li>
                                                        <li><%= link_to "Por Devolutiva",consulta_avaliacaos_path %></li>
                                                    </ul>
                                                </li>
                                               -->
                                            </ul>
                                        </li>
                                    <%end%>
                                     <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC')or current_user.has_role?('pedagogo')or current_user.has_role?('direcao_fundamental') or current_user.has_role?('professor_fundamental') %>
                                         <li><a class="item-primary" href="#;">Mapa</a>
                                            <ul>
                                               <li><%= link_to "Classe",mapa_classe_path %></li>
                                               <li><%= link_to "Professor",mapa_professor_path %></li>
                                               

                                            </ul>
                                        </li>
                                    <%end%>

                                    <%# if (current_user.has_role?('admin') or current_user.has_role?('SEDUC')or current_user.has_role?('supervisao')or current_user.has_role?('pedagogo')or current_user.has_role?('direcao_fundamental')or current_user.has_role?('professor_fundamental')or current_user.has_role?('professor_infantil'))%>
                                       <!-- <li><%#= link_to "Devolutivas",avaliacao_atividades_path %></li>-->
                                    <%#end%>
                             </ul>
                         </li>
      <%end%>









              <li><span class="divider divider-vert" ></span></li>
              <% if (current_user.has_role?('admin') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil') or current_user.has_role?('direcao_infantil') or current_user.has_role?('professor_infantil') or current_user.has_role?('direcao_fundamental')  or current_user.has_role?('SEDUC') or current_user.has_role?('Supervisão') )%>
              <li><a class="item-primary" href="#;">CADASTRAR</a>
                 <ul style="width:108px;">
                <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil') or current_user.has_role?('direcao_infantil'))%>
                         <li><a class="item-primary" href="#;">Aluno</a>
                              <ul>
                                <li><%= link_to "Dados Pessoais", certeza_alunos_path%> </li>
                                <li><%= link_to "Saude", new_saude_path%></li>
                                <li><%= link_to "Socioeconômico", new_socioeconomico_path%></li>

                              </ul>
                         </li>
                 <%end%>
                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_infantil'))%>
                     <li><%= link_to "Atas",new_ata_path %></li>
                  <%end%>

                   <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo')  or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                       <%# if (current_user.has_role?('admin'))%>
                          <li><%= link_to "Atribuição",new_atribuicao_path %></li>
                   <%end%>
                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>

                           <li><%= link_to "Classe",new_class_path %></li>

                      <%end%>
                     <% if current_user.has_role?('admin')  or current_user.has_role?('direcao_infantil') or current_user.has_role?('secretaria_infantil') or current_user.has_role?('professor_infantil') or current_user.has_role?('SEDUC') or current_user.has_role?('Supervisão')%>
                           <li><%= link_to "FAPEA / Memorial", new_relatorio_path %></li>
                     <%end%>

                    <% if (current_user.has_role?('admin')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil')   )%>
                           <!-- ACERTAR or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo')or current_user.has_role?('direcao_infantil') or  current_user.has_role?('secretaria_fundamental'))%>-->

                          <li><%= link_to "Professor",new_professor_path %></li>

                      <%end%>

                      <% if current_user.has_role?('admin')%>
                           <li><%= link_to "Disciplina",new_disciplina_path %></li>
                      <%end%>

                      <%if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo')or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
<!-- ###Alex Problema pegou uma classe do infantil novamente, verificando a seleção de classe 17/01/20 12:37 --> <%#if (current_user.has_role?('admin'))%>
                                    <li><%= link_to "Matricula", aviso_matriculas_path %></li>
                      <%end%>
                      <%if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo')or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>

                                    <li><%= link_to "Atendimento AEE", new_atendimento_aee_path %></li>
                      <%end%>

                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                          <li><%= link_to "Remanejamento", remanejamento_matriculas_path%></li>
                          <li><a class="item-primary" href="#;">Transferência</a>
                              <ul>
                                <li><%= link_to "Entrada", transferencia_matriculas_path%></li>
                                <li><%= link_to "Saida", saidas_matriculas_path%></li>
                              </ul>
                         </li>
                      <%end%>

                    <% if current_user.has_role?('admin') %>
                         <li><%= link_to "Unidade",new_unidade_path %></li>
                     <%end%>
                 </ul>
              </li>
     <%end%>
              <li><a class="item-primary" href="#;">CONSULTAR</a>
               <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('professor_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil')or current_user.has_role?('professor_infantil') or current_user.has_role?('SEDUC') or current_user.has_role?('Supervisão'))%>
                 <ul style="width:108px;">

                   <li><a class="item-primary" href="#;">Aluno</a>
                       <ul>
                           <li><%= link_to "Unidade",consulta_ficha_alunos_path %></li>
                           <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                               <li><%= link_to "SEDUC",consulta_cadastro_alunos_path %></li>
                           <%end%>
                       </ul>
                   </li>
                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_infantil'))%>
                     <li><%= link_to "Atas",consultas_atas_path %></li>
                  <%end%>

                   <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                       <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                          <li><%= link_to "Bolsa Família",consulta_bolsa_familia_path %></li>
                       <%end%>
                     <%end%>
                        <li><a class="item-primary" href="#;">Classe</a>
                           <ul>
                              <li><%= link_to "Ano Letivo Atual",consulta_classe_path %></li>
                              <li><%= link_to "Anos Anteriores",consulta_classe_anteriores_path %></li>
                              <li><%= link_to "Aluno/Fone",consulta_classe_fone_classes_path %></li>
                          </ul>
                       </li>
                     <% if (current_user.has_role?('admin')  or  current_user.has_role?('direcao_fundamental')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil')or current_user.has_role?('professor_infantil') or  current_user.has_role?('SEDUC') or current_user.has_role?('Supervisão'))%>
                         <li><%= link_to "FAPEA / Memorial",consultas_relatorios_path %></li>
                     <%end%>


                        <li><a class="item-primary" href="#;">Lançamentos</a>
                           <ul>
                              <% if (current_user.unidade_id != 60)  %>
                                 <li><%= link_to "Professor",consultas_conteudos_path %></li>
                              <%end%>
                                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_infantil') )%>
                                   <li><%= link_to "Pedagogo/Direçao.",consultas_direcao_conteudos_path %></li>
                                <%end%>

                             <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('pedagogo')  or current_user.unidade_id == 60  )%>
                                   <li><%= link_to "Mãos Que Acolhem",consultas_mqa_conteudos_path %></li>
                             <%end%>



                           </ul>
                         </li>



                       <li><%= link_to "Matricula",consultar_matriculas_path %></li>
                       <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                           <li><%= link_to "Professor",consulta_professor_nome_path %></li>
                           <li><a class="item-primary" href="#;">Professor/Classe</a>
                               <ul>
                                  <li><%= link_to "Ano Letivo Atual",consulta_classe_professors_path %></li>
                                  <li><%= link_to "Anos Anteriores",consulta_classe_anterior_professor_path %></li>
                              </ul>
                           </li>
                           <li><%= link_to "Responsável Aluno",consulta_reponsavel_path %></li>
                           <!--<li><%= link_to "Transferência",consulta_transferencia_path %></li>-->
                     <%end%>
                        <li><%= link_to "Unidade",consultas_unidades_path %></li>
<!--                     <% if (current_user.has_role?('admin')  or  current_user.has_role?('direcao_fundamental')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria_fundamental') or current_user.has_role?('professor_fundamental')or current_user.has_role?('pedagogo'))%>
                         <li><%= link_to "Observaçoes",consultas_observacao_relatorios_path %></li>
                     <%end%> -->

                 <% if current_user.has_role?('admin') or current_user.has_role?('direcao_infantil') or current_user.has_role?('direcao_fundamental')  or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao')  or current_user.has_role?('pedagogo')%>
                    <li><a class="item-primary" href="#;">Estatisticas</a>
                           <ul>
                               <li><%= link_to 'Classes/Matriculas', classeestatistica_path %></li>

                           </ul>
                       </li>


                  <%end%>
                  </ul>
               <%end%>
              </li>
              <li><span class="divider divider-vert" ></span></li>

              <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil') or current_user.has_role?('professor_infantil')or current_user.has_role?('professor_fudamental'))%>
                               <li><a class="item-primary" href="#;">EDITAR</a>
                <ul style="width:108px;">

                   <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo')or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                        <li><%= link_to "Aluno",editar_ficha_alunos_path %></li>
                        <li><%= link_to "Atribuição",editar_atribuicao_atribuicaos_path %></li>
                        <li><%= link_to "Classe",editar_classe_classes_path %></li>

                   <%end%>
                   <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil') or current_user.has_role?('professor_infantil')or current_user.has_role?('professor_fudamental'))%>
                         <li><a class="item-primary" href="#;">Lançamentos</a>
                           <ul>
                              <% if (current_user.unidade_id != 60)  %>
                                <li><%= link_to "Professor",editar_conteudos_path %></li>
                               <%end%>
                                 <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_infantil') )%>
                                   <li><%= link_to "Pedagogo/Direção",editar_direcao_conteudo_path %></li>
                                  <%end%>
                                  <% if (current_user.unidade_id == 52 or current_user.unidade_id == 60 or current_user.unidade_id  == 53  )%>
                                            <li><%= link_to "Mãos Que Acolhem",editar_mqa_conteudos_path %>  </li>
                                  <%end%>
                              <!--   <%# if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_infantil') )%>
                                   <li><%#= link_to "Validação",validacao_conteudos_path %></li>
                                 <%#end%> -->

                           </ul>
                         </li>


                  <%end%>
                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                        <li><%= link_to "Editar Faltas Inf.",lancar_faltas_editar_faltas_path %></li>
                        <%end%>


                   <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_infantil') or current_user.has_role?('professor_infantil'))%>
                       <li><%= link_to "FAPEA / Memorial",editar_relatorios_path %></li>

                   <%end%>
                   <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo')or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                       <li><%= link_to "Matrícula", alterar_matriculas_path %></li>
                       <li><%= link_to "Professor",consulta_professor_nome_path %></li>
                       <li><%= link_to "Unidade",consultas_unidades_path %></li>
                   <%end%>
                 </ul>
              </li>
             <%end%>

                <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil') or current_user.has_role?('direcao_infantil')or current_user.has_role?('professor_infantil') or  current_user.has_role?('professor_fundamental') )%>
                 <li><a class="item-primary" href="#;">DOCUMENTOS</a>
                   <ul style="width:108px;">
                      <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('secretaria_infantil') or current_user.has_role?('pedagogo') or current_user.has_role?('professor_infantil')%>
                        <li><a class="item-primary" href="#;">Controle Faltas(Inf)</a>
                           <ul>
                               <li><a class="item-primary" href="#;">Por Sala</a>
                                  <ul>
                                     <li><%= link_to "Ano Letivo Atual",relatorio_falta_classe_path %></li>
                                     <!--<li><%#= link_to "Anos Anteriores",relatorios_anterior_classe_atribuicaos_path %></li>-->
                                  </ul>
                               </li>
                                 <li><a class="item-primary" href="#;">Por Unidade</a>
                                      <ul>
                                         <li><%= link_to "Ano Letivo Atual",relatorio_falta_unidade_path %></li>
                                         <!--<li><%#= link_to "Anos Anteriores",relatorios_anterior_classe_atribuicaos_path %></li>-->
                                      </ul>
                                 </li>
                          </ul>
                       </li>
                      <%end%>
                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                        <li><%= link_to "Ficha Cadastral",consulta_ficha_alunos_path %></li>
                      <%end%>
                      <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or  current_user.has_role?('direcao_fundamental')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil') or current_user.has_role?('direcao_infantil')or current_user.has_role?('professor_fundamental')%>
                          <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or  current_user.has_role?('direcao_fundamental')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria_fundamental') or current_user.has_role?('professor_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('professor_fundamental')%>
                            <li><a class="item-primary" href="#;">Boletim Escolar</a>
                               <ul>
                                  <li><%= link_to "Ano Letivo Atual",relatorios_classe_atribuicaos_path %></li>
                                  <li><%= link_to "Anos Anteriores",relatorios_anterior_classe_atribuicaos_path %></li>
                              </ul>
                           </li>
                          <%end%>
                           <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or  current_user.has_role?('direcao_fundamental')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or  current_user.has_role?('professor_fundamental')%>
                                <li><a class="item-primary" href="#;">Lençol Notas</a>
                                   <ul>
                                      <li><%= link_to "Ano Letivo Atual",mapa_classe_atribuicaos_path %></li>
                                      <li><%= link_to "Anos Anteriores",mapa_classe_anterior_atribuicaos_path %></li>
                                  </ul>
                               </li>
                           <%end%>
                           <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('professor_fundamental') or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil') or current_user.has_role?('professor_infantil'))%>
                                <li><%= link_to "Contr. Frequência",diario_classe_path %></li><!-- Professores fundamental-->
                           <%end%>
                                 <li><%= link_to "Lista Presença",consulta_lista_path %></li>

                             
                               <li><%= link_to "Lista Responsável",lista_responsavel_path %></li>


                               <% if current_user.has_role?('admin') or  current_user.has_role?('direcao_fundamental')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil') or current_user.has_role?('direcao_infantil')%>
                                      <li><%= link_to "Lista Piloto",consulta_classe_piloto_path %></li>
                              <%end%>
                             <% if current_user.has_role?('admin')or current_user.has_role?('SEDUC')  or  current_user.has_role?('direcao_fundamental')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo')%>
                                      <%= link_to "Histórico Escolar",historico_path  %></li>
                           <!--          <%= link_to "Histórico EscolarII",historicoatri_path  %>-->
                                 <li><%= link_to "Resultado Final",resultado_final_path  %></li>
                      <!--        <li><%= link_to "Reverva Vagas", reserva_vagas_atribuicaos_path %></li>-->
                             <%end%>
                              <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo')or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                                   <li><%= link_to "Transferência", transferenciaA_atribuicaos_path %></li>
                              <%end%>
                            <!--  <li><%= link_to "Transferência", construcao_path %></li>-->
                    <% end %>
                  </ul>
              </li>
           <%end%>

            

 <!-- LNAÇAMENTO novo==============     alterado em fev/2022-->
            

<!---   fim LANÇAMENTOS --->



            


              <li><span class="divider divider-vert" ></span></li>
<!--=========================================== NOVO MENU==============-->

              <% if current_user.has_role?('admin') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('direcao_infantil') or current_user.has_role?('SEDUC') or (current_user.id == 1 or current_user.id == 2 or current_user.id == 3 or current_user.id == 1047  or current_user.id == 517 or current_user.id ==  2072)%>
              <li><span class="divider divider-vert" ></span></li>
              <li><a class="item-primary" href="#;">GERENCIAR</a>
                 <ul style="width:108px;">
                     <li><%= link_to 'Usuários', roles_users_path %></li>
                     <% if current_user.has_role?('admin') %>
                         <li><%= link_to "Gerar Notas/Faltas",editar_classe_classes_path %></li>


                         <li><a>Informativo</a>
                            <ul>
                              <li><%= link_to "Novo",new_informativo_path %></li>
                              <li><%= link_to "Todos",informativos_path  %></li>
                            </ul>
                          </li>
                     <%end%>
                     <% if current_user.has_role?('admin') %>
                         <li><%= link_to "Manutenção",editar_classe_classes_path %></li>

                     <%end%>
                 </ul>
              </li>
              <%end%>

              <!--=========================================== Diario Classe==============-->

              <% if current_user.has_role?('admin') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('direcao_infantil')or current_user.has_role?('professor_fundamental') or current_user.has_role?('professor_infantil') or current_user.has_role?('pedagogo')  or current_user.has_role?('supervisao') %>
               <%# if  ( current_user.id == 2 ) or  ( current_user.id == 3 ) or  ( current_user.id == 2072 ) or ( current_user.id == 2165 )%>
              <li><span class="divider divider-vert" ></span></li>
              <li><a class="item-primary" href="#;">DIÁRIO DE CLASSE</a>
                 <ul style="width:108px;">
                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo') or current_user.has_role?('professor_fundamental'))%>
                     <li><%= link_to "Alterações Notas",lancamentos_notas_notas_path %></li>
                  <%end%>
                         <% if current_user.has_role?('admin') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('SEDUC') or current_user.has_role?('professor_fundamental') %>
                                <li><%= link_to "Compens.Ausência", lancamento_aulas_compensadas_notas_path%></li>
                         <%end%>

                        <!-- <li><%= link_to "Conteúdos ",consultas_conteudos_path %></li>-->



                         <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('professor_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('professor_infantil')or  current_user.has_role?('direcao_infantil'))%>
                                 <li><a>Conteúdos Minist.</a>
                                     <ul>
                                         <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('professor_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('professor_infantil')or  current_user.has_role?('direcao_infantil'))%>
                                             <% if current_user.has_role?('admin') or  current_user.has_role?('professor_fundamental') or current_user.has_role?('professor_infantil')%>
                                              <li><%= link_to "Lançamentos",new_conteudoprogramatico_path %></li>
                                            <%end%>
                                               <li><%= link_to "Consultas ",consultas_conteudoprogramaticos_path %></li><!-- Professores fundamental-->
                                            <%end%>
                                     </ul>
                                  </li>
                                  

                                 <li><a>Frequência</a>
                                     <ul>
                                         <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('professor_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('professor_infantil')or  current_user.has_role?('direcao_infantil'))%>
                                            <% if current_user.has_role?('admin') or  current_user.has_role?('professor_fundamental') or current_user.has_role?('professor_infantil')%>
                                                 <li><%= link_to "Lançamentos",new_faltasaluno_path %></li> 
                                            <%end%>
                                               <li><%= link_to "Consultas ",consultas_faltasalunos_path %></li><!-- Professores fundamental-->
                                            <%end%>
                                     </ul>
                                  </li>
                                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('professor_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_fundamental'))%>
                                     <li><%= link_to "Notas/Faltas",lancar_notas_notas_path %></li>
                                  <%end%>
                                   <% if current_user.has_role?('professor_fundamental') or current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo') %>
                                     <li><%= link_to "Observação/Nota",lancamentos_observacaos_notas_path %></li>
                                  <%end%>

                                 <% if current_user.has_role?('professor_fundamental') or current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo')or current_user.has_role?('secretaria_fundamental') %>
                                     <li><a class="item-primary" href="#;">Reprovação</a>
                                              <ul>
                                                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo')or current_user.has_role?('secretaria_fundamental') )%>
                                                     <li><%= link_to "Reprovação",reprovacao_path %></li>
                                                  <%end%>
                                                <li><%= link_to "Reprovados/Classe",consulta_reprovados_path%></li>
                                              </ul>
                                         </li>

                                  <%end%>

                                <%# if current_user.has_role?('professor_fundamental') or current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('pedagogo')or current_user.has_role?('secretaria_fundamental') %>
                                     <li><a class="item-primary" href="#;">Registro Individual</a>
                                              <ul>
                                                  <% if (current_user.has_role?('admin') or current_user.has_role?('professor_infantil') or current_user.has_role?('professor_fundamental') )%>
                                                     <li><%= link_to "Lançamentos",lancamentos_registros_registros_path %></li>
                                                  <%end%>
                                                <li><%= link_to "Consultas",consultas_registros_path%></li>
                                              </ul>
                                         </li>

                                  <%#end%>

                      <%end%>

<!--
                     <% if current_user.has_role?('admin') %>
                         <li><%= link_to "Manutenção",editar_classe_classes_path %></li>

                     <%end%>
!-->
                 </ul>
              </li>
              <%end%>


<!--================== RELATÓRIOS++++++==-->

    <!--       <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC')or current_user.has_role?('pedagogo')or current_user.has_role?('supervisao')or current_user.has_role?('professor_fundamental')or current_user.has_role?('direcao_fundamental') or current_user.has_role?('professor_infantil')or current_user.has_role?('direcao_infantil') or current_user.has_role?('professor_fundamental'))%>
                    <li><a class="item-primary" href="#;"> RELATÓRIOS</a>
    -->                  <ul>
          <!--                <%# if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil') or current_user.has_role?('professor_infantil'))%>
                                       <li><%= link_to "Faltas Inf.",lancar_faltas_inf_faltas_path %></li>
                                   <%# if (current_user.unidade_id == 60) and  ( current_user.has_role?('professor_infantil'))%>

                                   <%#else%>
                                      <li><%= link_to "Conteúdo Inf.",new_conteudo_path %></li>

                                  <%#end%>

                              <%#end%>
          -->
     <!--

                              <%if current_user.unidade_id==60 %>
                                   <li><%= link_to "Cadastrar",new_mqa_conteudos_path %></li>
                              <%else%>
                                  <%if current_user.has_role?('pedagogo') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('direcao_infatil') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') %>
                                      <li><%= link_to "Cadastrar",new_direcao_conteudos_path %></li>
                                 <%else%>
                                      <li><%= link_to "Cadastrar",new_conteudo_path %></li>
                                 <%end%>
                             <%end%>
     -->
             <!--                      <li><a class="item-primary" href="#;">Editar</a>
                                     <ul>
                                        <% if (current_user.unidade_id != 60)  %>
                                          <li><%= link_to "Professor",editar_conteudos_path %></li>
                                         <%end%>
                                           <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_infantil') )%>
                                             <li><%= link_to "Pedagogo/Direção",editar_direcao_conteudo_path %></li>
                                            <%end%>
                                            <% if (current_user.unidade_id == 52 or current_user.unidade_id == 60 or current_user.unidade_id  == 53  )%>
                                                      <li><%= link_to "Mãos Que Acolhem",editar_mqa_conteudos_path %>  </li>
                                            <%end%>
                                         <%# if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_infantil') )%>
                                             <li><%#= link_to "Validação",validacao_conteudos_path %></li>
                                           <%#end%>

                                     </ul>
                                 </li> -->

          <!--
                           <%# if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_infantil') )%>
                             <li><%= link_to "Editar",editar_direcao_conteudo_path %></li>
                           <%# else %>
                                <li><%= link_to "Editar",editar_conteudos_path %></li>
                            <%#end%>
          -->
        <!--                    <li><a class="item-primary" href="#;">Consultar</a>
                                <ul>
                                   <% if (current_user.unidade_id != 60)  %>
                                        <li><%= link_to "Professor",consultas_conteudos_path %></li>
                                   <%end%>

                                         <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao_infantil') )%>
                                            <li><%= link_to "Pedagogo/Direçao.",consultas_direcao_conteudos_path %></li>
                                          <%end%>

                                       <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('pedagogo')  or current_user.unidade_id == 60  )%>
                                             <li><%= link_to "Mãos Que Acolhem",consultas_mqa_conteudos_path %></li>
                                       <%end%>
                                     </ul>
                               </li>

                          </ul>
                   </li>


                <%end%>
        -->

<!--                     <li><a class="item-primary" href="#;">MANUAIS</a>
                         <ul>
                             <li><%= link_to 'SISGERED', href= "https://docs.google.com/document/d/1KORwNkxV7ogNpc7EUyMxQHA4MMSSju_eOouI5cNABFE/edit?usp=sharing", :target => '_blank' %></li>
                            <li><%= link_to "Professor", manual_professor_path%></li>
                            <li><%= link_to "Pedagogo/Direção", manual_direcao_path%></li>
                            <li><%= link_to "Mãos Que Acolhem", manual_mqa_path%></li>

                         </ul>
                     </li>-->
        </ul>
     </div>
   </div>
   <div id="principal">
     <div id="conteudo">
       <!--<table width="100%" border="2">
         <tr>
           <td width ="100%" align="center">
             <b><font size="4" color="blue"><%#= "#{ link_to "Clique para download -  PROTOCOLO RETORNO ATIVIDADES PRESENCIAIS", protocolo_covid_path}"%> </font></b>
            </td>
         </tr>
     </table>
       -->
        <%= yield  %>

     </div>
   </div>


   <div id="rodape">
     <font size="2"><b> © SEDUC-PMA - Secretaria de Educação da Prefeitura Municipal de Americana</b><br/></font>
     <font size="1">(CASO ALGUMA FUNCIONALIDADE DO SISTEMA NÃO FUNCIONAR CORRETAMENTE OU APRESENTAR INCONSISTÊNCIA, FAVOR INFORMAR ATRAVÉS DO EMAIL  informatica@seducpma.com)
     </font>
   </div>
 </div>

 </body>
</html>
