<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title><%= "SISGERED - Sistema de Gerenciamento Educacional" %></title>

    
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'impressao', :media => "print" %>
    <%= stylesheet_link_tag '/javascripts/plugins/flexigrid/css/flexigrid.css' %>
    <%= stylesheet_link_tag 'colorbox','geral',"jquery.tooltip.css","pepper-grinder/jquery-ui-1.8.16.custom","jquery.multiselect","ui.selectmenu" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <%= javascript_include_tag 'jquery-1.7','jquery.printElement.min',"jquery.maskMoney.js",'jquery.bgiframe.js','jquery.dimensions.js','jquery.tooltip.js','jquery-ui-1.8.16.custom.min',"jquery.ui.datetimepicker.min","jquery-ui-i18n.min",'jrails',"jquery.colorbox","colorbox.js","jquery.multiselect.min","ui.selectmenu",'plugins/flexigrid/js/flexigrid.pack','application.js' %>
    <%= yield(:head) %>


  </head>

<body>
<style media="print">
.invisible_to_print {
display: none;
}
</style>
 <div id="contents">
  <div id="informacao">
    <% unless informativos_corrente.empty? %>
     <div id="announcement">
      <table class="tabelas">
          <tr>
               <td>
                <p><h2 align="center"><u>Quadro de Avisos</u></h2></p>
                <div id="color"  align="center">
                  <%for informativo in informativos_corrente %>
                    <p><%= informativo.mensagem %></p>
                  <%end%>
                </div>
              </td>
            <tr>
              <td>
                 <h4 align="right"><b><%= link_to_remote("Ocultar esta mensagem", :url => {:controller => 'javascripts', :action => 'hide_announcement'}) %></b></h4>
              </td>
            </tr>
         </tr>
     </table>
    </div>
   
  </div>
  <%end%>
  <div id="header">
    <br/>
    <div id="topo"></div>
    <%if logged_in? then%>
      <table width="100%">
      <tr>
        <td width ="10%">
           <font size="4" color="green"><%= link_to h(current_user.login.capitalize), edit_user_path(current_user) %>  </font>
        </td>
        <% if current_user.has_role?('admin') %>
         <td>Acesso de Administrador do Sistema|
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font><font size="1">
         <td align="right"></font> <font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font>
        <%else%>
           <% if current_user.has_role?('SEDUC') %>
              <td>Acesso SEDUC |
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font></td>
              <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
           <%else%>
              <% if current_user.has_role?('supervisao') %>
                  <td>Acesso Supervisã {:selecteo SEDUC |
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font></td>
                  <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
              <%else%>
                 <% if current_user.has_role?('direcao') %>
                    <td>Acesso Direção UE |
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font></td>
                    <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                <%else%>
                   <% if current_user.has_role?('secretaria') %>
                       <td>Acesso Secretaria UE |
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font></td>
                      <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                   <%else if current_user.has_role?('professor') %>
                       <td>Acesso Professor |
                           <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                           <% uni = @unidade.first.nome  %>
                           <font size="1">  <%= uni %></font>
                      </td>
                       <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                         <%else if current_user.has_role?('pedagogo') %>
                             <td>Acesso Pedagogo |
                                 <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                                 <% uni = @unidade.first.nome  %>
                                 <font size="1">  <%= uni %></font>
                            </td>
                             <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                               <%else if current_user.has_role?('secretaria_infantil') %>
                                     <td>Acesso Secretaria Infantil |
                                         <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                                         <% uni = @unidade.first.nome  %>
                                         <font size="1">  <%= uni %></font>
                                    </td>
                                     <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                                     <%else if current_user.has_role?('direcao_infantil') %>
                                           <td>Acesso Direção Infantil |
                                               <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                                               <% uni = @unidade.first.nome  %>
                                               <font size="1">  <%= uni %></font>
                                           </td>
                                            <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                                           <%else if current_user.has_role?('professor_infantil') %>
                                                 <td>Acesso Professor Infantil |
                                                     <% @unidade = Unidade.find(:all, :conditions => ['id=?',current_user.unidade_id]) %>
                                                     <% uni = @unidade.first.nome  %>
                                                     <font size="1">  <%= uni %></font>
                                                 </td>
                                                  <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                                                 <%else%>
                                                   <td>Acesso Público</td>
                                                    <td align="right"><font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font></td>
                                                <%end%>
                                          <%end%>
                                    <%end%>
                          <%end%>
                      <%end%>
                   <%end%>
                <%end%>
              <%end%>
           <%end%>
       <%end%>
      </tr>

      </table>
      <center><font style="color: red"><b><marquee behavior=alternate><%= flash[:notice1] %></marquee></b></font><%= flash[:notice] %></center>
   <%else%>
      <%= link_to '|Entrar|', login_path %>
      <font style="color: red"><%= flash[:notice] %></font>
   <%end%>
 </div>
 
   <div class="nav">
   <div class="nav-container-outer">
     <img src="/stylesheets/images/nav-bg-l.jpg" alt="" class="float-left" />
     <img src="/stylesheets/images/nav-bg-r.jpg" alt="" class="float-right" />
            <ul id="nav-container" class="nav-container">

              <li><a class="item-primary" href="#">SISGERED</a>
                <ul style="width:108px;">
                  <li><%= link_to 'Inicio', root_path %></li>
                  <li><%= link_to 'Manual on-line', href= "https://docs.google.com/document/d/1KORwNkxV7ogNpc7EUyMxQHA4MMSSju_eOouI5cNABFE/edit?usp=sharing", :target => '_blank' %></li>
                  <li><%= link_to 'Sair', logout_path,:confirm => "Tem certeza que deseja fazer logout?" %></li>
                </ul>
              </li>
              
              <li><span class="divider divider-vert" ></span></li>
              <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil') or current_user.has_role?('direcao_infantil')or current_user.has_role?('professor_infantil') )%>
              <li><a class="item-primary" href="#;">CADASTRAR</a>
                 <ul style="width:108px;">
                <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil') or current_user.has_role?('direcao_infantil'))%>
                         <li><a class="item-primary" href="#;">Aluno</a>
                              <ul>
                                <li><%= link_to "Dados Pessoais", certeza_alunos_path%> </li>
                                <li><%= link_to "Saude", new_saude_path%></li>
                                <li><%= link_to "Socioeconômico", new_socioeconomico_path%></li>
                                 <% if current_user.has_role?('admin') %>
                                      <li><%= link_to "Cadastrar",new_unidade_path %></li>
                                 <%end%>
                              </ul>
                         </li>
                 <%end%>

                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                       <% if current_user.unidade_id == 43 or (current_user.unidade_id == 50) or (current_user.unidade_id == 51) %>

                       <%else%>
                           <li><%= link_to "Classe",new_class_path %></li>
                        <%end%>
                      <%end%>
<!--
                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('pedagogo')or current_user.has_role?('direcao_infantil'))%>
                          <li><%= link_to "Professor",new_professor_path %></li>

                      <%end%>

                      <% if current_user.has_role?('admin')%>
                           <li><%= link_to "Disciplina",new_disciplina_path %></li>
                      <%end%>
-->
<!--                   <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo')  or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>   -->

                          <li><%= link_to "Atribuição",new_atribuicao_path %></li>

<!--                   <%end%>   -->
                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo')or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                                <% if (current_user.unidade_id == 44)or (current_user.unidade_id == 46)or (current_user.unidade_id == 47) or(current_user.unidade_id == 52) or (current_user.unidade.tipo_id == 2)or (current_user.unidade.tipo_id == 3)or (current_user.unidade.tipo_id == 5)or (current_user.unidade.tipo_id== 8)or current_user.has_role?('admin') %>
                                    <li><%= link_to "Matricula", new_matricula_path %></li>
                                <%end%>


                      <%end%>
                      <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                           <li><a class="item-primary" href="#;">Transferência</a>
                              <ul>
                                <li><%= link_to "Entrada", transferencia_matriculas_path%></li>
                                <li><%= link_to "Saida", saidas_matriculas_path%></li>
                              </ul>
                         </li>
                       <%end%>
                     <% if current_user.has_role?('admin')  or current_user.has_role?('direcao_infantil') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('professor_infantil')%>
                           <li><%= link_to "FAPEA", new_relatorio_path %></li>
                     <%end%>

                 </ul>
              </li>
     <%end%>
              <li><a class="item-primary" href="#;">CONSULTAR</a>
               <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('professor')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil')or current_user.has_role?('professor_infantil'))%>
                 <ul style="width:108px;">
                   <li><a class="item-primary" href="#;">Aluno</a>
                       <ul>
                           <li><%= link_to "Unidade",consulta_ficha_alunos_path %></li>
                           <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                               <li><%= link_to "SEDUC",consulta_cadastro_alunos_path %></li>                           
                           <%end%>
                       </ul>
                     
                   </li>
                   <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                       <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                          <li><%= link_to "Bolsa Família",consulta_bolsa_familia_path %></li>
                       <%end%>
                     <%end%>
                       <li><%= link_to "Classe",consulta_classe_path %></li>
                       <li><%= link_to "Matricula",consultar_matriculas_path %></li>
                       <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                           <li><%= link_to "Professor",consulta_professor_nome_path %></li>
                           <li><%= link_to "Professor/Classe",consulta_classe_professors_path %></li>
                           <li><%= link_to "Responsável",consulta_reponsavel_path %></li>
                           <!--<li><%= link_to "Transferência",consulta_transferencia_path %></li>-->
                     <%end%>
                        <li><%= link_to "Unidade",consultas_unidades_path %></li>
                    <% if current_user.has_role?('admin') or  current_user.has_role?('direcao')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria') or current_user.has_role?('professor')or current_user.has_role?('pedagogo')%>
                        <li><%= link_to "OBSERVAÇÕES(FUND)",relatorios_observacoes_path %></li>
                     <%end%>
                     <% if (current_user.has_role?('admin')  or  current_user.has_role?('direcao')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria') or current_user.has_role?('professor')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil')or current_user.has_role?('professor_infantil'))%>
                         <li><%= link_to "FAPEA(INF)",relatorio_relatorios_path %></li>
                     <%end%>

                  </ul>
               <%end%>
              </li>
              <li><span class="divider divider-vert" ></span></li>

              <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo') or current_user.has_role?('secretaria_infantil')or current_user.has_role?('direcao_infantil'))%>
                <li><a class="item-primary" href="#;">EDITAR</a>
                <ul style="width:108px;">
                   <li><%= link_to "Aluno",editar_ficha_alunos_path %></li>
                   <li><%= link_to "Classe",editar_classe_classes_path %></li>
                   <li><%= link_to "Matrícula", alterar_matriculas_path %></li>
                   <li><%= link_to "Professor",consulta_professor_nome_path %></li>
                   <li><%= link_to "Unidade",consultas_unidades_path %></li>
                 </ul>
              </li>
             <%end%>
              
                <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria')or current_user.has_role?('professor')or current_user.has_role?('pedagogo')%>
                 <li><a class="item-primary" href="#;">DOCUMENTOS</a>
                   <ul style="width:108px;">
                      <% if current_user.has_role?('admin') or  current_user.has_role?('direcao')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria')%>
                        <li><%= link_to "Ficha Cadastral",consulta_ficha_alunos_path %></li>
                      <%end%>
                    <% if current_user.has_role?('admin') or  current_user.has_role?('direcao')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria') or current_user.has_role?('professor')or current_user.has_role?('pedagogo')%>
                        <li><%= link_to "Boletim Escolar",relatorios_classe_atribuicaos_path %></li>
                        <% if current_user.has_role?('admin') or  current_user.has_role?('direcao')or current_user.has_role?('supervisao') or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo')%>
                              <li><%= link_to "Lençol de Notas",mapa_classe_atribuicaos_path %></li>
                              <li><%= link_to "Lista Presença",consulta_lista_path %></li>
                              <li><%= link_to "Lista Piloto",consulta_classe_piloto_path %></li>
                              <li><%= link_to "Histórico Escolar",historico_atribuicaos_path  %></li>
                      <!--        <li><%= link_to "Reverva Vagas", reserva_vagas_atribuicaos_path %></li>-->
                              <li><%= link_to "Transferência", transferenciaA_atribuicaos_path %></li>
                            <!--  <li><%= link_to "Transferência", construcao_path %></li>-->

                        <%end%>
                    <% end %>
                  </ul>
               <%end%>

              </li>
 
           <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('secretaria') or current_user.has_role?('professor')or current_user.has_role?('pedagogo'))%>
            <li><span class="divider divider-vert" ></span></li>

              <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('professor')or current_user.has_role?('secretaria')or current_user.has_role?('pedagogo'))%>
                <li><a class="item-primary" href="#;">LANÇAMENTOS</a>
                <ul style="width:108px;">
                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao')or current_user.has_role?('pedagogo'))%>
                     <li><%= link_to "Alterações",lancamentos_notas_notas_path %></li>
                  <%end%>
                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('professor') or current_user.has_role?('pedagogo') or current_user.has_role?('direcao'))%>
                     <li><%= link_to "Notas/Faltas",lancar_notas_notas_path %></li>
                  <%end%>
                  <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('secretaria') or current_user.has_role?('direcao')or current_user.has_role?('pedagogo'))%>
                     <li><%= link_to "Histórico",new_nota_path %></li>
                  <%end%>
                 </ul>
              </li>
             <%end%>
            <%end%>
 

<!--

    


              <li><span class="divider divider-vert" ></span></li>
<!--=========================================== NOVO MENU==============-->

              <% if current_user.has_role?('admin') or  current_user.has_role?('direcao')or current_user.has_role?('direcao_infantil') %>
              <li><span class="divider divider-vert" ></span></li>
              <li><a class="item-primary" href="#;">GERENCIAR</a>
                 <ul style="width:108px;">
                     <li><%= link_to 'Usuários', roles_users_path %></li>
                     <% if current_user.has_role?('admin') %>
                         <li><a>Informativo</a>
                            <ul>
                              <li><%= link_to "Novo",new_informativo_path %></li>
                              <li><%= link_to "Todos",informativos_path  %></li>
                            </ul>
                          </li>
                     <%end%>
                 </ul>
              </li>
              <%end%>

        </ul>
     </div>
   </div>
   <div id="principal">
     <div id="conteudo">
        <%= yield  %>
     </div>
   </div>

 
   <div id="rodape">
     <font size="2"><b> © SEDUC-PMA - Secretaria de Educação da Prefeitura Municipal de Americana</b></font>
   </div>
 </div>

 </body>
</html>
