<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title><%= "SGI - SEDUC / PMA. Você está em: #{h(yield(:title) || 'Sem titulo')}" %></title>
    <%= stylesheet_link_tag 'impressao', :media => 'print' %>
    <%= stylesheet_link_tag 'application', :media => 'screen' %>
    <%= javascript_include_tag 'jquery-1.7','jquery.printElement.min','jrails','application.js' %>
    <%= yield(:head) %>
  </head>

<body>
  <div id="principalimp">
  <div id="conteudo">
    <%= yield  %>
  </div>
  </div>
</body>
</html>
